{% extends "app/reporting/dashboard/index.html" %}

{% block reporting_activity_summary %}
<div>
  <div class="row">
    <div class="col-sm-6">
      <reporting-goals ref="goals" :params="params" inline-template>
        <div>
          <h2 class="text-center mt-4">Planned improvements & targets&nbsp;<a id="download-goals" class="d-print-none btn btn-link btn-sm" :href="'{{urls.download_goals}}' + getQueryString()" target="_blank"><i class="fa fa-download"></i></a></h2>
          <h3 class="text-center">([[params.unit == 'percentage' ? '%' : 'Nb']] of suppliers)</h3>
          <div class="p-4">
            <div class="card-body" v-if="!itemLoaded">
              <p>
                <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
              </p>
            </div>
            <div class="card-body" v-show="itemLoaded">
              <canvas id="goals"></canvas>
            </div>
          </div>
        </div>
      </reporting-goals>
    </div>
    <div class="col-md-6">
      <reporting-by-segments ref="bySegments" :params="params" inline-template>
        <div>
          <h2 class="text-center mt-4">Assessments completed by segments&nbsp;<a id="download-by-segments" class="d-print-none btn btn-link btn-sm" :href="'{{urls.download_by_segments}}' + getQueryString()" target="_blank"><i class="fa fa-download"></i></a></h2>
          <h3 class="text-center">([[params.unit == 'percentage' ? '%' : 'Nb']] of suppliers)</h3>
          <div class="p-4">
            <div class="card-body" v-if="!itemLoaded">
              <p>
                <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
              </p>
            </div>
            <div class="card-body" v-show="itemLoaded">
              <canvas id="bySegements"></canvas>
            </div>
          </div>
        </div>
      </reporting-by-segments>
    </div>
  </div>{# /.row (assessments) #}

  <hr />

  <h2 class="text-center mt-4">Policies</h2>
  <div class="row">
    <div class="offset-sm-2 col-sm-4">
      <reporting-benchmarks inline-template
                            ref="environmental-fines" :params="params"
                            data-url="{{urls.api_benchmarks_index}}/sustainability/environmental-reporting/environmental-fines">
        <div>
          <h3 class="text-center">Environmental violation&nbsp;<a id="download-environmental-fines" class="d-print-none btn btn-link btn-sm" :href="'{{urls.download}}sustainability/environmental-reporting/environmental-fines' + getQueryString()" target="_blank"><i class="fa fa-download"></i></a></h3>
          <h4 class="text-center">([[params.unit == 'percentage' ? '%' : 'Nb']] of suppliers)</h4>
          <h4 class="text-center">{% trans %}outer to inner{% endtrans %}: [[circleLabels]]</h4>
          <div class="p-4">
            <div class="card-body" v-if="!itemLoaded">
              <p>
                <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
              </p>
            </div>
            <div class="card-body text-center text-danger" v-show="itemLoaded && loadError">
              <p>
                [[loadError]]
              </p>
              <button class="btn btn-outline-danger" @click.prevent="debouncedGet">{% trans %}reload{% endtrans %}</button>
            </div>
            <div class="card-body" v-show="itemLoaded && !loadError">
              <canvas ref="canvas"></canvas>
            </div>
          </div>
        </div>
      </reporting-benchmarks>
    </div>

    <div class="col-sm-4">
      <reporting-benchmarks inline-template
                            ref="governance-fines" :params="params"
                            data-url="{{urls.api_benchmarks_index}}/sustainability/social-reporting/governance-fines">
        <div>
          <h3 class="text-center">Code of conduct breach&nbsp;<a id="download-governance-fines" class="d-print-none btn btn-link btn-sm" :href="'{{urls.download}}sustainability/social-reporting/governance-fines' + getQueryString()" target="_blank"><i class="fa fa-download"></i></a></h3>
          <h4 class="text-center">([[params.unit == 'percentage' ? '%' : 'Nb']] of suppliers)</h4>
          <h4 class="text-center">{% trans %}outer to inner{% endtrans %}: [[circleLabels]]</h4>
          <div class="p-4">
            <div class="card-body" v-if="!itemLoaded">
              <p>
                <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
              </p>
            </div>
            <div class="card-body text-center text-danger" v-show="itemLoaded && loadError">
              <p>
                [[loadError]]
              </p>
              <button class="btn btn-outline-danger" @click.prevent="debouncedGet">{% trans %}reload{% endtrans %}</button>
            </div>
            <div class="card-body" v-show="itemLoaded && !loadError">
              <canvas ref="canvas"></canvas>
            </div>
          </div>
        </div>
      </reporting-benchmarks>
    </div>
  </div>

  <hr />

  <h2 class="text-center mt-4">GHG Emissions publicly reported</h2>
  <div class="row">
    <div class="col-sm-4">
      <reporting-benchmarks inline-template
                            ref="ghgEmissionsRateScope1" :params="params"
                            data-url="{{urls.api_benchmarks_index}}/sustainability/environmental-reporting/ghg-emissions-reporting/ghg-emissions-scope1-publicly-reported">
        <div>
          <h3 class="text-center">Scope 1&nbsp;<a id="download-ghg-emissions-scope1-publicly-reported" class="d-print-none btn btn-link btn-sm" :href="'{{urls.download}}sustainability/environmental-reporting/ghg-emissions-reporting/ghg-emissions-scope1-publicly-reported' + getQueryString()" target="_blank"><i class="fa fa-download"></i></a></h3>
          <h4 class="text-center">([[params.unit == 'percentage' ? '%' : 'Nb']] of suppliers)</h4>
          <h4 class="text-center">{% trans %}outer to inner{% endtrans %}: [[circleLabels]]</h4>
          <div class="p-4">
            <div class="card-body" v-if="!itemLoaded">
              <p>
                <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
              </p>
            </div>
            <div class="card-body text-center text-danger" v-show="itemLoaded && loadError">
              <p>
                [[loadError]]
              </p>
              <button class="btn btn-outline-danger" @click.prevent="debouncedGet">{% trans %}reload{% endtrans %}</button>
            </div>
            <div class="card-body" v-show="itemLoaded && !loadError">
              <canvas ref="canvas"></canvas>
            </div>
          </div>
        </div>
      </reporting-benchmarks>
    </div>

    <div class="col-sm-4">
      <reporting-benchmarks inline-template
                            ref="ghgEmissionsRateScope2" :params="params"
                            data-url="{{urls.api_benchmarks_index}}/sustainability/environmental-reporting/ghg-emissions-reporting/ghg-emissions-scope2-publicly-reported">
        <div>
          <h3 class="text-center">Scope 2&nbsp;<a id="download-ghg-emissions-scope2-publicly-reported" class="d-print-none btn btn-link btn-sm" :href="'{{urls.download}}sustainability/environmental-reporting/ghg-emissions-reporting/ghg-emissions-scope2-publicly-reported' + getQueryString()" target="_blank"><i class="fa fa-download"></i></a></h3>
          <h4 class="text-center">([[params.unit == 'percentage' ? '%' : 'Nb']] of suppliers)</h4>
          <h4 class="text-center">{% trans %}outer to inner{% endtrans %}: [[circleLabels]]</h4>
          <div class="p-4">
            <div class="card-body" v-if="!itemLoaded">
              <p>
                <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
              </p>
            </div>
            <div class="card-body text-center text-danger" v-show="itemLoaded && loadError">
              <p>
                [[loadError]]
              </p>
              <button class="btn btn-outline-danger" @click.prevent="debouncedGet">{% trans %}reload{% endtrans %}</button>
            </div>
            <div class="card-body" v-show="itemLoaded && !loadError">
              <canvas ref="canvas"></canvas>
            </div>
          </div>
        </div>
      </reporting-benchmarks>
    </div>

    <div class="col-sm-4">
      <reporting-benchmarks inline-template
                            ref="ghgEmissionsRateScope3" :params="params"
                            data-url="{{urls.api_benchmarks_index}}/sustainability/environmental-reporting/ghg-emissions-reporting/ghg-emissions-scope3-details/ghg-emissions-scope3-publicly-reported">
        <div>
          <h3 class="text-center">Scope 3&nbsp;<a id="download-ghg-emissions-scope3-publicly-reported" class="d-print-none btn btn-link btn-sm" :href="'{{urls.download}}sustainability/environmental-reporting/ghg-emissions-reporting/ghg-emissions-scope3-details/ghg-emissions-scope3-publicly-reported' + getQueryString()" target="_blank"><i class="fa fa-download"></i></a></h3>
          <h4 class="text-center">([[params.unit == 'percentage' ? '%' : 'Nb']] of suppliers)</h4>
          <h4 class="text-center">{% trans %}outer to inner{% endtrans %}: [[circleLabels]]</h4>
          <div class="p-4">
            <div class="card-body" v-if="!itemLoaded">
              <p>
                <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
              </p>
            </div>
            <div class="card-body text-center text-danger" v-show="itemLoaded && loadError">
              <p>
                [[loadError]]
              </p>
              <button class="btn btn-outline-danger" @click.prevent="debouncedGet">{% trans %}reload{% endtrans %}</button>
            </div>
            <div class="card-body" v-show="itemLoaded && !loadError">
              <canvas ref="canvas"></canvas>
            </div>
          </div>
        </div>
      </reporting-benchmarks>
    </div>
  </div>{# /.row (ghg emissions) #}

  <h2 class="text-center mt-4">GHG Emissions targets</h2>
  <div class="row">
    <div class="col-sm-4">
      <reporting-benchmarks inline-template
                            ref="ghgEmissionsTargetScope1" :params="params"
                            data-url="{{urls.api_benchmarks_index}}/sustainability/environmental-reporting/ghg-emissions-reporting/ghg-emissions-scope1-target/ghg-emissions-scope1-target-by">
        <div>
          <h3 class="text-center">Scope 1&nbsp;<a id="download-ghg-emissions-scope1-target-by" class="d-print-none btn btn-link btn-sm" :href="'{{urls.download}}sustainability/environmental-reporting/ghg-emissions-reporting/ghg-emissions-scope1-target/ghg-emissions-scope1-target-by' + getQueryString()" target="_blank"><i class="fa fa-download"></i></a></h3>
          <h4 class="text-center">([[params.unit == 'percentage' ? '%' : 'Nb']] of suppliers)</h4>
          <div class="p-4">
            <div class="card-body" v-if="!itemLoaded">
              <p>
                <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
              </p>
            </div>
            <div class="card-body text-center text-danger" v-show="itemLoaded && loadError">
              <p>
                [[loadError]]
              </p>
              <button class="btn btn-outline-danger" @click.prevent="debouncedGet">{% trans %}reload{% endtrans %}</button>
            </div>
            <div class="card-body" v-show="itemLoaded && !loadError">
              <canvas ref="canvas"></canvas>
            </div>
          </div>
        </div>
      </reporting-benchmarks>
    </div>

    <div class="col-sm-4">
      <reporting-benchmarks inline-template
                            ref="ghgEmissionsTargetScope2" :params="params"
                            data-url="{{urls.api_benchmarks_index}}/sustainability/environmental-reporting/ghg-emissions-reporting/ghg-emissions-scope2-target/ghg-emissions-scope2-target-by">
        <div>
          <h3 class="text-center">Scope 2&nbsp;<a id="download-ghg-emissions-scope2-target-by" class="d-print-none btn btn-link btn-sm" :href="'{{urls.download}}sustainability/environmental-reporting/ghg-emissions-reporting/ghg-emissions-scope2-target/ghg-emissions-scope2-target-by' + getQueryString()" target="_blank"><i class="fa fa-download"></i></a></h3>
          <h4 class="text-center">([[params.unit == 'percentage' ? '%' : 'Nb']] of suppliers)</h4>
          <div class="p-4">
            <div class="card-body" v-if="!itemLoaded">
              <p>
                <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
              </p>
            </div>
            <div class="card-body text-center text-danger" v-show="itemLoaded && loadError">
              <p>
                [[loadError]]
              </p>
              <button class="btn btn-outline-danger" @click.prevent="debouncedGet">{% trans %}reload{% endtrans %}</button>
            </div>
            <div class="card-body" v-show="itemLoaded && !loadError">
              <canvas ref="canvas"></canvas>
            </div>
          </div>
        </div>
      </reporting-benchmarks>
    </div>

    <div class="col-sm-4">
      <reporting-benchmarks inline-template
                            ref="ghgEmissionsTargetScope3" :params="params"
                            data-url="{{urls.api_benchmarks_index}}/sustainability/environmental-reporting/ghg-emissions-reporting/ghg-emissions-scope3-details/ghg-emissions-scope3-target/ghg-emissions-scope3-target-by">
        <div>
          <h3 class="text-center">Scope 3&nbsp;<a id="download-ghg-emissions-scope3-target-by" class="d-print-none btn btn-link btn-sm" :href="'{{urls.download}}sustainability/environmental-reporting/ghg-emissions-reporting/ghg-emissions-scope3-details/ghg-emissions-scope3-target/ghg-emissions-scope3-target-by' + getQueryString()" target="_blank"><i class="fa fa-download"></i></a></h3>
          <h4 class="text-center">([[params.unit == 'percentage' ? '%' : 'Nb']] of suppliers)</h4>
          <div class="p-4">
            <div class="card-body" v-if="!itemLoaded">
              <p>
                <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
              </p>
            </div>
            <div class="card-body text-center text-danger" v-show="itemLoaded && loadError">
              <p>
                [[loadError]]
              </p>
              <button class="btn btn-outline-danger" @click.prevent="debouncedGet">{% trans %}reload{% endtrans %}</button>
            </div>
            <div class="card-body" v-show="itemLoaded && !loadError">
              <canvas ref="canvas"></canvas>
            </div>
          </div>
        </div>
      </reporting-benchmarks>
    </div>
  </div>{# /.row (ghg emissions targets) #}

  <hr />

  <h2 class="text-center mt-4">Environmental targets outside GHG Emissions</h2>
  <div class="row">
    <div class="col-sm-4">
      <reporting-benchmarks inline-template
                            ref="water-target-by" :params="params"
                            data-url="{{urls.api_benchmarks_index}}/sustainability/environmental-reporting/water-reporting/water-target/water-target-by">
        <div>
          <h3 class="text-center">Water use target&nbsp;<a id="download-water-target-by" class="d-print-none btn btn-link btn-sm" :href="'{{urls.download}}sustainability/environmental-reporting/water-reporting/water-target/water-target-by' + getQueryString()" target="_blank"><i class="fa fa-download"></i></a></h3>
          <h4 class="text-center">([[params.unit == 'percentage' ? '%' : 'Nb']] of suppliers)</h4>
          <div class="p-4">
            <div class="card-body" v-if="!itemLoaded">
              <p>
                <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
              </p>
            </div>
            <div class="card-body text-center text-danger" v-show="itemLoaded && loadError">
              <p>
                [[loadError]]
              </p>
              <button class="btn btn-outline-danger" @click.prevent="debouncedGet">{% trans %}reload{% endtrans %}</button>
            </div>
            <div class="card-body" v-show="itemLoaded && !loadError">
              <canvas ref="canvas"></canvas>
            </div>
          </div>
        </div>
      </reporting-benchmarks>
    </div>

    <div class="col-sm-4">
      <reporting-benchmarks inline-template
                            ref="waste-target-by" :params="params"
                            data-url="{{urls.api_benchmarks_index}}/sustainability/environmental-reporting/waste-reporting/waste-target/waste-target-by">
        <div>
          <h3 class="text-center">Waste reduction target&nbsp;<a id="download-waste-target-by" class="d-print-none btn btn-link btn-sm" :href="'{{urls.download}}sustainability/environmental-reporting/waste-reporting/waste-target/waste-target-by' + getQueryString()" target="_blank"><i class="fa fa-download"></i></a></h3>
          <h4 class="text-center">([[params.unit == 'percentage' ? '%' : 'Nb']] of suppliers)</h4>
          <div class="p-4">
            <div class="card-body" v-if="!itemLoaded">
              <p>
                <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
              </p>
            </div>
            <div class="card-body text-center text-danger" v-show="itemLoaded && loadError">
              <p>
                [[loadError]]
              </p>
              <button class="btn btn-outline-danger" @click.prevent="debouncedGet">{% trans %}reload{% endtrans %}</button>
            </div>
            <div class="card-body" v-show="itemLoaded && !loadError">
              <canvas ref="canvas"></canvas>
            </div>
          </div>
        </div>
      </reporting-benchmarks>
    </div>

    <div class="col-sm-4">
      <reporting-benchmarks inline-template
                            ref="energy-target-by" :params="params"
                            data-url="{{urls.api_benchmarks_index}}/sustainability/environmental-reporting/ghg-emissions-reporting/energy-target/energy-target-by">
        <div>
          <h3 class="text-center">Energy reduction target&nbsp;<a id="download-energy-target-by" class="d-print-none btn btn-link btn-sm" :href="'{{urls.download}}sustainability/environmental-reporting/ghg-emissions-reporting/energy-target/energy-target-by' + getQueryString()" target="_blank"><i class="fa fa-download"></i></a></h3>
          <h4 class="text-center">([[params.unit == 'percentage' ? '%' : 'Nb']] of suppliers)</h4>
          <div class="p-4">
            <div class="card-body" v-if="!itemLoaded">
              <p>
                <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
              </p>
            </div>
            <div class="card-body text-center text-danger" v-show="itemLoaded && loadError">
              <p>
                [[loadError]]
              </p>
              <button class="btn btn-outline-danger" @click.prevent="debouncedGet">{% trans %}reload{% endtrans %}</button>
            </div>
            <div class="card-body" v-show="itemLoaded && !loadError">
              <canvas ref="canvas"></canvas>
            </div>
          </div>
        </div>
      </reporting-benchmarks>
    </div>
  </div>{# /Environmental targets outside GHG Emissions #}

</div>
{% endblock %}
