<div :id="getPracticeId(practice)" :class="'row ' + practiceStyle(practice)">
  <div :class="(isPractice(practice) || isEnumHeaderShown(icon)) ? 'col-md-6' : 'col-md-12'">
    <div :class="indentHeader(practice)">
      <span :class="isCascadeVisible(practice) ? 'dropdown' : 'dropend'"
           v-if="practice.isCascade">
        <button class="btn btn-link dropdown-toggle"
              @click.prevent="toggleCascadeVisible(practice)">
        </button>
      </span>
      <span class="title"
            v-if="!isPractice(practice) && !isPagebreak(practice)">
        [[practice.title]]
      </span>
      <a :href="practice.slug + '/'"
         v-if="!isPractice(practice) && isPagebreak(practice)">
        [[practice.title]]
      </a>
      <span class="title"
            v-if="isPractice(practice)">
        [[practice.ref_num ? (practice.ref_num + " ") : ""]][[practice.title]]
        <a :href="isPractice(practice) ? '{{urls.pages_index}}' + practice.slug + '/' : ''"
           target="_blank"><i class="fa fa-question-circle"></i></a>
      </span>
    </div>
    <div class="text-end me-2"
         v-if="isPractice(practice) && !isFreetextUIHint(practice)">
      <a class="title" href=""
         title="Got a comment? Click here."
         @click.prevent="openComments(practice)">
        <i class="fa fa-sticky-note-o"></i>
      </a>
    </div>
  </div>

  {# column headers #}
  {#   when enum choices are shown in table header #}
  <div :class="'d-none d-md-block text-center col-md-' +  getNbInputCols(practice)"
       v-for="choice in getChoices(practice, icon)"
       v-if="!isPractice(practice) && isEnumHeaderShown(icon)">
    <button class="btn btn-select-all" href=""
            :disabled="practice.frozen"
            @click.prevent="updateMultipleAssessmentAnswers(practice, choice.text, '{{assess_type}}')">
      <i class="fa fa-circle"></i>
    </button>
  </div>

  {# Presents questions based on its ui_hint and default unit #}
  <div class="col-md-6 text-center"
       v-if="isFreetextUnit(practice)">
    <div v-if="isFreetextUIHint(practice)">
      {% include "app/assess/_assess_freetext.html" %}
    </div>
    <input class="form-control"
      type="text"
      placeholder=""
      v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
      @blur="updateAssessmentAnswer(practice, null, '{{assess_type}}')"
      :disabled="practice.frozen"
      v-if="!isFreetextUIHint(practice)"></input>
  </div>

  {# The unit is fixed. question.ui_hint === 'revenue' #}
  <div class="col-md-6 text-center"
       v-if="isRevenueUIHint(practice)">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <label class="font-monospace input-group-text">{% trans %}From{% endtrans %}</label>
          <input class="form-control"
            type="date"
            v-model="getAnswerStartsAt(practice, '{{assess_type}}').measured"
            :disabled="practice.frozen"
            {% if not sample.is_frozen %}
            @blur="updateStartsAt(practice)"
            {% endif %}></input>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <label class="font-monospace input-group-text">{% trans %}To{% endtrans %}&nbsp;&nbsp;</label>
          <input class="form-control"
            type="date"
            v-model="getAnswerEndsAt(practice, '{{assess_type}}').measured"
            :disabled="practice.frozen"
            {% if not sample.is_frozen %}
            @blur="updateEndsAt(practice)"
            {% endif %}></input>
        </div>
      </div>
    </div>
    <div class="input-group" v-show="!isNotDisclosedPublicly(practice)">
      <span class="input-group-text">
        <i class="fa fa-times"
           @click="resetAssessmentAnswer(practice)"></i>
      </span>
      <input class="form-control"
             type="number"
             v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
             :placeholder="getPrimaryCandidate(practice).measured"
             style="direction:rtl;"
             @blur="updateAssessmentAnswer(practice, null, '{{assess_type}}')"
             :disabled="practice.frozen"></input>
      <select class="form-control form-select input-group-suffix"
              v-model="getPrimaryAnswer(practice, '{{assess_type}}').unit"
              @blur="updateAssessmentAnswer(practice, null, '{{assess_type}}')"
              :disabled="practice.frozen">
        <option value="usd">US Dollars ($)</option>
        <option value="million-usd">Millions US Dollars ($M)</option>
        <option value="eur">Euros</option>
        <option value="million-eur">Millions Euros</option>
      </select>
    </div>
    <div class="text-start mt-1">
      <input class="form-check-input"
             type="checkbox"
             :checked="isNotDisclosedPublicly(practice)"
             @change="toggleNotDisclosedPublicly(practice)">
        <label class="form-check-label">not publicly disclosed</label>
    </div>
    <div class="input-group" v-show="isNotDisclosedPublicly(practice)">
      <select class="form-control form-select"
              v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
              @blur="updateAssessmentAnswer(practice, null, '{{assess_type}}')"
              :disabled="practice.frozen">
        <option v-bind:value="null" disabled selected hidden>Please select a range ...</option>
        <option value="0">&lt; 25</option>
        <option value="25">25-50</option>
        <option value="50">50-250</option>
        <option value="250">250-500</option>
        <option value="500">500-1,000</option>
        <option value="1000">1,000-5,000</option>
        <option value="5000">5,000-10,000</option>
        <option value="10000">10,000-30,000</option>
        <option value="30000">&gt;30,000</option>
      </select>
      <select class="form-control form-select input-group-suffix"
              v-model="getPrimaryAnswer(practice, '{{assess_type}}').unit"
              @blur="updateAssessmentAnswer(practice, null, '{{assess_type}}')"
              :disabled="practice.frozen">
        <option value="usd">US Dollars ($)</option>
        <option value="million-usd">Millions US Dollars ($M)</option>
        <option value="eur">Euros</option>
        <option value="million-eur">Millions Euros</option>
      </select>
    </div>
  </div>{# /isRevenueUIHint #}

  {# employee count (enum) #}
  <div class="col-md-6 text-center"
       v-if="isEmployeeCountUIHint(practice)">
    <div class="input-group">
      <select class="form-control form-select"
              v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
              @blur="updateAssessmentAnswer(practice, null, '{{assess_type}}')"
              :disabled="practice.frozen">
        <option :value="null" disabled>{% trans %}Select ...{% endtrans %}</option>
        <option value="0">0-10 employees</option>
        <option value="11">11-50 employees</option>
        <option value="51">51-200 employees</option>
        <option value="201">201-500 employees</option>
        <option value="501">501-1,000 employees</option>
        <option value="1001">1,001-5,000 employees</option>
        <option value="5001">5,001-10,000 employees</option>
        <option value="10001">10,001+ employees</option>
      </select>
    </div>
  </div>

  {# coverage #}
  <div class="col-md-3 text-center"
       v-if="isPercentageUIHint(practice)">
    <div class="input-group">
      <label class="font-monospace input-group-text">
        {% trans %}At{% endtrans %}
      </label>
      <input class="form-control"
             type="date"
             v-model="getAnswerEndsAt(practice, '{{assess_type}}').measured"
             :disabled="practice.frozen"
             {% if not sample.is_frozen %}
             @blur="updateAssessmentAnswer(practice, getAnswerEndsAt(practice, '{{assess_type}}'), '{{assess_type}}')"
             {% endif %}></input>
    </div>
  </div>
  <div class="col-md-3 text-center"
       v-if="isPercentageUIHint(practice)">
    <div class="input-group">
      <span class="input-group-text">
        <i class="fa fa-times"
           @click="resetAssessmentAnswer(practice)"></i>
      </span>
      <input class="form-control text-end"
             type="number"
             min="0"
             max="100"
             v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
             :placeholder="getPrimaryCandidate(practice).measured"
             :disabled="practice.frozen"
             {% if not sample.is_frozen %}
             @blur="updateAssessmentAnswer(practice, null, '{{assess_type}}')"
             {% endif %}></input>
      <label class="font-monospace input-group-text">
        %
      </label>
    </div>
  </div>

  {# Energy consumed #}
  {# - The unit is variable (out of an "energy units" drop down list) #}
  {# - question.ui_hint === 'energy' #}
  <div class="col-md-6 text-center" v-if="isEnergyUIHint(practice)">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <label class="font-monospace input-group-text">{% trans %}From{% endtrans %}</label>
          <input class="form-control"
            type="date"
            v-model="getAnswerStartsAt(practice, '{{assess_type}}').measured"
            :disabled="practice.frozen"
            {% if not sample.is_frozen %}
            @blur="updateStartsAt(practice)"
            {% endif %}></input>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <label class="font-monospace input-group-text">{% trans %}To{% endtrans %}&nbsp;&nbsp;</label>
          <input class="form-control"
            type="date"
            v-model="getAnswerEndsAt(practice, '{{assess_type}}').measured"
            :disabled="practice.frozen"
            {% if not sample.is_frozen %}
            @blur="updateEndsAt(practice)"
            {% endif %}></input>
        </div>
      </div>
    </div>
    <div class="input-group mt-1">
      <span class="input-group-text">
        <i class="fa fa-times"
           @click="resetAssessmentAnswer(practice)"></i>
      </span>
      <input class="form-control text-end"
             type="number"
             v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
             :placeholder="getPrimaryCandidate(practice).measured"
             @blur="updateAssessmentAnswer(practice, practice.answers, '{{assess_type}}')"
             :disabled="practice.frozen"></input>
      <select class="form-control form-select input-group-suffix"
              v-model="getPrimaryAnswer(practice, '{{assess_type}}').unit"
              @blur="updateAssessmentAnswer(practice, practice.answers, '{{assess_type}}')"
              :disabled="practice.frozen">
        <option value="btu-year">Btu</option>
        <option value="mmbtu-year">mmBtu</option>
        <option value="kWh-year">Kilowatt-hour (kWh)</option>
        <option value="mwh-year">Megawatt-hour (MWh)</option>
        <option value="kj-year">Kilo Joules (KJ)</option>
        <option value="mj-year">Mega Joules (MJ)</option>
        <option value="gj-year">Giga Joules (GJ)</option>
      </select>
    </div>
    <div class="row mt-1">
      <div class="col-6">
        <button class="btn btn-sm btn-outline-primary"
          @click.prevent="importFromTrackingTool(practice)">{% trans %}import from tracking tool{% endtrans %}</button>
      </div>
      <div class="col-6">
        <a class="btn btn-link btn-sm" href="{{urls.track_metrics_index}}energy-ghg-emissions/">{% trans %}enter data in tracking tool{% endtrans %} &raquo;</a>
      </div>
    </div>
  </div>
  {# end of energy #}

  {# water #}
  {# - The unit is variable (out of an "water units" drop down list) #}
  {# - question.ui_hint === 'water' #}
  <div class="col-md-6 text-center" v-if="isWaterUIHint(practice)">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <label class="font-monospace input-group-text">{% trans %}From{% endtrans %}</label>
          <input class="form-control"
            type="date"
            v-model="getAnswerStartsAt(practice, '{{assess_type}}').measured"
            :disabled="practice.frozen"
            {% if not sample.is_frozen %}
            @blur="updateStartsAt(practice)"
            {% endif %}></input>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <label class="font-monospace input-group-text">{% trans %}To{% endtrans %}&nbsp;&nbsp;</label>
          <input class="form-control"
            type="date"
            v-model="getAnswerEndsAt(practice, '{{assess_type}}').measured"
            :disabled="practice.frozen"
            {% if not sample.is_frozen %}
            @blur="updateEndsAt(practice)"
            {% endif %}></input>
        </div>
      </div>
    </div>
    <div class="input-group">
      <input class="form-control text-end"
             type="text"
             placeholder=""
             v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
             @blur="updateAssessmentAnswer(practice, practice.answers, '{{assess_type}}')"
             :disabled="practice.frozen"></input>
      <select class="form-control form-select input-group-suffix"
              v-model="getPrimaryAnswer(practice, '{{assess_type}}').unit"
              @blur="updateAssessmentAnswer(practice, practice.answers, '{{assess_type}}')"
              :disabled="practice.frozen">
        <option value="m3-year">Cubic meters (m<sup>3</sup>)</option>
        <option value="kiloliters-year">Kilo liters</option>
        <option value="ft3-year">Cubic feet (ft.<sup>3</sup>)</option>
        <option value="gallons-year">US Gallon</option>
      </select>
    </div>
    <div class="row mt-1">
      <div class="col-6">
        <button class="btn btn-sm btn-outline-primary"
          @click.prevent="importFromTrackingTool(practice)">{% trans %}import from tracking tool{% endtrans %}</button>
      </div>
      <div class="col-6">
        <a class="btn btn-link btn-sm" href="{{urls.track_metrics_index}}water/">{% trans %}enter data in tracking tool{% endtrans %} &raquo;</a>
      </div>
    </div>
  </div>
  {# end of water #}

  {# waste #}
  {# - The unit is variable (out of an "waste units" drop down list) #}
  {# - question.ui_hint === 'waste' #}
  <div class="col-md-6 text-center" v-if="isWasteUIHint(practice)">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <label class="font-monospace input-group-text">{% trans %}From{% endtrans %}</label>
          <input class="form-control"
            type="date"
            v-model="getAnswerStartsAt(practice, '{{assess_type}}').measured"
            :disabled="practice.frozen"
            {% if not sample.is_frozen %}
            @blur="updateStartsAt(practice)"
            {% endif %}></input>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <label class="font-monospace input-group-text">{% trans %}To{% endtrans %}&nbsp;&nbsp;</label>
          <input class="form-control"
            type="date"
            v-model="getAnswerEndsAt(practice, '{{assess_type}}').measured"
            :disabled="practice.frozen"
            {% if not sample.is_frozen %}
            @blur="updateEndsAt(practice)"
            {% endif %}></input>
        </div>
      </div>
    </div>
    <div class="input-group">
      <input class="form-control text-end"
             type="text"
             placeholder=""
             v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
             @blur="updateAssessmentAnswer(practice, practice.answers, '{{assess_type}}')"
             :disabled="practice.frozen"></input>
      <select class="form-control form-select input-group-suffix"
              v-model="getPrimaryAnswer(practice, '{{assess_type}}').unit"
              @blur="updateAssessmentAnswer(practice, practice.answers, '{{assess_type}}')"
              :disabled="practice.frozen">
        <option value="t-year">Metric tons</option>
        <option value="lbs-year">Pounds</option>
        <option value="m3-year">Cubic meters (m<sup>3</sup>)</option>
        <option value="kiloliters-year">Kilo liters</option>
        <option value="ft3-year">Cubic feet (ft.<sup>3</sup>)</option>
        <option value="gallons-year">US Gallon</option>
      </select>
    </div>
    <div class="row mt-1">
      <div class="col-6">
        <button class="btn btn-sm btn-outline-primary"
          @click.prevent="importFromTrackingTool(practice)">{% trans %}import from tracking tool{% endtrans %}</button>
      </div>
      <div class="col-6">
        <a class="btn btn-link btn-sm" href="{{urls.track_metrics_index}}waste/">{% trans %}enter data in tracking tool{% endtrans %} &raquo;</a>
      </div>
    </div>
  </div>
  {# end of waste #}

  {# GHG Emissions #}
  <div class="col-md-6 text-center" v-if="isGHGEmissions(practice)">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <label class="font-monospace input-group-text">{% trans %}From{% endtrans %}</label>
          <input class="form-control"
            type="date"
            v-model="getAnswerStartsAt(practice, '{{assess_type}}').measured"
            :disabled="practice.frozen"
            {% if not sample.is_frozen %}
            @blur="updateStartsAt(practice)"
            {% endif %}></input>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <label class="font-monospace input-group-text">{% trans %}To{% endtrans %}&nbsp;&nbsp;</label>
          <input class="form-control"
            type="date"
            v-model="getAnswerEndsAt(practice, '{{assess_type}}').measured"
            :disabled="practice.frozen"
            {% if not sample.is_frozen %}
            @blur="updateEndsAt(practice)"
            {% endif %}></input>
        </div>
      </div>
    </div>
    <div class="input-group">
      <span class="input-group-text">
        <i class="fa fa-times"
           @click="resetAssessmentAnswer(practice)"></i>
      </span>
      <input class="form-control text-end"
             type="number"
             v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
             :placeholder="getPrimaryCandidate(practice).measured"
             @blur="updateAssessmentAnswer(practice, practice.answers, '{{assess_type}}')"
             :disabled="practice.frozen"></input>
      <select class="form-control form-select"
              v-model="getPrimaryAnswer(practice, '{{assess_type}}').unit"
              @blur="updateAssessmentAnswer(practice, practice.answers, '{{assess_type}}')"
              :disabled="practice.frozen">
        <option value="t-year">Metric Tons CO2e</option>
      </select>
    </div>
    <div class="row mt-1" v-if="!isGHGEmissionsScope3(practice)">
      <div class="col-6">
        <button class="btn btn-sm btn-outline-primary"
          @click.prevent="importFromTrackingTool(practice)">{% trans %}import from tracking tool{% endtrans %}</button>
      </div>
      <div class="col-6">
        <a class="btn btn-link btn-sm" href="{{urls.track_metrics_index}}energy-ghg-emissions/">{% trans %}enter data in tracking tool{% endtrans %} &raquo;</a>
      </div>
    </div>
  </div>
  {# end of scope ghg emissions #}

  {# when question.unit is 'verifiability' #}
  <div class="col-md-6 text-center" {# default value from `getNbInputCols` #}
       v-if="isVerifiabilityUIHint(practice)">
    <div class="input-group">
      <select class="form-control form-select"
              v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
              @blur="updateAssessmentAnswer(practice, null, '{{assess_type}}')"
              :disabled="practice.frozen">
        <option v-if="getAnswerByUnit(practice, 'completeness').measured == null" disabled :value="null">{% trans %}Select verifiability ...{% endtrans %}</option>
        {% for option in units.verifiability %}
        <option value="{{option.text}}">{{option.descr}}</option>
        {% endfor %}
      </select>
      <a class="p-2"
         href="{{'/docs/guides/verification/#verifiability'|site_url}}"
         target="_blank">
        <i class="fa fa-question-circle"></i>
      </a>
      <select class="form-control form-select"
              v-model="getAnswerByUnit(practice, 'completeness').measured"
              @blur="updateAssessmentAnswer(practice, getAnswerByUnit(practice, 'completeness'), '{{assess_type}}')"
              :disabled="practice.frozen">
        <option v-if="getAnswerByUnit(practice, 'completeness').measured == null" disabled :value="null">{% trans %}Select completeness ...{% endtrans %}</option>
        {% for option in units.completeness %}
        <option value="{{option.text}}">{{option.descr}}</option>
        {% endfor %}
      </select>
      <a class="p-2"
         href="{{'/docs/guides/verification/#completeness'|site_url}}"
         target="_blank">
        <i class="fa fa-question-circle"></i>
      </a>
    </div>
    <div class="input-group">
      <select class="form-control form-select"
              v-model="getAnswerByUnit(practice, 'supporting-document').measured"
              value=""
              @blur="updateAssessmentAnswer(practice, getAnswerByUnit(practice, 'supporting-document'), '{{assess_type}}')"
              :disabled="practice.frozen">
        <option v-if="getAnswerByUnit(practice, 'supporting-document').measured == null" disabled :value="null">{% trans %}Select supporting document ...{% endtrans %}</option>
        {% for option in units.supporting_document %}
        <option value="{{option.text}}">{{option.descr}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {# when question.unit.system is 'enum' and UI hint computes to 'radio' #}
  <div :class="'text-start text-md-center' + ' col-md-' + getNbInputCols(practice) + {% if assess_type == 'planned' %}(getPrimaryAnswer(practice).measured === choice.text ? ' green-level-4' : ''){% else %}(getPrimaryCandidate(practice).measured === choice.text ? ' candidate-answer' : ''){% endif %}"
       v-for="(choice, idx) in getChoices(practice, icon)"
       v-if="isEnumRadioUIHint(practice)">
    <div class="row">
      <div class="col-1 col-md-12">
        <div class="d-inline-block d-md-block">
          <div class="radio-border">
            <input :id="slugify(choice.text, practice.rank)"
             type="radio"
             :value="choice.text"
             :name="'implemented-' + practice.rank"
             :checked="getPrimaryAnswer(practice, '{{assess_type}}').measured === choice.text"
             @change="updateAssessmentAnswer(practice, choice.text, '{{assess_type}}')"
             v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
             :disabled="practice.frozen" />
          </div>
        </div>
      </div>
      <div class="col-11 col-md-12">
        <label :class="isEnumHeaderShown(icon) ? 'radio-label d-md-none' : 'radio-label'"
           :for="slugify(choice.text, practice.rank)"
           data-bs-toggle="tooltip" data-bs-placement="bottom"
           data-toggle="tooltip" data-placement="bottom"
           :title="getPrimaryCandidate(practice).measured === choice.text ? (getPrimaryCandidate(practice).collected_by + ', ' + humanizeTimeDelta(getPrimaryCandidate(practice).created_at)) : ''">
          [[choice.descr ? choice.descr : ""]]
        </label>
      </div>
    </div>
  </div>{# /question.unit.system is 'enum' and UI hint computes to 'radio' #}

  {# when question.unit.system is 'enum' and UI hint computes to 'select' #}
  <div class="col-md-6 text-center" {# default value from `getNbInputCols` #}
       v-if="isEnumSelectUIHint(practice)">
    <select class="form-select"
            v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
            @blur="updateAssessmentAnswer(practice, null, '{{assess_type}}')"
            :disabled="practice.frozen">
      <option :value="null" disabled>{% trans %}Select ...{% endtrans %}</option>
      <option :value="choice.text"
              v-for="(choice, idx) in getChoices(practice, icon)">[[choice.descr]]</option>
    </select>
  </div>

  {#  when question.unit.system is 'enum' and UI hint computes to 'typeahead' #}
  <div class="col-md-6 text-center"
       v-if="isEnumTypeaheadUIHint(practice)">
    <enum-choices-typeahead inline-template ref="typeahead"
        v-bind:question="practice"
        v-bind:value="getPrimaryAnswer(practice, '{{assess_type}}').measured"
        v-bind:dataset="items.results"
        v-on:selectitem="updateEnumAnswer">
      <div>
        <div class="input-group mb-3">
          <span class="input-group-text">
            <i class="fa fa-spinner fa-spin" v-if="loading"></i>
            <template v-else>
              <i class="fa fa-search" v-show="isEmpty"></i>
              <i class="fa fa-times" v-show="isDirty" @click="reset"></i>
            </template>
          </span>
          <input class="form-control"
                 type="text"
                 name="user"
                 placeholder="{% trans %}Enter keyword...{% endtrans %}"
                 autocomplete="off"
                 v-model="query"
                 @keydown.down="down"
                 @keydown.up="up"
                 @keydown.enter.prevent="hit"
                 @blur="clearAndForget"
                 @input="update"
                 ref="input"/>
          <button  class="input-group-text"
                   role="button" href="#"
                   @click.prevent="resetAndReload"
                   aria-haspopup="true"
                   aria-expanded="false">
            <i class="fa fa-caret-down"></i>
          </button>
          {# Implementation note: If we use `d-block` instead of    #}
          {# `style="display: block;"` the dropdown shows even when #}
          {# `hasItems` is `False`.                                 #}
          <ul id="candidateList" :class="'dropdown-menu nav-pills p-1 top-100 overflow-scroll' + (hasItems ? ' show' : '')"
               style="max-height: 250px;">
            <li v-for="(item, $item) in items" class="nav-item"
                @mousedown="hit"
                @mousemove="setActive($item)" v-if="item.descr">
              <a :class="'nav-link px-3 py-2' + activeClass($item)">
                <dl>
                  <dt v-html="highlightQuery(item.text)"></dt>
                  <dd v-html="highlightQuery(item.descr)"></dd>
                </dl>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </enum-choices-typeahead>
  </div>{# /question.unit.system is 'enum' and UI hint computes to 'typeahead'#}

  {# A straightforward datetime #}
  <div class="col-md-6 text-center"
       v-if="isDatetimeUnit(practice) && !isTargetByUIHint(practice)">
    <div class="input-group">
      <label class="font-monospace input-group-text">
        {% trans %}At{% endtrans %}
      </label>
      <input class="form-control"
             type="date"
             v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
             :disabled="practice.frozen"
             {% if not sample.is_frozen %}
             @blur="updateAssessmentAnswer(practice, null, '{{assess_type}}')"
             {% endif %}></input>
    </div>
  </div>

  {# Targets #}
  <div class="col-md-6 text-center"
       v-if="isTargetByUIHint(practice)">
    <div class="input-group">
      <select class="form-control form-select"
              v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
              :disabled="practice.frozen"
              {% if not sample.is_frozen %}
              @blur="updateAssessmentAnswer(practice, null, '{{assess_type}}')"
              {% endif %}>
      <option :value="null" disabled>{% trans %}Select a year or 'No target' ...{% endtrans %}</option>
        <option value="no-target">No target</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
        <option value="2027">2027</option>
        <option value="2028">2028</option>
        <option value="2029">2029</option>
        <option value="2030">2030</option>
        <option value="2031">2031</option>
        <option value="2032">2032</option>
        <option value="2033">2033</option>
        <option value="2034">2034</option>
        <option value="2035">2035</option>
        <option value="2036">2036</option>
        <option value="2037">2037</option>
        <option value="2038">2038</option>
        <option value="2039">2039</option>
        <option value="2040">2040</option>
        <option value="2041">2041</option>
        <option value="2042">2042</option>
        <option value="2043">2043</option>
        <option value="2044">2044</option>
        <option value="2045">2045</option>
        <option value="2046">2046</option>
        <option value="2047">2047</option>
        <option value="2048">2048</option>
        <option value="2049">2049</option>
        <option value="2050">2050</option>
        <option value="2051">2051</option>
        <option value="2052">2052</option>
        <option value="2053">2053</option>
        <option value="2054">2054</option>
        <option value="2055">2055</option>
        <option value="2056">2056</option>
        <option value="2057">2057</option>
        <option value="2058">2058</option>
        <option value="2059">2059</option>
        <option value="2060">2060</option>
        <option value="2061">2061</option>
        <option value="2062">2062</option>
        <option value="2063">2063</option>
        <option value="2064">2064</option>
        <option value="2065">2065</option>
      </select>
    </div>
  </div>
  {# end target #}
</div>{# /.row #}

{# optional comments #}
<div :class="'row ' + practiceStyle(practice)"
     v-if="isPractice(practice)"
     v-show="isActiveCommentsShown(practice)">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">
    {# comments #}
    <div class="mt-2">
      <h5 class="my-0">{% trans %}Notes, Public URL Links, and/or Uploaded Documents{% endtrans %}</h5>
      <p class="text-danger" v-if="isNotApplicable(practice)">
        You selected <strong>&quot;Not Applicable&quot;</strong>, please explain.
      </p>
      {% include "app/assess/_assess_freetext.html" %}
    </div>
  </div>{# /.col-md-6 #}
</div>{# /.row (optional comments) #}
