<div :id="practice.slug" :class="'row ' + practiceStyle(practice)">
  <div :class="(isPractice(practice) || isEnumHeaderShown(icon)) ? 'col-md-6' : 'col-md-12'">
    <div :class="indentHeader(practice)">
      <span class="title"
            v-if="!isPractice(practice) && !isPagebreak(practice)">
        [[practice.title]]
      </span>
      <a :href="practice.slug + '/'"
         v-if="!isPractice(practice) && isPagebreak(practice)">
        [[practice.title]]
      </a>
      <span class="title"
            v-if="isPractice(practice)">
        [[practice.title]]
        <a :href="isPractice(practice) ? '{{urls.pages_index}}' + practice.slug + '/' : ''"
           target="_blank"><i class="fa fa-question-circle"></i></a>
      </span>
    </div>
    <div class="text-end me-2"
         v-if="isPractice(practice) && !isFreetextUIHint(practice)">
      <a class="title" href=""
         title="Got a comment? Click here."
         @click.prevent="openComments(practice)">
        <i class="fa fa-sticky-note-o"></i>
      </a>
    </div>
  </div>

  {# column headers #}
  {#   when enum choices are shown in table header #}
  <div :class="'d-none d-md-block text-center col-md-' +  getNbInputCols(practice)"
       v-for="choice in getChoices(practice, icon)"
       v-if="!isPractice(practice) && isEnumHeaderShown(icon)">
    <button class="btn btn-select-all" href=""
            :disabled="practice.frozen"
            @click.prevent="updateMultipleAssessmentAnswers(practice, choice.text, '{{assess_type}}')">
      <i class="fa fa-circle"></i>
    </button>
  </div>

  {# Presents questions based on its ui_hint and default unit #}
  <div class="col-md-6 text-center"
       v-if="isFreetextUnit(practice)">
    <textarea
      class="form-control"
      type="text" rows="10"
      placeholder=""
      v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
      @blur="updateAssessmentAnswer(practice, null, '{{assess_type}}')"
      :disabled="practice.frozen"
      v-if="isFreetextUIHint(practice)"></textarea>
    <input class="form-control"
      type="text"
      placeholder=""
      v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
      @blur="updateAssessmentAnswer(practice, null, '{{assess_type}}')"
      :disabled="practice.frozen"
      v-if="!isFreetextUIHint(practice)"></input>
  </div>

  {# The unit is fixed. question.ui_hint === 'revenue' #}
  <div class="col-md-6 text-center"
       v-if="isRevenueUIHint(practice)">
    <div class="input-group">
      <input class="form-control text-end"
             type="number"
             placeholder=""
             v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
             @blur="updateAssessmentAnswer(practice, null, '{{assess_type}}')"
             :disabled="practice.frozen"></input>
      <select class="form-control form-select input-group-suffix"
              v-model="getPrimaryAnswer(practice, '{{assess_type}}').unit"
              @blur="updateAssessmentAnswer(practice, null, '{{assess_type}}')"
              :disabled="practice.frozen">
        <option value="usd">US Dollars ($)</option>
        <option value="million-usd">Millions US Dollars ($M)</option>
        <option value="eur">Euros</option>
        <option value="million-eur">Millions Euros</option>
      </select>
    </div>
    <div class="text-end mt-1">
      <input class="form-check-input"
             type="checkbox"
             :checked="getAnswerByUnit(practice, 'yes-no').measured === 'Yes'"
             @click="toggleNotDisclosedPublicly(practice)">
      <label class="form-check-label">not publicly disclosed</label>
    </div>
  </div>

  {# employee count (enum) #}
  <div class="col-md-6 text-center"
       v-if="isEmployeeCountUIHint(practice)">
    <div class="input-group">
      <select class="form-control form-select"
              v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
              @blur="updateAssessmentAnswer(practice, null, '{{assess_type}}')"
              :disabled="practice.frozen">
        <option :value="null" disabled>{% trans %}Select ...{% endtrans %}</option>
        <option value="0">0-10 employees</option>
        <option value="11">11-50 employees</option>
        <option value="51">51-200 employees</option>
        <option value="201">201-500 employees</option>
        <option value="501">501-1,000 employees</option>
        <option value="1001">1,001-5,000 employees</option>
        <option value="5001">5,001-10,000 employees</option>
        <option value="10001">10,001+ employees</option>
      </select>
    </div>
  </div>

  {# coverage #}
  <div class="col-md-3 text-center"
       v-if="isPercentageUIHint(practice)">
    <div class="input-group">
      <label class="font-monospace input-group-text">
        {% trans %}At{% endtrans %}
      </label>
      <input class="form-control"
             type="date"
             v-model="getAnswerEndsAt(practice, '{{assess_type}}').measured"
             :disabled="practice.frozen"
             {% if not sample.is_frozen %}
             @blur="updateAssessmentAnswer(practice, getAnswerEndsAt(practice, '{{assess_type}}'), '{{assess_type}}')"
             {% endif %}></input>
    </div>
  </div>
  <div class="col-md-3 text-center"
       v-if="isPercentageUIHint(practice)">
    <div class="input-group">
      <input class="form-control text-end"
             type="number"
             min="0"
             max="100"
             v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
             :disabled="practice.frozen"
             {% if not sample.is_frozen %}
             @blur="updateAssessmentAnswer(practice, null, '{{assess_type}}')"
             {% endif %}></input>
      <label class="font-monospace input-group-text">
        %
      </label>
    </div>
  </div>

  {# Energy consumed #}
  {# - The unit is variable (out of an "energy units" drop down list) #}
  {# - question.ui_hint === 'energy' #}
  <div class="col-md-6 text-center" v-if="isEnergyUIHint(practice)">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <label class="font-monospace input-group-text">{% trans %}From{% endtrans %}</label>
          <input class="form-control"
            type="date"
            v-model="getAnswerStartsAt(practice, '{{assess_type}}').measured"
            :disabled="practice.frozen"
            {% if not sample.is_frozen %}
            @blur="updateStartsAt(practice, '{{assess_type}}')"
            {% endif %}></input>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <label class="font-monospace input-group-text">{% trans %}To{% endtrans %}&nbsp;&nbsp;</label>
          <input class="form-control"
            type="date"
            v-model="getAnswerEndsAt(practice, '{{assess_type}}').measured"
            :disabled="practice.frozen"
            {% if not sample.is_frozen %}
            @blur="updateEndsAt(practice, '{{assess_type}}')"
            {% endif %}></input>
        </div>
      </div>
    </div>
    <div class="input-group mt-1">
      <input class="form-control text-end"
             type="number"
             placeholder=""
             v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
             @blur="updateAssessmentAnswer(practice, practice.answers, '{{assess_type}}')"
             :disabled="practice.frozen"></input>
      <select class="form-control form-select input-group-suffix"
              v-model="getPrimaryAnswer(practice, '{{assess_type}}').unit"
              @blur="updateAssessmentAnswer(practice, practice.answers, '{{assess_type}}')"
              :disabled="practice.frozen">
        <option value="btu-year">Btu</option>
        <option value="mmbtu-year">mmBtu</option>
        <option value="kwh-year">Kilowatt-hour (kWh)</option>
        <option value="mwh-year">Megawatt-hour (MWh)</option>
        <option value="kj-year">Kilo Joules (KJ)</option>
        <option value="mj-year">Mega Joules (MJ)</option>
        <option value="gj-year">Giga Joules (GJ)</option>
      </select>
    </div>
    <div class="row mt-1">
      <div class="col-6">
        <button class="btn btn-sm btn-outline-primary"
          @click.prevent="importFromTrackingTool(practice)">{% trans %}import from tracking tool{% endtrans %}</button>
      </div>
      <div class="col-6">
        <a class="btn btn-link btn-sm" href="{{urls.track_metrics_index}}energy-ghg-emissions/">{% trans %}enter data in tracking tool{% endtrans %} &raquo;</a>
      </div>
    </div>
  </div>
  {# end of energy #}

  {# water #}
  {# - The unit is variable (out of an "water units" drop down list) #}
  {# - question.ui_hint === 'water' #}
  <div class="col-md-6 text-center" v-if="isWaterUIHint(practice)">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <label class="font-monospace input-group-text">{% trans %}From{% endtrans %}</label>
          <input class="form-control"
            type="date"
            v-model="getAnswerStartsAt(practice, '{{assess_type}}').measured"
            :disabled="practice.frozen"
            {% if not sample.is_frozen %}
            @blur="updateStartsAt(practice, '{{assess_type}}')"
            {% endif %}></input>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <label class="font-monospace input-group-text">{% trans %}To{% endtrans %}&nbsp;&nbsp;</label>
          <input class="form-control"
            type="date"
            v-model="getAnswerEndsAt(practice, '{{assess_type}}').measured"
            :disabled="practice.frozen"
            {% if not sample.is_frozen %}
            @blur="updateEndsAt(practice, '{{assess_type}}')"
            {% endif %}></input>
        </div>
      </div>
    </div>
    <div class="input-group">
      <input class="form-control text-end"
             type="text"
             placeholder=""
             v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
             @blur="updateAssessmentAnswer(practice, practice.answers, '{{assess_type}}')"
             :disabled="practice.frozen"></input>
      <select class="form-control form-select input-group-suffix"
              v-model="getPrimaryAnswer(practice, '{{assess_type}}').unit"
              @blur="updateAssessmentAnswer(practice, practice.answers, '{{assess_type}}')"
              :disabled="practice.frozen">
        <option value="m3-year">Cubic meters (m<sup>3</sup>)</option>
        <option value="kiloliters-year">Kilo liters</option>
        <option value="ft3-year">Cubic feet (ft.<sup>3</sup>)</option>
        <option value="gallons-year">US Gallon</option>
      </select>
    </div>
    <div class="row mt-1">
      <div class="col-6">
        <button class="btn btn-sm btn-outline-primary"
          @click.prevent="importFromTrackingTool(practice)">{% trans %}import from tracking tool{% endtrans %}</button>
      </div>
      <div class="col-6">
        <a class="btn btn-link btn-sm" href="{{urls.track_metrics_index}}water/">{% trans %}enter data in tracking tool{% endtrans %} &raquo;</a>
      </div>
    </div>
  </div>
  {# end of water #}

  {# waste #}
  {# - The unit is variable (out of an "waste units" drop down list) #}
  {# - question.ui_hint === 'waste' #}
  <div class="col-md-6 text-center" v-if="isWasteUIHint(practice)">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <label class="font-monospace input-group-text">{% trans %}From{% endtrans %}</label>
          <input class="form-control"
            type="date"
            v-model="getAnswerStartsAt(practice, '{{assess_type}}').measured"
            :disabled="practice.frozen"
            {% if not sample.is_frozen %}
            @blur="updateStartsAt(practice, '{{assess_type}}')"
            {% endif %}></input>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <label class="font-monospace input-group-text">{% trans %}To{% endtrans %}&nbsp;&nbsp;</label>
          <input class="form-control"
            type="date"
            v-model="getAnswerEndsAt(practice, '{{assess_type}}').measured"
            :disabled="practice.frozen"
            {% if not sample.is_frozen %}
            @blur="updateEndsAt(practice, '{{assess_type}}')"
            {% endif %}></input>
        </div>
      </div>
    </div>
    <div class="input-group">
      <input class="form-control text-end"
             type="text"
             placeholder=""
             v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
             @blur="updateAssessmentAnswer(practice, practice.answers, '{{assess_type}}')"
             :disabled="practice.frozen"></input>
      <select class="form-control form-select input-group-suffix"
              v-model="getPrimaryAnswer(practice, '{{assess_type}}').unit"
              @blur="updateAssessmentAnswer(practice, practice.answers, '{{assess_type}}')"
              :disabled="practice.frozen">
        <option value="tons-year">Metric tons</option>
        <option value="lbs-year">Pounds</option>
        <option value="m3-year">Cubic meters (m<sup>3</sup>)</option>
        <option value="kiloliters-year">Kilo liters</option>
        <option value="ft3-year">Cubic feet (ft.<sup>3</sup>)</option>
        <option value="gallons-year">US Gallon</option>
      </select>
    </div>
    <div class="row mt-1">
      <div class="col-6">
        <button class="btn btn-sm btn-outline-primary"
          @click.prevent="importFromTrackingTool(practice)">{% trans %}import from tracking tool{% endtrans %}</button>
      </div>
      <div class="col-6">
        <a class="btn btn-link btn-sm" href="{{urls.track_metrics_index}}waste/">{% trans %}enter data in tracking tool{% endtrans %} &raquo;</a>
      </div>
    </div>
  </div>
  {# end of waste #}

  {# GHG Emissions #}
  <div class="col-md-6 text-center" v-if="isGHGEmissions(practice)">
    <div class="row">
      <div class="col-md-6">
        <div class="input-group">
          <label class="font-monospace input-group-text">{% trans %}From{% endtrans %}</label>
          <input class="form-control"
            type="date"
            v-model="getAnswerStartsAt(practice, '{{assess_type}}').measured"
            :disabled="practice.frozen"
            {% if not sample.is_frozen %}
            @blur="updateStartsAt(practice, '{{assess_type}}')"
            {% endif %}></input>
        </div>
      </div>
      <div class="col-md-6">
        <div class="input-group">
          <label class="font-monospace input-group-text">{% trans %}To{% endtrans %}&nbsp;&nbsp;</label>
          <input class="form-control"
            type="date"
            v-model="getAnswerEndsAt(practice, '{{assess_type}}').measured"
            :disabled="practice.frozen"
            {% if not sample.is_frozen %}
            @blur="updateEndsAt(practice, '{{assess_type}}')"
            {% endif %}></input>
        </div>
      </div>
    </div>
    <div class="input-group">
      <input class="form-control text-end"
             type="number"
             placeholder=""
             v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
             @blur="updateAssessmentAnswer(practice, practice.answers, '{{assess_type}}')"
             :disabled="practice.frozen"></input>
      <select class="form-control form-select"
              v-model="getPrimaryAnswer(practice, '{{assess_type}}').unit"
              @blur="updateAssessmentAnswer(practice, practice.answers, '{{assess_type}}')"
              :disabled="practice.frozen">
        <option value="tons-year">Metric Tons CO2e</option>
      </select>
    </div>
    <div class="row mt-1" v-if="!isGHGEmissionsScope3(practice)">
      <div class="col-6">
        <button class="btn btn-sm btn-outline-primary"
          @click.prevent="importFromTrackingTool(practice)">{% trans %}import from tracking tool{% endtrans %}</button>
      </div>
      <div class="col-6">
        <a class="btn btn-link btn-sm" href="{{urls.track_metrics_index}}energy-ghg-emissions/">{% trans %}enter data in tracking tool{% endtrans %} &raquo;</a>
      </div>
    </div>
  </div>
  {# end of scope ghg emissions #}

  {# when question.unit is 'verifiability' #}
  <div class="col-md-6 text-center" {# default value from `getNbInputCols` #}
       v-if="isVerifiabilityUIHint(practice)">
    <div class="input-group">
      <select class="form-control form-select"
              v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
              @blur="updateAssessmentAnswer(practice, null, '{{assess_type}}')"
              :disabled="practice.frozen">
        <option v-if="getAnswerByUnit(practice, 'completeness').measured == null" disabled :value="null">{% trans %}Select verifiability ...{% endtrans %}</option>
        {% for option in units.verifiability %}
        <option value="{{option.text}}">{{option.descr}}</option>
        {% endfor %}
      </select>
      <a class="p-2"
         href="{{'/docs/guides/verification/#verifiability'|site_url}}"
         target="_blank">
        <i class="fa fa-question-circle"></i>
      </a>
      <select class="form-control form-select"
              v-model="getAnswerByUnit(practice, 'completeness').measured"
              @blur="updateAssessmentAnswer(practice, getAnswerByUnit(practice, 'completeness'), '{{assess_type}}')"
              :disabled="practice.frozen">
        <option v-if="getAnswerByUnit(practice, 'completeness').measured == null" disabled :value="null">{% trans %}Select completeness ...{% endtrans %}</option>
        {% for option in units.completeness %}
        <option value="{{option.text}}">{{option.descr}}</option>
        {% endfor %}
      </select>
      <a class="p-2"
         href="{{'/docs/guides/verification/#completeness'|site_url}}"
         target="_blank">
        <i class="fa fa-question-circle"></i>
      </a>
    </div>
    <div class="input-group">
      <select class="form-control form-select"
              v-model="getAnswerByUnit(practice, 'supporting-document').measured"
              value=""
              @blur="updateAssessmentAnswer(practice, getAnswerByUnit(practice, 'supporting-document'), '{{assess_type}}')"
              :disabled="practice.frozen">
        <option v-if="getAnswerByUnit(practice, 'supporting-document').measured == null" disabled :value="null">{% trans %}Select supporting document ...{% endtrans %}</option>
        {% for option in units.supporting_document %}
        <option value="{{option.text}}">{{option.descr}}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {# when question.unit.system is 'enum' and UI hint computes to 'select' #}
  <div class="col-md-6 text-center" {# default value from `getNbInputCols` #}
       v-if="isEnumSelectUIHint(practice)">
    <select class="form-select"
            v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
            @blur="updateAssessmentAnswer(practice, null, '{{assess_type}}')"
            :disabled="practice.frozen">
      <option :value="null" disabled>{% trans %}Select ...{% endtrans %}</option>
      <option :value="choice.text"
              v-for="(choice, idx) in getChoices(practice, icon)">[[choice.descr]]</option>
    </select>
  </div>

  {# when question.unit.system is 'enum' and UI hint computes to 'radio' #}
  <div :class="'text-start text-md-center' + ' col-md-' + getNbInputCols(practice) + {% if assess_type == 'planned' %}(getPrimaryAnswer(practice).measured === choice.text ? ' green-level-4' : ''){% else %}(getPrimaryCandidate(practice).measured === choice.text ? ' candidate-answer' : ''){% endif %}"
       v-for="(choice, idx) in getChoices(practice, icon)"
       v-if="isEnumRadioUIHint(practice)">
    <div class="row">
      <div class="col-1 col-md-12">
        <div class="d-inline-block d-md-block">
          <div class="radio-border">
            <input :id="slugify(choice.text, practice.rank)"
             type="radio"
             :value="choice.text"
             :name="'implemented-' + practice.rank"
             :checked="getPrimaryAnswer(practice, '{{assess_type}}').measured === choice.text"
             @change="updateAssessmentAnswer(practice, choice.text, '{{assess_type}}')"
             v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
             :disabled="practice.frozen" />
          </div>
        </div>
      </div>
      <div class="col-11 col-md-12">
        <label :class="isEnumHeaderShown(icon) ? 'radio-label d-md-none' : 'radio-label'"
           :for="slugify(choice.text, practice.rank)"
           data-bs-toggle="tooltip" data-bs-placement="bottom"
           data-toggle="tooltip" data-placement="bottom"
           :title="getPrimaryCandidate(practice).measured === choice.text ? (getPrimaryCandidate(practice).collected_by + ', ' + humanizeTimeDelta(getPrimaryCandidate(practice).created_at)) : ''">
          [[choice.descr ? choice.descr : ""]]
        </label>
      </div>
    </div>
  </div>{# /question.unit.system is 'enum' and UI hint computes to 'radio' #}

  {# Targets #}
  <div class="col-md-6 text-center"
       v-if="isTargetByUIHint(practice)">
    <div class="input-group">
      <select class="form-control form-select"
              v-model="getPrimaryAnswer(practice, '{{assess_type}}').measured"
              :disabled="practice.frozen"
              {% if not sample.is_frozen %}
              @blur="updateAssessmentAnswer(practice, null, '{{assess_type}}')"
              {% endif %}>
      <option :value="null" disabled>{% trans %}Select a year or 'No target' ...{% endtrans %}</option>
        <option value="no-target">No target</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
        <option value="2027">2027</option>
        <option value="2028">2028</option>
        <option value="2029">2029</option>
        <option value="2030">2030</option>
        <option value="2031">2031</option>
        <option value="2032">2032</option>
        <option value="2033">2033</option>
        <option value="2034">2034</option>
        <option value="2035">2035</option>
        <option value="2036">2036</option>
        <option value="2037">2037</option>
        <option value="2038">2038</option>
        <option value="2039">2039</option>
        <option value="2040">2040</option>
        <option value="2041">2041</option>
        <option value="2042">2042</option>
        <option value="2043">2043</option>
        <option value="2044">2044</option>
        <option value="2045">2045</option>
        <option value="2046">2046</option>
        <option value="2047">2047</option>
        <option value="2048">2048</option>
        <option value="2049">2049</option>
        <option value="2050">2050</option>
        <option value="2051">2051</option>
        <option value="2052">2052</option>
        <option value="2053">2053</option>
        <option value="2054">2054</option>
        <option value="2055">2055</option>
        <option value="2056">2056</option>
        <option value="2057">2057</option>
        <option value="2058">2058</option>
        <option value="2059">2059</option>
        <option value="2060">2060</option>
        <option value="2061">2061</option>
        <option value="2062">2062</option>
        <option value="2063">2063</option>
        <option value="2064">2064</option>
        <option value="2065">2065</option>
      </select>
    </div>
  </div>
  {# end target #}
</div>{# /.row #}

{# optional comments #}
<div :class="'row ' + practiceStyle(practice)"
     v-if="isPractice(practice)"
     v-show="isActiveCommentsShown(practice)">
  <div class="col-md-6">
  </div>
  <div class="col-md-6">
    {# comments #}
    <div class="mt-2">
      <h5 class="my-0">{% trans %}Notes, Public URL Links, and/or Uploaded Documents{% endtrans %}</h5>
      <p class="text-danger" v-if="isNotApplicable(practice)">
        You selected <strong>&quot;Not Applicable&quot;</strong>, please explain.
      </p>
      <explainer inline-template
                 v-bind:callback-arg="practice"
                 v-bind:collected-by-picture="getPicture(getCommentsAnswer(practice).collected_by)"
                 v-bind:collected-by-printable-name="getPrintableName(getCommentsAnswer(practice).collected_by)"
                 v-bind:collected-at-time="getCommentsAnswer(practice).created_at"
                 v-bind:init-text="getCommentsAnswer(practice).measured"
                 v-on:update-text="updateComment"
                 :disabled="practice.frozen">
        <div>
          <div v-show="!editMode">
            <button class="btn btn-link" style="padding:0;margin:0;"
                    :disabled="disabled"
                    @click.prevent="toggleEditMode">update</button>
            <div class="row" v-if="textAsHtml">
              <div class="col-md-3">
                <div class="mt-2">
                  <img class="rounded-circle" :src="collectedByPicture ? collectedByPicture : '{{'/static/img/default-user.png'|asset}}'" width="32" height="32">
                  <span>[[collectedByPrintableName]]</span>
                </div>
                <small>[[humanizeDate(collectedAtTime)]]</small><br />
                <small>([[humanizeTimeDelta(collectedAtTime)]])</small>
              </div>
              <div class="border-start col-md-9">
                <p class="mt-2" style="word-wrap:break-word;"
                   v-html="textAsHtml"
                   @click.prevent="openLink($event)">
                </p>
              </div>
            </div>
            <div class="row" v-if="!textAsHtml">
              <div class="col-12">
                <em>{% trans %}No notes were added.{% endtrans %}</em>
              </div>
            </div>
          </div>
          <form @submit.prevent="saveText" v-show="editMode">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
            <textarea class="form-control"
                      name="other-measures"
                      type="text" rows="10"
                      :placeholder="isTagged('verify') ? '{% trans %}If you have any notes or comments with regards to verifiability or completeness, please add them here. Thank you.{% endtrans %}' : '{% trans %}Please provide context and supporting evidence for your answer, including public URL links, or uploaded documents. Thank you.{% endtrans %}'"
                      v-model="text"
                      :disabled="disabled"
                      @keydown="fitToText"
                      @drop.prevent="dropFile" @dragenter.prevent @dragover.prevent
                      ></textarea>
            <div class="progress upload-progress" v-show="uploadInProgress">
              <div class="progress-bar" role="progressbar"
                   aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                   style="width: 60%;">
                <span class="progress-bar-info"></span>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <div class="mt-2 text-start text-left">
                  <button type="button" class="btn btn-primary" :disabled="disabled">
                    <label :for="callbackArg.slug + '-file'" style="margin-bottom:0;">
                      {% trans %}Upload{% endtrans %}
                    </label>
                  </button>
                  <input name="file" type="file" :id="callbackArg.slug + '-file'" style="display:none;" @change.prevent="uploadFile" :disabled="disabled" />
                </div>
              </div>
              <div class="col-6">
                <div class="mt-2 text-end text-right">
                  <button class="btn btn-primary"
                          type="submit" value="submit"
                          :disabled="disabled">
                    {% trans %}Submit{% endtrans %}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </explainer>
    </div>
  </div>{# /.col-md-6 #}
</div>{# /.row (optional comments) #}
