<keep-alive>
    <campaign-questions-list inline-template>
        <div {% block dashboard_inner_container_classes %}
            class="dashboard-inner-container"{% endblock %}>
            {% block dashboard_nav %}
                <div class="d-print-none dashboard-nav nav-main-frnt">
                    <div class="dashboard-nav-inner-container">
                        <div class="dashboard-nav-main dashboard-nav-color-theme">
                            <div>
                                <header>
                                    <nav class="navbar{% block _navbar_extra_classes %}{% endblock %}">
                                        <div class="navbar-header">
                                            {% include "_navbarbrand.html" %}
                                        </div>
                                    </nav>
                                </header>
                                <div class="dashboard-nav-menu">
                                    {% block sidebar %}
                                        <ul class="nav flex-column py-1" id="sidebar-ul-1"
                                            data-intro="Home"
                                            data-position="right">
                                            <li class="nav-item">
                                                <a id="profile-app" class="nav-link"
                                                   href="{{'/app/'|site_url}}{% if profile %}{{profile}}/{% endif %}">
                                                    <span class="fa fa-2x fa-home align-middle"></span>
                                                    <span class="ps-1">{% trans %}
                                                        Home{% endtrans %}</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <hr>
                                        {% include "app/assess_scorecard/_assess_scorecard_toggle.html" %}
                                        <hr>
                                        <ul class="nav flex-column py-1" id="sidebar-ul-primary"
                                            data-intro="items"
                                            data-position="right">
                                            <li class="nav-item"
                                                :class="{'active': $parent.activeSidebarItem === item.slug}"
                                                v-for="item in $parent.items.results"
                                                v-if="item.indent in [0]">
                                                <a :href="`#${item.slug}`"
                                                   :class="{'ms-0': item.indent === 0, 'ms-2': item.indent === 1}"
                                                   class="nav-link" id="profile-app"
                                                   @click="$parent.setActive(item.slug); toggleTile($event, item);"
                                                   style="min-height: 38px; height: auto;"><span>{% trans %}[[item.title]]{% endtrans %}</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <hr>
                                        <ul class="nav flex-column py-1" data-intro="ExtraButtons"
                                            data-position="right">
                                            <li class="nav-item">
                                                <a id="xlsx-download" class="nav-link"
                                                   href="{{ urls.scorecard_download }}"
                                                   target="_blank"
                                                   v-show="itemsLoaded">
                                                    <i class="fa fa-file-text"></i>&nbsp;&nbsp;
                                                    {% trans %}
                                                        Download
                                                        (xlsx){% endtrans %}
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a id="pdf-print" class="nav-link"
                                                   onClick="window.print()"
                                                   v-show="itemsLoaded" style="cursor: pointer;">
                                                    <i class="fa fa-print"></i>&nbsp;&nbsp;
                                                    {% trans %}
                                                        Print
                                                        (pdf){% endtrans %}
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a id="invite-contributor"
                                                   class="nav-link"
                                                   href="
                                                       
                                                           {{ '/profile/'|site_url }}{{ sample.account.slug }}/roles/manager/">
                                                    <i class="fa fa-user-plus"></i>
                                                    {% trans %}Invite a contributor{% endtrans %}
                                                </a>
                                            </li>
                                            <li class="nav-item active" v-cloak>
                                                <form method="post" action="."
                                                      @submit.prevent="$parent.freezeAssessment">
                                                    <input type="hidden"
                                                           name="csrfmiddlewaretoken"
                                                           value="{{ csrf_token }}">
                                                    <button id="complete-assessment-btn"
                                                            class="mt-2 btn btn-primary w-100"
                                                            href=""
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#complete-assessment"
                                                            data-toggle="modal"
                                                            data-target="#complete-assessment"
                                                            :disabled="$parent.freezeAssessmentDisabled"
                                                            v-show="itemsLoaded && items.results.length > 0">
                                                        {% trans %}Complete{% endtrans %}
                                                    </button>
                                                </form>
                                            </li>
                                        </ul>
                                    {% endblock %}
                                </div>
                            </div>

                            <!-- Start Dashboard Footer -->
                            {% block dashboard_footer %}
                                <div class="dashboard-nav-footer dashboard-nav-color-theme">
                                    <div class="footer-links">
                                        <a href="https://github.com/djaodjin/" target="_blank"><i
                                                class="fa fa-github fa-sm pe-2"></i></a>
                                        <a href="https://www.linkedin.com/company/djaodjin/"
                                           target="_blank"
                                           rel="publisher"><i class="fa fa-linkedin fa-sm"></i></a>
                                    </div>

                                    <div>
                                        {% trans %}Powered by &copy; 2024 DjaoDjin. All rights
                                            reserved.{% endtrans %} <a
                                            href="/legal/" target="_blank">{% trans %}
                                        Legal{% endtrans %}</a>.
                                    </div>
                                </div>
                            {% endblock %}
                            <!-- End Dashboard Footer -->

                        </div>
                    </div><!-- /.dashboard-nav-inner-container -->
                </div>
            {% endblock %}
            <div class="dashboard-content">
                <div class="d-print-none fullviewport">
                    <header>
                        <nav class="navbar navbar-expand-md border-bottom{% block navbar_extra_classes %} navbar-dark bg-secondary{% endblock %}">
                            <div class="container-fluid">
                                <a href=""
                                   class="sidebar-toggle d-inline-block d-sm-none position-relative">
                                    <div class="bar1 closed"></div>
                                    <div class="bar2 closed"></div>
                                    <div class="bar3 closed"></div>
                                </a>
                                {% block content_navbarbrand %}
                                    <div class="navbar-brand-container">
                                        {% include "_navbarbrand.html" %}
                                    </div>
                                {% endblock %}
                                {% block header_navbar_large %}
                                    <div class="navbar-collapse collapse navbar-right justify-content-end">
                                        <ul class="nav navbar-nav ms-auto mt-lg-0 ml-auto">
                                            {% include "_generic_navbar.html" %}
                                        </ul>
                                    </div>
                                    <ul class="nav navbar-nav ms-auto mt-lg-0 header-menubar ml-auto">
                                        {# The content here will be replaced by _menubar.html #}
                                        <li class="nav-item">
                                            {% if request and request|is_authenticated %}
                                                <a class="nav-link">{{ request.user.username }}</a>
                                            {% else %}
                                                <a id="login"
                                                   class="btn btn-primary text-white mx-2"
                                                   href="{{ '/login/'|site_url }}">{% trans %}Sign
                                                    In{% endtrans %}</a>
                                            {% endif %}
                                        </li>
                                        {# end of replaced by _menubar.html #}
                                    </ul>
                                {% endblock %}
                            </div>
                        </nav>
                    </header>
                    {% block fullviewport %}
                    {% endblock %}
                </div><!-- /.fullviewport -->
                <div{% block content_area_classes %}
                    class="content-area-container p-0"{% endblock %}>
                    <div id="messages">
                        <div id="messages-content">
                            {% if request %}
                                {% for message in request|messages %}
                                    <div class="alert alert-dismissible fade show{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                                        {% if 'safe' in message.tags %}
                                            <div>{{ message|safe }}</div>
                                        {% else %}
                                            <div>{{ message }}</div>
                                        {% endif %}
                                        <button type="button" class="btn-close close"
                                                data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if form %}
                                {% for message in form|messages %}
                                    <div class="alert alert-dismissible fade show alert-danger">
                                        <div>{{ message }}</div>
                                        <button type="button" class="btn-close close"
                                                data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {#                        <script type="text/javascript">#}
                            {#                            var _showErrorMessagesProviderNotified = "{% trans %}#}
                            {#                                We have been notified and have started on fixing the error. We apologize for the inconvenience.{% endtrans %}";#}
                            {#                        </script>#}
                        </div>
                    </div>
                    <div class="backdrop mb-4">
                        <div class="panel-icons py-5" id="panel-icons">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12 offset-md-3 col-md-6">
                                        <p class="text-center text-white">
                                            {% trans %}Click to expand each icon tile.{% endtrans %}<br/>
                                            {% trans %}If need be{% endtrans %},
                                            <a id="download-assessment" href="{{ urls.download }}"
                                               target="_blank">{% trans %}download{% endtrans %}</a>
                                            {% trans %}the questionnaire or{% endtrans %}
                                            <a id="invite-contributor-btn"
                                               href="{{ '/profile/'|site_url }}{{ sample.account.slug }}/roles/manager/">
                                                {% trans %}invite a contributor{% endtrans %}</a>.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center"
                                 v-show="!itemsLoaded">
                                <i class="fa fa-spinner fa-spin fa-2x"></i>
                            </div>
                            <div id="assess-tabs"
                                 class="tab-content collapse show"
                                 v-for="icon in getEntries('', 1)"
                                 v-show="itemsLoaded && items.results.length"
                                 v-cloak>
                                {# nav item #}
                                <div class="container">
                                    <div class="row text-center">
                                        <div :class="((activeTile && icon.slug == activeTile.slug) ? '' : 'offset-md-3') + ' col-md-6 mt-2'">
                                            <a :id="icon.slug"
                                               :href="'#tab-' + icon.slug"
                                               class="tile-link" role="{{ role }}"
                                               data-bs-toggle="{{ role }}" data-toggle="{{ role }}"
                                               @click.prevent="$parent.setActive(icon.slug); toggleTile($event, icon)">
                                                <div :class="'card h-100 text-dark ' + practiceStyle(icon)">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-4">
                                                                <div class="d-inline-block">
                                                                    <img class="icon-inner"
                                                                         style="padding:5px; border: 1px #eee solid;"
                                                                         :src="icon.picture"
                                                                         v-if="icon.picture">
                                                                    <img class="icon-inner"
                                                                         src="{{ '/static/img/design.png'|asset }}"
                                                                         v-if="!icon.picture">
                                                                </div>
                                                            </div>
                                                            <div class="col-8 text-start text-left">
                                                                <h4>[[icon.title]]</h4>
                                                                <p>[[icon.text]]
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {# /nav item #}

                                {# expanded tabs go here #}
                                <div role="tabpanel" class="container"
                                     :class="'tab-pane' + ((activeTile && icon.slug == activeTile.slug) ? ' active': '')"
                                     :id="'tab-' + icon.slug">
                                    <div v-show="!showVsPeers">
                                        <input type="hidden" name="csrfmiddlewaretoken"
                                               value="{{ csrf_token }}">
                                        <table class="table table-bordered table-assessment">
                                            <thead v-if="!isEnumHeaderShown(icon)">
                                            <tr>
                                                <th colspan="6" style="width:50%;">
                                                </th>
                                                <th colspan="6">
                                                </th>
                                            </tr>
                                            </thead>
                                            <thead v-if="isEnumHeaderShown(icon)">
                                            <tr>
                                                <th colspan="6" style="border-bottom:none;width:50%;">
                                                </th>
                                                <th class="text-center pb-0"
                                                    colspan="6">
                                                    Implemented as standard practice? <a
                                                        style="cursor:pointer;" href=""><i
                                                        class="fa fa-question-circle"></i></a>
                                                    <div class="text-end text-right mt-2">
                                                        <div style="display:inline-block;">
                                                            <div class="text-start text-left m-0 p-0"
                                                                 style="line-height:1;">
                                                                <small class="candidate-answer">
                                                                    <div class="radio-border mr-2">
                                                                        <div style="background-color:white;line-height:0;padding: 2px;border-radius:50%;">
                                                                        </div>
                                                                    </div>
                                                                    <label style="vertical-align:middle;">
                                                                        <span>previous completed assessment</span>
                                                                    </label>
                                                                </small>
                                                            </div>
                                                            <div class="text-start text-left m-0 p-0"
                                                                 style="line-height:1;">
                                                                <small><span class="practice-required mr-2"
                                                                                      style="border-top:1px solid #dee2e6;border-bottom:1px solid #dee2e6;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                                    required answer
                                                                </small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th class="sticky-cell sticky-cell-top" colspan="6">
                                                    <div class="sticky-cell-content-container">
                                                        <div class="sticky-cell-content"
                                                             style="padding-left:0.75rem;">
                                                            Practices
                                                            {% include "app/assess/_vs_peers_toggle.html" %}
                                                        </div>
                                                    </div>
                                                </th>
                                                <th class="sticky-cell sticky-cell-top text-center"
                                                    :colspan="getNbInputCols(icon)"
                                                    v-for="choice in getChoices(icon)">
                                                    <div class="sticky-cell-content-container"
                                                         data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                         data-toggle="tooltip" data-placement="bottom"
                                                         :title="choice.descr">
                                                        <div class="sticky-cell-content">[[choice.text]]
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody :data-id="getPath(practice)"
                                                   v-for="practice in getEntries(icon.slug)"
                                                   v-show="itemsLoaded && items.results.length">
                                            {% include "app/assess/_assess_row.html" %}
                                            </tbody>
                                        </table>
                                        {% if not sample.is_frozen %}
                                            <div class="row">
                                                <div class="offset-sm-6 col-sm-6 text-center">
                                                    <div class="text-end text-right"
                                                         style="display:inline-block;padding-left:10px;">
                                                        <button id="reset-button"
                                                                class="btn btn-primary"
                                                                data-bs-toggle="modal"
                                                                data-bs-target="#reset-assessment"
                                                                data-toggle="modal"
                                                                data-target="#reset-assessment"
                                                                v-show="!showVsPeers">
                                                            {% trans %}Reset{% endtrans %}
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>{# /.row (action buttons) #}
                                            <hr/>
                                        {% endif %}
                                    </div>
                                    {# /!showVsPeers #}
                                    <div v-show="showVsPeers">
                                        <table class="table table-bordered table-assessment">
                                            <thead>
                                            <th class="sticky-cell sticky-cell-top" colspan="6"
                                                style="border-bottom:none;width:50%;">
                                                <div class="sticky-cell-content-container">
                                                    <div class="sticky-cell-content"
                                                         style="padding-left:0.75rem;">
                                                        Practices
                                                        {% include "app/assess/_vs_peers_toggle.html" %}
                                                    </div>
                                                </div>
                                            </th>
                                            <th colspan="6" v-if="!isEnumHeaderShown(icon)">
                                            </th>
                                            <th class="sticky-cell sticky-cell-top text-center"
                                                :colspan="getNbInputCols(icon)"
                                                v-for="choice in getChoices(icon)"
                                                v-if="isEnumHeaderShown(icon)">
                                                <div class="sticky-cell-content-container"
                                                     data-bs-toggle="tooltip" data-bs-placement="bottom"
                                                     data-toggle="tooltip" data-placement="bottom"
                                                     :title="choice.descr">
                                                    <div class="sticky-cell-content">[[choice.text]]</div>
                                                </div>
                                            </th>
                                            </thead>
                                            <tbody data-prefix="{{ abs_prefix }}"
                                                   :data-id="getPath(practice)"
                                                   v-for="practice in getEntries(icon.slug)"
                                                   v-show="itemsLoaded && items.results.length">
                                            <tr>
                                                {% include "app/assess/_assess_results_row.html" %}
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    {# /showVsPeers #}
                                </div>
                                {# /expanded tab #}
                            </div>
                            {# /v-for=icon #}

                            {% block icons_actions %}
                            {% endblock %}

                            <!-- modals -->
                            <div id="syncBaselineAt" class="modal fade"
                                 tabindex="-1" role="dialog"
                                 aria-labelledby="{% trans %}Update all reporting start dates{% endtrans %}"
                                 aria-hidden="true">
                                <form class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">{% trans %}Update all reporting start
                                                dates{% endtrans %} ...</h5>
                                            <button type="button" class="close"
                                                    data-dismiss="modal" aria-hidden="true">&times;
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans %}Before going further, would you like to updateall
                                                    reporting start date to
                                                    [[getAnswerStartsAt(activeElement).measured]]?{% endtrans %}
                                            </p>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary"
                                                        data-dismiss="modal">{% trans %}
                                                    No{% endtrans %}</button>
                                                <button type="submit"
                                                        class="btn btn-primary"
                                                        data-dismiss="modal"
                                                        @click.prevent="updateAllStartsAt(activeElement)">
                                                    {% trans %}Yes{% endtrans %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {# /#syncBaselineAt  #}
                            <div id="syncEndsAt" class="modal fade"
                                 tabindex="-1" role="dialog"
                                 aria-labelledby="{% trans %}Update all reporting end dates{% endtrans %}"
                                 aria-hidden="true">
                                <form class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">{% trans %}Update all reporting end
                                                dates{% endtrans %} ...</h5>
                                            <button type="button" class="close"
                                                    data-dismiss="modal" aria-hidden="true">&times;
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>
                                                {% trans %}Before going further, would you like to updateall
                                                    reporting end date to
                                                    [[getAnswerEndsAt(activeElement).measured]]?{% endtrans %}
                                            </p>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary"
                                                        data-dismiss="modal">{% trans %}
                                                    No{% endtrans %}</button>
                                                <button type="submit"
                                                        class="btn btn-primary"
                                                        data-dismiss="modal"
                                                        @click.prevent="updateAllEndsAt(activeElement)">
                                                    {% trans %}Yes{% endtrans %}</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            {# /#syncEndsAt  #}
                            {% include "app/_reset_assessment.html" %}
                            {% include "app/_complete_assessment.html" %}
                            {% block panel_footer %}
                                <div class="card card-footer mt-4">
                                    <div class="row">
                                        <div class="offset-md-3 col-md-6 text-center">
                                            <p v-show="itemsLoaded" v-cloak>
                                                {# [[nbAnswers]] out of [[nbQuestions]] questions answered. #}
                                            </p>
                                            <p>
                                                {% trans %}Click to expand each icon tile, then answer each
                                                    question or assess each practice under it. Each answeris
                                                    automatically saved in a work-in-progress
                                                    response.{% endtrans %}
                                            </p>
                                            {% if sample.is_frozen %}
                                                <p>
                                                    Completed on {{ sample.created_at|date }}
                                                </p>
                                            {% else %}
                                                <p>
                                                    {% trans %}Once done, move to the next step in the
                                                        workflow progress bar at the top of the page. On the
                                                        REVIEW step, click the &quot;Complete&quot; buttonat
                                                        the bottom of the page to submit an officialdated
                                                        response.{% endtrans %}
                                                </p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </campaign-questions-list>
</keep-alive>