{% extends "app/base.html" %}

{% block localheadermeta %}
<title>{% trans profile=profile.printable_name %}{{profile}} Questionnaire Response{% endtrans %} | {% trans %}Practice Sharing Platform{% endtrans %}</title>
<meta property="og:title" content="{% trans profile=profile.printable_name %}{{profile}} Questionnaire Response{% endtrans %} | {% trans %}Practice Sharing Platform{% endtrans %}" />
<meta property="og:image" content="{{request|site_url}}/static/img/og-image.png" />
{% endblock %}

{% block app_content %}
{% block assess_content %}
{% endblock %}
{% endblock %}

{% block app_bodyscripts %}
{% if ASSETS_DEBUG %}
<script type="text/javascript" src="{{'/static/vendor/chart.js/dist/chart.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/vendor/chartjs-plugin-annotation.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/js/djaodjin-resources-vue.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/js/djaodjin-pages-vue.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/js/djaopsp-resources-vue.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/js/assess-vue.js'|asset}}"></script>
{% else %}
<script type="text/javascript" src="{{'/static/cache/assess.js'|asset}}"></script>
{% endif %}
{% block assess_scripts %}{% endblock %}
{% endblock %}
