{% extends "app/assess/base.html" %}

{% block footer %}{% endblock %}

{% block assess_content %}
<campaign-questions-list inline-template id="panel-icons">
  <div class="d-flex">

    {# left sidebar #}
    {% block app_left_sidebar %}
    {% include "app/assess/_assess_left_sidebar.html" %}
    {% endblock %}

    <div>
      {% include "app/_progress_bar.html" %}
      <div class="text-center"
           v-show="!itemsLoaded">
        <i class="fa fa-spinner fa-spin fa-2x"></i>
      </div>

      <div class="container bg-body text-body"
           v-show="itemsLoaded" v-cloak>
        <div class="row">
          <div class="col-md-6 pt-4">
            <div class="row">
              <div class="col-sm-4 text-center text-sm-end">
                <img class="my-4 img-fluid" style="max-height:100px;" src="{% if sample.account.picture %}{{sample.account.picture}}{% else %}{{'/static/img/default-organization.png'|asset}}{% endif %}">
              </div>
              <div class="col-sm-8 text-center text-sm-start">
                <h1 class="mt-4">{{sample.account.printable_name}}</h1>
                <h2>{{sample.campaign.title}}</h2>
              </div>
            </div>
        </div>

        <div class="col-md-6 pt-4">
          <div class="card">
            <div class="card-footer">
              <div class="row">
                <div class="col-sm-6">
                  <ul>
                    <li>
                      <small>
                        {% trans %}Each answer is automatically saved in a work-in-progress response.{% endtrans %}
                      </small>
                    </li>
                    <li>
                      <small>
                        {% trans %}Questions with required answers are marked with a red vertical bar.{% endtrans %} - <span class="practice-required mr-2" style="border-top:1px solid #dee2e6;border-bottom:1px solid #dee2e6;"><div class="d-inline-block">&nbsp;&nbsp;&nbsp;&nbsp;</div></span>
                      </small>
                    </li>
                  </ul>
                </div>
               <div class="col-sm-6">
                 <ul>
                   <li>
                     <small>
        {% trans %}Current assessment is shown with a highlighted background.{% endtrans %} (
        <div class="d-inline-block green-level-4" style="vertical-align:middle;width:15px;height:16px;">
        </div> )
                     </small>
                   </li>
                   <li>
                     <small class="candidate-answer">
                       {% trans %}If a previous answer to a similar question exists, a blue circle hint will be displayed.{% endtrans %} (
                       <div class="radio-border" style="vertical-align:text-top;">
                         <div style="background-color:white;line-height:0;padding: 2px;border-radius:50%;">
                         </div>
                       </div> )
                     </small>
                   </li>
                 </ul>
               </div>
              </div>
            </div>
          </div>
        </div>

        <div v-show="!showVsPeers">
          <div class="tab-pane"
               :id="getPracticeId(icon)"
               v-for="icon in getEntries('', 1)">
            <h2 class="mt-4">[[icon.title]]
              {% if not sample.is_frozen %}
              <button id="reset-button"
                      class="float-end btn btn-outline-danger"
                      data-bs-toggle="modal"
                      data-bs-target="#reset-assessment"
                      @click="toggleTile($event, icon)">
                {% trans %}Reset{% endtrans %}
              </button>
              {% endif %}
            </h2>
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
            <div class="d-none d-md-block sticky-top bg-body text-body border-bottom"
                 v-if="isEnumHeaderShown(icon)">
              <div class="row">
                <div class="col-md-6">
                  <div>
                    <div>
                      {% trans %}Practices{% endtrans %}
                    </div>
                  </div>
                </div>
                <div :class="'text-center col-md-' + getNbInputCols(icon)"
                     v-for="choice in getChoices(icon)">
                  <div
                       data-bs-toggle="tooltip" data-bs-placement="bottom"
                       data-toggle="tooltip" data-placement="bottom"
                       :title="choice.descr">
                    <div>[[choice.text]]</div>
                  </div>
                </div>
              </div>
            </div> {# /table header #}

            <div :class="'practice-row' + (isRequiredShown(practice) ? ' practice-required' : (isRequiredAnswered(practice) ? ' practice-required-answered' : ''))"
                 v-for="practice in getEntries(icon.slug)"
                 v-show="itemsLoaded && items.results.length">
              {% include "app/assess/_assess_row.html" %}
            </div>
            <hr />
          </div>{# /v-for=icon #}

          {% if not sample.is_frozen %}
          {% block icons_actions %}
          {% if segments_candidates %}
          <div id="segment-selector" class="d-print-none"
               v-show="itemsLoaded" v-cloak>
            <h2 class="mt-4">Industry-specific practices</h2>
            <p>
{% trans %}To create or complete an improvement plan towards your stated targets, we have indentified practices relevent and specific to each of the following industry segments.{% endtrans %}
(<a target="_blank" href="{{'/docs/faq/#best-practices-1'|site_url}}">How were practices for each industry segment identified or selected?</a>)
            </p>
            <ol>
              <li>{% trans %}Select an industry segment{% endtrans %}</li>
              <li>{% trans %}Assess your organization against the identified practices{% endtrans %}</li>
              <li>{% trans %}Go to the <strong>PLANNING</strong> step and select practices you want to focus on over the next year.{% endtrans %}</li>
            </ol>
            {% for segment in segments_candidates %}
            {% if segment.extra and segment.extra.pagebreak %}
            <div>
              <a id="{{segment.slug}}-btn" class="tile-link"
                 href="{{urls.assess|rstrip_sep}}{{segment.path}}/"
                 @click.prevent="addSegment({slug: '{{segment.slug}}', path: '{{segment.path}}', title: '{{segment.title}}', indent: 0})">
                <div class="card bg-body text-body h-100 mt-2">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-4">
                        <div class="d-inline-block">
                          {% if segment.picture %}
                          <img class="icon-inner"
                               style="padding:5px; border: 1px #eee solid;"
                               src="{{segment.picture}}">
                          {% else %}
                          <img class="icon-inner"
                               style="padding:5px; border: 1px #eee solid;"
                               src="{{'/static/img/design.png'|asset}}">
                          {% endif %}
                        </div>
                      </div>
                      <div class="col-8 text-start">
                        <h4>{{segment.title}}</h4>
                        {% if segment.text %}
                        <p>{{segment.text|md}}</p>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            {% endif %}
            {% endfor %}
          </div> {# /#add-segments-actions #}
          {% endif %}
          {% endblock %}
          {% endif %}

        </div>{# /!showVsPeers #}

        {# assess results #}
        <div v-show="showVsPeers">
          <div class="tab-pane"
               :id="getPracticeId(icon, 'results-')"
               v-for="icon in getEntries('', 1)">
            <h2 class="mt-4">[[icon.title]]</h2>
            {% block vs_header_block %}
            <div class="sticky-top bg-body text-body border-bottom"
                 v-if="isEnumHeaderShown(icon)">
              <div class="row">
                <div class="col-md-6">
                  <div>
                    <div>
                      {% trans %}Practices{% endtrans %}
                    </div>
                  </div>
                </div>
                <div :class="'text-center col-md-' + getNbInputCols(icon)"
                     v-for="choice in getChoices(icon)">
                  <div
                    data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-toggle="tooltip" data-placement="bottom"
                    :title="choice.descr">
                    <div>[[choice.text]]</div>
                  </div>
                </div>
              </div>
            </div>{# /table header #}
            {% endblock %}

            <div class="practice-row"
                 v-for="practice in getEntries(icon.slug)"
                 v-show="itemsLoaded && items.results.length">
              {% block vs_row_block %}
              {% include "app/assess/_assess_results_row.html" %}
              {% endblock %}
            </div>
          </div>{# /v-for=icon #}
        </div>{# /showVsPeers #}

        {% block panel_footer %}
        <div class="card mt-4">
          <div class="card-footer">
            <div class="row">
              <div class="offset-md-3 col-md-6 text-center">
                <p v-show="itemsLoaded" v-cloak>
                  {# [[nbAnswers]] out of [[nbQuestions]] questions answered. #}
                </p>
                {% if sample.is_frozen %}
                <p>
                  {% trans at_time=sample.created_at|date %}Completed on {{at_time}}{% endtrans %}
                </p>
                {% else %}
                {% if urls.improve %}
                <p>
{% trans %}Once you have answered all questions with required answers (red vertical bar next to them), move to the <strong>Planning</strong> step to optionnally create an improvement plan.{% endtrans %}
                </p>
                {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endblock %}
        </div>{# /.container > .row #}

      <!-- modals -->
      <div id="syncBaselineAt" class="modal fade"
           tabindex="-1" role="dialog"
           aria-labelledby="{% trans %}Update all reporting start dates{% endtrans %}"
           aria-hidden="true">
        <form class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{% trans %}Update all reporting start dates{% endtrans %} ...</h4>
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <p>
                {% trans %}Before going further, would you like to update all reporting start date to [[getAnswerStartsAt(activeElement).measured]]?{% endtrans %}
              </p>
              <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-primary"
                        data-bs-dismiss="modal">{% trans %}No{% endtrans %}</button>
                <button type="submit"
                        class="btn btn-primary"
                        data-bs-dismiss="modal"
                        @click.prevent="updateAllStartsAt(activeElement)">{% trans %}Yes{% endtrans %}</button>
              </div>
            </div>
          </div>
        </form>
      </div>{# /#syncBaselineAt  #}

      <div id="syncEndsAt" class="modal fade"
           tabindex="-1" role="dialog"
           aria-labelledby="{% trans %}Update all reporting end dates{% endtrans %}"
           aria-hidden="true">
        <form class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{% trans %}Update all reporting end dates{% endtrans %} ...</h4>
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close">
              </button>
            </div>
            <div class="modal-body">
              <p>
                {% trans %}Before going further, would you like to update all reporting end date to [[getAnswerEndsAt(activeElement).measured]]?{% endtrans %}
              </p>
              <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-primary"
                        data-bs-dismiss="modal">{% trans %}No{% endtrans %}</button>
                <button type="submit"
                        class="btn btn-primary"
                        data-bs-dismiss="modal"
                        @click.prevent="updateAllEndsAt(activeElement)">{% trans %}Yes{% endtrans %}</button>
              </div>
            </div>
          </div>
        </form>
      </div>{# /#syncEndsAt  #}
      {% include "app/_reset_assessment.html" %}
      <!-- / modals -->
      </div> {# /.bg-body #}
    </div>
  </div> {# /.d-flex #}
</campaign-questions-list>
{% endblock %}
