{% extends "app/assess/base.html" %}

{% block app_content_title %}
{% trans %}Select a questionnaire ...{% endtrans %}
{% endblock %}

{% block assess_content %}
<div id="redirects" class="container">
  <h1 class="text-center py-4">{% trans %}Select a questionnaire ...{% endtrans %}</h1>
  <div class="offset-sm-1 offset-md-2 offset-lg-3 col-sm-10 col-md-8 col-lg-6">
    {% include "app/_newsfeed.html" %}
  </div>
  <hr class="mt-4" />
  <p class="mt-4">
{% trans %}This Website provides additional questionnaires on which to assess
your organization's performance on a variety of qualitative and quantitative
metrics.{% endtrans %} <a href="{{'docs/questionnaires/'|site_url}}">{% trans %}See questionnaires{% endtrans %} &raquo;</a>
        </p>
</div>{# .container #}
{% endblock %}
