{% extends "envconnect/base.html" %}
{% load static from staticfiles %}

{% block content %}
<div class="backdrop">
<div>
  <ol class="col-md-9 breadcrumb">
    <li><a href="{% url 'homepage' %}">Home</a></li>
    {% for breadcrumb_tuple in breadcrumbs %}
    <li class="breadcrumb-item">
      <a id="bc-{{breadcrumb_tuple.0}}" href="{{breadcrumb_tuple.2}}">{{breadcrumb_tuple.0.title}}</a>
    </li>
    {% endfor %}
    <li><a href="{% url 'matrix_base' account %}">Charts</a></li>
  </ol>
  <ol class="col-md-3 breadcrumb">
    <li style="float:right;display:none;cursor:pointer;"><a id="help-request"><i class="fa fa-question-circle"></i> take a tour of the page &raquo;</a></li>
  </ol>
</div>
<div class="container">
<div id="categorize" class="panel-icons">
  <form id="chart-title" class="text-center">
    <div class="row form-group">
      <div class="offset-sm-2 col-sm-2">
        <label class="form-control-label">Title</label>
      </div>
      <div class="col-sm-4">
        <input class="form-control" type="text" name="title" value="{{object}}">
      </div>
    </div>
    <div class="dj-predicates">
      <div class="form-group row dj-predicate-template">
        <div class="col-sm-2">
          <select class="form-control selector">
            <option value="keepmatching">Keep matching</option>
            <option value="removematching">Remove matching</option>
        </select>
        </div>
        <div class="col-sm-2">
          <select class="form-control field">
          </select>
        </div>
        <div class="col-sm-2">
          <select class="form-control operator">
          </select>
        </div>
        <div class="col-5">
          <input class="form-control operand" type="text">
        </div>
        <div class="col-1">
          <button class="btn btn-danger delete"><i class="fa fa-trash-o"></i></button>
        </div>
      </div>
    </div>
    <div class="text-left">
      <button class="btn btn-primary add-predicate"><i class="fa fa-plus"></i> Add predicate</button>
    </div>
  </form>
  <div>
    <table class="dj-table table table-striped table-bordered table-condensed">
    </table>
    <div>
      <ul uib-pagination ng-model="currentPage"
                      total-items="totalItems"
                      items-per-page="itemsPerPage"
                      boundary-links="true"
                      max-size="maxSize"
                      previous-text="&lsaquo;"
                      next-text="&rsaquo;"
                      first-text="&laquo;"
                      last-text="&raquo;"></ul>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %}

{% block bodyscripts %}
{{block.super}}
<script type="text/javascript">
jQuery(document).ready(function($) {
  $('#categorize').djcategorize({
     editable_filter_api: "{{editable_filter_api}}",
     objects_api: "{{objects_api}}"
  });
});
</script>
{% endblock %}
