{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<section id="survey-questions">
	<div class="page-header">
		<h1>Questions <a href="{% url 'survey_result' survey %}">see results</a></h1>
	</div>

	<p>
		<a href="{% url 'survey_question_new' survey %}">add question</a>
		
	</p>
	<table class="table table-bordered">
		<tr class="success">
			<th>Question</th>
			<th>Type</th>
			<th>Choices</th>
			<th>edit</th>
			<th>Delete</th>
			<th>order up</th>
			<th>order down</th>
			<th>order</th>
		</tr>
	{% if question_list %}
    
		{% for question in question_list %}
		<tr >
			<td>{{question.text}}</td>
			<td>{{question.question_type}}</td>
			<td>{% if question.choices %}{{question.choices}}{% else %}N/A{% endif %}</td>
			<td><a href="{% url 'survey_question_edit' survey question.rank %}" >edit</a></td>
			<td><a href="{% url 'survey_question_delete' survey question.rank %}">Delete</a></td>
			<td><a href="{% url 'survey_question_up' survey question.rank %}"><i class="fa fa-chevron-up"></i></a></td>
			<td><a href="{% url 'survey_question_down' survey question.rank %}"><i class="fa fa-chevron-down"></i></a></td>
			<td>{{question.rank}}</td>
		</tr>
		{% endfor %}
		<table>
		{% else %}
		<em>No question for {{survey.name}} survey</em>
	{% endif %}
</section>
{% endblock %}
