{% extends "base.html" %}

{% block content %}
<div class="container">
<h1>Welcome to {{campaign.name|title}}</h1>
<div>
        {{campaign.description|safe}}
</div>

<div>
{% if campaign.published %}
<form method="post" action=".">
        {% csrf_token %}
        <div class="form-actions text-center">
                <input type="submit" name="submit" value="Start" class="btn btn-primary" id="submit-id-submit">
        </div>
</form>
{% else %}
<em>Sorry, this {% if campaign.quizz_mode %}quizz{% else %}campaign{% endif %} is no longer available. Thank you.</em>
{% endif %}
</div>
</div>
{% endblock %}
