{% extends "app/reporting/base.html" %}

{% block localheadermeta %}
<title>{% trans profile=profile.printable_name %}Compare - {{profile}}{% endtrans %} | {% trans %}Practice Sharing Platform{% endtrans %}</title>
<meta property="og:title" content="Compare - {{profile.printable_name}} | Practice Sharing Platform" />
<meta property="og:image" content="{{request|site_url}}/static/img/og-image.png" />
<meta name="description" property="og:description" content="Compare reporting profiles" />
{% endblock %}

{% block reporting_title %}{% trans %}Compare side-by-side{% endtrans %}{% endblock %}

{% block reporting_content %}
<djaopsp-compare-samples id="compare-dashboard" inline-template>
  <div>

      <!-- individual accounts -->
      <query-individual-account inline-template
        data-humanize-date="humanizeDate"
        v-bind:disabled="datasetLoading"
        v-on:updatedataset="addDataset"
        ref="query">
        <div>
          <form id="individual-account-search" class="mt-4"
                @submit.prevent="validate()">
            <fieldset :disabled="disabled">
              <account-typeahead id="profile-query"
                            inline-template ref="account"
                            data-url="{{urls.api_account_candidates}}"
                            v-on:selectitem="selectAccount">
                <div>
                  <div class="input-group mb-3">
                    <span class="input-group-text">
                      <i class="fa-solid fa-spinner fa-spin" v-if="loading"></i>
                      <template v-else>
                        <i class="fa-solid fa-search" v-show="isEmpty"></i>
                        <i class="fa-solid fa-times" v-show="isDirty" @click="reset"></i>
                      </template>
                    </span>
                    <input autofocus
                           class="form-control"
                           type="text"
                           name="profile"
                           placeholder="{% trans %}Profile name or e-mail address ...{% endtrans %}"
                           autocomplete="off"
                           v-model="query"
                           @keydown.down="down"
                           @keydown.up="up"
                           @keydown.enter.prevent="hit"
                           @blur="clearAndForget"
                           @input="update"
                           ref="input"/>
                    <button  class="input-group-text"
                             role="button" href="#"
                             @click.prevent="resetAndReload"
                             aria-haspopup="true"
                             aria-expanded="false">
                        <i class="fa-solid fa-caret-down"></i>
                    </button>
                    {# Implementation note: If we use `d-block` instead of    #}
                    {# `style="display: block;"` the dropdown shows even when #}
                    {# `hasItems` is `False`.                                 #}
                    <ul id="candidateList" :class="'dropdown-menu nav-pills p-1 top-100 overflow-scroll' + (hasItems ? ' show' : '')"
                        style="max-height: 250px;">
                      <li v-for="(item, $item) in items" class="nav-item"
                          @mousedown="hit"
                          @mousemove="setActive($item)" v-if="item.printable_name">
                        <a :class="'nav-link px-3 py-2' + activeClass($item)">
                          <dl>
                            <dd v-html="highlightQuery(item.printable_name)"></dd>
                          </dl>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </account-typeahead>
              <div v-show="hasAccount && !hasSamples">
{% trans %}There is no data available for this profile.{% endtrans %}
              </div>
              <div v-show="hasAccount && hasSamples">
                  <label class="form-label">
                      {% trans %}Pick a response{% endtrans %}
                  </label>
                  <select class="form-control form-select"
                          name="sample"
                          v-model="selectedSample">
                      <option :value="rank" v-for="(sample, rank) in samples">[[sample.title + " " + sample.campaign.title]]</option>
                  </select>
                  <div class="form-actions mt-2"
                       v-show="selectedSample >= 0">
                      <button class="btn btn-primary w-100"
                              type="submit">
                          <i class="fa-solid fa-spinner fa-spin" v-show="disabled"></i>
                          {% trans %}Add{% endtrans %}
                      </button>
                  </div>
              </div>
            </fieldset>
          </form>{# /#individual-account-search #}
        </div>
      </query-individual-account>

    <div id="responses" class="mt-4" v-show="itemsLoaded && items.results.length > 0" v-cloak>
      <div class="row">
        <div class="col sticky-cell sticky-cell-top">
          <div class="sticky-cell-content-container">
            <div class="sticky-cell-content">
            </div>
          </div>
        </div>
        <div class="col sticky-cell sticky-cell-top"
             v-for="dataset in datasets"
             v-show="itemsLoaded && items.results.length > 0" v-cloak>
          <div class="sticky-cell-content-container">
            <div class="sticky-cell-content">
              <a :href="'{{urls.scorecard_base}}' + dataset.slug + '/'" target="_blank">[[dataset.title]]</a>
            </div>
          </div>
        </div>
      </div>{# /.row #}

      <div :id="getPracticeId(row)" class="row"
           v-for="row in getEntries(displayMetric.path)"
           v-show="itemsLoaded && items.results.length > 0" v-cloak>
        <div class="col">
          <div :class="indentHeader(row)">
            <div class="title" v-if="!isPractice(row)">
              <div>[[row.title]]</div>
            </div>
            <span class="title"
                  v-if="isPractice(row)">
                [[row.ref_num ? (row.ref_num + " ") : ""]][[row.title]]
                <a :href="isPractice(row) ? '{{urls.pages_index}}' + row.slug + '/' : ''"
                   target="_blank" aria-label="Help information"><i class="fa-solid fa-question-circle"></i></a>
            </span>
          </div>
        </div> {# /.col (title) #}

        <div class="col"
             v-for="dataset in datasets"
             v-if="isPractice(row)">
          <div v-for="practice in [getCompareAnswers(dataset, row)]">
              {% include "app/_scorecard_answer.html" %}
              {% include "app/scorecard/_secondary_answers.html" %}
          </div>
        </div>
      </div>{# /.row #}

    </div>{# /#responses #}
  </div>
</djaopsp-compare-samples>
{% endblock %}
