{% extends "app/reporting/base.html" %}

{% block localheadermeta %}
<title>{% trans profile=profile.printable_name %}Insights - {{profile}}{% endtrans %} | {% trans %}Practice Sharing Platform{% endtrans %}</title>
<meta property="og:title" content="Insights - {{profile.printable_name}} | Practice Sharing Platform" />
<meta property="og:image" content="{{request|site_url}}/static/img/og-image.png" />
<meta name="description" property="og:description" content="Insights reporting profiles" />
{% endblock %}

{% block reporting_title %}{% trans %}Insights{% endtrans %}{% endblock %}

{% block reporting_content %}
<div>
<a href="{{urls.reporting_insights_compare}}">{% trans %}Compare{% endtrans %}</a>
<a href="{{urls.reporting_insights_analyze}}">{% trans %}Analyze{% endtrans %}</a>
</div>
{% endblock %}
