{% extends "_form.html" %}

{% block form_block %}
<style>
.tooltip-inner {
  width: 350px !important;
  max-width: 350px;
}
</style>
<form{% if form.form_id %} id="{{form.form_id}}"{% endif %} class="form-horizontal"
    method="post" action=".{% if next %}/?next={{next}}{% endif %}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
    <fieldset style="margin: 0 15px;">
        <legend>Login Credentials</legend>
        {{input_field(form['user_full_name'], form.hide_labels, extra_label_classes="col-sm-5", extra_control_classes="col-sm-7")}}
        {{input_field(form['username'], form.hide_labels, extra_label_classes="col-sm-5", extra_control_classes="col-sm-7")}}
        {{input_field(form['email'], form.hide_labels, extra_label_classes="col-sm-5", extra_control_classes="col-sm-7")}}
        {{input_field(form['new_password1'], form.hide_labels, extra_label_classes="col-sm-5", extra_control_classes="col-sm-7")}}
        {{input_field(form['new_password2'], form.hide_labels, extra_label_classes="col-sm-5", extra_control_classes="col-sm-7")}}
    </fieldset>
    <fieldset style="margin: 0 15px;">
        <legend>Organization</legend>
        <div class="form-group{% if form.full_name.errors %} has-error{% endif %}">
            {% if not form.hide_labels %}
            <label class="col-sm-5 control-label requiredField">Organization name<span class="asteriskField"><a id="organization-tooltip" style="color:inherit;" href="" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="The &quot;Organization&quot; or reporting entity should align with the ability to influence and/or control policies and practices related to environmental impacts and improvement opportunities."> <i class="fa fa-question-circle" style="color: #e11"></i></a></span></label>
            {% endif %}
            <div class="col-sm-7 controls">
                <input class="form-control" type="text" name="full_name"{% if form.full_name.value() %} value="{{form.full_name.value()}}"{% endif %} style="float:right;">
                {% for error in form.full_name.errors %}
                <span class="help-block"><strong>{{error}}</strong></span>
                {% endfor %}
                {% if form.full_name.help_text %}
                <span class="help-block">{{form.full_name.help_text}}</span>
                {% endif %}
            </div>
        </div>
        <div class="form-group{% if form.function.errors %} has-error{% endif %}">
            {% if not form.hide_labels %}
            <label class="col-sm-5 control-label{% if form.function.field.required %} requiredField{% endif %}">{{form.function.label|safe}}{% if form.function.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
            {% endif %}
            <div class="col-sm-7 controls">
                <select class="form-control" name="{{form.function.name}}">
                    <option>Please select...</option>
                    <option {% if form.function.value() == "ehs" %}selected="1"{% endif %} value="ehs">EHS</option>
                    <option {% if form.function.value() == "operations" %}selected="1"{% endif %} value="operations">Operations</option>
                    <option {% if form.function.value() == "corporate" %}selected="1"{% endif %} value="corporate">Corporate Responsability/Sustainability</option>
                    <option {% if form.function.value() == "marketing" %}selected="1"{% endif %} value="marketing">Marketing/Communications</option>
                    <option {% if form.function.value() == "supply-chain" %}selected="1"{% endif %} value="supply-chain">Supply chain</option>
                    <option {% if form.function.value() == "other" %}selected="1"{% endif %} value="other">Other</option>
                </select>
                {% for error in form.function.errors %}
                <span class="help-block"><strong>{{error}}</strong></span>
                {% endfor %}
                {% if form.function.help_text %}
                <span class="help-block">{{form.function.help_text}}</span>
                {% endif %}
            </div>
        </div>
        {{input_field(form['parent_corporation'], form.hide_labels, extra_label_classes="col-sm-5", extra_control_classes="col-sm-7")}}
        {{input_field(form['country'], form.hide_labels, extra_label_classes="col-sm-5", extra_control_classes="col-sm-7")}}
        {{input_field(form['region'], form.hide_labels, extra_label_classes="col-sm-5", extra_control_classes="col-sm-7")}}
        {{input_field(form['locality'], form.hide_labels, extra_label_classes="col-sm-5", extra_control_classes="col-sm-7")}}
        {{input_field(form['postal_code'], form.hide_labels, extra_label_classes="col-sm-5", extra_control_classes="col-sm-7")}}
    </fieldset>
        <p>
By clicking on the &quot;Register&quot; button below,
<b>I signify that I have read and accept the
<a target="_blank" href="/legal/terms-of-use/">terms of service</a></b>.
        </p>
    <div class="">
        <div class="col-sm-offset-4 col-sm-4">
            <div class="form-action">
                <button type="submit" class="btn btn-block btn-primary btn-lg">Register</button>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</form>
{% endblock %}
