{% extends "_form.html" %}

{% block form_block %}
<style>
.tooltip-inner {
  width: 350px !important;
  max-width: 350px;
}
</style>
<form{% if form.form_id %} id="{{form.form_id}}"{% endif %} class="form-horizontal"
    method="post" action=".{% if next %}/?next={{next}}{% endif %}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
    <fieldset style="margin: 0 15px;">
        <legend>Login Credentials</legend>
        {{input_field(form['full_name'], form.hide_labels, extra_label_classes="col-sm-5", extra_control_classes="col-sm-7")}}
        {{input_field(form['username'], form.hide_labels, extra_label_classes="col-sm-5", extra_control_classes="col-sm-7")}}
        {{input_field(form['email'], form.hide_labels, extra_label_classes="col-sm-5", extra_control_classes="col-sm-7")}}
        {{input_field(form['new_password1'], form.hide_labels, extra_label_classes="col-sm-5", extra_control_classes="col-sm-7")}}
        {{input_field(form['new_password2'], form.hide_labels, extra_label_classes="col-sm-5", extra_control_classes="col-sm-7")}}
    </fieldset>
    <fieldset style="margin: 0 15px;">
        <legend>Organization</legend>
        <div class="form-group{% if form.organization_name.errors %} has-error{% endif %}">
            {% if not form.hide_labels %}
            <label class="col-sm-5 control-label requiredField">Organization name<span class="asteriskField"><a id="organization-tooltip" style="color:inherit;" href="" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="The &quot;Organization&quot; or reporting entity should align with the ability to influence and/or control policies and practices related to environmental impacts and improvement opportunities."> <i class="fa fa-question-circle" style="color: #e11"></i></a></span></label>
            {% endif %}
            <div class="col-sm-7 controls">
                <input class="form-control" type="text" name="organization_name"{% if form.organization_name.value() %} value="{{form.organization_name.value()}}"{% endif %} style="float:right;">
                {% for error in form.organization_name.errors %}
                <span class="help-block"><strong>{{error}}</strong></span>
                {% endfor %}
                {% if form.organization_name.help_text %}
                <span class="help-block">{{form.organization_name.help_text}}</span>
                {% endif %}
            </div>
        </div>
        <div class="form-group{% if form.function.errors %} has-error{% endif %}">
            {% if not form.hide_labels %}
            <label class="col-sm-5 control-label{% if form.function.field.required %} requiredField{% endif %}">{{ form.function.label|safe }}{% if form.function.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
            {% endif %}
            <div class="col-sm-7 controls">
                <select class="form-control" name="{{form.function.name}}">
                    <option>Please select...</option>
                    <option {% if form.function.value() == "ehs" %}selected="1"{% endif %} value="ehs">EHS</option>
                    <option {% if form.function.value() == "operations" %}selected="1"{% endif %} value="operations">Operations</option>
                    <option {% if form.function.value() == "corporate" %}selected="1"{% endif %} value="corporate">Corporate Responsability/Sustainability</option>
                    <option {% if form.function.value() == "marketing" %}selected="1"{% endif %} value="marketing">Marketing/Communications</option>
                    <option {% if form.function.value() == "other" %}selected="1"{% endif %} value="other">Other</option>
                </select>
                {% for error in form.function.errors %}
                <span class="help-block"><strong>{{error}}</strong></span>
                {% endfor %}
                {% if form.function.help_text %}
                <span class="help-block">{{form.function.help_text}}</span>
                {% endif %}
            </div>
        </div>
        <div class="form-group{% if form.industry.errors %} has-error{% endif %}">
            {% if not form.hide_labels %}
            <label class="col-sm-5 control-label{% if form.industry.field.required %} requiredField{% endif %}">{{ form.industry.label|safe }}{% if form.industry.field.required %}<span class="asteriskField">*</span>{% endif %}</label>
            {% endif %}
            <div class="col-sm-7 controls">
                <select class="form-control" name="{{form.industry.name}}">
                    <option>Please select...</option>
                    <option {% if form.industry.value() == "architectural-design" %}selected="1"{% endif %} value="architecture-design">Architectural Design</option>
                    <option {% if form.industry.value() == "boxes-and-enclosures" %}selected="1"{% endif %} value="boxes-and-enclosures">Boxes &amp; enclosures</option>
                    <option {% if form.industry.value() == "construction" %}selected="1"{% endif %} value="construction">Engineering, Procurement, Construction</option>
                    <option {% if form.industry.value() == "consulting" %}selected="1"{% endif %} value="consulting">Consulting (other than engineering)</option>
                    <option {% if form.industry.value() == "distribution" %}selected="1"{% endif %} value="distribution">Distribution</option>
                    <option {% if form.industry.value() == "distribution-transformers" %}selected="1"{% endif %} value="distribution-transformers">Distribution transformers</option>
                    <option {% if form.industry.value() == "energy-efficiency-contracting" %}selected="1"{% endif %} value="energy-efficiency-contracting">Energy efficiency contracting</option>
                    <option {% if form.industry.value() == "energy-utility" %}selected="1"{% endif %} value="energy-utility">Energy utility (supply chain)</option>
                    <option {% if form.industry.value() == "epc" %}selected="1"{% endif %} value="epc">Engineering, Procurement, Construction</option>
                    <option {% if form.industry.value() == "fabricated-metals" %}selected="1"{% endif %} value="fabricated-metals">Fabricated metals</option>
                    <option {% if form.industry.value() == "facilities-management-industry" %}selected="1"{% endif %} value="facilities-management-industry">Facilities management</option>
                    <option {% if form.industry.value() == "freight-and-shipping" %}selected="1"{% endif %} value="facilities-management-industry">Freight & shipping</option>
                    <option {% if form.industry.value() == "fuel-supply" %}selected="1"{% endif %} value="fuel-supply">Fuel supply</option>
                    <option {% if form.industry.value() == "general-contractors" %}selected="1"{% endif %} value="general-contractors">General contractors</option>
                    <option {% if form.industry.value() == "general-manufacturing" %}selected="1"{% endif %} value="general-manufacturing">General manufacturing</option>
                    <option {% if form.industry.value() == "interior-design" %}selected="1"{% endif %} value="interior-design">Interior Design</option>
                    <option {% if form.industry.value() == "marketing-and-communications" %}selected="1"{% endif %} value="marketing-and-communications">Marketing &amp; communications</option>
                    <option {% if form.industry.value() == "print-services" %}selected="1"{% endif %} value="print-services">Print services</option>
                    <option {% if form.industry.value() == "vehicle-equipment-and-parts" %}selected="1"{% endif %} value="vehicle-equipment-and-parts">Rental equipment & parts</option>
                    <option {% if form.industry.value() == "shipping-and-logistics" %}selected="1"{% endif %} value="shipping-and-logistics">Shipping & logistics</option>
                    <option {% if form.industry.value() == "wire-and-cable" %}selected="1"{% endif %} value="wire-and-cable">Wire &amp; cable</option>
                    <option {% if form.industry.value() == "not-listed" %}selected="1"{% endif %} value="not-listed">My industry segment is not listed</option>
                </select>
                {% for error in form.industry.errors %}
                <span class="help-block"><strong>{{error}}</strong></span>
                {% endfor %}
                {% if form.industry.help_text %}
                <span class="help-block">{{form.industry.help_text}}</span>
                {% endif %}
            </div>
        </div>
        {{input_field(form['parent_corporation'], form.hide_labels, extra_label_classes="col-sm-5", extra_control_classes="col-sm-7")}}
        {{input_field(form['country'], form.hide_labels, extra_label_classes="col-sm-5", extra_control_classes="col-sm-7")}}
        {{input_field(form['region'], form.hide_labels, extra_label_classes="col-sm-5", extra_control_classes="col-sm-7")}}
        {{input_field(form['locality'], form.hide_labels, extra_label_classes="col-sm-5", extra_control_classes="col-sm-7")}}
        {{input_field(form['postal_code'], form.hide_labels, extra_label_classes="col-sm-5", extra_control_classes="col-sm-7")}}
    </fieldset>
        <p>
By clicking on the &quot;Register&quot; button below,
<b>I signify that I have read and accept the
<a target="_blank" href="/legal/terms-of-use/">terms of service</a></b>.
        </p>
    <div class="">
        <div class="col-sm-offset-4 col-sm-4">
            <div class="form-action">
                <button type="submit" class="btn btn-block btn-primary btn-lg">Register</button>
            </div>
        </div>
        <div style="clear: both;"></div>
    </div>
</form>
{% endblock %}
