{% extends "accounts/base.html" %}

{% block content %}
<div class="backdrop">
  <div class="container">
    <div class="card panel-grey">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="page-header my-4">
              <h1 class="text-center">Sign up</h1>
            </div>
            <div class="text-center mb-2">
              {% trans %}Already have an account?{% endtrans %}
              <a id="login-instead" href="{{urls.user.login}}{% if next %}?next={{next}}{% endif %}">{% trans %}Sign In{% endtrans %}</a>
            </div>
            <div>
              {% if form %}
              {% include "accounts/_register_form.html" %}
              {% endif %}
            </div>
            <div class="text-center my-2">
              {% trans %}Already have an account?{% endtrans %}
              <a id="login-instead" href="{{urls.user.login}}{% if next %}?next={{next}}{% endif %}">{% trans %}Sign In{% endtrans %}</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="page-header my-4">
              <h2>Why Register?</h2>
            </div>
            <p>
The entire purpose of The Sustainability Project (TSP) is to promote
environmental sustainability best practices across entire supply chains.
            </p>
            <p>
When you register, you will be able to:
            </p>
            <div class="row">
              <div class="col-sm-3 text-center">
                <i class="home-icon fa fa-bar-chart fa-4x"></i>
              </div>
              <div class="col-sm-7">
Benchmark your company's environmental sustainability performance against
industry peers.
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-sm-3 text-center">
                <i class="home-icon fa fa-file fa-4x"></i>
              </div>
              <div class="col-sm-7">
Create improvement plans with clearly spelled out return-on-investment (ROI)
to share with your colleagues and executives.
              </div>
            </div>
            <div class="row mt-4">
              <div class="col-sm-3 text-center">
                <i class="home-icon fa fa-share-alt fa-4x"></i>
              </div>
              <div class="col-sm-7">
Promote your company's environmental sustainability achievements and plans
with clients, customers or investors that require it; either as part of a
request for proposal (RFP) and/or on-going suppliers relations.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        <div class="row my-5" style="color:black;">
          <div class="offset-md-2 col-md-8">
            <p>
To evaluate and promote environmental sustainability best practices, this website
relies on a transparent government process.
            </p>
            <p>
The source code for the website is
<a href="https://en.wikipedia.org/wiki/Open-source_model" target="_blank">Open Source</a>;
you can review yourself how scores are computed. The best practices content is
available under a <a href="https://en.wikipedia.org/wiki/Creative_Commons_license" target="_blank">Creative Common License</a>;
you are free to copy, use and distribute what you read of this website.
            </p>
            <p>
Unless you specify the release of data, all information you provide for
benchmarking purposes is treated as
<span style="text-decoration: underline;">confidential and anonymous</span>
and displayed only in aggregated format.
            </p>
            <p>
We encourage you to read the <a target="_blank" href="{{'/legal/terms-of-use/'|site_prefixed}}">terms of service</a>
for details. If you want to participate in the governance of this site,
please <a href="{{'/contact'|site_prefixed}}">contact us</a>.
            </p>
</div>
        </div>
  </div>
</div>
{% endblock content %}
