# Dev and Deploy
pylint==2.5.3
pylint-django==2.0.15

# To run with DEBUG=1
django-debug-toolbar==3.2.2
django-extensions==3.0.2
Faker==2.0.0
sqlparse==0.4.2 # required by django-debug-toolbar without being a prerequisite
supervisor==4.2.0

# To run with API_DEBUG=1
docutils==0.18.1

# To generate documentation
pyyaml==6.0
Sphinx==3.1.2
sphinxcontrib-httpdomain==1.7.0
uritemplate==4.1.1
