# Requirements running on Python3.10
#
# `tiktoken` (AI audits) requires Python>=3.8

Django==4.2.23
djangorestframework==3.15.2       # 3.15 requires Django>=4.2, Python>=3.8
                                  # 3.13.1 is last version supporting Django 2.2
                                  # 3.12.4 not compatible with Django4.2
djaodjin-deployutils==0.14.1
djaodjin-extended-templates==0.4.9
djaodjin-pages==0.8.6
djaodjin-survey==0.17.3
docutils==0.20.1          # Technically only needed for schema generation but
                          # djangorestframework will import regardless.
gunicorn==23.0.0
jinja2==3.1.6             # >=3.1 not available with Py36?
html5lib==1.1
monotonic==1.6
openpyxl==3.1.5
python-pptx==0.6.21
pytz==2025.2

# These have C/C++ components, they can be installed through the recent wheel
# pip feature or through the native package manager
cairocffi==1.7.1                  # >=1.3.0 not available with Py36?
coverage==6.3.2                   # >=6.3.2 not available with Py36?
cryptography==43.0.1              # 38.0.3 for pyOpenSSL 22.1.0 compatibility
psycopg2-binary==2.9.3
setproctitle==1.2.3

# Dev and Deploy
# --------------
Babel==2.12.1
# To run with DEBUG=1
django-debug-toolbar==3.8.1 ; python_version < "3.9"
django-debug-toolbar==5.2.0 ; python_version >= "3.9"
                                  # 3.8.1 fails with Django5.2+
                                  # 3.4+ requires Django>=3.2
                                  # 3.2.4 fails with SQLPanel is not scriptable
                                  # 2.2.1 is the last version for Django2.2
                                  # 1.11 does not support Django 2.2

# We cannot build the assets (i.e. webpack-conf-paths.json) unless DEBUG=1
# and django-extensions is installed.
django-extensions==3.2.3          # required by Django==4.0
Faker==2.0.0
sqlparse==0.5.3                   # required by django-debug-toolbar
                                  # without being a prerequisite

# To run with API_DEBUG=1
# static analysis
pylint==2.17.5
pylint-django==2.5.3

# To generate documentation (Read-the-docs and API reference)
coreapi==2.3.3
drf-spectacular==0.27.2
Pygments==2.16.1
pyyaml==6.0
Sphinx==7.2.6                     # Requires Python>=3.8?
sphinx_rtd_theme==2.0.0
sphinxcontrib-httpdomain==1.8.1
sphinxcontrib-websupport==1.2.4
uritemplate==4.1.1

# For ESG AI audit
tiktoken==0.4.0              # Requires Python>=3.8
networkx==3.4.2              # indirectly required by torch 2.0.0a0+gitunknown
openai==0.27.8
# XXX install of pikepdf fails with
# g++ error: unrecognized command line option ‘-std=c++20’
#ocrmypdf==14.3.0
PyPDF2==3.0.1
