cssmin==0.2.0
Django==1.9.9
django-assets==0.12
django-contrib-comments==1.8.0
django-crispy-forms==1.6.1
django-urldecorators==0.6
djangorestframework==3.3.3
#djaodjin-answers==0.1
djaodjin-deployutils==0.4.0
#djaodjin-extended-templates==0.1.8
#djaodjin-pages==0.1.2.dev0
#djaodjin-saas==0.2.5
#djaodjin-survey==0.1.6
gunicorn==19.7.1
jsmin==2.2.2
yuicompressor==2.4.8
