{% extends "app/reporting/base.html" %}

{% block localheadermeta %}
<title>{{campaign.title}} Responses - {{profile.printable_name}} | Practice Sharing Platform</title>
<meta property="og:image" content="https://djaodjin.com/static/img/og-image.png" />
<meta property="og:title" content="{{campaign.title}} Responses - {{profile.printable_name}} | Practice Sharing Platform" />
<meta property="og:url" content="https://www.tspproject.org/" />
<meta name="description" property="og:description" content="Browse responses to {{campaign.title}}" />
{% endblock %}


{% block reporting_title %}{% trans %}Accessible responses{% endtrans %}{% endblock %}


{% block reporting_content %}
<reporting-organizations inline-template>
  <div>
    <div class="row">
      <div class="col-sm-6" v-show="itemsLoaded" v-cloak>
        [[items.count]] {% trans %}accessible profiles{% endtrans %}
      </div>
      {% if urls.download %}
      <div class="col-sm-6 text-right">
        <a class="btn btn-primary{% if request.path == urls.download %} active{% endif %}" id="xlsx-download-btn" :href="'{{urls.download}}' + getQueryString(['page'])">
          <i class="fa fa-file-text"></i> {% trans %}Download (xlsx){% endtrans %}
        </a>
      </div>
      {% endif %}
    </div>
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th class="sticky-cell sticky-cell-top">
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
              </div>
            </div>
          </th>
          <th class="sticky-cell sticky-cell-top">
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
                {% trans %}Organization/profile{% endtrans %}
                <button class="btn btn-link btn-sort"
                        @click.prevent="sortBy('full_name')">
                  <i :class="sortIcon('full_name')"></i>
                </button>
              </div>
            </div>
          </th>
          <th class="sticky-cell sticky-cell-top">
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
                <button class="btn btn-sort">{% trans %}Tags{% endtrans %}</button>
              </div>
            </div>
          </th>
          <th class="sticky-cell sticky-cell-top text-center"
              v-for="(label, index) in items.labels.slice().reverse()"
              v-show="itemsLoaded && items.results.length > 0" v-cloak>
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
                  <button class="btn btn-sort">[[label]]</button>
                  <!--
                  <select class="form-select"
                          v-model="params.status"
                          @change="reload()">
                      <option value="">{% trans %}All{% endtrans %}</option>
                      <option value="verified"><i class="fa fa-certificate" style="color: green;"></i> verified</option>
                      <option value="completed"><i class="fa fa-circle" style="color: green;"></i> completed</option>
                      <option value="responded"><i class="fa fa-circle" style="color: yellow;"></i> responded</option>
                      <option value="declined"><i class="fa fa-circle" style="color: red;"></i> declined</option>
                      <option value="no-data"><i class="fa fa-circle" style="color: red;"></i> no-data</option>
                  </select>
                  -->
              </div>
            </div>
          </th>
          <th class="sticky-cell sticky-cell-top">
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="2">
            <form @submit.prevent="reload()">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="from-inp"><i class="fa fa-search"></i></span>
                </div>
                <input class="form-control"
                       type="text"
                       placeholder="{% trans %}Type Organization/profile ...{% endtrans %}"
                       v-model="params.q" />
                <div class="input-group-append">
                    <button class="btn btn-secondary btn-sm"
                            type="submit"
                            :disabled="!outdated">{% trans %}Search{% endtrans %}</button>
                </div>
              </div>
            </form>
          </td>
          <td :colspan="items.labels.length + 2" v-show="itemsLoaded">
          </td>
        </tr>
      </tbody>
      <tbody v-show="!itemsLoaded">
        <tr>
          <td colspan="3">
            <h3  class="text-center"><i class="fa fa-refresh fa-spin fa-2x"></i></h3>
          </td>
        </tr>
      </tbody>
      <tbody v-show="itemsLoaded" v-cloak>
        <tr v-show="items.results.length == 0">
          <td colspan="3">{% trans profile=profile.printable_name %}No profile accessible for {{profile}}{% endtrans %}</td>
        </tr>
        <tr :id="received.account"
            :class="received.supplier_initiated ? 'supplier-initiated' : ''"
            v-for="(received, index) in grants.results"
            v-show="itemsLoaded && grants.results.length > 0" v-cloak>
            <td class="text-center" colspan="3">
              <em>{% trans profile_name="[[received.account]]" %}{{profile_name}} would like to share their response with you.{% endtrans %}</em>
            </td>
            <td :colspan="items.labels.length + 1">
                <button class="btn btn-secondary"
                        @click.prevent="ignore(received, index)">
                    {% trans %}Ignore{% endtrans %}
                </button>
                <button class="btn btn-primary"
                        @click.prevent="accept(received, index)">
                    {% trans %}Accept{% endtrans %}
                </button>
            </td>
        </tr>
        <tr :id="entry.slug"
            :class="entry.supplier_initiated ? 'supplier-initiated' : ''"
            v-for="(entry, index) in items.results"
            v-show="itemsLoaded && items.results.length > 0" v-cloak>
        <!-- profile whose report was requested at some point. -->
        <td>
          <span>[[index + 1]]</span><br />
        </td>
        <td>
          {% include "app/reporting/_profile_card.html" %}
        </td>
        <td>
          {% include "app/reporting/_edit_tags.html" %}
        </td>
        <td class="text-center"
            v-for="val in entry.values.slice().reverse()">
          <i class="fa fa-certificate" style="color: green;"
             v-if="val[1] === 'verified'"></i>
          <i class="fa fa-circle" style="color: green;"
             v-if="val[1] === 'completed'"></i>
          <i class="fa fa-circle" style="color: yellow;"
             v-if="val[1] === 'responded'"></i>
          <i class="fa fa-circle" style="color: red;"
             v-if="val[1] === 'declined'"></i>
          <i class="fa fa-circle" style="color: grey;"
             v-if="val[1] === 'no-data'"></i>
          <br />
          <a :href="val[2]" v-if="val[1] === 'verified' || val[1] === 'completed'">
              <span>{% trans %}view{% endtrans %}</span>
          </a>
        </td>
        <td>
          <button class="btn btn-danger btn-sm" @click.prevent="remove($event, index)" data-trip data-trip-index="3" data-trip-content="<p>Click here to cancel access request.</p>" data-trip-position="s">
            <i class="fa fa-trash-o"></i>
          </button>
        </td>
        </tr>
      </tbody>
    </table>
    {% include "_pagination.html" %}
  </div>
</reporting-organizations>
{% endblock %}
