{% extends "app/track/base.html" %}

{% block app_content %}
<div class="container">
  <h1 class="text-center pt-4">Tracking Waste</h1>
  <data-tracker inline-template
    id="panel-icons" class="panel-icons">
    <div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 text-center" style="display:table-row;">
            <div class="row-icons">
              <div style="display:inline-block;float:left;flex:auto;">
                <div class="header-tuple">
                  <ul class="nav nav-tabs squared-tabs">
                    <li :class="'nav-item squared-tabs-li' + (isActiveTile('waste-hazardous') ? ' active': '')"
                        v-cloak>
                      <a class="nav-link icon-inner orange"
                         href="#tab-waste-hazardous"
                         @click="toggleTile($event, 'waste-hazardous')">
                        <img class="icon-equipment" src="{{'/static/img/icons/production.png'|asset}}">
                        <div class="icon-caption">{% trans %}Hazardous Waste{% endtrans %}</div>
                      </a>
                    </li>
                    <li :class="'nav-item squared-tabs-li' + (isActiveTile('waste-non-hazardous') ? ' active': '')"
                        v-cloak>
                      <a class="nav-link icon-inner orange"
                         href="#tab-waste-non-hazardous"
                         @click="toggleTile($event, 'waste-non-hazardous')">
                        <img class="icon-equipment" src="{{'/static/img/icons/truck.png'|asset}}">
                        <div class="icon-caption">{% trans %}Non-Hazardous Waste{% endtrans %}</div>
                      </a>
                    </li>
                    <li :class="'nav-item squared-tabs-li' + (isActiveTile('waste-recycled') ? ' active': '')"
                        v-cloak>
                      <a class="nav-link icon-inner orange"
                         href="#tab-waste-recycled"
                         @click="toggleTile($event, 'waste-recycled')">
                        <img class="icon-equipment" src="{{'/static/img/icons/hvac.png'|asset}}">
                        <div class="icon-caption">{% trans %}Waste Recycled and Diverted{% endtrans %}</div>
                      </a>
                    </li>
                  </ul>
                </div> {# .header-tuple #}
              </div>
            </div> {# .row-icons #}
          </div> {# .col-md-12 #}
        </div> {# .row #}

        {% block icons_content %}
        {# expanded tabs go here #}
        <div :class="'tab-content collapse' + (activeTile ? ' show' : '')">
          <div role="tabpanel"
               :class="'tab-pane' + (isActiveTile('waste-hazardous') ? ' active': '')"
               id="tab-waste-hazardous"
               v-cloak>
            <data-metric-tracker inline-template>
              <div>
                <div>
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th colspan="6">
                        </th>
                      </tr>
                      <tr>
                        <th>Facility</th>
                        <th>Waste type</th>
                        <th>Allocation</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Waste amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="item in items.results" v-show="itemsLoaded && items.results.length > 0">
                        <td>[[item.extra.facility]]</td>
                        <td>[[humanizeWasteType(item.extra.waste_type)]]</td>
                        <td>[[item.extra.allocation]]</td>
                        <td>
                          <input class="form-control" type="date"
                                 v-model="item.created_at">
                        </td>
                        <td>
                          <input class="form-control" type="date"
                                 v-model="item.ends_at">
                        </td>
                        <td>
                          <div class="input-group">
                            <input class="form-control" type="integer"
                                   v-model="item.amount">
                            <div class="input-group-append">
                              <select class="form-control"
                                   v-model="item.unit">
                                <option value="tons">Metric tons</option>
                                <option value="lbs">Pounds</option>
                                <option value="m3">Cubic meters (m<sup>3</sup>)</option>
                                <option value="kiloliters">Kilo liters</option>
                                <option value="ft3">Cubic feet (ft.<sup>3</sup>)</option>
                                <option value="gallons">US Gallon</option>
                              </select>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input class="form-control" type="text" v-model="newItem.facility" />
                        </td>
                        <td>
                          <select class="form-control" name="waste-type"
                                  v-model="newItem.waste_type">
                            <option value="unspecified">Unspecified</option>
                          </select>
                        </td>
                        <td>
                          <input class="form-control" type="text" v-model="newItem.allocation" />
                        </td>
                        <td>
                          <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                          <button class="btn btn-secondary"
                              @click.prevent="addItem">Add row</button>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="text-center">
                    <button class="btn btn-primary"
                            @click.prevent="save">Record</button>
                  </div>
                </div>
              </div>
            </data-metric-tracker>
          </div>{# /#tab-waste-hazardous #}

          <div role="tabpanel"
               :class="'tab-pane' + (isActiveTile('waste-non-hazardous') ? ' active': '')"
               id="tab-waste-non-hazardous"
               v-cloak>
            <data-metric-tracker inline-template>
              <div>
                <div>
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th colspan="6">
                        </th>
                      </tr>
                      <tr>
                        <th>Facility</th>
                        <th>Waste type</th>
                        <th>Allocation</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Waste amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="item in items.results" v-show="itemsLoaded && items.results.length > 0">
                        <td>[[item.extra.facility]]</td>
                        <td>[[humanizeWasteType(item.extra.waste_type)]]</td>
                        <td>[[item.extra.allocation]]</td>
                        <td>
                          <input class="form-control" type="date"
                                 v-model="item.created_at">
                        </td>
                        <td>
                          <input class="form-control" type="date"
                                 v-model="item.ends_at">
                        </td>
                        <td>
                          <div class="input-group">
                            <input class="form-control" type="integer"
                                   v-model="item.amount">
                            <div class="input-group-append">
                              <select class="form-control"
                                   v-model="item.unit">
                                <option value="tons">Metric tons</option>
                                <option value="lbs">Pounds</option>
                                <option value="m3">Cubic meters (m<sup>3</sup>)</option>
                                <option value="kiloliters">Kilo liters</option>
                                <option value="ft3">Cubic feet (ft.<sup>3</sup>)</option>
                                <option value="gallons">US Gallon</option>
                              </select>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input class="form-control" type="text" v-model="newItem.facility" />
                        </td>
                        <td>
                          <select class="form-control" name="waste-type"
                                  v-model="newItem.waste_type">
                            <option value="unspecified">Unspecified</option>
                          </select>
                        </td>
                        <td>
                          <input class="form-control" type="text" v-model="newItem.allocation" />
                        </td>
                        <td>
                          <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                          <button class="btn btn-secondary"
                              @click.prevent="addItem">Add row</button>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="text-center">
                    <button class="btn btn-primary"
                            @click.prevent="save">Record</button>
                  </div>
                </div>
              </div>
            </data-metric-tracker>
          </div>{# /#tab-waste-non-hazardous #}


          <div role="tabpanel"
               :class="'tab-pane' + (isActiveTile('waste-recycled') ? ' active': '')"
               id="tab-waste-recycled"
               v-cloak>
            <data-metric-tracker inline-template>
              <div>
                <div>
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th colspan="6">
                        </th>
                      </tr>
                      <tr>
                        <th>Facility</th>
                        <th>Waste type</th>
                        <th>Allocation</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Waste amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="item in items.results" v-show="itemsLoaded && items.results.length > 0">
                        <td>[[item.extra.facility]]</td>
                        <td>[[humanizeWasteType(item.extra.waste_type)]]</td>
                        <td>[[item.extra.allocation]]</td>
                        <td>
                          <input class="form-control" type="date"
                                 v-model="item.created_at">
                        </td>
                        <td>
                          <input class="form-control" type="date"
                                 v-model="item.ends_at">
                        </td>
                        <td>
                          <div class="input-group">
                            <input class="form-control" type="integer"
                                   v-model="item.amount">
                            <div class="input-group-append">
                              <select class="form-control"
                                   v-model="item.unit">
                                <option value="tons">Metric tons</option>
                                <option value="lbs">Pounds</option>
                                <option value="m3">Cubic meters (m<sup>3</sup>)</option>
                                <option value="kiloliters">Kilo liters</option>
                                <option value="ft3">Cubic feet (ft.<sup>3</sup>)</option>
                                <option value="gallons">US Gallon</option>
                              </select>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input class="form-control" type="text" v-model="newItem.facility" />
                        </td>
                        <td>
                          <select class="form-control" name="waste-type"
                                  v-model="newItem.waste_type">
                            <option value="unspecified">Unspecified</option>
                          </select>
                        </td>
                        <td>
                          <input class="form-control" type="text" v-model="newItem.allocation" />
                        </td>
                        <td>
                          <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                          <button class="btn btn-secondary"
                              @click.prevent="addItem">Add row</button>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="text-center">
                    <button class="btn btn-primary"
                            @click.prevent="save">Record</button>
                  </div>
                </div>
              </div>
            </data-metric-tracker>
          </div>{# /#tab-waste-recycled #}
        </div>
        {% endblock %}
      </div> {# .panel-body #}
      {% block panel_footer %}
      <div class="card-footer" style="padding:0;">
      </div>
      {% endblock %}
    </div>
  </data-tracker> {# .panel-icons #}
</div>
{% endblock %}
