{% extends "app/track/base.html" %}

{% block app_content %}
<div class="container">
  <h1 class="text-center pt-4">Tracking Water</h1>
  <data-tracker inline-template id="panel-icons">
    <div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12 text-center" style="display:table-row;">
            <div class="row-icons">
              <div style="display:inline-block;float:left;flex:auto;">
                <div class="header-tuple">
                  <ul class="nav nav-tabs squared-tabs">
                    <li :class="'nav-item squared-tabs-li' + (isActiveTile('water-withdrawn') ? ' active': '')"
                        v-cloak>
                      <a class="nav-link icon-inner orange"
                         href="#tab-water-withdrawn"
                         @click="toggleTile($event, 'water-withdrawn')">
                        <img class="icon-equipment" src="{{'/static/img/icons/production.png'|asset}}">
                        <div class="icon-caption">{% trans %}Water withdrawn{% endtrans %}</div>
                      </a>
                    </li>
                    <li :class="'nav-item squared-tabs-li' + (isActiveTile('water-discharged') ? ' active': '')"
                        v-cloak>
                      <a class="nav-link icon-inner orange"
                         href="#tab-water-discharged"
                         @click="toggleTile($event, 'water-discharged')">
                        <img class="icon-equipment" src="{{'/static/img/icons/truck.png'|asset}}">
                        <div class="icon-caption">{% trans %}Water discharged{% endtrans %}</div>
                      </a>
                    </li>
                    <li :class="'nav-item squared-tabs-li' + (isActiveTile('water-recycled') ? ' active': '')"
                        v-cloak>
                      <a class="nav-link icon-inner orange"
                         href="#tab-water-recycled"
                         @click="toggleTile($event, 'water-recycled')">
                        <img class="icon-equipment" src="{{'/static/img/icons/hvac.png'|asset}}">
                        <div class="icon-caption">{% trans %}Water Recycled{% endtrans %}</div>
                      </a>
                    </li>
                  </ul>
                </div> {# .header-tuple #}
              </div>
            </div> {# .row-icons #}
          </div> {# .col-md-12 #}
        </div> {# .row #}

        {% block icons_content %}
        {# expanded tabs go here #}
        <div :class="'tab-content collapse' + (activeTile ? ' show' : '')">
          <div role="tabpanel"
               :class="'tab-pane' + (isActiveTile('water-withdrawn') ? ' active': '')"
               id="tab-water-withdrawn"
               v-cloak>
            <water-tracker inline-template :init-url="'{{urls.api_track_water_withdrawn}}'">
              <div>
                <div>
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>
                        </th>
                        <th>
                          <div class="input-group me-2">
                            <label class="input-group-text">From</label>
                            <input class="form-control" type="date"
                                   v-model="starts_at">
                          </div>
                        </th>
                        <th>
                          <div class="input-group me-2">
                            <label class="input-group-text">To</label>
                            <input class="form-control" type="date"
                                   v-model="ends_at">
                          </div>
                        </th>
                      </tr>
                      <tr>
                        <th>Facility</th>
                        <th>Water type</th>
                        <th>Water amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr :id="item.slug"
                          v-for="item in items.results"
                          v-show="itemsLoaded && items.results.length > 0">
                        <td>
                          {% include "app/track/_profile_descr.html" %}
                        </td>
                        <td>[[humanizeWaterType(item.extra.water_type)]]</td>
                        <td>
                          <div class="input-group">
                            <input class="form-control" type="number" min="0"
                                   name="measured"
                                   v-model="item.measured">
                            <div class="input-group-append">
                              <select class="form-control form-select"
                                   name="unit"
                                   v-model="item.unit">
                                <option value="t">Metric tons</option>
                                <option value="lbs">Pounds</option>
                                <option value="m3">Cubic meters (m<sup>3</sup>)</option>
                                <option value="kiloliters">Kilo liters</option>
                                <option value="ft3">Cubic feet (ft.<sup>3</sup>)</option>
                                <option value="gallons">US Gallon</option>
                              </select>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input class="form-control" type="text"
                                 name="full_name"
                                 v-model="newItem.full_name" />
                        </td>
                        <td>
                          <select class="form-control form-select"
                                  name="water-type"
                                  v-model="newItem.extra.water_type">
                            <option value="unspecified">Unspecified</option>
                          </select>
                        </td>
                        <td>
                          <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                          <button class="btn btn-primary add-row"
                              @click.prevent="addItem">{% trans %}Add row{% endtrans %}</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="row">
                    <div class="offset-md-4 col-md-4 text-center">
                      <button class="btn btn-primary record my-3"
                              @click.prevent="save">{% trans %}Record{% endtrans %}</button>
                    </div>
                    <div class="col-md-4 text-end my-4">
                      <a href="../values/">{% trans %}View recorded data{% endtrans %}</a>
                    </div>
                  </div>
                </div>
              </div>
            </water-tracker>
          </div>{# /#tab-water-withdrawn #}

          <div role="tabpanel"
               :class="'tab-pane' + (isActiveTile('water-discharged') ? ' active': '')"
               id="tab-water-discharged"
               v-cloak>
            <water-tracker inline-template :init-url="'{{urls.api_track_water_discharged}}'">
              <div>
                <div>
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>
                        </th>
                        <th>
                          <div class="input-group me-2">
                            <label class="input-group-text">From</label>
                            <input class="form-control" type="date"
                                   v-model="starts_at">
                          </div>
                        </th>
                        <th>
                          <div class="input-group me-2">
                            <label class="input-group-text">To</label>
                            <input class="form-control" type="date"
                                   v-model="ends_at">
                          </div>
                        </th>
                      </tr>
                      <tr>
                        <th>Facility</th>
                        <th>Water type</th>
                        <th>Water amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr :id="item.slug"
                          v-for="item in items.results"
                          v-show="itemsLoaded && items.results.length > 0">
                        <td>
                          {% include "app/track/_profile_descr.html" %}
                        </td>
                        <td>[[humanizeWaterType(item.extra.water_type)]]</td>
                        <td>
                          <div class="input-group">
                            <input class="form-control" type="number" min="0"
                                   name="measured" v-model="item.measured">
                            <div class="input-group-append">
                              <select class="form-control form-select"
                                   name="unit" v-model="item.unit">
                                <option value="t">Metric tons</option>
                                <option value="lbs">Pounds</option>
                                <option value="m3">Cubic meters (m<sup>3</sup>)</option>
                                <option value="kiloliters">Kilo liters</option>
                                <option value="ft3">Cubic feet (ft.<sup>3</sup>)</option>
                                <option value="gallons">US Gallon</option>
                              </select>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input class="form-control" type="text"
                                 name="full_name"
                                 v-model="newItem.full_name" />
                        </td>
                        <td>
                          <select class="form-control form-select"
                                  name="water-type"
                                  v-model="newItem.extra.water_type">
                            <option value="unspecified">Unspecified</option>
                          </select>
                        </td>
                        <td>
                          <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                          <button class="btn btn-primary add-row"
                              @click.prevent="addItem">{% trans %}Add row{% endtrans %}</button>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="row">
                    <div class="offset-md-4 col-md-4 text-center">
                      <button class="btn btn-primary record my-3"
                              @click.prevent="save">{% trans %}Record{% endtrans %}</button>
                    </div>
                    <div class="col-md-4 text-end my-4">
                      <a href="../values/">{% trans %}View recorded data{% endtrans %}</a>
                    </div>
                  </div>
                </div>
              </div>
            </water-tracker>
          </div>{# /#tab-water-discharged #}


          <div role="tabpanel"
               :class="'tab-pane' + (isActiveTile('water-recycled') ? ' active': '')"
               id="tab-water-recycled"
               v-cloak>
            <water-tracker inline-template :init-url="'{{urls.api_track_water_recycled}}'">
              <div>
                <div>
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>
                        </th>
                        <th>
                          <div class="input-group me-2">
                            <label class="input-group-text">From</label>
                            <input class="form-control" type="date"
                                   v-model="starts_at">
                          </div>
                        </th>
                        <th>
                          <div class="input-group me-2">
                            <label class="input-group-text">To</label>
                            <input class="form-control" type="date"
                                   v-model="ends_at">
                          </div>
                        </th>
                      </tr>
                      <tr>
                        <th>Facility</th>
                        <th>Water type</th>
                        <th>Water amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr :id="item.slug"
                          v-for="item in items.results"
                          v-show="itemsLoaded && items.results.length > 0">
                        <td>
                          {% include "app/track/_profile_descr.html" %}
                        </td>
                        <td>[[humanizeWaterType(item.extra.water_type)]]</td>
                        <td>
                          <div class="input-group">
                            <input class="form-control" type="number" min="0"
                                   name="measured"
                                   v-model="item.measured">
                            <div class="input-group-append">
                              <select class="form-control form-select"
                                   name="unit"
                                   v-model="item.unit">
                                <option value="t">Metric tons</option>
                                <option value="lbs">Pounds</option>
                                <option value="m3">Cubic meters (m<sup>3</sup>)</option>
                                <option value="kiloliters">Kilo liters</option>
                                <option value="ft3">Cubic feet (ft.<sup>3</sup>)</option>
                                <option value="gallons">US Gallon</option>
                              </select>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <input class="form-control" type="text"
                                 name="full_name"
                                 v-model="newItem.full_name" />
                        </td>
                        <td>
                          <select class="form-control form-select"
                                  name="water-type"
                                  v-model="newItem.extra.water_type">
                            <option value="unspecified">Unspecified</option>
                          </select>
                        </td>
                        <td>
                          <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                          <button class="btn btn-primary add-row"
                              @click.prevent="addItem">{% trans %}Add row{% endtrans %}</button>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="row">
                    <div class="offset-md-4 col-md-4 text-center">
                      <button class="btn btn-primary record my-3"
                              @click.prevent="save">{% trans %}Record{% endtrans %}</button>
                    </div>
                    <div class="col-md-4 text-end my-4">
                      <a href="../values/">{% trans %}View recorded data{% endtrans %}</a>
                    </div>
                  </div>
                </div>
              </div>
            </water-tracker>
          </div>{# /#tab-water-recycled #}
        </div>
        {% endblock %}
      </div> {# .panel-body #}
      {% block panel_footer %}
      <div class="card mt-4">
        <div class="card-footer">
        </div>
      </div>
      {% endblock %}
    </div>
  </data-tracker> {# .panel-icons #}
</div>
{% endblock %}

{% block track_scripts %}
<script type="text/javascript">
Vue.prototype.$water_type = {
    "unspecified": {
        "title": "Unspecified"
    },
};
</script>
{% endblock %}
