@import '~vue-cli-plugin-vuetify-preset-rally/preset/variables.scss';

$xsResponsiveFontFactor: 0.8;

h1 {
  text-align: center;
  font-weight: 500;
  margin-top: 24px;
  font-size: calc(
    #{map-deep-get($headings, 'h2', 'size')} * #{$xsResponsiveFontFactor}
  );
  @media #{map-get($display-breakpoints, 'md-and-up')} {
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: map-deep-get($headings, 'h2', 'size');
  }

  &.assessment-title {
    margin-top: 0;
    line-height: 2rem;
    font-size: calc(
      #{map-deep-get($headings, 'h4', 'size')} * #{$xsResponsiveFontFactor}
    );

    @media #{map-get($display-breakpoints, 'md-and-up')} {
      font-size: map-deep-get($headings, 'h4', 'size');
    }
  }
}

.assessment-container {
  padding: 1rem 0;

  @media #{map-get($display-breakpoints, 'sm-and-up')} {
    padding: 3rem 2rem;
  }
}

#tsp-supplier {
  .v-navigation-drawer__border {
    @media #{map-get($display-breakpoints, 'lg-and-up')} {
      width: 1px;
      background-color: map-deep-get($material-dark, 'status-bar', 'regular');
    }
  }
}
