@import '~vue-cli-plugin-vuetify-preset-rally/preset/variables.scss';
@import './variables.scss';

h1 {
  padding-top: 0;
  text-align: center;
  font-weight: 500;
  font-size: calc(
    #{map-deep-get($headings, 'h3', 'size')} * #{$xs-responsive-font-factor}
  );
  @media #{map-get($display-breakpoints, 'md-and-up')} {
    font-size: map-deep-get($headings, 'h3', 'size');
  }

  &.assessment-title {
    line-height: 2rem;
    font-size: calc(
      #{map-deep-get($headings, 'h4', 'size')} * #{$xs-responsive-font-factor}
    );

    @media #{map-get($display-breakpoints, 'md-and-up')} {
      font-size: map-deep-get($headings, 'h4', 'size');
    }
  }
}

ul {
  padding: 0;
  list-style: none;
}
