@import '~vue-cli-plugin-vuetify-preset-rally/preset/variables.scss';

$primary-color: #4caf50;
$background-app: radial-gradient(#ffffff, #e2ece4);
$background-toolbar: #b0eabd;
$xs-responsive-font-factor: 0.8;

h1 {
  text-align: center;
  font-weight: 500;
  margin-top: 24px;
  font-size: calc(
    #{map-deep-get($headings, 'h2', 'size')} * #{$xs-responsive-font-factor}
  );
  @media #{map-get($display-breakpoints, 'md-and-up')} {
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: map-deep-get($headings, 'h2', 'size');
  }

  &.assessment-title {
    margin-top: 0;
    line-height: 2rem;
    font-size: calc(
      #{map-deep-get($headings, 'h4', 'size')} * #{$xs-responsive-font-factor}
    );

    @media #{map-get($display-breakpoints, 'md-and-up')} {
      font-size: map-deep-get($headings, 'h4', 'size');
    }
  }
}

.assessment-container {
  padding: 1rem 0;

  @media #{map-get($display-breakpoints, 'sm-and-up')} {
    padding: 3rem 2rem;
  }
}

#tsp-supplier {
  background: $background-app;

  ul {
    padding: 0;
    list-style: none;
  }

  .theme--light.v-app-bar.v-toolbar.v-sheet {
    background-color: $background-toolbar;
  }
  .theme--light.v-bottom-navigation {
    background-color: $primary-color;
  }
}
