$primary-color: #4caf50;
$background-standalone: radial-gradient(#ffffff, #e2ece4);
$background-row-alternate: #f1f1f1;
$background-toolbar: #b0eabd;
$bottom-nav-height: 56;
$xs-responsive-font-factor: 0.8;
