$primary-color: #4caf50;
$secondary-color: #FF9800;
$background-standalone: radial-gradient(#ffffff, #e2ece4);
$background-row-alternate: #f8f8f8;
$background-table-header: rgb(76, 175, 80, 20%);
$background-toolbar: #b0eabd;
$background-icon: #F89407;
$bottom-nav-height: 56;
$xs-responsive-font-factor: 0.8;
