{% extends "envconnect/base.html" %}
{% load assets %}
{% load static from staticfiles %}

{% block supplier_menus %}{% endblock %}

{% block consumption_content %}
<div class="clearfix"></div>
<section id="managed" class="text-center offset-sm-3 col-sm-6">
<p>
You do not currently have access to the MyTSP features. Please
<a href="{{'contact/'|site_prefixed}}">contact us</a> to set up performance
graphs that match your needs.
</p>
<p>
MyTSP allows you to create your own list of reporting entities (e.g. suppliers,
owned facilities, departments, floors within a building), and dashboards
to track performance trends and improvement opportunities over time.
</p>
</section>
{% endblock %}
