{% extends "envconnect/base.html" %}
{% load assets %}
{% load static from staticfiles %}

{% block supplier_menus %}{% endblock %}

{% block consumption_content %}
<div class="clearfix"></div>
<section id="managed" class="text-center offset-sm-3 col-sm-6 index-users">
    <p>
You do not currently have access to the Dashboard features. Please
<a href="{{'contact/'|site_prefixed}}">contact us</a> for information
and pricing details.
    </p>
    <p>
The dashboard features allow you to create your own list of reporting entities
(e.g. suppliers, owned facilities, departments, floors within a building),
to track performance trends and improvement opportunities over time.
    </p>
</section>
{% endblock %}
