{% extends "envconnect/base_supplier_menus.html" %}
{% load static from staticfiles %}

{% block consumption_content %}
<div class="tab-content">
  <div class="panel-icons">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="benchmarks-box">
          <h2 class="icon-row-title mt-3">Share {{organization.printable_name}} scorecard(s)...</h2>
          <div class="row">
            <div class="col-sm-8">
              <p class="text-danger text-left m-4">
Please make sure you have an up-to-date assessment before sharing it. In order
to do so, review the answers under <em>Assess</em>
and click <em>Complete</em> at the bottom of the page.
              </p>
              <form class="text-left m-2" ng-submit="shareScorecard($event)">
                <h3>With the following organizations</h3>
                <div class="ml-4">
                  <ul class="list-unstyled">
                    <li ng-repeat="supplierManager in supplierManagers" ng-cloak>
                      <label class="form-group">
                        <input type="checkbox" ng-model="supplierManager.checked" ng-value="supplierManager.slug"> [[supplierManager.printable_name]]
                      </label>
                    </li>
                  </ul>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                  <label style="font-size: 0.875rem;">Sharing with an organization that hasn't requested a scorecard?</label>
                  </div>
                  <div class="col-sm-6">
                  <div class="input-group input-group-sm">
                    <input class="form-control" name="organization" type="text"
                         placeholder="Organization name"
                         autocomplete="off"
                         ng-model="thirdPartySupplierManager"
                         ng-model-options="{ debounce: 500 }"
                         uib-typeahead="candidate as candidate.printable_name for candidate in getCandidates($viewValue)"
                         uib-typeahead-loading="loadingOrganizations"
                         uib-typeahead-template-url="customTemplate.html">
                    <div class="input-group-append">
                      <button class="btn btn-primary" ng-click="addShareScorecard($event)">Add</button>
                    </div>
                  </div>
                  <div style="height:14px" ng-cloak>
                    <i ng-show="loadingOrganizations" class="fa fa-spinner fa-spin"></i>
                  </div>
                  <div ng-show="thirdPartySupplierManager && !thirdPartySupplierManager.slug" ng-cloak>
                    <p class="text-danger">
We cannot find this profile on TSP.
Please enter the e-mail address of your contact at this organization.
                    </p>
                    <input name="organization" type="text"
                         placeholder="Email of contact at customer/client/investor" class="form-control" style="width: 100%;" ng-model="thirdPartySupplierManagerEmail">
                  </div>
                  </div>
                </div>
<hr />
                <p>
<strong>You agree to share a copy</strong> of your most current assessment
with the organization(s) listed above.
                </p>
                <p>
<strong>You certify</strong> that the assessment responses provided for your
organization are true and correct to the best of your knowledge. Additionally,
you acknowledge that the responses form a statement of record which current
or future clients may request to verify.
                </p>
                <div class="form-group">
                  <div class="controls">
                    <label>The following message will be sent to listed organizations (type in the box to modify).</label>
                    <textarea class="form-control" name="message"
                              type="text" rows="10">
Hello,

I would like to invite you to view {{organization.printable_name}}’s Scorecard information on The Sustainability Project.

Thank you.
- {{request.user.first_name}}
                    </textarea>
                  </div>
                </div>
                <p class="text-danger">
Note: Update your assessment and share it again when you have improvements
to report.
                </p>
                <div class="text-right">
                  <button id="share-scorecard-submit" class="btn btn-primary"
                          type="submit" ng-disabled="shareToComplete">
                    <i class="fa fa-spinner" ng-if="shareToComplete"></i>Share scorecard
                  </button>
                </div>
              </form>
            </div>
            <div class="col-sm-4" style="border-left: 1px solid grey;">
              <div class="text-left dashboard-cta" style="margin-right:5px;">
                <h2>Looking to get more value out of TSP?</h2>
                <p>
Interested in tracking the sustainability performance of your own supply chain?
Please <a href="{{'contact/'|site_prefixed}}">contact us</a> for information
and pricing details.
                </p>
                <p>
The dashboard features allow you to create your own list of reporting entities
(e.g. suppliers, owned facilities, departments, floors within a building),
to track performance trends and improvement opportunities over time.
                </p>
              </div>
              {% include "envconnect/share/_extra_messages.html" %}
              <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- /#share-scorecard -->
{% endblock %}
