{% extends "envconnect/base.html" %}
{% load assets %}
{% load static from staticfiles %}

{% block supplier_menus %}{% endblock %}

{% block consumption_content %}
<div class="clearfix"></div>
<div>
  <h1 class="text-center">Reporting entities</h1>
</div>
<section id="managed" class="text-center">
<p>
You do not currently have access to the MyTSP features. Please contact us
to setup performance graphs that match your organization reporting structure.
</p>
<p>
Email: <a href="mailto:support@djaodjin.com">support@djaodjin.com</a>
</p>
</section>
{% endblock %}
