{% extends "envconnect/base.html" %}
{% load assets %}
{% load static from staticfiles %}

{% block consumption_content %}
<div class="text-center">
  <div id="matrix-charts" class="panel-icons">
      <p>
Click on a portfolio analysis link or click <strong>New</strong> to create one.
      </p>
    {% for entry in object_list %}
    <div class="matrix-chart">
      <div style="margin-bottom: 10px;">
      <a href="{% url 'matrix_chart' account '/'|add:entry.slug %}">{{entry.title}}</a>
      </div>
    </div>
    {% endfor %}
    <button id="new-portfolio-analysis-start"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#new-portfolio-analysis">New ...</button>
  </div>
  <!-- dialog to create new portfolio analysis -->
  <div id="new-portfolio-analysis" class="modal fade" tabindex="-1"
       role="dialog" aria-labelledby="New portfolio analysis"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">New portfolio analysis ...</h4>
          <button type="button" class="close"
                  data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <form id="new-matrix" class="form-inline" style="width: 100%;">
          <div class="modal-body">
            <div class="form-group">
              <label>Title</label>
              <input class="form-control"
                     type="text" max-length="150"
                     name="title" placeholder="My portfolio analysis"
                     autofocus />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                    data-dismiss="modal">Cancel</button>
            <button id="new-portfolio-analysis-submit"
                    type="submit" class="btn btn-primary">New</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end of modal dialog -->
</div>
{% endblock %}

{% block bodyscripts %}
{{block.super}}
<script type="text/javascript">
jQuery(document).ready(function($) {
  $("#new-matrix").submit(function() {
      var self = $(this);
      var title = self.find("[name=\"title\"]").val();
      $.ajax({
          method: "POST",
          url: "{{matrix_api_base}}",
          data: JSON.stringify({title: title, cohorts: []}),
          datatype: "json",
          contentType: "application/json; charset=utf-8",
          success: function(data){
              window.location = data.slug + "/";
          }
      });
      return false;
  });
});
</script>
{% endblock %}
