{% extends "envconnect/base.html" %}
{% load static from staticfiles %}

{% block localheader %}
<style>
.chart-content .nv-x .tick text {
display: none;
}
</style>
{% endblock %}

{% block supplier_menus %}{% endblock %}

{% block consumption_content %}
<div class="clearfix"></div>
<section id="charts">
  <div>
    <h1 class="text-center">Performance graphs</h1>
  </div>
  <div class="row">
    <div class="col-md-offset-6 col-md-6 text-right" style="margin-bottom:5px;">
      <!-- WORKAROUND: we set data-width and data-height
           otherwise bootstrap-toggle will crop the size
           inside a class="tab-content collapse". -->
      <input id="toggle-results"
             type="checkbox" toggle-checkbox data-toggle="toggle"
             data-on="<span>Performance graphs</span>"
             data-off="<span>Reporting entities</span>"
             data-offstyle="green-level-2"
             data-width="150px" data-height="34px"
             ng-model="scoreToggle"
             ng-change="toggleMyTSP($event, '{% url 'organization_reporting_entities' organization %}')">
    </div>
  </div>
<div align="center" id="planel-icons" class="panel-icons{% block extra_panel_icons_classes %} panel-icons-no-benchmark{% endblock %}">
  <div 
  class="panel-body">
  <!-- global metric -->
  <div id="{{object.slug}}-chart" class="row">
    <div>
      <div class="col-md-offset-2 col-md-8">
        <h2>{{object.title}}</h2>
        <div class="chart totals-preview text-center" style="display: inline-block;">
          <i class="fa fa-spinner fa-spin fa-2x"></i>
        </div>
        <div id="edit-matrix" class="container text-left" style="display:none;">
          <form id="chart-title">
            <div id="axis" class="row">
              <div class="col-sm-6">
                <h3>Cohorts</h3>
                {% for entry in cohorts %}
                <div>
                  <label for="{{forloop.counter}}">
                    <input id="cohort-{{forloop.counter}}" type="checkbox" name="cohorts" value="{{entry.slug}}" {% if entry.is_selected %}checked{% endif %}>
              {{entry.title}}
                  </label>
                  <a href="{% url 'accounts_list' account entry %}"><i class="fa fa-edit"></i></a>
                </div>
                {% endfor %}
                <div>
                <button id="new-cohort-start"
                        class="btn btn-primary"
                        data-toggle="modal"
                        data-target="#new-cohort-modal">New portfolio ...</button>
                </div>
              </div>
              <div class="col-sm-6">
                <h3>Metrics</h3>
                {% for entry in metrics %}
                <div>
                  <label for="{{forloop.counter}}">
                    <input id="metric-{{forloop.counter}}" type="radio" name="metric" value="{{entry.slug}}" {% if entry.is_selected %}checked{% endif %}>
                    {{ entry.title }}
                  </label>
                  <a href="{% url 'questions_list' account entry %}"><i class="fa fa-edit"></i></a>
                </div>
                {% endfor %}
                <div>
                  <button id="new-metric-start"
                          class="btn btn-primary"
                          data-toggle="modal"
                          data-target="#new-metric-modal">New metric ...</button>
                </div>
              </div>
            </div>
            <div class="form-group" style="margin-top: 25px;">
              <label class="form-control-label">Title</label>
              <input class="form-control" type="text" name="title" value="{{object.title}}">
            </div>
            <!--      <button class="btn btn-primary save">Update</button> -->
          </form>
        </div>
      </div>
      <div class="col-md-4 text-left">
        <!-- dialog to create new portfolio analysis -->
        <div id="new-portfolio-analysis" class="modal fade" tabindex="-1"
             role="dialog" aria-labelledby="New portfolio analysis"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">New portfolio analysis ...</h4>
              </div>
              <form id="new-matrix" class="form-inline" style="width: 100%;">
                <div class="modal-body">
                  <div class="form-group">
                    <label>Title</label>
                    <input class="form-control"
                           type="text" max-length="150"
                           name="title" placeholder="My portfolio analysis"
                           autofocus />
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default"
                          data-dismiss="modal">Cancel</button>
                  <button id="new-portfolio-analysis-submit"
                          type="submit" class="btn btn-primary">New</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- end of modal dialog -->
      </div>
    </div>
  </div>
  <!-- dialog to create new cohort -->
  <div id="new-cohort-modal" class="modal fade" tabindex="-1"
       role="dialog" aria-labelledby="New portfolio "
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close"
                  data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">New portfolio ...</h4>
        </div>
        <form id="new-cohort" class="form-inline" style="width: 100%;">
          <div class="modal-body">
            <div class="form-group">
              <label>Title</label>
              <input class="form-control"
                     type="text" max-length="150"
                     name="cohort-title" placeholder="My portfolio"
                     autofocus />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    data-dismiss="modal">Cancel</button>
            <button id="new-cohort-submit"
                    type="submit" class="btn btn-primary">New</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end of modal dialog -->
  <!-- dialog to create new metric -->
  <div id="new-metric-modal" class="modal fade" tabindex="-1"
       role="dialog" aria-labelledby="New metric "
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close"
                  data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">New metric ...</h4>
        </div>
        <form id="new-metric" class="form-inline" style="width: 100%;">
          <div class="modal-body">
            <div class="form-group">
              <label>Title</label>
              <input class="form-control"
                     type="text" max-length="150"
                     name="metric-title" placeholder="My metric"
                     autofocus />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    data-dismiss="modal">Cancel</button>
            <button id="new-metric-submit"
                    type="submit" class="btn btn-primary">New</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- end of modal dialog -->

<!-- sub-metrics -->
{% block submetrics %}
<div id="benchmarks" class="benchmarks-box" style="margin-top: 25px;">
  <h2 style="margin-left: 5px;">Portfolios: Topic drill-down</h2>
  <div>
    <div class="row row-flex">
      {% for chart in charts %}
      {% if forloop.counter0|divisibleby:3 %}
      </div>
      <div class="row row-flex">
      {% endif %}
      <div class="col-md-4">
          <div id="chart-{{chart.slug}}" class="chart-container">
              {% include "envconnect/_chart_title.html" with practice=chart %}
              <div>
                  <div class="chart-content c3" style="width:250px;height:120px;">
                    <div class="distribution-chart c3">
                      <div class="chart text-center">
                        <i class="fa fa-spinner fa-spin fa-2x"></i>
                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
      </div>
  </div>
</div>
{% endblock %}
  </div>
</div>
</section>
{% endblock %}

{% block bodyscripts %}
{{block.super}}
<script type="text/javascript">
jQuery(document).ready(function($) {
  $("#edit-matrix-btn").click(function(event) {
      event.preventDefault();
      $("#edit-matrix").show();
  });

  $("#new-matrix").submit(function() {
      var self = $(this);
      var title = self.find("[name=\"title\"]").val();
      $.ajax({
          method: "POST",
          url: "{{matrix_api_base}}",
          data: JSON.stringify({title: title, cohorts: []}),
          datatype: "json",
          contentType: "application/json; charset=utf-8",
          success: function(data){
              window.location = data.slug + "/";
          }
      });
      return false;
  });

  $("#new-cohort").submit(function() {
      var self = $(this);
      var title = self.find("[name=\"cohort-title\"]").val();
      $.ajax({
          method: "POST",
          url: "{{editable_filter_api_base}}",
          data: JSON.stringify({title: title, tags: "cohort", predicates: []}),
          datatype: "json",
          contentType: "application/json; charset=utf-8",
          success: function(data){
              window.location = "{% url 'accounts_base' account %}" + data.slug;
          }
      });
      return false;
  });
  $("#new-metric").submit(function() {
      var self = $(this);
      var title = self.find("[name=\"metric-title\"]").val();
      $.ajax({
          method: "POST",
          url: "{{editable_filter_api_base}}",
          data: JSON.stringify({title: title, tags: "metric", predicates: []}),
          datatype: "json",
          contentType: "application/json; charset=utf-8",
          success: function(data){
              window.location = "{% url 'questions_base' account %}" + data.slug;
          }
      });
      return false;
  });

  $.ajax({
      method: "GET",
      url: "{{matrix_api}}",
//      data: data,
      contentType: "application/json; charset=utf-8",
      success: function(data) {
          for( var idx = 0; idx < data.length; ++idx ) {
              var chartElement = $('[id$="' + data[idx].slug + '-chart"]');
              if( chartElement.length > 0 ) {
                  chartElement.djmatrixChart({
                      data: data[idx],
                      editable_filter_api: "{{editable_filter_api_base}}",
                      matrix_api: "{{matrix_api}}",
                      color: "#f89407",
                      margin: {top: 15, right: 10, bottom: 200, left: 75},
                      rotateLabels: -45
                  });
              } else {
                  chartElement = $('[id^="chart-' + data[idx].slug + '"]');
                  if( chartElement.length === 0 ) {
                      $("#benchmarks .row").last().append(
      "<div class=\"col-md-4\"><div id=\"chart-" + data[idx].slug + "\" class=\"chart-container\"><div class=\"chart-title\"><div class=\"icon-benchmark " + data[idx].icon_css + "\"><img class=\"icon-equipment\" src=\"" + data[idx].icon + "\"></div><div class=\"title\"><h3>" + data[idx].breadcrumbs[0] + "</h3><h4>" + (data[idx].breadcrumbs > 1 ? data[idx].breadcrumbs[1] : "") + "</h4><h5>" + (data[idx].breadcrumbs > 2 ? data[idx].breadcrumbs[2] : "") + "</h5></div></div><div><div class=\"chart-content c3\" style=\"width:250px;height:120px;\"><div class=\"distribution-chart c3\"><div class=\"chart text-center\"><i class=\"fa fa-spinner fa-spin fa-2x\"></i></div></div></div></div></div></div>");
                      chartElement = $('[id^="chart-' + data[idx].slug + '"]');
                  }
                  chartElement.djmatrixChart({
                      data: data[idx],
                      editable_filter_api: "{{editable_filter_api_base}}",
                      matrix_api: "{{matrix_api}}",
                      showValues: false,
                      color: "#3ca65b"
                  });
              }
          }
      },
      error: function(resp) {
          showErrorMessages(resp);
      }
  });
});
</script>
{% endblock %}
