{% extends "envconnect/base.html" %}
{% load static from staticfiles %}

{% block localheader %}
<style>
.chart-content .nv-x .tick text {
display: none;
}
</style>
{% endblock %}

{% block consumption_content %}
<div class="clearfix"></div>
<section id="charts">
  <div>
    <h1 class="text-center">Performance graphs</h1>
  </div>
  <div class="row">
    <div class="offset-md-6 col-md-6 text-right" style="margin-bottom:5px;">
      <!-- WORKAROUND: we set data-width and data-height
           otherwise bootstrap-toggle will crop the size
           inside a class="tab-content collapse". -->
      <input id="toggle-results"
             type="checkbox" toggle-checkbox data-toggle="toggle"
             data-on="<span style='font-size:0.8em;'>Performance graphs</span>"
             data-off="<span style='font-size:0.8em;'>Reporting entities</span>"
             data-offstyle="green-level-2"
             data-width="150px" data-height="34px"
             ng-model="scoreToggle"
             ng-change="toggleMyTSP($event, '{% url 'organization_reporting_entities' organization %}')">
    </div>
  </div>
  <div align="center" id="panel-icons" class="panel-icons panel-icons-no-benchmark">
    <div class="mt-3">
      <!-- global metric -->
      <h2>{{object.title}}</h2>
      <div id="{{object.slug}}-chart" class="row">
        <div class="offset-md-2 col-md-8">
          <div class="chart totals-preview text-center" style="display: inline-block;">
            <i class="fa fa-spinner fa-spin fa-2x"></i>
          </div>
        </div>
        <div class="col-md-2">
          <div class="mt-5" style="font-size:0.8em;">
            <span style="text-decoration: line-through;color:#1f66a9;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Average by industry segment accross all suppliers on TSP.
            </div>
        </div>
      </div>

<!-- sub-metrics -->
{% block submetrics %}
<div id="by-suppliers" class="benchmarks-box" style="margin-top: 25px;">
  <h2 style="margin-top:20px;">Sub-segments scores by suppliers</h2>
  <div class="row row-flex">
    {% for chart in charts %}
    {% if forloop.counter0|divisibleby:3 %}
    </div>
    <div class="row row-flex">
    {% endif %}
    <div class="col-md-4">
      <div id="chart-{{chart.slug}}" class="chart-container">
        {% include "envconnect/_chart_title.html" with practice=chart %}
        <div>
          <div class="chart-content c3" style="width:250px;height:120px;">
            <div class="distribution-chart c3">
              <div class="chart text-center">
                <i class="fa fa-spinner fa-spin fa-2x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% if charts %}
<div id="by-scores" class="benchmarks-box" style="margin-top: 25px;">
  <h2 style="margin-top:20px;">Sub-segments suppliers by scores</h2>
  <div class="row row-flex">
    {% for chart in charts %}
    {% if forloop.counter0|divisibleby:3 %}
    </div>
    <div class="row row-flex">
    {% endif %}
    <div class="col-md-4">
      <div id="{{chart.slug}}-distribution" class="chart-container">
        {% include "envconnect/_chart_title.html" with practice=chart %}
        <div>
          <div class="chart-content c3 benchmark-chart-small">
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endblock %}
  </div>
</div>
</section>
{% endblock %}

{% block bodyscripts %}
{{block.super}}
<script type="text/javascript">
jQuery(document).ready(function($) {
  $.ajax({
      method: "GET",
      url: "{{matrix_api}}",
//      data: data,
      contentType: "application/json; charset=utf-8",
      success: function(data) {
          var aggregates = {};
          for( var idx = 0; idx < data.length; ++idx ) {
              if( data[idx].slug.substr(0, 11) === 'aggregates-' ) {
                  aggregates[data[idx].slug.replace(/^aggregates-/, '')] = data[idx];
              }
          }
          for( var idx = 0; idx < data.length; ++idx ) {
              if( data[idx].slug.substr(0, 11) === 'aggregates-' ) continue;
              var chartElement = $('[id$="' + data[idx].slug + '-chart"]');
              if( chartElement.length > 0 ) {
                  var chartData = [data[idx]];
                  if( aggregates.hasOwnProperty(data[idx].slug) ) {
                      chartData.push(aggregates[data[idx].slug]);
                  }
                  chartElement.djmatrixChart({
                      data: chartData,
                      editable_filter_api: "{{editable_filter_api_base}}",
                      matrix_api: "{{matrix_api}}",
                      color: "#f89407",
                      margin: {top: 15, right: 75, bottom: 200, left: 75},
                      rotateLabels: -45
                  });
              } else {
                  chartElement = $('[id^="chart-' + data[idx].slug + '"]');
                  if( chartElement.length === 0 ) {
                      var title = (data[idx].breadcrumbs && data[idx].breadcrumbs.length > 0) ? data[idx].breadcrumbs[0] : data[idx].slug;
                      var subtitle = (data[idx].breadcrumbs && data[idx].breadcrumbs.length > 1) ? data[idx].breadcrumbs[1] : "";
                      var subsubtitle = (data[idx].breadcrumbs && data[idx].breadcrumbs.length > 2) ? data[idx].breadcrumbs[2] : "";
                      $("#by-suppliers .row").last().append(
      "<div class=\"col-md-4\"><div id=\"chart-" + data[idx].slug + "\" class=\"chart-container\"><div class=\"chart-title\"><div class=\"icon-benchmark " + data[idx].icon_css + "\"><img class=\"icon-equipment\" src=\"" + data[idx].icon + "\"></div><div class=\"title\"><h3>" + title + "</h3><h4>" + subtitle + "</h4><h5>" + subsubtitle + "</h5></div></div><div><div class=\"chart-content c3\" style=\"width:250px;height:120px;\"><div class=\"distribution-chart c3\"><div class=\"chart text-center\"><i class=\"fa fa-spinner fa-spin fa-2x\"></i></div></div></div></div></div></div>");
                      chartElement = $('[id^="chart-' + data[idx].slug + '"]');
                  }
                  chartElement.djmatrixChart({
                      data: [data[idx]],
                      editable_filter_api: "{{editable_filter_api_base}}",
                      matrix_api: "{{matrix_api}}",
                      showValues: false,
                      color: "#3ca65b"
                  });
              }
          }

          $("#by-scores").improvementDashboard({
              charts: data,
          });
      },
      error: function(resp) {
          showErrorMessages(resp);
      }
  });
});
</script>
{% endblock %}
