{% extends "survey/matrix/matrix.html" %}
{% load navactive %}

{% block submetrics %}
<div id="benchmarks" class="benchmarks-box" style="margin-top: 25px;">
  <h2 style="margin-left: 5px;">Total scores by supplier/facility</h2>
  <div>
    <div class="row row-flex">
      {% for practice in organization|get_industry_charts %}
      {% if forloop.counter0|divisibleby:3 %}
      </div>
      <div class="row row-flex">
      {% endif %}
      <div class="col-md-4">
          <div id="{{practice.slug}}" class="chart-container">
              {% include "envconnect/_chart_title.html" with practice=practice %}
              <div>
                  <div class="chart-content c3" id="chart_{{practice.slug}}" style="width:250px;height:120px;">
                    <div id="chart-{{practice.slug}}" class="distribution-chart c3">
                      <div class="chart text-center">
                        <svg>
                          <text x="50" y="100" font-family="Verdana">Loading ...</text>
                        </svg>
                      </div>
                    </div>
                    <script type="text/javascript">
jQuery(document).ready(function($) {
  $("#matrixChart").on("matrix.loaded", function () {
      $("#chart-{{practice.slug}}").djmatrixChart({
          selection_element: "#chart-title",
          editable_filter_api: "{{editable_filter_api_base}}",
          matrix_api: "{{practice.urls.matrix_api}}"
       });
  });
});
                    </script>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
      </div>
  </div>
</div>
{% endblock %}
