<div class="score-card score-card-background bordered-left" id="score-card-arc" style="flex:auto;" data-toggle="tooltip" data-placement="top">
    <h4>{{ arc_title }}</h4>
    <div id="totals" style="width:300px;margin:auto;"
    title="The total score is the sum of all (icon score * icon weight)."></div>
    <p>
        Benchmarking is based on responses from <span id="nb-respondents"><i class="fa fa-spinner fa-spin"></i></span>
        companies in the <strong>&quot;{{ breadcrumbs.0.0.title }}&quot;</strong> industry segment.
        Note: Your score will rise if the implementation rate for the best practices
        you have implemented rises, because implementation rate is used as value
        indicator for a best practice.
    </p>
</div>
