<td id="[[practice[0].slug]]">
  {% include "envconnect/_detail_row_basic.html" %}
  <div class="bestpractice" style="display:inline-block;float:right;">
    {% if survey.slug != 'framework' %}
    <a class="title" ng-click="setActiveElement(practice[0])" ng-if="practice[0].consumption" href="" data-toggle="modal" data-target="#report-comments" title="Got a comment? Click here."><i class="fa fa-sticky-note-o"></i></a>
    {% endif %}
  </div>
</td>

{# headers #}
{% if 'metrics' in icon.tag %}
<td class="text-center" colspan="{{choices|length}}"
    ng-if="!(practice[0].consumption)"
</td>
{% else %}
{% for choice in choices %}
<td class="text-center cell-fix-width-5"
    ng-if="!(practice[0].consumption)"
    <button ng-if="!(practice[0].consumption)"
            class="btn btn-select-all" href=""
            ng-click="selectAll($event, '{{choice.text}}')"><i class="fa fa-circle"></i></button>
</td>
{% endfor %}
{% endif %}

{# questions #}
<td class="text-center" colspan="{{choices|length}}"
    data-metric="[[practice[0].consumption.metric]]"
    ng-if="practice[0].consumption && (practice[0].consumption.metric === 'freetext')">
    <textarea class="form-control"
              type="text" rows="10"
              placeholder=""
              ng-model="getMeasures(getPath(practice[0])).freetext.measured"
              ng-focus="setActiveElement(practice[0])"
              ng-blur="updateAssessmentAnswer(practice[0], getMeasures(getPath(practice[0])).freetext.measured)"></textarea>
</td>

{# general #}
<td class="text-center" colspan="{{choices|length}}"
    data-metric="[[practice[0].consumption.metric]]"
    ng-if="practice[0].consumption && practice[0].consumption.metric === 'revenue-generated'">
    <input class="form-control"
           type="number"
           placeholder=""
           ng-model="getMeasures(getPath(practice[0])).revenue_generated.measured"
           ng-focus="setActiveElement(practice[0])"
           ng-blur="updateAssessmentAnswer(practice[0], getMeasures(getPath(practice[0])).revenue_generated.measured)"></input>
</td>
<td class="text-center" colspan="{{choices|length}}"
    data-metric="[[practice[0].consumption.metric]]"
    ng-if="practice[0].consumption && practice[0].consumption.metric === 'employee-counted'">
    <input class="form-control"
           type="number"
           placeholder=""
           ng-model="getMeasures(getPath(practice[0])).employee_counted.measured"
           ng-focus="setActiveElement(practice[0])"
           ng-blur="updateAssessmentAnswer(practice[0], getMeasures(getPath(practice[0])).employee_counted.measured)"></input>
</td>
{# end of general #}

{# energy #}
<td class="text-center" colspan="{{choices|length|add:'-1'}}"
    data-metric="[[practice[0].consumption.metric]]"
    ng-if="practice[0].consumption && practice[0].consumption.metric === 'energy-consumed'">
    <input class="form-control"
           type="number"
           placeholder=""
           ng-model="getMeasures(getPath(practice[0])).energy_consumed.measured"
           ng-focus="setActiveElement(practice[0])"
           ng-blur="updateAssessmentAnswer(practice[0], getMeasures(getPath(practice[0])).energy_consumed.measured)"></input>
</td>
<td class="text-center"
    data-metric="[[practice[0].consumption.metric]]"
    ng-if="practice[0].consumption && (practice[0].consumption.metric === 'energy-consumed')">
    <select class="form-control"
            ng-model="getMeasures(getPath(practice[0])).energy_consumed.unit"
            ng-focus="setActiveElement(practice[0])"
            ng-blur="updateAssessmentAnswer(practice[0], getMeasures(getPath(practice[0])).energy_consumed.measured)">
        <option value="kwh-year">kWh/Year</value>
    </select>
</td>
{# end of energy #}


{# water #}
<td class="text-center" colspan="{{choices|length|add:'-1'}}"
    data-metric="[[practice[0].consumption.metric]]"
    ng-if="practice[0].consumption && practice[0].consumption.metric === 'water-consumed'">
    <input class="form-control"
           type="number"
           placeholder=""
           ng-model="getMeasures(getPath(practice[0])).water_consumed.measured"
           ng-focus="setActiveElement(practice[0])"
           ng-blur="updateAssessmentAnswer(practice[0], getMeasures(getPath(practice[0])).water_consumed.measured)"></input>
</td>
<td class="text-center"
    data-metric="[[practice[0].consumption.metric]]"
    ng-if="practice[0].consumption && (practice[0].consumption.metric === 'water-consumed')">
    <select class="form-control"
            ng-model="getMeasures(getPath(practice[0])).water_consumed.unit"
            ng-focus="setActiveElement(practice[0])"
            ng-blur="updateAssessmentAnswer(practice[0], getMeasures(getPath(practice[0])).water_consumed.measured)">
        <option value="gallons-year">Gallons / year</value>
    </select>
</td>
{# end of water #}

{# waste #}
<td class="text-center" colspan="{{choices|length|add:'-1'}}"
    data-metric="[[practice[0].consumption.metric]]"
    ng-if="practice[0].consumption && practice[0].consumption.metric === 'waste-generated'">
    <input class="form-control"
           type="number"
           placeholder=""
           ng-model="getMeasures(getPath(practice[0])).waste_generated.measured"
           ng-focus="setActiveElement(practice[0])"
           ng-blur="updateAssessmentAnswer(practice[0], getMeasures(getPath(practice[0])).waste_generated.measured)"></input>
</td>
<td class="text-center"
    data-metric="[[practice[0].consumption.metric]]"
    ng-if="practice[0].consumption && (practice[0].consumption.metric === 'waste-generated')">
    <select class="form-control"
            ng-model="getMeasures(getPath(practice[0])).waste_generated.unit"
            ng-focus="setActiveElement(practice[0])"
            ng-blur="updateAssessmentAnswer(practice[0], getMeasures(getPath(practice[0])).waste_generated.measured)">
        <option value="tons-year">Metric tons / year</value>
    </select>
</td>
{# end of waste #}

{# scope ghg-emissions-generated #}
<td class="text-center"
    data-metric="[[practice[0].consumption.metric]]"
    ng-if="isGHGEmissionBreakDown(practice)">
    <select class="form-control"
            ng-model="getMeasures(getPath(practice[0])).freetext.measured"
            ng-focus="setActiveElement(practice[0])"
            ng-blur="submitMeasures(getPath(practice[0]), $event)">
        <option value="">Select relevance ...</option>
        <option value="not-relevant">Not Relevant</value>
        <option value="relevant-always-included">Relevant, always included</value>
        <option value="relevant-not-yet-calculated">Relevant, not yet calculated</value>
        <option value="relevant-and-calculated-but-not-disclosed">Relevant and calculated, but not disclosed</value>
        <option value="not-evaluated">Not evaluated</value>
    </select>
</td>
<td class="text-center" colspan="{{choices|length|add:'-2'}}"
    data-metric="[[practice[0].consumption.metric]]"
    ng-if="isGHGEmissionBreakDown(practice)">
    <input class="form-control"
              type="number"
              placeholder=""
              ng-model="getMeasures(getPath(practice[0])).ghg_emissions_generated.measured"
              ng-focus="setActiveElement(practice[0])"
              ng-blur="updateAssessmentAnswer(practice[0], getMeasures(getPath(practice[0])).ghg_emissions_generated.measured)"></input>
</td>
<td class="text-center" colspan="{{choices|length|add:'-1'}}"
    data-metric="[[practice[0].consumption.metric]]"
    ng-if="isGHGEmissionNotBreakDown(practice)">
    <input class="form-control"
              type="number"
              placeholder=""
              ng-model="getMeasures(getPath(practice[0])).ghg_emissions_generated.measured"
              ng-focus="setActiveElement(practice[0])"
              ng-blur="updateAssessmentAnswer(practice[0], getMeasures(getPath(practice[0])).ghg_emissions_generated.measured)"></input>
</td>
<td class="text-center"
    data-metric="[[practice[0].consumption.metric]]"
    ng-if="practice[0].consumption && (practice[0].consumption.metric === 'ghg-emissions-generated')">
    <select class="form-control"
            ng-model="getMeasures(getPath(practice[0])).ghg_emissions_generated.unit"
            ng-focus="setActiveElement(practice[0])"
            ng-blur="updateAssessmentAnswer(practice[0], getMeasures(getPath(practice[0])).ghg_emissions_generated.measured)">
        <option value="tons-year">Metric Tons CO2/Year</value>
    </select>
</td>
{# end of scope ghg_emissions_generated #}

{# target #}
<td class="text-center" colspan="{{choices|length}}"
    data-metric="[[practice[0].consumption.metric]]"
    ng-if="practice[0].consumption && practice[0].consumption.metric === 'target-reduced'">
    <input class="form-control"
           type="text"
           ng-model="getMeasures(getPath(practice[0])).target_reduced.measured"
           ng-focus="setActiveElement(practice[0])"
           ng-blur="updateAssessmentAnswer(practice[0], getMeasures(getPath(practice[0])).target_reduced.measured)"></input>
    <div class="row">
      <div class="input-group col-sm-6">
        <div class="input-group-prepend">
          <label class="input-group-text">by</label>
        </div>
        <select class="form-control"
           ng-model="getMeasures(getPath(practice[0])).target_by.measured"
           ng-focus="setActiveElement(practice[0])"
           ng-blur="submitMeasures(getPath(practice[0]), $event)">
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2028">2028</option>
          <option value="2029">2029</option>
          <option value="2030">2030</option>
          <option value="2031">2031</option>
          <option value="2032">2032</option>
          <option value="2033">2033</option>
          <option value="2034">2034</option>
          <option value="2035">2035</option>
        </select>
      </div>
      <div class="input-group col-sm-6">
        <div class="input-group-prepend">
          <label class="input-group-text">baseline</label>
        </div>
        <select class="form-control"
           ng-model="getMeasures(getPath(practice[0])).target_baseline.measured"
           ng-focus="setActiveElement(practice[0])"
           ng-blur="submitMeasures(getPath(practice[0]), $event)">
          <option value="2010">2010</option>
          <option value="2011">2011</option>
          <option value="2012">2012</option>
          <option value="2013">2013</option>
          <option value="2014">2014</option>
          <option value="2015">2015</option>
          <option value="2016">2016</option>
          <option value="2017">2017</option>
          <option value="2018">2018</option>
          <option value="2019">2019</option>
        </select>
      </div>
    </div>
</td>
{# end target #}

{# Yes/No #}
<td class="text-center"
    ng-if="practice[0].consumption && practice[0].consumption.metric === 'yes-no'">
    <label for="yes-[[$index]]"
           style="margin-bottom:0">
        <input id="yes-[[$index]]"
           type="radio"
           value="Yes"
           name="implemented-[[practice[0].consumption.rank]]"
           ng-checked="practice[0].consumption.implemented === 'Yes'"
           ng-change="updateAssessmentAnswer(practice[0], 'Yes')"
           ng-model="practice[0].consumption.implemented"/> Yes
    </label>
</td>
<td class="text-center"
    ng-if="practice[0].consumption && practice[0].consumption.metric === 'yes-no'">
    <label for="no-[[$index]]"
           style="margin-bottom:0">
        <input id="no-[[$index]]"
           type="radio"
           value="No"
           name="implemented-[[practice[0].consumption.rank]]"
           ng-checked="practice[0].consumption.implemented === 'No'"
           ng-change="updateAssessmentAnswer(practice[0], 'No')"
           ng-model="practice[0].consumption.implemented"/> No
    </label>
</td>
<td class="text-center" colspan="{{choices|length|add:'-2'}}"
    ng-if="practice[0].consumption && practice[0].consumption.metric === 'yes-no'">
    <textarea class="form-control"
           type="text" rows="3"
           placeholder="Please, enter URL or specify ..."
           ng-model="getMeasures(getPath(practice[0])).freetext.measured"
           ng-focus="setActiveElement(practice[0])"
           ng-blur="submitMeasures(getPath(practice[0]), $event)"></textarea>
</td>
{# end of Yes/No #}

{% for choice in choices %}
<td class="text-center cell-fix-width-5"
    ng-if="practice[0].consumption && practice[0].consumption.metric === 'assessment'">
    <label for="{{choice.text|slugify}}-[[$index]]"
           style="margin-bottom:0">
    <input id="{{choice.text|slugify}}-[[$index]]" type="radio"
           value="{{choice.text}}"
           name="implemented-[[practice[0].consumption.rank]]"
           ng-checked="practice[0].consumption.implemented === '{{choice.text}}'"
           ng-change="updateAssessmentAnswer(practice[0], '{{choice.text}}')"
           ng-model="practice[0].consumption.implemented" />
    <span style="font-size:10px;">[[practice[0].text ? practice[0].text[{{forloop.counter0}}] : ""]]</span>
    </label>
</td>
{% endfor %}
