<div>
  Legend&nbsp;
  <span>
    <i class="fa fa-check fa-lg text-success"></i><i class="fa fa-check fa-lg text-success"></i><i class="fa fa-check fa-lg text-success"></i> Yes
  </span>&nbsp;|&nbsp;
  <span>
    <i class="fa fa-check fa-lg text-success"></i><i class="fa fa-check fa-lg text-success"></i>Mostly yes
  </span>&nbsp;|&nbsp;
  <span>
    <i class="fa fa-check fa-lg text-success"></i>Mostly no
  </span>&nbsp;|&nbsp;
  <span>
    <i class="fa fa-times fa-lg text-danger"></i>No
  </span>
</div>
