<td id="[[practice[0].slug]]"
    colspan="[[practice[0].consumption ? 1 : 4]]">
    {% include "envconnect/_detail_row_basic.html" %}
</td>
{% if icon.tag and 'framework' in icon.tag %}
{% for choice in choices %}
<td>
<div class="progress" style="margin:0">
  <div class="progress-bar progress-bar-success green-level-3" role="progressbar" aria-valuenow="[[practice[0].consumption.rate['{{choice}}'] ]]" aria-valuemin="0" aria-valuemax="100" ng-style="implementationRateWidth(practice[0].consumption.rate['{{choice}}'])">
    <span ng-class="{'text-muted': !practice[0].consumption.rate['{{choice}}']}">[[practice[0].consumption.rate['{{choice}}']|asPercent]]</span>
  </div>
</div>
</td>
{% endfor %}
{% else %}
<td class="text-center cell-fix-width-3"
    ng-if="practice[0].consumption">
    [[practice[0].consumption.nb_respondents]] respondents
    <div class="progress" style="margin:0">
        <div class="progress-bar progress-bar-success green-level-[[practice[0].consumption.avg_value]]" role="progressbar" aria-valuenow="[[practice[0].consumption.rate]]" aria-valuemin="0" aria-valuemax="100" ng-style="implementationRateWidth(practice[0].consumption.rate)">
            <span ng-class="{'text-muted': !practice[0].consumption.rate}">[[practice[0].consumption.rate|asPercent]]</span>
        </div>
    </div>
</td>
<td class="text-center cell-fix-width-3"
    ng-if="practice[0].consumption">
    <i class="fa fa-check fa-lg text-success" ng-if="isAtLeastNeedsSignificantImprovement(practice[0])"></i>
    <i class="fa fa-check fa-lg text-success" ng-if="isAtLeastNeedsModerateImprovement(practice[0])"></i>
    <i class="fa fa-check fa-lg text-success" ng-if="isAtLeastYes(practice[0])"></i>
    <i class="fa fa-times fa-lg text-danger"  ng-if="isNo(practice[0])"></i>
    <span ng-if="isNotApplicable(practice[0])">N/A</span>
    <i ng-if="isNotAnswered(practice[0])">&dash;</i>
</td>
<td class="text-center cell-fix-width-3"
    ng-if="practice[0].consumption">
    [[getOpportunity(practice[0])]]
</td>
{% endif %}
