<td id="[[practice[0].slug]]">
  <div style="display:inline-block;">
    <div ng-if="!containsTag(practice[0], TAG_PAGEBREAK)" ng-class="indentHeader(practice, '{{abs_prefix}}')" style="display:inline-block;">
        <span class="title">[[practice[0].title]]</span>
    </div>
  </div>
</td>
{% for choice in choices %}
<td class="text-center cell-fix-width-5">
    <button ng-if="!(practice[0].consumption)"
            class="btn btn-select-all" href=""
            ng-click="selectAll($event, '{{choice.text}}')"><i class="fa fa-circle"></i></button>
    <label ng-if="practice[0].consumption"
           for="{{choice.text|slugify}}-[[$index]]"
           style="margin-bottom:0">
    <input id="{{choice.text|slugify}}-[[$index]]" type="radio"
           value="{{choice.text}}"
           name="implemented-[[practice[0].consumption.rank]]"
           ng-checked="practice[0].consumption.implemented === '{{choice.text}}'"
           ng-change="updateAssessmentAnswer(practice[0], '{{choice.text}}')"
           ng-model="practice[0].consumption.implemented" />
    <span style="font-size:10px;">[[practice[0].text ? practice[0].text[{{forloop.counter0}}] : ""]]</span>
    </label>
</td>
{% endfor %}
