<div class="row chart-title" style="margin-left:15px;margin-right:15px;">
    <div class="col-xs-4 icon-benchmark {{practice.icon_css}}">
        {% if practice.icon %}
        <img class="icon-equipment" src="{{practice.icon}}">
        {% else %}
        <span class="icon-equipment">{{practice.title}}</span>
        {% endif %}
    </div>
<!--
    <div class="col-xs-8 title" style="display:table-cell;min-height:60px;position:relative;">
       <div style="position:absolute;top:50%;transform:translate(0, -50%);">
-->
    <div class="col-xs-8 title" style="display:table-cell;min-height:60px;">
       <div style="position:absolute;">
        <h3>{{practice.breadcrumbs.0}}</h3>
        <h4>{% if practice.breadcrumbs|length > 1 %}{{practice.breadcrumbs.1}}{% endif %}</h4>
        <h5>{% if practice.breadcrumbs|length > 2 %}{{practice.breadcrumbs|last}}{% endif %}</h5>
        </div>
    </div>
</div>
