<div class="chart-title">
    <div class="icon-benchmark {% if practice|containsTag:'management' %} grey{% else %} orange{% endif %}">
        {% if practice.text %}
        <img class="icon-equipment" src="{{practice.text}}">
        {% else %}
        <div class="icon-equipment">{{practice.title}}</div>
        {% endif %}
    </div>
    <div class="title">
        <h3>{{practice.breadcrumbs.0}}</h3>
        <h4>{% if practice.breadcrumbs|length > 1 %}{{practice.breadcrumbs.1}}{% endif %}</h4>
        <h5>{% if practice.breadcrumbs|length > 2 %}{{practice.breadcrumbs|last}}{% endif %}</h5>
    </div>
</div>
