<div style="display:inline-block;">
    {% if request|is_broker_manager and not organization %}
    <div role="toolbar" style="display:inline-block;align-items:center;margin-right:2px;">
        <div class="btn btn-default btn-sm" style="background-color:#aaa;border-color:#aaa;">
            <i class="fa fa-bars move-rank"></i>
        </div>
    </div>
    {% endif %}
    <div ng-if="!containsTag(practice[0], TAG_SYSTEM)" ng-class="indentHeader(practice, '{{abs_prefix}}')" style="display:inline-block;">
        <a class="title" href="[[practice[0].consumption ? '{{urls.best_practice_base}}' + practice[0].slug + '/' : '']]">[[practice[0].title]]</a>
        {% if request|is_broker_manager and not organization %}
        <a class="incl" href=""
           ng-click="toggleScorecard(getPath(practice[0]), false, practice[0])"><i class="fa [[containsTag(practice[0],TAG_SCORECARD) ? 'fa-bar-chart' : 'fa-sticky-note-o']]"></i></a>
        <a class="edit" href=""
           data-toggle="modal" data-target="#edit-element-modal"
           ng-click="setActiveElement(practice[0])"><i class="fa fa-edit"></i></a>
        <a class="text-danger delete" href=""
           data-toggle="modal" data-target="#confirm-delete"
           ng-click="setActiveElement(practice[0])"><i class="fa fa-trash-o"></i></a>
        <div role="toolbar" style="display:inline-block;align-items:center;margin-right:2px;" ng-if="!(practice[0].consumption)">
            <button class="btn btn-default btn-sm" style="display:inline-block;background-color:#aaa;border-color:#aaa;" ng-click="toUpperLevel($event, '{{abs_prefix}}')">
                <i class="fa fa-angle-left"></i>
            </button>
            <button class="btn btn-default btn-sm" style="display:inline-block;background-color:#aaa;border-color:#aaa;" ng-click="toLowerLevel($event, '{{abs_prefix}}')">
                <i class="fa fa-angle-right"></i>
            </button>
            <button id="header-[[practice[0].slug]]" class="btn btn-link" data-toggle="modal" data-target="#add-element-modal" ng-click="setNewElement(getHeadingPath(practice[0]), BEST_PRACTICE_ELEMENT)"><i class="fa fa-plus"></i> Add</button>
        </div>
        {% endif %}
    </div>
</div>
