{% if icon %}
    <a class="icon-inner{% if icon|containsTag:'management' %} grey{% else %} orange{% endif %}"
       {% if icon|is_pagebreak %}
         href="{{urls.context_base}}{{icon.slug}}/"
       {% else %}
         href="#tab-{{icon.slug}}"
         {% if role %}role="{{role}}" data-toggle="{{role}}" ng-click="toggleIcons($event, '{{icon.slug}}')"{% endif %}
       {% endif %}>
        {% if icon.text %}
            <img class="icon-equipment" src="{{icon.text}}">
        {% endif %}
        <div class="icon-caption">{{icon.title}}</div>
    </a>
{% else %}
    <a class="icon-inner [[ containsTag(icon[0], 'management') ? 'grey' : 'orange' ]]"
       href="[[ '{{urls.context_base}}' + icon[0].slug + '/' ]]"
       ng-if="containsTag(icon[0], TAG_PAGEBREAK)">
        <img class="icon-equipment" ng-if="icon[0].text !== ''" src="[[icon[0].text]]">
        <div class="icon-caption">[[icon[0].title]]</div>
    </a>
    <a class="icon-inner [[ containsTag(icon[0], 'management') ? 'grey' : 'orange' ]]"
       href="[['#tab-' + icon[0].slug ]]"
       {% if role %}role="{{role}}" data-toggle="{{role}}" ng-click="toggleIcons($event, '[[icon[0].slug]]')"{% endif %}
       ng-if="!containsTag(icon[0], TAG_PAGEBREAK)">
        <img class="icon-equipment" ng-if="icon[0].text !== ''" src="[[icon[0].text]]">
        <div class="icon-caption">[[icon[0].title]]</div>
    </a>
{% endif %}
