<td id="[[practice[0].slug]]"
    colspan="[[practice[0].consumption ? 1 : {{choices|length|add:2}}]]">
  <div style="display:inline-block;">
    <div ng-if="!containsTag(practice[0], TAG_PAGEBREAK)" ng-class="indentHeader(practice, '{{abs_prefix}}')" style="display:inline-block;">
        <a class="title">[[practice[0].title]]</a>
    </div>
  </div>
</td>
<td class="text-center cell-fix-width-3"
    ng-if="practice[0].consumption">
    <span ng-if="practice[0].consumption.implemented">[[practice[0].consumption.implemented]]</span>
    <i ng-if="!practice[0].consumption.implemented">&dash;</i>
</td>
{% for choice in choices %}
<td ng-class="(practice[0].consumption.implemented !== practice[0].consumption.planned) && (practice[0].consumption.planned === '{{choice.text}}') ? 'text-center cell-fix-width-5 green-level-4' : 'text-center cell-fix-width-5'" ng-if="practice[0].consumption">
    <label for="{{choice.text|slugify}}-[[$index]]"
           style="margin-bottom:0">
    <input id="{{choice.text|slugify}}-[[$index]]" type="radio"
           value="{{choice.text}}"
           name="planned-[[practice[0].consumption.rank]]"
           ng-checked="practice[0].consumption.planned === '{{choice.text}}'"
           ng-change="updateImprovement(practice, '{{choice.text}}')"
           ng-model="practice[0].consumption.planned" />
    <span style="font-size:10px;">[[practice[0].text ? practice[0].text[{{forloop.counter0}}] : ""]]</span>
    </label>
</td>
{% endfor %}
