{% load navactive %}

<div class="improvement-planning">
  <div>
    <button class="btn btn-primary" type="button"
            data-toggle="collapse" data-target="#improvement-dashboard"
            aria-expanded="false" aria-controls="improvement-dashboard">
        Click for planning dashboard
    </button>
    <div id="improvement-dashboard" class="text-center inner collapse">
      <div style="display: inline-block;">
        <h3>Planning Dashboard</h3>
        <p>Estimated impacts of your improvement plan selections</p>
      </div>
      <div class="pull-right" style="margin-top:5px;margin-right:5px;">
        <a id="download-improvements" class="btn btn-primary" href="{% url 'envconnect_improve_organization_download' organization %}" target="_blank">Download improvements list</a>
      </div>
      <div class="row">
        <div class="col-sm-7">
          <div class="col-sm-6">
            <div class="score-card"
                 style="flex:auto;">
              <h4>Total Score <span id="improvement-score"></span></h4>
              <div id="total-score" class="chart-content">
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div id="{{root.0.slug}}-chart" class="chart-container chart-container-default bordered-left" ng-show="activeIcon === null">
              {% include "envconnect/_chart_title.html" with practice=root.0 %}
              <div>
                <div class="chart-content c3" style="width:250px;height:120px;">
                </div>
              </div>
            </div>
            {% for icon_tuple in root.1  %}
            {% with icon_tuple.0 as icon %}
            <div id="{{icon.slug}}-chart" class="chart-container bordered-left" ng-show="activeIcon === '{{icon.slug}}'">
              {% include "envconnect/_chart_title.html" with practice=icon %}
              <div>
                <div class="chart-content c3" style="width:250px;height:120px;">
                </div>
              </div>
            </div>
            {% endwith %}
            {% endfor %}
          </div>
        </div>
        <div class="col-sm-5">
          <div class="row">
            <div class="bordered-left" style="display: inline-block;">
              <h4>Cost</h4>
              <p>as % of overhead</p>
              <div class="cost"></div>
            </div>
            <div style="position:absolute;left:20%;top:0;background-color:rgba(200,200,200,0.5);width:300px;height:200px;text-align:center;z-index:10;">
              <div style="position:relative;">
              <div style="position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);margin-top:75px;">
              <span style="font-size:1.5em;"><i class="fa fa-wrench"></i> Feature intended for future version of TSP.</span>
              </div>
              </div>
            </div>
            <div style="display: inline-block;">
              <h4>Savings</h4>
              <p>as % of overhead</p>
              <div class="savings"></div>
            </div>
          </div>
          <div class="row">
            <p style="display:inline-block;">
Note: Where practices are associated with costs or savings,<br />
averages will be registered by these value gauges.
            </p>
          </div>
        </div>
      </div>
      <script type="text/javascript">
jQuery(document).ready(function($) {
    $("#improvement-dashboard").improvementDashboard({
        api_account_benchmark: "{% url 'api_benchmark' organization path %}",
        benchmark: "{{root.0.slug}}"
    });
});
      </script>
    </div>
  </div>
</div>
