{% load navactive %}

<div class="improvement-planning">
  <div>
    <button class="btn btn-primary" type="button"
            data-toggle="collapse" data-target="#improvement-dashboard"
            aria-expanded="false" aria-controls="improvement-dashboard">
        Click for planning dashboard
    </button>
    <div id="improvement-dashboard" class="text-center inner collapse">
      <div style="display: inline-block;margin-left:auto;">
        <h3>Planning Dashboard</h3>
        <p>Estimated impacts of your improvement plan selections</p>
      </div>
      
      <div class="row">
        <div class="col-sm-7">
          <div class="col-md-6">
            <div class="score-card"
                 style="flex:auto;">
              <h4>Total Score <span id="improvement-score"></span></h4>
              <div>
                <div>
                  <div id="totals" class="chart-content" style="margin:auto;">
                      <div id='hideMe' class="fa fa-spinner fa-spin fa-2x"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 bordered-left">
            <div id="{{root.0.slug}}-chart" class="chart-container chart-container-default" ng-show="activeIcon === null">
              {% include "envconnect/_chart_title.html" with practice=root.0 %}
              <div>
                <div class="chart-content c3" style="width:250px;height:120px;">
                </div>
              </div>
            </div>
            {% for abs_prefix, icon_tuple in root.1|iteritems  %}
            {% with icon_tuple.0 as icon %}
            <div id="{{icon.slug}}-chart" class="chart-container" ng-show="activeIcon === '{{icon.slug}}'">
              {% include "envconnect/_chart_title.html" with practice=icon %}
              <div>
                <div class="chart-content c3" style="width:250px;height:120px;">
                </div>
              </div>
            </div>
            {% endwith %}
            {% endfor %}
          </div>
        </div>
        <div class="col-sm-5 bordered-left">
          <div style="height:200px;width:200px;margin-left:auto;margin-right:auto;">
          <a id="download-improvements" class="btn btn-primary btn-block" href="{% url 'envconnect_improve_organization_download' organization %}" target="_blank">Download improvements list</a>
          <a id="Find-Suppliers" class="btn btn-primary btn-block" href="#" target="_blank">Find Suppliers</a>
          <!-- XXX Update link when code is written -->
        </div>
        </div>
      </div>
      <script type="text/javascript">
jQuery(document).ready(function($) {
    $("#improvement-dashboard").improvementDashboard({
        api_account_benchmark: "{{urls.api_account_benchmark}}",
        benchmark: "{{root.0.slug}}"
    });
});
      </script>
    </div>
  </div>
</div>
