<td id="[[practice[0].slug]]"
    colspan="[[practice[0].consumption ? 1 : {{icon.profitability_headers_len}}]]">
  {% include "envconnect/_detail_row_basic.html" %}
</td>
{% for col_header in icon.profitability_headers %}
<td class="text-center cell-fix-width-3 editable-consumption"
    data-key="{{col_header.slug}}"
    ng-click="editConsumption($event, practice[0])"
    ng-keydown="($event.keyCode == 13 || $event.keyCode == 9) && nextCell($event, practice[0])"
    ng-if="practice[0].consumption">
    [[practice[0].consumption.{{col_header.slug}}]]
</td>
{% endfor %}
