<td id="[[practice[0].slug]]"
    colspan="[[practice[0].consumption ? 1 : {{icon.value_headers_len}}]]">
  {% include "envconnect/_detail_row_basic.html" %}
</td>
{% for col_header in icon.value_headers %}
{% if col_header.slug == 'avg_value' %}
<!-- XXX yes: col_header.slug == 'avg_value' -->
<td ng-class="'green-level-' + practice[0].consumption.avg_value + ' cell-fix-width-5 total-sep'" ng-if="practice[0].consumption">
</td>
{% else %}
<td ng-class="'green-level-' + practice[0].consumption.{{col_header.slug}} + ' editable-consumption edit-range cell-fix-width'"
    {% if request|is_broker_manager and not organization %}
    data-key="{{col_header.slug}}"
    data-range-step="1" data-range-min="0" data-range-max="4"
    data-range-value="[[practice[0].consumption.{{col_header.slug}}]]"
    ng-click="editConsumption($event, practice[0])"
    ng-keydown="($event.keyCode == 13 || $event.keyCode == 9) && nextCell($event, practice[0])"
    {% endif %}
    ng-if="practice[0].consumption">
</td>
{% endif %}
{% endfor %}
