<td colspan="6" ng-if="practice[0].consumption === null">
    <h4 class="text-blue" ng-if="practice[0].tag !== 'system'">[[practice[0].title]]</h4>
</td>
<td class="td-fix-width"
    ng-if="practice[0].consumption !== null">
    <a id="best-[[practice[0].slug]]"
       class="text-muted" style="margin-left: 20px;"
       href="{% if organization %}{% url 'best_practice_detail_organization' organization path %}{% else %}{% url 'best_practice_detail' path %}{% endif %}[[practice[0].slug]]/">
       [[practice[0].title]]
    </a>
</td>
{% for col_header in icon.value_headers %}
{% if col_header.slug == 'avg_value' %}
<!-- XXX yes: col_header.slug == 'avg_value' -->
<td ng-class="'green-level-' + practice[0].consumption.avg_value + ' cell-fix-width total-sep'" ng-if="practice[0].consumption !== null">
</td>
{% else %}
<td class="green-level-[[practice[0].consumption.{{col_header.slug}}]] editable-consumption edit-range cell-fix-width"
    {% if request|is_broker_manager and not organization %}
    data-key="{{col_header.slug}}"
    data-range-step="1" data-range-min="0" data-range-max="3"
    data-range-value="[[practice[0].consumption.{{col_header.slug}}]]"
    ng-click="editConsumption($event, practice[0])"
    {% endif %}
    ng-if="practice[0].consumption !== null">
</td>
{% endif %}
{% endfor %}
