{% extends "envconnect/base.html" %}

{% block consumption_content %}
<div id="app">
<div class="container text-center" style="background-color:#fff;color:#000;padding-bottom:50px;">
  <h2 class="text-center py-4">What do you need help with?</h2>
  {% block menu_items %}
  <div class="row mb-4">
    <div class="col text-center">
      <h5>Assess, benchmark and plan</h5>
      <div class="dropdown dropdown-homepage">
        <button class="btn btn-lg btn-primary dropdown-toggle" type="button" data-toggle="dropdown" data-flip="false">
          <span class="text">Make a selection</span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="segment-selector">
          <li><div style="font-size:14px;">Don't know what to select? <a href="{{'/docs/faq/#general-3'|site_prefixed}}" target="_blank">Click here</a></div></li>
          {% for segment in segments %}
          <li class="dropdown-item dropdown-item-indent-{{segment.indent}}">
            <div>
              {% if not segment.disabled %}
              {% if not segment.path %}
              <button id="{{segment.path}}" disabled>{{segment.title}}</button>
              {% else %}
              <a id="{{segment.path}}" href="{{'app/'|site_prefixed}}{{organization}}/assess/{{segment.path}}/" role="menuitem" tabindex="-1">{{segment.title}}</a>
              {% endif %}
              {% else %}
              <span id="{{segment.path}}" class="disabled" role="menuitem" tabindex="-1">{{segment.title}} <i class="fa fa-wrench"></i></span>
              {% endif %}
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div><!-- /.row -->
<!-- XXX
  <div class="row">
    <div class="col-sm-12">
      {% include "envconnect/_extra_messages.html" %}
    </div>
  </div>
  -->
  {% endblock menu_items %}
  <div class="row mt-4">
    <div class="col-sm-12">
      <div id="history" ng-controller="AppCtrl">
        <table class="table text-left">
          <tbody style="border:none;" ng-show="!items.$resolved">
            <tr>
              <td colspan="4">
                <h3  class="text-center"><i class="fa fa-refresh fa-spin fa-2x"></i></h3>
              </td>
            </tr>
          </tbody>
          <tbody style="border:none;">
            <tr ng-if="segments.$resolved && segments.length > 0" ng-cloak>
              <th style="border-top:none;border-bottom:1px solid;" colspan="4">Update assessment, plan improvements and share results</th>
            </tr>
            <tr ng-repeat="segment in segments" ng-show="segments.$resolved && segments.length > 0" ng-cloak>
              <td style="border:none;">[[ segment[1] ]]</td>
              <td style="border:none;"><a ng-href="[[ getSegmentUrl('{{urls.assess}}', segment[0]) ]]">Update assessment</a></td>
              <td style="border:none;"><a ng-href="[[ getSegmentUrl('{{urls.improve}}', segment[0]) ]]">Plan improvements</a></td>
              <td style="border:none;"><a ng-href="[[ getSegmentUrl('{{urls.share}}', segment[0]) ]]">Share scorecard</a></td>
            </tr>
          </tbody>
          <tbody style="border:none;" ng-show="items.$resolved && items.results.length == 0" ng-cloak>
            <tr>
              <td colspan="4">No previous assessments</td>
            </tr>
          </tbody>
          <tbody style="border:none;" ng-repeat="entry in items.results" ng-show="items.$resolved && items.results.length > 0" ng-cloak>
            <tr>
              <td style="border-top:none;border-bottom:1px solid;" colspan="4">
                [[entry.key]]
              </td>
            </tr>
            <tr ng-repeat="score in entry.values">
              <td style="border:none;">
                <a href="[[score[2] ]]">[[score[0] ]]</a>
              </td>
              <td style="border:none;">
                [[score[1] ]]%
              </td>
              <td style="border:none;">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- /.row -->
  <hr />
  <div class="text-left">
    <p>
Responding to a Sustainability Sourcing Event?&nbsp;&nbsp;&nbsp;<a href="{% url 'assess_organization' organization '/sustainability-euissca-rfx/' %}">Take the RFP and other RFx assessment &raquo;</a>
    </p>
  </div>
</div><!-- /.faq-list -->
</div>
{% endblock %}
