{% extends "envconnect/base_folding_icons.html" %}
{% load pages_tags %}
{% load static from staticfiles %}

{% block icons_content %}
<div class="tab-content collapse{% if active %} in{% endif %}">
    {% for abs_prefix, icon_tuple in root.1|iteritems %}
        {% with icon_tuple.0 as icon %}
        <div role="tabpanel" class="tab-pane{% if icon.slug == active %} active{% endif %}" id="tab-{{icon.slug}}">
          <div ng-if="getEntriesByTag('{{abs_prefix}}', TAG_PAGEBREAK).length === 0">
            <table class="table table-striped table-bordered table-assessment">
                {% with icon.tag|assessment_choices as choices %}
                <thead ng-show="!scoreToggle">
                    <tr>
                      <th rowspan="2" style="vertical-align:bottom;">Practices</th>
                      <th class="text-center" colspan="{{choices|length}}">Implemented as standard practice? <a style="cursor:pointer;" href="" data-toggle="tooltip" data-placement="right" title="Read this question to mean, Has the practice been implemented as standard or routine for all activities, projects or services to which the practice could apply, and over which the reporting entity has operational influence or control? If the reporting entity has no influence or control over a practice, then the response to the question should be 'Not applicable'."><i class="fa fa-question-circle"></i></a></th>
                    </tr>
                    <tr>
                      <th class="text-center cell-fix-width-5" style="vertical-align:bottom;">
                          <div data-toggle="tooltip" data-placement="bottom" title="The practice is implemented across all activities/services/products/offices/ facilities to which it could apply.">Yes</div>
                      </th>
                      <th class="text-center cell-fix-width-5" style="vertical-align:bottom;">
                          <div data-toggle="tooltip" data-placement="bottom" title="The practice is implemented across roughly 50% OR MORE of the activities/services/products/offices/ facilities to which it could apply.">Mostly yes</div>
                      </th>
                      <th class="text-center cell-fix-width-5" style="vertical-align:bottom;">
                          <div data-toggle="tooltip" data-placement="bottom" title="The practice is implemented across roughly 50% OR LESS of the activities/services/products/offices/ facilities to which it could apply.">Mostly no</div>
                      </th>
                      <th class="text-center cell-fix-width-5" style="vertical-align:bottom;">
                          <div data-toggle="tooltip" data-placement="bottom" title="The practice is implemented across negligible to no activities/services/products/offices/ facilities to which it could apply.">No</div>
                      </th>
                      <th class="text-center cell-fix-width-5" style="vertical-align:bottom;">
                          <div data-toggle="tooltip" data-placement="bottom" title="The practice is not applicable to the organization, or the organization has no influence or control over its implementation.">Not applicable</div>
                      </th>
                    </tr>
                </thead>
                <thead ng-show="scoreToggle">
                    <th style="vertical-align:middle;border-top:0;">Practices</th>
                    <th class="text-center cell-fix-width-3" style="border-top:0;" data-toggle="tooltip" data-placement="top" title="Percentage of peer respondents that have implemented a best practice.">
                        <button class="btn-link btn-sort" ng-click="sortBy('rate')">
                            <i class="fa fa-sort[[dir.rate ? ('-' + dir.rate) : '']]"></i>
                        </button>
                            Implementation rate
                    </th>
                    <th class="text-center cell-fix-width-3" style="border-top:0;" data-toggle="tooltip" data-placement="top" title="Extent to which you indicated the practice is implemented across activities/services/projects/facilities etc. to which it could apply: 3 ticks = All, 2 ticks = More than 60%, 1 tick = Less than 40%, x = Not implemented or not applicable">
                        <button class="btn-link btn-sort" ng-click="sortBy('implemented')">
                            <i class="fa fa-sort[[dir.implemented ? ('-' + dir.implemented) : '']]"></i>
                        </button>
                            Implemented by you?
                    </th>
                    <th class="text-center cell-fix-width-3" style="border-top:0;" data-toggle="tooltip" data-placement="top" title="Opportunity points by which your score could increase if this best practice is implemented. See FAQs for scoring methodology and calculations.">
                        <button class="btn-link btn-sort" ng-click="sortBy('opportunity')">
                            <i class="fa fa-sort[[dir.opportunity ? ('-' + dir.opportunity) : '']]"></i>
                        </button>
                            Opportunity score
                    </th>
                </thead>
                <tbody data-prefix="{{abs_prefix}}">
                    <tr data-id="[[getPath(practice[0])]]"
                        class="best-practice-row"
                        ng-repeat="practice in getEntries('{{abs_prefix}}')"
                        ng-if="sortedOnKeys === 0 && getEntries('{{abs_prefix}}').length > 0"
                        ng-show="!scoreToggle">
                            {% include "envconnect/_assess_assessment_row.html" %}
                    </tr>
                    <tr ng-repeat="practice in getEntries('{{abs_prefix}}')"
                        ng-if="sortedOnKeys === 0 && getEntries('{{abs_prefix}}').length > 0"
                        ng-show="scoreToggle">
                            {% include "envconnect/_assess_score_row.html" %}
                    </tr>
                    <tr data-id="[[getPath(practice[0])]]"
                        class="best-practice-row"
                        ng-repeat="practice in getEntries('{{abs_prefix}}') | orderBy:sortedOn:reverse"
                        ng-if="sortedOnKeys !== 0 && getEntries('{{abs_prefix}}').length > 0"
                        ng-show="!scoreToggle">
                            {% include "envconnect/_assess_assessment_row.html" %}
                    </tr>
                    <tr ng-repeat="practice in getEntries('{{abs_prefix}}') | orderBy:sortedOn:reverse"
                        ng-if="sortedOnKeys !== 0 && getEntries('{{abs_prefix}}').length > 0"
                        ng-show="scoreToggle">
                            {% include "envconnect/_assess_score_row.html" %}
                    </tr>
                    <tr ng-if="getEntries('{{abs_prefix}}').length === 0">
                        <td colspan="[[!scoreToggle ? {{choices|length|add:1}} : 4]]">
<em>Guidance has not yet been developed for this section. If you would like to
see guidance, or are interested in authoring content for this section, please
<a href="{{'contact/'|site_prefixed}}">contact us &raquo;</a>.
See the following for examples of content developed for best practices:
<a href="{% url 'summary' '/sustainability-boxes-and-enclosures/energy/reduce-the-pressure-of-compressed-air-to-the-minim/' %}">Example 1</a>,
<a href="{% url 'summary' '/sustainability-office-space-only/computing-and-telecom-hardware-and-service-fc47207/' %}">Example 2</a>,
<a href="{% url 'summary' '/sustainability-office-space-only/driver-behavior-that-could-influence-fuel-efficien/' %}">Example 3</a>.</em>
                        </td>
                    </tr>
                </tbody>
                {% endwith %}
            </table>
            <div class="row" style="margin-top:-15px;">
                <div class="col-md-offset-6 col-md-6 text-right" style="margin-bottom: 10px;">
                    <div ng-show="valueSummaryToggle">
                        {% include "envconnect/_value_summary_legend.html" %}
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 5px;">
              <div class="col-sm-6 text-left">
                <a id="download-assessment" class="btn btn-default" href="{% url 'envconnect_assess_organization_download' organization path %}" target="_blank"><i class="fa fa-download"></i> Download questions</a>
              </div>
              <div class="col-sm-6 text-right">
                <button class="btn btn-primary" id="reset-button" href="" data-toggle="modal" data-target="#reset-assessment">Reset</button>
                <button class="btn btn-primary" id="saved-button" ng-click="showSaveMessage($event)">Save</button>
                <a id="submit-button" class="btn btn-primary" href="" data-toggle="modal" data-target="#submit-assessment">Complete</a>
                <div class="text-right"
                     style="display:inline-block;padding-left:10px;">
                        <!-- WORKAROUND: we set data-width and data-height
                             otherwise bootstrap-toggle will crop the size
                             inside a class="tab-content collapse". -->
                        <input id="toggle-results-{{icon.slug}}"
                               type="checkbox" toggle-checkbox
                               data-toggle="toggle"
                               data-on="<span>Assessment</span>"
                               data-onstyle="green-level-2"
                               data-off="<span>Results</span>"
                               data-offstyle="green-level-2"
                               data-width="125px" data-height="34px"
                               ng-model="scoreToggle">
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endwith %}
    {% endfor %}
</div>
<!-- modals -->
<div id="reset-assessment" class="modal fade"
     tabindex="-1" role="dialog"
     aria-labelledby="Reset assessment" aria-hidden="true" style="color: #000;">
    <div class="modal-dialog">
        <form class="modal-content" ng-submit="resetAssessment($event)">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Reset your assessment ...</h4>
            </div>
            <div class="modal-body">
                    <p>
Resetting your assessment will delete all answers in the current assessment.
                    </p>
                    <p>
Do you wish to continue?
                    </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-defaut"
                    data-dismiss="modal">No</button>
                <button type="submit" class="btn btn-primary">Yes</button>
            </div>
        </form>
    </div>
</div>
<div id="submit-assessment" class="modal fade"
     tabindex="-1" role="dialog"
     aria-labelledby="Complete assessment" aria-hidden="true"
     style="color: #000;">
    <div class="modal-dialog">
        <form class="modal-content" ng-submit="freezeAssessment($event, 'assessment', 'Browse to the Scorecard to see how you compare with peers.')">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Mark your assessment as complete ...</h4>
            </div>
            <div class="modal-body">
                    <p>
You certify that the assessment responses provided for your organization
are true and correct to the best of your knowledge. Additionally, you
acknowledge that the responses form a statement of record which current
or future clients may request to verify.</p>
<p>After clicking "Yes", you will no longer be able to change
responses in <strong>this assessment</strong>. Start a new assessment when
you have improvements to report.
                    </p>
                    <p>
Do you wish to continue?
                    </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-defaut"
                    data-dismiss="modal">No</button>
                <button type="submit" class="btn btn-primary">Yes</button>
            </div>
        </form>
    </div>
</div>
<div id="new-assessment" class="modal fade"
     tabindex="-1" role="dialog"
     aria-labelledby="Review or create new assessment" aria-hidden="true"
     style="color: #000;">
    <div class="modal-dialog">
        <form class="modal-content" ng-submit="createAssessment($event)">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Review or create new assessment ...</h4>
            </div>
            <div class="modal-body">
You have already completed an assessment. Do you want to review the answers
of the currently completed assessment or do you want to create a new assessment?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-defaut"
                    data-dismiss="modal"><i class="fa fa-eye"></i> Review</button>
                <button type="submit" class="btn btn-primary"><i class="fa fa-plus"></i> New</button>
            </div>
        </form>
    </div>
</div>
<div id="report-measurements" class="modal fade"
     tabindex="-1" role="dialog"
     aria-labelledby="Report measurements" aria-hidden="true"
     style="color: #000;">
    <div class="modal-dialog">
      <form class="form" ng-submit="submitMeasures('{{abs_prefix}}', $event)">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">DO YOU MEASURE/REPORT?</h4>
            </div>
            <div class="modal-body">
                <h5>For bonus points tell us what you measure and report</h5>
                <p>
Each additional measure you tell us about is worth 4 bonus points
                </p>
                <fieldset>
                  <legend>ABSOLUTE/TOTAL MEASUREMENTS</legend>
                  <div class="row" ng-repeat="measure in getMeasures('{{abs_prefix}}').items">
                    <div class="col-sm-2">
                      <input class="form-control" type="number" ng-model="measure.measured" placeholder="Enter data point">
                    </div>
                    <div class="col-sm-2">
                      <select class="form-control" ng-model="measure.name" name="metric-name" value="Subject of measure">
                        <option value="">Select subject of measure...</option>
                        <option value="energy">Energy</option>
                        <option value="fuel">Fuel</option>
                        <option value="ghg-emissions">GHG emissions</option>
                        <option value="hazardous-waste">Hazardous waste</option>
                        <option value="material">Material</option>
                        <option value="nox-emissions">NOx emissions</option>
                        <option value="particulate-emissions">Particulate emissions</option>
                        <option value="sox-emissions">SOx emissions</option>
                        <option value="solid-general-waste">Solid/general waste</option>
                        <option value="spend">Spend</option>
                        <option value="water-use">Water use</option>
                        <option value="waste-water-effluent">Waste water effluent</option>
                      </select>
                    </div>
                    <div class="col-sm-2">
                      <select class="form-control" ng-model="measure.stick" name="metric-stick" value="Unit of measure">
                              <option value="">Select unit of measure...</option>
                              <option value="count">Count or number</option>
                              <option value="currency">Currency</option>
                              <option value="gallons">Gallons</option>
                              <option value="joules">Joules</option>
                              <option value="kilograms">Kilograms</option>
                              <option value="liters">Liters</option>
                              <option value="metric-tons">Metric tons</option>
                              <option value="percentage">Percentage</option>
                              <option value="pounds">Pounds</option>
                              <option value="short-tons">Tons (short/US)</option>
                              <option value="long-tons">Tons (long/UK)</option>
                      </select>
                    </div>
                    <div class="col-sm-2">
                            <select class="form-control" ng-model="measure.meaning" name="metric-meaning" value="Select">
                                    <option value="">Select meaning ...</option>
                                    <option value="saved">Saved</option>
                                    <option value="avoided">Avoided</option>
                                    <option value="reduced">Reduced</option>
                                    <option value="generated">Generated</option>
                                    <option value="emitted">Emitted</option>
                                    <option value="with-environmental-controls">With environmental controls</option>
                            </select>
                    </div>
                    <div class="col-sm-2">
                      <select class="form-control" ng-model="measure.scope" name="metric-scope" value="Scope of measure">
                        <option value="">Select scope ...</option>
                        <option value="corporate-level-of-which-reporting-entity-is-part">Corporate level, of which reporting entity is part</option>
                        <option value="business-unit-Reporting-entity">Business unit/Reporting entity</option>
                        <option value="some-activities">Some activities</option>
                        <option value="all-activities">All activities</option>
                        <option value="ad-hoc-projects">Ad hoc projects</option>
                        <option value="some-projects">Some projects</option>
                        <option value="all-projects">All projects</option>
                        <option value="office-footprint-only">Office footprint only</option>
                        <option value="full-operations-footprint">Full operations footprint</option>
                        <option value="partial-operations-footprint">Partial operations footprint</option>
                        <option value="scope-1-full">Scope 1 - full</option>
                        <option value="scope-2-full">Scope 2 - full</option>
                        <option value="scope-3-full">Scope 3 – full</option>
                        <option value="scope-1-partial">Scope 1 - partial</option>
                        <option value="scope-2-partial">Scope 2 - partial</option>
                        <option value="scope-3-partial">Scope 3 – partial</option>
                      </select>
                    </div>
                    <div class="col-sm-2">
                      <select class="form-control" ng-model="measure.frequency" name="metric-frequency" value="Frequency">
                        <option value="">Select frequency ...</option>
                        <option value="annual">Annual</option>
                        <option value="quarterly">Quarterly</option>
                        <option value="semi-annual">Semi-annual</option>
                      </select>
                    </div>
                  </div>
                  <button class="btn btn-default" type="button" ng-click="addMeasure('{{abs_prefix}}', $event)"><i class="fa fa-plus"></i> Report another item</button>
                </fieldset>
                <fieldset>
                  <legend>OTHER MEASURES</legend>
                  <p>Also for bonus points, list other measures and reporting your organization does that aren’t included above options.</p>
                  <textarea class="form-control"
                            name="other-measures"
                            maxlength="255" type="text" rows="10"
                            placeholder="For example:
- Office energy intensity/square foot
- Energy intensity/meter of cable
- Joules/distribution transformer
- Carbon emissions/parcel delivered"
                            ng-model="getMeasures('{{abs_prefix}}').freetext"></textarea>
                  <p>And/or tell us what measures you think make the most sense for your type of organization, or the challenges of reporting environmental metrics</p>
                  <textarea class="form-control"
                            name="message"
                            maxlength="255" type="text" rows="10"
                            placeholder="Insert text"
                            ng-model="getMeasures('{{abs_prefix}}').comments"></textarea>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="submit" value="submit">Submit</button>
            </div>
        </div>
      </form>
    </div>
</div>
{% endblock %}

{% block supplier_menus_scripts %}
<script type="text/javascript">
jQuery(document).ready(function($) {
    var tripElements = [
{% if request|is_authenticated and not request.session.last_visited %}
        {
            sel: $("#help-request"),
            content: $("#help-request").data("trip-content"),
            position: "screen-center",
            enableAnimation: false,
            delay:-1,
            tripTheme: "black",
            showNavigation: true,
            canGoPrev: false,
            prevLabel: " ",
            nextLabel: "OK",
            skipLabel: " ",
            finishLabel: "OK",
        },
{% endif %}
{% if request|is_authenticated and not request.session.last_visited or request.session.last_visited == 'app' %}
        {
            sel: $("#submenu-self-assessment"),
            content: "<ol class='text-left'>" +
"<li>Click each grey or orange box and complete a response for all best practices<br />" +
"listed<sup>(1)</sup>. [<strong style='color:#FFF633'>Responses must be accurate and verifiable</strong>, so mouse over each column heading to clearly<br />" +
"understand response choices. Also click a best practice for guidance<sup>(2)</sup> on what should be in place to<br />" +
"respond <em>&quot;Yes&quot;</em>.</li>" +
"<li>Click the <em>Results</em> button (bottom of page) to display per-practice<br />" +
"benchmarking<sup>(3)</sup> and opportunity assessment.</li>" +
"<li>Select <em>Scorecard</em> for overall performance scores<sup>(1)</sup> and benchmark graphs<sup>(3)</sup>." +
"</ol>" +
"<ol class='text-left list-unstyled' style='margin-left:27px;'>" +
"<li><sub style='font-size:12px'>(1) There must be a response for each best practice to generate a complete Scorecard.</sub></li>" +
"<li><sub style='font-size:12px'>(2) If guidance has not yet been developed for a practice, you may request it from the best practice detail page.</sub></li>" +
"<li><sub style='font-size:12px'>(3) Benchmarking may change as more users complete assessments on the system.</sub></li>" +
"</ol>",
            position: "screen-center",
            enableAnimation: false,
            delay:-1,
            tripTheme: "black",
            showNavigation: true,
            canGoPrev: false,
            prevLabel: " ",
            nextLabel: "OK",
            skipLabel: " ",
            finishLabel: "OK",
        }
{% endif %}
    ];
    if( tripElements.length > 0  ) {
        var trip = new Trip(tripElements);
        trip.start();
    }

{% if sample.is_frozen %}
    $("#new-assessment").modal("show");
{% endif %}
});
</script>
{% endblock %}


