{% extends "base.html" %}
{% load assets %}
{% load static from staticfiles %}

{% block content %}
<div class="backdrop">
  <div ng-app="envconnectApp">
    <div ng-controller="EnvconnectCtrl">
      <div class="question-mark" style="float: right; padding-right: 25px;">
        {% block help_menus %}
        {% endblock %}
      </div> <!-- .question-mark -->
      <ol class="col-md-9 breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
        {% for breadcrumb_tuple in breadcrumbs %}
        <li class="breadcrumb-item">
          <a id="bc-{{breadcrumb_tuple.0}}" href="{{breadcrumb_tuple.2}}">{{breadcrumb_tuple.0.title}}</a>
        </li>
        {% endfor %}
      </ol>
      <div class="container-fluid">
        {% block supplier_menus %}
        {% endblock supplier_menus %}
        {% block consumption_content %}
        {% endblock consumption_content %}
        <div class="row">
          {% block page_bottom_help %}
          {% endblock %}
          <div class="offset-md-3 col-md-6 content-sponsors">
            <h3>Content sponsors</h3>
            <p>
Please <a href="{{'about/'|site_prefixed}}" target="_blank">click here</a>
to see a list of contributors responsible for providing information, time
and/or funding to develop content on this website.
            </p>
          </div>
        </div>
      </div>
    </div> <!-- controller -->
  </div>
</div>
{% endblock %}

{% block bodyscripts %}
{{block.super}}
{% assets "js_angular" %}
<script type="text/javascript" src="{{ASSET_URL}}"></script>
{% endassets %}
{% assets "js_envconnect" %}
<script type="text/javascript" src="{{ASSET_URL}}"></script>
{% endassets %}
<script type="text/javascript">
/* Implementation Note: Not including a list of dependent modules
   (2nd parameter to `module`) "re-opens" the module for additional
   configuration. */
var app = angular.module('envconnectApp');
/* Add the CSRF Token: */
app.config(['$interpolateProvider', '$httpProvider',
           function($interpolateProvider, $httpProvider) {
    $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{csrf_token|escapejs}}';
    /* Makes it easier to separate between django and angularjs templates */
    $interpolateProvider.startSymbol('[[');
    $interpolateProvider.endSymbol(']]');
}]);
app.constant('settings', {
{% if urls %}
    urls: {{urls|to_json}},
{% else %}
    urls: {
        api_scorecard_disable: "{% url 'api_scorecard_disable' '' %}",
        api_scorecard_enable: "{% url 'api_scorecard_enable' '' %}",
        api_best_practices: "{% url 'api_detail' '' %}",
        api_mirror_node: "{% url 'api_mirror_detail' '' %}",
        api_move_node: "{% url 'api_move_detail' '' %}",
        api_columns: "{% url 'api_column_base' %}",
        api_consumptions: "{% url 'api_consumption_base' %}",
{% if organization %}
        api_improvements: "{% url 'api_improvement_base' organization %}",
        {% if sample %}
        api_assessment_sample: "{% url 'survey_api_sample' organization sample %}",
        {% endif %}
        api_assessment_sample_new: "{% url 'survey_api_sample_new' organization %}",
{% endif %}
        api_weights: "{% url 'api_score_base' %}",
        api_page_elements: "{% url 'page_elements' %}",
    },
{% endif %}
    activeIcon: {% if active %}"{{active}}"{% else %}null{% endif %},
    nbAnswers: {% if nb_questions %}{{nb_answers}}{% else %}0{% endif %},
    nbQuestions: {% if nb_questions %}{{nb_questions}}{% else %}0{% endif %},
    prevSample: {% if selected_sample %}"{{selected_sample}}"{% else %}""{% endif %},
    hidden: {% if hidden %}{{hidden|safe}}{% else %}{}{% endif %},
    accountExtra: {% if account_extra %}{{account_extra|safe}}{% else %}{}{% endif %},
    valueSummaryToggle: true,
    scoreToggle: {% if score_toggle %}true{% else %}false{% endif %},
    supplierManagers: {% if supplier_managers %}{{supplier_managers|safe}}{% else %}[]{% endif %},
{% if sort_by %}
    sortBy:{{sort_by|safe}},
{% endif %}
    itemsPerPage: {% if items_per_page %}{{items_per_page}}{% else %}25{% endif %},
{% if date_range %}
    date_range: {{date_range|to_json}},
{% endif %}
    modalId: "#new-user-relation",
    entries: {% if entries %}{{entries|safe}}{% else %}{}{% endif %},
});

jQuery(document).ready(function($) {
    var doc = document.documentElement;
    doc.setAttribute('data-useragent', navigator.userAgent);

    $("#add-element-modal").on('shown.bs.modal', function () {
      $("#add-element-modal [name=\"title\"]").focus();
    });
    $("#edit-element-modal [name=\"title\"]").on('shown.bs.modal', function () {
      $("#edit-element-modal").focus();
    });

    if ($('[data-trip]').length > 0){
        $("#help-request").parent().show();
        $("#help-request").click(function(event){
            event.preventDefault();
            var trip = new Trip({
                enableAnimation: false,
                delay:-1,
                tripTheme: "black",
                showNavigation: true,
                canGoPrev: false,
                prevLabel: " ",
                nextLabel: "OK",
                skipLabel: " ",
                finishLabel: "OK",
            });
            trip.start();
        });
    }
});
</script>
{% endblock %}
