{% extends "envconnect/base.html" %}
{% load assets %}

{% block supplier_menus %}
<div>
  <div class="progressbar-container">
    <ul class="progressbar">
      {% if not survey or survey.slug != 'framework' %}
      <li class="active">
        <a id="submenu-sustainability" href="{{urls.summary}}[[activeIcon !== null ? '?active=' + activeIcon : '']]">Learn</a>
      </li>
      {% endif %}
      <li{% if request.path == urls.assess or request.path == urls.benchmark or request.path == urls.improve or request.path == urls.scorecard or request.path == urls.share %} class="active"{% endif %}>
        <a id="submenu-self-assessment" href="{{urls.assess}}[[activeIcon !== null ? '?active=' + activeIcon : '']]">Assess</a>
      </li>
      <li{% if request.path == urls.benchmark or request.path == urls.improve or request.path == urls.scorecard or request.path == urls.share %} class="active"{% endif %}>
        <a id="submenu-benchmark" href="{{urls.benchmark}}">Scorecard</a>
      </li>
      <li{% if request.path == urls.improve or request.path == urls.scorecard or request.path == urls.share %} class="active"{% endif %}>
        <a id="submenu-improve" href="{{urls.improve}}[[activeIcon !== null ? '?active=' + activeIcon : '']]">Improve</a>
      </li>
      <li{% if request.path == urls.scorecard or request.path == urls.share %} class="active"{% endif %}>
        <a id="submenu-scorecard" href="{{urls.scorecard}}">Scorecard</a>
      </li>
      <li{% if request.path == urls.share %} class="active"{% endif %}>
        <a id="submenu-share" href="{{urls.share}}">Share</a>
      </li>
    </ul>
  </div>
</div>
<div class="clearfix"></div>
{% endblock supplier_menus %}

{% block bodyscripts %}
{{block.super}}
{% block supplier_menus_scripts %}
<script type="text/javascript">
{% if request|is_authenticated and not request.session.last_visited %}
    if( $("#help-request").length > 0 ){
        var trip = new Trip({
            sel: $("#help-request"),
            content: $("#help-request").data("trip-content"),
            position: "screen-center",
            enableAnimation: false,
            delay:-1,
            tripTheme: "black",
            showNavigation: true,
            canGoPrev: false,
            prevLabel: " ",
            nextLabel: "OK",
            skipLabel: " ",
            finishLabel: "OK",
        });
        trip.start();
    }
{% endif %}
</script>
{% endblock %}
{% endblock %}
