{% extends "envconnect/base.html" %}
{% load assets %}

{% block supplier_menus %}
<div>
  <div class="progressbar-container">
    <ul class="progressbar">
      {% if urls.summary %}
      <li class="active">
        <a id="submenu-sustainability" href="{{urls.summary}}[[activeIcon !== null ? '?active=' + activeIcon : '']]"><span class="progressbar-step"></span>Learn</a>
      </li>
      {% endif %}
      {% if urls.assess %}
      <li{% if request.path == urls.assess or request.path == urls.benchmark or request.path == urls.improve or request.path == urls.scorecard or request.path == urls.share %} class="active"{% endif %}>
        <a id="submenu-self-assessment" href="{{urls.assess}}[[activeIcon !== null ? '?active=' + activeIcon : '']]"><span class="progressbar-step"></span>Assess</a>
      </li>
      {% endif %}
      {% if urls.benchmark %}
      <li{% if request.path == urls.benchmark or request.path == urls.improve or request.path == urls.scorecard or request.path == urls.share %} class="active"{% endif %}>
        <a id="submenu-benchmark" href="{{urls.benchmark}}"><span class="progressbar-step"></span>Scorecard</a>
      </li>
      {% endif %}
      {% if urls.improve %}
      <li{% if request.path == urls.improve or request.path == urls.scorecard or request.path == urls.share %} class="active"{% endif %}>
        <a id="submenu-improve" href="{{urls.improve}}[[activeIcon !== null ? '?active=' + activeIcon : '']]"><span class="progressbar-step"></span>Improve</a>
      </li>
      {% endif %}
      {% if urls.scorecard %}
      <li{% if request.path == urls.scorecard or request.path == urls.share %} class="active"{% endif %}>
        <a id="submenu-scorecard" href="{{urls.scorecard}}"><span class="progressbar-step"></span>Scorecard</a>
      </li>
      {% endif %}
      {% if urls.share %}
      <li{% if request.path == urls.share %} class="active"{% endif %}>
        <a id="submenu-share" href="{{urls.share}}"><span class="progressbar-step"></span>Share</a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
<div class="clearfix"></div>
{% endblock supplier_menus %}

{% block bodyscripts %}
{{block.super}}
{% block supplier_menus_scripts %}
<script type="text/javascript">
{% if request|is_authenticated and not request.session.last_visited %}
    if( $("#help-request").length > 0 ){
        var trip = new Trip({
            sel: $("#help-request"),
            content: $("#help-request").data("trip-content"),
            position: "screen-center",
            enableAnimation: false,
            delay:-1,
            tripTheme: "black",
            showNavigation: true,
            canGoPrev: false,
            prevLabel: " ",
            nextLabel: "OK",
            skipLabel: " ",
            finishLabel: "OK",
        });
        trip.start();
    }
{% endif %}
</script>
{% endblock %}
{% endblock %}
