{% load assets %}
{% load navactive %}
<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <!-- XXX - HACK to customize PDF, add style into tags -->
    <h1 style="font-size:30px;font-family:'Helvetica Neue';text-align:center;margin-bottom:0px">Improvement Plan</h1>
    <h2 style="font-size:30px;font-family:'Helvetica Neue';font-weight:200;margin-bottom:0px;margin-top:0px;text-align:center">Practices</h2>
    <hr>
    {% for item in object_list %}
    <h1 style="font-size:20px;font-family:'Helvetica Neue';margin-bottom:0px;margin-top:10px;text-decoration:underline">{{item.title}}</h1>
    <div>
      {{item.text|safe}}
    </div>
  {% endfor %}
  </body>
</html>
