<div class="col-lg-4">
	<div class="panel panel-grey">
		<div class="padding_20">
			<div class="panel-heading">
				<h4>
					My Personalized Report ({{cart.quantity}})
				</h4>
			</div>
			<div class="panel-body">
				<div style="height:75px;overflow:scroll;">
					{% if cartitems %}
					<table class="table">
						{% for cartitem in cartitems %}
						<tr>
							<td>{{cartitem.best_practice.topic.equipment}}/{{cartitem.best_practice.topic.name}}</td>
							<td><a class="remove" href="{% url 'remove_bp' industry category cartitem.best_practice %}">Remove</a></td>
						</tr>
						{% endfor %}
					</table>
					{% else %}
					<em>Nothing selected</em>
					{% endif %}
				</div>
			</div>
			<a class="btn btn-warning btn-sm" href="{% url 'cart' %}">View selected</a>
		</div>
	</div>
</div>
