{% extends "envconnect/base_supplier_menus.html" %}

{% block consumption_content %}
{% block page_top_help %}
<div class="offset-sm-2 col-sm-8">
  <p class="text-center">
<span style="text-decoration: underline;">ACTION:</span>
Click the <em>Complete</em> button to freeze your assessment.
{% if urls.scorecard %}
  Then click <em>Scorecard</em> to view scores and benchmarking.
{% endif %}
  </p>
</div>
{% endblock %}

{% block icons_content %}
<div class="tab-content">
  <div id="complete-content" class="panel-icons">
    <div class="benchmarks-box my-4">
      <h2 class="icon-row-title mt-3">Mark <em>{{organization.printable_name}}</em> assessment as complete ...</h2>
      <form ng-submit="freezeAssessment($event)">
        <div class="row"
             ng-if="nbRequiredAnswers < nbRequiredQuestions" ng-cloak>
          <div class="col-12">
            <p class="text-center">
              [[nbAnswers]] out of [[nbQuestions]] questions answered.
            </p>
            <p class="mx-2 text-left" style="text-decoration:underline;">
A response on the following practices is required to complete the assessment.
Please go back to the <em>ASSESS</em> step and answer those questions:
            </p>
            {% with root_prefix|add:"/"|add:root.0.slug as abs_prefix %}
            <table class="table table-striped table-bordered table-assessment">
              <tbody data-prefix="{{abs_prefix}}">
                <tr data-id="[[getPath(practice[0])]]"
                    class="best-practice-row"
                    ng-repeat="practice in getEntries('{{abs_prefix}}')"
                    ng-if="getEntries('{{abs_prefix}}').length > 0">
                  <td style="border:none;">
                    <div ng-class="indentHeader(practice, '{{abs_prefix}}')">
                      <span class="title" ng-if="!practice[0].consumption">[[practice[0].title]]</span>
                      <a class="title" href="[['{{urls.assess}}?active=' + getSection(practice, '{{abs_prefix}}')]]" ng-if="practice[0].consumption">[[practice[0].title]]</a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            {% endwith %}
          </div>
        </div>
        <div class="row"
             ng-if="nbRequiredAnswers >= nbRequiredQuestions"
             ng-cloak>
          <div class="offset-sm-3 col-sm-6">
            <p>
By clicking &quot;Complete&quot;:
            <p>
<strong>You certify</strong> that the assessment responses provided for
<em>{{organization.printable_name}}</em> are true and correct to the best
of your knowledge. Additionally, you acknowledge that the responses
form a statement of record which current or future clients may request
to verify.
            </p>
            <p>
<strong>You commit</strong> <em>{{organization.printable_name}}</em>
to implement the best practices selected in the improvement plan.
            </p>
{% if urls.scorecard %}
            <p>
Then:
            </p>
            <ol>
              <li>Click SCORECARD to view scores and benchmarking.</li>
              <li>Click SHARE to send the assessment to customers, clients and/or investors.</li>
            </ol>
{% endif %}
          </div>
        </div>
        <div class="text-center mb-4">
          {% if not sample.is_frozen %}
          <button id="submit-button" class="btn btn-primary"
                  ng-disabled="freezeAssessmentDisabled || nbRequiredAnswers < nbRequiredQuestions"><span ng-show="freezeAssessmentDisabled" class="fa fa-refresh fa-spin"></span> Complete </button>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% endblock %}
