{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<section id="credits">
    <div class="page-header">
        <h1>Credits</h1>
    </div>
    {% if credit_list %}
    <table>
    {% for credit in credit_list %}
    <tr>
        <td><h1>{{credit.slug}}</h1></td>
    </tr>
    <tr>
        <td>{{credit.description}}</td>
    </tr>
		{% for state in credit.location.all %}
		<tr>
			<td>
				{{state.name}}
			</td>
		</tr>
		{% endfor %}
	
    {% endfor %}
    </table>
    {% else %}
    <em>No Credit for {{externality.name}}</em>
    {% endif %}
	
	{% for state in state_list %}
	<input type="checkbox" value="{{state.slug}}" id="{{state.slug}}" class="state_ckbox">{{state.name}}
	{% endfor %}
</section>
{% endblock %}

{% block bodyscripts %}
<script type="text/javascript" charset="utf-8">
function GetURLParameter(sParam)
{
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++) 
    {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam) 
        {
            return sParameterName[1];
        }
    }
}	
	var state = GetURLParameter('states').split(',');
	$.each(state, function( index, value ) {
		$("#"+value).attr('checked',true)
	});
	$(".state_ckbox").change(function(){
		if ($(this).is(':checked')){
			var attr_url = 'tes'
		}
	})

</script>
{% endblock %}
