{% extends "envconnect/base_folding_icons.html" %}
{% load pages_tags %}

{% block app_content %}
<div class="tab-content collapse{% if active %} in{% endif %}">
    {% for icon_tuple in root.1 %}
        {% with icon_tuple.0 as icon %}
        {% with "/"|add:root.0.slug|add:"/"|add:icon.slug as prefix %}
        {% with root_prefix|add:prefix as abs_prefix %}
        <div role="tabpanel" class="tab-pane{% if icon.slug == active %} active{% endif %}" id="tab-{{icon.slug}}">
            <div ng-if="getEntriesByTag('{{abs_prefix}}', TAG_SYSTEM).length === 0">
            <table class="table table-striped table-bordered">
                <thead>
                    <th style="vertical-align: middle;">Practices</th>
                </thead>
                <tbody dnd-list="getEntries('{{abs_prefix}}')">
                    {% if request|is_broker_manager %}
                    <tr>
                        <td colspan="4">
                            <button class="btn btn-link" data-toggle="modal" data-target="#add-pagelement-modal" ng-click="setPrefix('{{abs_prefix}}', 'best-practice')"><i class="fa fa-plus"></i> Add best practice ...</button>
                        </td>
                    </tr>
                    {% endif %}
                    <tr data-id="[[getPath(practice[0])]]" ng-repeat="practice in getEntries('{{abs_prefix}}')">
                        {% include "envconnect/_detail_row_basic.html" %}
                    </tr>
                    <tr ng-show="getEntries('{{abs_prefix}}').length === 0">
                        <td colspan="4"><em>Content development in progress... Please, consider to <a href="{% url 'about' %}">contribute or become a sponsor &raquo;</a></em></td>
                    </tr>
                    {% if request|is_broker_manager %}
                    <tr>
                        <td colspan="4">
                            <button class="btn btn-link" data-toggle="modal" data-target="#add-pagelement-modal" ng-click="setPrefix('{{abs_prefix}}', TAG_HEADING)"><i class="fa fa-plus"></i> Add practices header ...</button>
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
            </div>
        </div>
        {% endwith %}
        {% endwith %}
        {% endwith %}
    {% endfor %}
</div>
{% endblock %}
