{% extends "envconnect/base_folding_icons.html" %}
{% load pages_tags %}
{% load static from staticfiles %}

{% block app_content %}
<div class="tab-content collapse{% if active %} in{% endif %}">
    {% for abs_prefix, icon_tuple in root.1|iteritems %}
        {% with icon_tuple.0 as icon %}
        <div role="tabpanel" class="tab-pane{% if icon.slug == active %} active{% endif %}" id="tab-{{icon.slug}}" ng-cloak>
          <div ng-if="getEntriesByTag('{{abs_prefix}}', TAG_SYSTEM).length === 0">
            <div class="row">
                <div class="col-md-offset-6 col-md-6 text-right" style="margin-bottom:5px;">
                    <!-- WORKAROUND: we set data-width and data-height
                         otherwise bootstrap-toggle will crop the size
                         inside a class="tab-content collapse". -->
                    <input id="toggle-value-summary-{{icon.slug}}"
                           type="checkbox" toggle-checkbox data-toggle="toggle"
                           data-on="<span>Profitability</span>"
                           data-off="<span>Value summary</span>"
                           data-offstyle="green-level-2"
                           data-width="125px" data-height="34px"
                           ng-model="valueSummaryToggle" />
                </div>
            </div>
            <!-- cost, payback, etc. -->
            <div style="position:absolute;left:40%;background-color:rgba(200,200,200,0.5);width:300px;height:200px;text-align:center;z-index:10;" ng-show="!valueSummaryToggle" ng-cloak>
              <div style="position:relative;">
                <div style="position:absolute;top:50%;left:50%;transform: translate(-50%, -50%);margin-top:75px;">
                  <span style="font-size:1.5em;"><i class="fa fa-wrench"></i> Feature intended for future version of TSP.</span>
                </div>
              </div>
            </div>
            <table class="table table-striped table-bordered"
                   data-prefix="{{abs_prefix}}">
                <thead class="thead-value-summary" ng-show="valueSummaryToggle">
                    <tr>
                    <th style="vertical-align:middle;border-top:0;">Practices</th>
                    {% for col_header in icon.value_headers %}
                    <th class="text-center cell-fix-width-5 {{col_header.slug}} {% if col_header.slug == 'avg_value' %}total-sep{% endif %}" style="border-top:0;">
                        <div class="btn-link btn-sort text-center" ng-click="sortBy('{{col_header.slug}}')">
                            {% if col_header.title|is_icon %}
                            <img src="{{col_header.title|asset}}" width="32" hegiht="32" data-toggle="tooltip" title="{{col_header.tooltip}}" />
                            {% else %}
                            <span data-toggle="tooltip" title="{{col_header.tooltip}}" style="cursor: default;">
                                    {{col_header.title}}
                            </span>
                            {% endif %}
                        </div>
                        {% if request|is_broker_manager %}
                        <button class="btn-link btn-hide" ng-click="showHide('{{col_header.slug}}', '{{abs_prefix}}')">
                            <i class="fa fa-eye[[hidden['{{abs_prefix}}'].{{col_header.slug}} ? '-slash' : '']]"></i>
                        </button>
                        {% endif %}
                    </th>
                    {% endfor %}
                    </tr>
                </thead>
                <thead ng-show="!valueSummaryToggle">
                    <tr>
                    <th style="vertical-align:middle;border-top:0;">Practices</th>
                    {% for col_header in icon.profitability_headers %}
                    <th class="text-center cell-fix-width-3 {{col_header.slug}}" style="border-top:0;">
                        <button class="btn-link btn-sort" ng-click="sortBy('{{col_header.slug}}')">
                            <i class="fa fa-sort[[dir.{{col_header.slug}} ? ('-' + dir.{{col_header.slug}}) : '']]"></i>
                        </button>
                        {% if request|is_broker_manager %}
                        <button class="btn-link btn-hide" ng-click="showHide('{{col_header.slug}}', '{{abs_prefix}}')">
                            <i class="fa fa-eye[[hidden['{{abs_prefix}}'].{{col_header.slug}} ? '-slash' : '']]"></i>
                        </button>
                        {% endif %}
                        <span data-toggle="tooltip" title="{{col_header.tooltip}}" style="cursor: default;">
                        {{col_header.title}}
                        </span>
                    </th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody dnd-list="getEntries('{{abs_prefix}}')"
                       ng-if="sortedOnKeys === 0"  ng-show="valueSummaryToggle">
                    <tr data-id="[[getPath(practice[0])]]"
                        ng-repeat="practice in getEntries('{{abs_prefix}}')">
                        {% include "envconnect/_value_summary_row.html" %}
                    </tr>
                </tbody>
                <tbody dnd-list="getEntries('{{abs_prefix}}')"
                       ng-if="sortedOnKeys !== 0" ng-show="valueSummaryToggle">
                    <tr data-id="[[getPath(practice[0])]]"
                        ng-repeat="practice in getEntries('{{abs_prefix}}') | orderBy:sortedOn:reverse">
                        {% include "envconnect/_value_summary_row.html" %}
                    </tr>
                </tbody>
                <tbody dnd-list="getEntries('{{abs_prefix}}')"
                       ng-if="sortedOnKeys === 0" ng-show="!valueSummaryToggle">
                    <tr data-id="[[getPath(practice[0])]]"
                        ng-repeat="practice in getEntries('{{abs_prefix}}')">
                        {% include "envconnect/_profitability_row.html" %}
                    </tr>
                </tbody>
                <tbody dnd-list="getEntries('{{abs_prefix}}')"
                       ng-if="sortedOnKeys !== 0"  ng-show="!valueSummaryToggle">
                    <tr data-id="[[getPath(practice[0])]]"
                        ng-repeat="practice in getEntries('{{abs_prefix}}') | orderBy:sortedOn:reverse">
                        {% include "envconnect/_profitability_row.html" %}
                    </tr>
                </tbody>
                <tbody ng-if="getEntries('{{abs_prefix}}').length === 0">
                    <tr>
                        <td colspan="{{icon.colspan}}">
<em>Guidance has not yet been developed for this section. If you would like to
see guidance, or are interested in authoring content for this section, please
<a href="{{'contact/'|site_prefixed}}">contact us &raquo;</a>.
See the following for examples of content developed for best practices:
<a href="{% url 'summary' '/sustainability-boxes-and-enclosures/energy/reduce-the-pressure-of-compressed-air-to-the-minim/' %}">Example 1</a>,
<a href="{% url 'summary' '/sustainability-office-space-only/computing-and-telecom-hardware-and-service-fc47207/' %}">Example 2</a>,
<a href="{% url 'summary' '/sustainability-office-space-only/driver-behavior-that-could-influence-fuel-efficien/' %}">Example 3</a>.</em>
                        </td>
                    </tr>
                </tbody>
                {% if request|is_broker_manager %}
                <tbody>
                    <tr data-id="{{abs_prefix}}">
                        <td colspan="[[!valueSummaryToggle ? {{icon.profitability_headers_len}} : {{icon.value_headers_len}}]]">
<!-- add a node -->
<div style="width:100%;">
    <form class="form-inline" style="display:inline-block;width:90%;">
        <div class="input-group" style="width:90%;">
            <select ng-model="newElement.elementType"
                    class="form-control input-sm" style="width:20%;"
                    name="tag">
                <option value="heading">Heading</option>
                <option value="best-practice">Best practice</option>
            </select>
            <script type="text/ng-template" id="customTemplate.html">
                <a>
                    <span ng-bind-html="match.title | uibTypeaheadHighlight:query"></span>
                </a>
            </script>
            <input name="title" type="text" placeholder="[[newElement.elementType]] title"
                   autocomplete="off"
                   ng-model="newElement.value"
                   uib-typeahead="candidate as candidate.title for candidate in getBestPracticeCandidates($viewValue)"
                   uib-typeahead-loading="loadingBestpractices"
                   uib-typeahead-template-url="customTemplate.html"
                   class="form-control input-sm" style="width:80%;">
            <div class="input-group-btn">
                <button class="btn btn-primary btn-sm" type="submit" value="submit" ng-click="addElement($event, '{{abs_prefix}}')"><i class="fa fa-plus"></i> Add</button>
                <button class="btn btn-primary btn-sm" type="submit" value="mirror" ng-click="mirrorElement($event, '{{abs_prefix}}')"><i class="fa fa-arrow-right"></i> Mirror</button>
            </div>
        </div>
        <div style="height:14px" ng-cloak>
            <i ng-show="loadingBestpractices" class="fa fa-spinner fa-spin"></i>
        </div>
    </form>
</div>
<!-- -->
                          </td>
                        </div>
                    </tr>
                </tbody>
                {% endif %}
            </table>
            <div class="row" style="margin-top:-15px;">
                <div class="col-md-offset-6 col-md-6 text-right" style="margin-bottom: 10px;">
                    <div ng-show="valueSummaryToggle">
                        {% include "envconnect/_value_summary_legend.html" %}
                    </div>
                </div>
            </div>
          </div>
        </div>
        {% endwith %}
    {% endfor %}
</div>
{% endblock %}
