{% extends "envconnect/base_folding_icons.html" %}
{% load pages_tags %}
{% load static from staticfiles %}

{% block app_content %}
<div class="tab-content collapse{% if active %} in{% endif %}">
    {% for icon_tuple in root.1 %}
        {% with icon_tuple.0 as icon %}
        {% with "/"|add:root.0.slug|add:"/"|add:icon.slug as prefix %}
        {% with page_prefix|add:prefix as abs_prefix %}
        <div role="tabpanel" class="tab-pane{% if icon.slug == active %} active{% endif %}" id="tab-{{icon.slug}}" ng-cloak>
          <div ng-if="getEntriesByTag('{{prefix}}', TAG_SYSTEM).length === 0">
            <div class="row">
                <div class="col-md-offset-6 col-md-6 text-right" style="margin-bottom:5px;">
                    <!-- WORKAROUND: we set data-width and data-height
                         otherwise bootstrap-toggle will crop the size
                         inside a class="tab-content collapse". -->
                    <input id="toggle-value-summary-{{icon.slug}}"
                           type="checkbox" toggle-checkbox data-toggle="toggle"
                           data-on="Profitability"
                           data-off="Value summary" data-offstyle="green-level-2"
                           data-width="125px" data-height="34px"
                           ng-model="valueSummaryToggle" />
                </div>
            </div>
            <!-- cost, payback, etc. -->
            <table class="table table-striped table-bordered">
                <thead ng-show="!valueSummaryToggle">
                    <th style="vertical-align: middle;">Practices</th>
                    {% for col_header in icon.profitability_headers %}
                    <th class="text-center custom_header cell-fix-width {{col_header.slug}}">
                        <button class="btn-link btn-sort" ng-click="sortBy('{{col_header.slug}}')">
                            <i class="fa fa-sort[[dir.{{col_header.slug}} ? ('-' + dir.{{col_header.slug}}) : '']]"></i>
                        </button>
                        <span data-toggle="tooltip" title="{{col_header.tooltip}}" style="cursor: default;">
                        {{col_header.title}}
                        </span>
                        {% if request|is_broker_manager %}
                        <button class="btn-link btn-hide" ng-click="showHide('{{col_header.slug}}', '{{abs_prefix}}')">
                            <i class="fa fa-eye[[hidden['{{abs_prefix}}'].{{col_header.slug}} ? '-slash' : '']]"></i>
                        </button>
                        {% endif %}
                    </th>
                    {% endfor %}
                </thead>
                <thead ng-show="valueSummaryToggle">
                    <th style="vertical-align: middle;">Practices</th>
                    {% for col_header in icon.value_headers %}
                    <th class="text-center custom_header cell-fix-width {{col_header.slug}} {% if col_header.slug == 'avg_value' %}total-sep{% endif %}">
                        <button class="btn-link btn-sort" ng-click="sortBy('{{col_header.slug}}')">
                            <i class="fa fa-sort[[dir.{{col_header.slug}} ? ('-' + dir.{{col_header.slug}}) : '']]"></i>
                        </button>
                        {{col_header.title}}
                        {% if request|is_broker_manager %}
                        <button class="btn-link btn-hide" ng-click="showHide('{{col_header.slug}}', '{{abs_prefix}}')">
                            <i class="fa fa-eye[[hidden['{{abs_prefix}}'].{{col_header.slug}} ? '-slash' : '']]"></i>
                        </button>
                        {% endif %}
                    </th>
                    {% endfor %}
                </thead>
                <tbody dnd-list="getEntries('{{prefix}}')">
                    <tr data-id="[[getPath(practice, '{{abs_prefix}}')]]"
                        ng-repeat="practice in getEntries('{{prefix}}')"
                        ng-if="sortedOnKeys === 0" ng-show="!valueSummaryToggle">
                        {% include "envconnect/_profitability_row.html" %}
                    </tr>
                    <tr data-id="[[getPath(practice, '{{abs_prefix}}')]]"
                        ng-repeat="practice in getEntries('{{prefix}}') | orderBy:sortedOn:reverse"
                        ng-if="sortedOnKeys > 0" ng-show="!valueSummaryToggle">
                        {% include "envconnect/_profitability_row.html" %}
                    </tr>
                    <tr data-id="[[getPath(practice, '{{abs_prefix}}')]]"
                        ng-repeat="practice in getEntries('{{prefix}}')"
                        ng-if="sortedOnKeys === 0"  ng-show="valueSummaryToggle">
                        {% include "envconnect/_value_summary_row.html" %}
                    </tr>
                    <tr data-id="[[getPath(practice, '{{abs_prefix}}')]]"
                        ng-repeat="practice in getEntries('{{prefix}}') | orderBy:sortedOn:reverse"
                        ng-if="sortedOnKeys > 0"  ng-show="valueSummaryToggle">
                        {% include "envconnect/_value_summary_row.html" %}
                    </tr>
                    {% if request|is_broker_manager %}
                    <tr data-id="{{abs_prefix}}">
                        <td colspan="[[!valueSummaryToggle ? {{icon.profitability_headers_len}} : {{icon.value_headers_len}}]]">
<!-- add a node -->
<div style="width:100%;">
<form class="form-inline" style="display:inline-block;width:90%;" ng-submit="addElement($event, '{{prefix}}')">
  <div class="input-group" style="width:90%;">
    <select ng-model="newElement.tag"
            class="form-control input-sm" style="width:20%;"
            name="tag">
            <option value="heading">Heading</option>
            <option value="best-practice">Best practice</option>
    </select>
    <input name="title" type="text" placeholder="[[newElement.tag]] title"
           autocomplete="off"
           ng-model="newElement.title"
           uib-typeahead="candidate as candidate.printable_name for candidate in getCandidates($viewValue)"
           uib-typeahead-loading="loadingPageElements"
           uib-typeahead-template-url="customTemplate.html"
           class="form-control input-sm" style="width:80%;">
    <div class="input-group-btn">
      <button class="btn btn-primary btn-sm" type="submit">Add</button>
    </div>
  </div>
  <div style="height:14px" ng-cloak>
          <i ng-show="loadingPageElements" class="fa fa-spinner fa-spin"></i>
  </div>
</form>
</div>
                          </td>
                        </div>
                    </tr>
                    {% endif %}
                    <tr ng-show="getEntries('{{prefix}}').length === 0">
                        <td colspan="{{icon.profitability_headers_len}}">
<em>Content development in progress... Please, consider to <a href="{% url 'about' %}">contribute or become a sponsor &raquo;</a></em>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row" style="margin-top:-15px;">
                <div class="col-md-offset-6 col-md-6 text-right" style="margin-bottom: 10px;">
                    <div ng-show="valueSummaryToggle">
                        Legend
                        <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-sm green-level-0">Neutral</button>
                            <button type="button" class="btn btn-sm green-level-1">Low</button>
                            <button type="button" class="btn btn-sm green-level-2">Medium</button>
                            <button type="button" class="btn btn-sm green-level-3">High</button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        {% endwith %}
        {% endwith %}
        {% endwith %}
    {% endfor %}
</div>
<!-- modal dialogs -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog"
     aria-labelledby="ConfirmDelete" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Delete best practice ...
            </div>
            <div class="modal-body">
                Please confirm you want to delete <strong>[[tag]]</strong>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                        data-dismiss="modal">Cancel</button>
                <a id="delete-action-btn"
                   class="btn btn-danger btn-ok delete" data-dismiss="modal"
                   ng-click="deleteBestPractice()">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
