{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
<div class="container">
    <div class="col-lg-7 center">
        <div class="panel panel-grey">
            <div class="panel-body">
                <div class="padding_20">
                    <h2>Select an equipment</h2>
                    {#  #}
                    {% crispy form %}
                    <p class="lead text-right">Not on the list? <a href="{% url 'new_equipment' industry category load  %}">Create a new equipment.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
