{% extends "envconnect/base_folding_icons.html" %}
{% load pages_tags %}
{% load static from staticfiles %}

{% block app_content %}
<div class="tab-content collapse{% if active %} in{% endif %}">
    {% for abs_prefix, icon_tuple in root.1|iteritems %}
        {% with icon_tuple.0 as icon %}
        <div role="tabpanel" class="tab-pane{% if icon.slug == active %} active{% endif %}" id="tab-{{icon.slug}}">
            <div ng-if="getEntriesByTag('{{abs_prefix}}', TAG_SYSTEM).length === 0">
            <table class="table table-striped table-bordered">
                <thead>
                    <th style="vertical-align:middle;border-top:0;">Practices</th>
                    <th class="text-center cell-fix-width-3" data-toggle="tooltip" data-placement="top" title="Percentage of respondents that have implemented a best practice.">
                        <button class="btn-link btn-sort" ng-click="sortBy('rate')">
                            <i class="fa fa-sort[[dir.rate ? ('-' + dir.rate) : '']]"></i>
                        </button>
                            Implementation rate
                    </th>
                    <th class="text-center cell-fix-width-3">
                        <button class="btn-link btn-sort" ng-click="sortBy('implemented')">
                            <i class="fa fa-sort[[dir.implemented ? ('-' + dir.implemented) : '']]"></i>
                        </button>
                            Implemented by you?
                    </th>
                    {% if breadcrumbs|active_category:'sustainability' %}
                    <th class="text-center cell-fix-width-3" data-toggle="tooltip" data-placement="top" title="Higher numbers equate to higher priority opportunities based on the following calculation: Practice green level * (1 + implementation rate / 100). Practice green levels: Dark green = 3; medium green = 2, light green = 1">
                        <button class="btn-link btn-sort" ng-click="sortBy('opportunity')">
                            <i class="fa fa-sort[[dir.opportunity ? ('-' + dir.opportunity) : '']]"></i>
                        </button>
                            Opportunity score
                    </th>
                    {% endif %}
                    <th class="text-center">Select for Improvement Plan</th>
                </thead>
                <tbody data-prefix="{{abs_prefix}}">
                    <tr data-id="[[getPath(practice[0])]]"
                        class="best-practice-row"
                        ng-repeat="practice in getEntries('{{abs_prefix}}') | orderBy:sortedOn:reverse"
                        ng-if="getEntries('{{abs_prefix}}').length > 0">
                        <td id="[[practice[0].slug]]"
                            colspan="[[practice[0].consumption ? 1 : {% if breadcrumbs|active_category:'sustainability' %}5{% else %}4{% endif %}]]">
                            {% include "envconnect/_detail_row_basic.html" %}
                        </td>
                        <td class="text-center cell-fix-width-3"
                            ng-if="practice[0].consumption">
                            [[practice[0].consumption.nb_respondents]] respondents
                            <div class="progress" style="margin:0">
                                <div class="progress-bar progress-bar-success green-level-{% if breadcrumbs|active_category:'sustainability' %}[[practice[0].consumption.avg_value]]{% else %}0{% endif %}" role="progressbar" aria-valuenow="[[practice[0].consumption.rate]]" aria-valuemin="0" aria-valuemax="100" ng-style="implementationRateWidth(practice)">
                                    [[practice[0].consumption.rate]]%
                                </div>
                            </div>
                        </td>
                        <td class="text-center cell-fix-width-3"
                            ng-if="practice[0].consumption">
                            <i class="fa fa-check fa-lg text-success" ng-if="isImplemented(practice[0].consumption)"></i>
                            <i class="fa fa-times fa-lg text-danger"  ng-if="!isImplemented(practice[0].consumption)"></i>
                        </td>
                        {% if breadcrumbs|active_category:'sustainability' %}
                        <td class="text-center cell-fix-width-3"
                            ng-if="practice[0].consumption">
                            [[practice[0].consumption.opportunity|number:2]]
                        </td>
                        {% endif %}
                    <td class="text-center cell-fix-width-3"
                        ng-if="practice[0].consumption">
                            <input class="improvement-checkbox"
                                   type="checkbox"
                                   class="improvement-checkbox"
                                   ng-checked="practice[0].consumption.planned"
                                   ng-change="updateImprovement(practice)"
                                   ng-model="practice[0].consumption.planned" />
                    </td>
                   </tr>
                    <tr ng-show="getEntries('{{abs_prefix}}').length === 0">
                        <td colspan="{% if breadcrumbs|active_category:'sustainability' %}5{% else %}4{% endif %}">
<em>Guidance has not yet been developed for this section. If you would like to
see guidance, or are interested in authoring content for this section, please
<a href="{{'contact/'|site_prefixed}}">contact us &raquo;</a>.
See the following for examples of content developed for best practices:
<a href="{% url 'summary' '/sustainability-boxes-and-enclosures/energy/reduce-the-pressure-of-compressed-air-to-the-minim/' %}">Example 1</a>,
<a href="{% url 'summary' '/sustainability-office-space-only/computing-and-telecom-hardware-and-service-fc47207/' %}">Example 2</a>,
<a href="{% url 'summary' '/sustainability-office-space-only/driver-behavior-that-could-influence-fuel-efficien/' %}">Example 3</a>.</em>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        {% endwith %}
    {% endfor %}
</div>
{% include "envconnect/_improvement_planning_dashboard.html" %}
{% endblock %}

{% block bodyscripts %}
{{block.super}}
<script type="text/javascript">
jQuery(document).ready(function($) {
    $(".best-practice-row").selfAssessment({
        survey_api_response: "{% url 'survey_api_response' organization response %}",
        api_improvement_base: "{% url 'api_improvement_base' organization %}"
    });
});
</script>
{% endblock %}
