{% extends "envconnect/base_folding_icons.html" %}
{% load pages_tags %}
{% load static from staticfiles %}

{% block page_top_help %}
<div class="offset-sm-2 col-sm-8">
  <p class="text-center">
<span style="text-decoration: underline;">ACTION:</span>
Click each tile and select high value improvements.
  </p>
</div>
{% endblock %}

{% block page_bottom_help %}
<div class="offset-md-3 col-md-6 content-sponsors">
  <h3>Tips:</h3>
  <ol>
    <li>
Click the orange “Planning Dashboard” button at the base of the page.
    </li>
    <li>
Click each tile and review the “Opportunity Score” column for highest value
opportunities.
    </li>
    <li>
Mark the the opportunities you plan to address over the next year or in the
&quot;Select for Improvement Plan&quot; column.
    </li>
    <li>
Click &quot;Complete&quot; once you’ve selected all actions you plan to address.
    </li>
    <li>
Click &quot;Scorecard&quot; to see how the improvements are listed.
    </li>
  </ol>
</div>
{% endblock %}


{% block icons_content %}
<div class="tab-content collapse{% if active %} show{% endif %}">
{% for abs_prefix, icon_tuple in root.1|iteritems %}
  {% with icon_tuple.0 as icon %}
  <div role="tabpanel" class="tab-pane{% if icon.slug == active %} active{% endif %}" id="tab-{{icon.slug}}">
    <div ng-if="getEntriesByTag('{{abs_prefix}}', TAG_PAGEBREAK).length === 0">
      {% with icon.tag|assessment_choices as choices %}
      <table class="table table-striped table-bordered">
        <thead ng-show="!vsPeersToggle">
          {% if survey.slug == 'framework' %}
          <tr>
            <th style="border-bottom:none;"></th>
            <th></th>
            <th class="text-center" colspan="{{choices|length}}">Select maturity level you are targetting</th>
          </tr>
          <tr>
            <th class="sticky-cell">
              <div class="sticky-cell-content-container">
                <div class="sticky-cell-content" style="padding-left:0.75rem;">
                  Practices
                  {% include "envconnect/_improve_results_toggle.html" %}
                </div>
              </div>
            </th>
            <th class="sticky-cell text-center cell-fix-width-3" style="font-size:10px;">
              <div class="sticky-cell-content-container">
                <div class="sticky-cell-content">
<!--
                  <button class="btn btn-link btn-sort" ng-click="sortBy('implemented')">
                    <i class="fa fa-sort[[dir.implemented ? ('-' + dir.implemented) : '']]"></i>
                  </button>
-->
                Assessment
                </div>
              </div>
            </th>
            {% for choice in choices %}
            <th class="sticky-cell text-center cell-fix-width-5">
              <div class="sticky-cell-content-container" data-toggle="tooltip" data-placement="bottom" title="{{choice.descr}}">
                <div class="sticky-cell-content">{{choice.text}}</div>
              </div>
            </th>
            {% endfor %}
          </tr>
          {% else %}
          <tr>
            <th class="sticky-cell">
              <div class="sticky-cell-content-container">
                <div class="sticky-cell-content" style="padding-left:0.75rem;">Practices</div>
              </div>
            </th>
            <th class="sticky-cell text-center cell-fix-width-3"
              data-toggle="tooltip" data-placement="top"
              title="Percentage of respondents that have implemented a best practice.">
              <div class="sticky-cell-content-container">
                <div class="sticky-cell-content">
                  <button class="btn btn-link btn-sort" ng-click="sortBy('rate')">
                    <i class="fa fa-sort[[dir.rate ? ('-' + dir.rate) : '']]"></i>
                  </button>
                Implementation rate
                </div>
              </div>
            </th>
            <th class="sticky-cell text-center cell-fix-width-3">
              <div class="sticky-cell-content-container">
                <div class="sticky-cell-content">
                  <button class="btn btn-link btn-sort" ng-click="sortBy('implemented')">
                    <i class="fa fa-sort[[dir.implemented ? ('-' + dir.implemented) : '']]"></i>
                  </button>
                Implemented by you?
                </div>
              </div>
            </th>
            <th class="sticky-cell text-center cell-fix-width-3"
                data-toggle="tooltip" data-placement="top"
                title="Higher numbers equate to higher priority opportunities based on the following calculation: Practice green level * (1 + implementation rate / 100). Practice green levels: Dark green = 3; medium green = 2, light green = 1">
              <div class="sticky-cell-content-container">
                <div class="sticky-cell-content">
                  <button class="btn btn-link btn-sort" ng-click="sortBy('opportunity')">
                    <i class="fa fa-sort[[dir.opportunity ? ('-' + dir.opportunity) : '']]"></i>
                  </button>
                  Opportunity score
                </div>
              </div>
            </th>
            <th class="sticky-cell text-center">
              <div class="sticky-cell-content-container">
                <div class="sticky-cell-content">Select for Improvement Plan</div>
              </div>
            </th>
          </tr>
          {% endif %}
        </thead>
        <tbody data-prefix="{{abs_prefix}}" ng-show="!vsPeersToggle">
          <tr data-id="[[getPath(practice[0])]]"
              class="best-practice-row"
              ng-repeat="practice in getEntries('{{abs_prefix}}')"
              ng-if="sortedOnKeys === 0 && getEntries('{{abs_prefix}}').length > 0">
            {% if survey.slug == 'framework' %}
              {% include "envconnect/_improve_framework_row.html" %}
            {% else %}
              {% include "envconnect/_improve_row.html" %}
            {% endif %}
          </tr>
          <tr data-id="[[getPath(practice[0])]]"
              class="best-practice-row"
              ng-repeat="practice in getEntries('{{abs_prefix}}') | orderBy:sortedOn:reverse"
              ng-if="sortedOnKeys !== 0 && getEntries('{{abs_prefix}}').length > 0">
            {% if survey.slug == 'framework' %}
              {% include "envconnect/_improve_framework_row.html" %}
            {% else %}
              {% include "envconnect/_improve_row.html" %}
            {% endif %}
          </tr>
          <tr ng-if="getEntries('{{abs_prefix}}').length === 0">
            <td colspan="{{choices|length|add:2}}">
<em>Guidance has not yet been developed for this section. If you would like to
see guidance, or are interested in authoring content for this section, please
<a href="{{'contact/'|site_prefixed}}">contact us &raquo;</a>.
See the following for examples of content developed for best practices:
<a href="{% url 'summary' '/boxes-and-enclosures/energy/reduce-the-pressure-of-compressed-air-to-the-minim/' %}">Example 1</a>,
<a href="{% url 'summary' '/office-space-only/computing-and-telecom-hardware-and-service-fc47207/' %}">Example 2</a>,
<a href="{% url 'summary' '/office-space-only/driver-behavior-that-could-influence-fuel-efficien/' %}">Example 3</a>.</em>
            </td>
          </tr>
        </tbody>
        {% include "envconnect/_improve_results_table.html" %}
      </table>
      <div class="row" style="margin-bottom: 5px;">
        <div class="offset-sm-6 col-sm-6 text-right">
          <button id="saved-button"
                  class="btn btn-primary"
                  ng-click="showSaveMessage($event)">Save</button>
        </div>
      </div>
      {% endwith %}
    </div>
  </div>
  {% endwith %}
{% endfor %}
</div>
<!-- modals -->
{% if survey.slug != 'framework' %}
{% include "envconnect/_improvement_planning_dashboard.html" %}
{% endif %}
{% endblock %}

{% block panel_footer %}
<div class="card-footer">
  <div class="row">
    <div class="col-sm-4 text-left">
    </div>
    <div class="col-sm-4 text-center">
        {% if not sample.is_frozen %}
        Once you completed your assessment, improvement plan and set targets,
        please browse to the <strong>COMPLETE</strong> step to freeze
        your answers.
        {% endif %}
    </div>
    <div class="col-sm-4 text-right">
    </div>
  </div>
</div>
{% endblock %}


{% block supplier_menus_scripts %}
<script type="text/javascript">
jQuery(document).ready(function($) {
    var tripElements = [
{% if survey.slug != 'framework' %}
{% if request|is_authenticated and not request.session.last_visited %}
        {
            sel: $("#help-request"),
            content: $("#help-request").data("trip-content"),
            position: "screen-center",
            enableAnimation: false,
            delay:-1,
            tripTheme: "black",
            showNavigation: true,
            canGoPrev: false,
            prevLabel: " ",
            nextLabel: "OK",
            skipLabel: " ",
            finishLabel: "OK",
        },
{% endif %}
{% if request|is_authenticated and not request.session.last_visited or request.session.last_visited == 'app' %}
        {
            sel: $("#submenu-improve"),
            content: "<ol class='text-left'>" +
"<li>Click each orange box to display the improvement opportunities." +
"<li>Click the orange <em>Planning dashboard</em> button (bottom of page)." +
"<li>Select the best practices you plan to address over the next year or so" +
"<br />from the <em>Select for Improvement Plan</em> column." +
"<li>Click <em>Complete</em> after selections are completed." +
"</ol>",
            position: "screen-center",
            enableAnimation: false,
            delay:-1,
            tripTheme: "black",
            showNavigation: true,
            canGoPrev: false,
            prevLabel: " ",
            nextLabel: "OK",
            skipLabel: " ",
            finishLabel: "OK",
        }
{% endif %}
{% endif %}
    ];
    if( tripElements.length > 0  ) {
        var trip = new Trip(tripElements);
        trip.start();
    }
});
</script>
{% endblock %}
