{% extends "envconnect/base_folding_icons.html" %}
{% load pages_tags %}
{% load static from staticfiles %}

{% block icons_content %}
<div class="tab-content collapse{% if active %} in{% endif %}">
    {% for abs_prefix, icon_tuple in root.1|iteritems %}
        {% with icon_tuple.0 as icon %}
        <div role="tabpanel" class="tab-pane{% if icon.slug == active %} active{% endif %}" id="tab-{{icon.slug}}">
            <div ng-if="getEntriesByTag('{{abs_prefix}}', TAG_PAGEBREAK).length === 0">
            <table class="table table-striped table-bordered">
                <thead>
                    <th style="vertical-align:middle;border-top:0;">Practices</th>
                    <th class="text-center cell-fix-width-3" data-toggle="tooltip" data-placement="top" title="Percentage of respondents that have implemented a best practice.">
                        <button class="btn-link btn-sort" ng-click="sortBy('rate')">
                            <i class="fa fa-sort[[dir.rate ? ('-' + dir.rate) : '']]"></i>
                        </button>
                            Implementation rate
                    </th>
                    <th class="text-center cell-fix-width-3">
                        <button class="btn-link btn-sort" ng-click="sortBy('implemented')">
                            <i class="fa fa-sort[[dir.implemented ? ('-' + dir.implemented) : '']]"></i>
                        </button>
                            Implemented by you?
                    </th>
                    <th class="text-center cell-fix-width-3" data-toggle="tooltip" data-placement="top" title="Higher numbers equate to higher priority opportunities based on the following calculation: Practice green level * (1 + implementation rate / 100). Practice green levels: Dark green = 3; medium green = 2, light green = 1">
                        <button class="btn-link btn-sort" ng-click="sortBy('opportunity')">
                            <i class="fa fa-sort[[dir.opportunity ? ('-' + dir.opportunity) : '']]"></i>
                        </button>
                            Opportunity score
                    </th>
                    <th class="text-center">Select for Improvement Plan</th>
                </thead>
                <tbody data-prefix="{{abs_prefix}}">
                    <tr data-id="[[getPath(practice[0])]]"
                        class="best-practice-row"
                        ng-repeat="practice in getEntries('{{abs_prefix}}')"
                        ng-if="sortedOnKeys === 0 && getEntries('{{abs_prefix}}').length > 0">
                            {% include "envconnect/_improve_row.html" %}
                   </tr>
                    <tr data-id="[[getPath(practice[0])]]"
                        class="best-practice-row"
                        ng-repeat="practice in getEntries('{{abs_prefix}}') | orderBy:sortedOn:reverse"
                        ng-if="sortedOnKeys !== 0 && getEntries('{{abs_prefix}}').length > 0">
                            {% include "envconnect/_improve_row.html" %}
                   </tr>
                    <tr ng-if="getEntries('{{abs_prefix}}').length === 0">
                        <td colspan="5">
<em>Guidance has not yet been developed for this section. If you would like to
see guidance, or are interested in authoring content for this section, please
<a href="{{'contact/'|site_prefixed}}">contact us &raquo;</a>.
See the following for examples of content developed for best practices:
<a href="{% url 'summary' '/sustainability-boxes-and-enclosures/energy/reduce-the-pressure-of-compressed-air-to-the-minim/' %}">Example 1</a>,
<a href="{% url 'summary' '/sustainability-office-space-only/computing-and-telecom-hardware-and-service-fc47207/' %}">Example 2</a>,
<a href="{% url 'summary' '/sustainability-office-space-only/driver-behavior-that-could-influence-fuel-efficien/' %}">Example 3</a>.</em>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">
                            <button class="btn btn-primary" id="saved-button" ng-click="showSaveMessage($event)">Save</button>
                            <a id="submit-button" class="btn btn-primary" href="" data-toggle="modal" data-target="#submit-planning">Complete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        {% endwith %}
    {% endfor %}
</div>
<!-- modals -->
<div id="submit-planning" class="modal fade"
     tabindex="-1" role="dialog"
     aria-labelledby="Complete assessment" aria-hidden="true"
     style="color: #000;">
    <div class="modal-dialog">
        <form class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Mark your planning as complete ...</h4>
            </div>
            <div class="modal-body">
                    <p>
Congratulations!
                    </p>
                    <p>
Once improvements are implemented:
                    </p>
<ol>
    <li>Revisit ASSESSMENT to update your score and benchmarking.</li>
    <li>Click PLANNING to select additional improvement actions.</li>
    <li>Click SHARE SCORECARD (in the Scorecard) to send your responses to requesters.</li>
</ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                    data-dismiss="modal">OK</button>
            </div>
        </form>
    </div>
</div>
{% include "envconnect/_improvement_planning_dashboard.html" %}
{% endblock %}

{% block supplier_menus_scripts %}
<script type="text/javascript">
jQuery(document).ready(function($) {
    var tripElements = [
{% if request|is_authenticated and not request.session.last_visited %}
        {
            sel: $("#help-request"),
            content: $("#help-request").data("trip-content"),
            position: "screen-center",
            enableAnimation: false,
            delay:-1,
            tripTheme: "black",
            showNavigation: true,
            canGoPrev: false,
            prevLabel: " ",
            nextLabel: "OK",
            skipLabel: " ",
            finishLabel: "OK",
        },
{% endif %}
{% if request|is_authenticated and not request.session.last_visited or request.session.last_visited == 'app' %}
        {
            sel: $("#submenu-improve"),
            content: "<ol class='text-left'>" +
"<li>Click each grey and orange box to display the improvement opportunities." +
"<li>Click the orange <em>Planning dashboard</em> button (bottom of page)." +
"<li>Select the best practices you plan to address over the next year or so" +
"<br />from the <em>Select for Improvement Plan</em> column." +
"<li>Click <em>Complete</em> after selections are completed." +
"</ol>",
            position: "screen-center",
            enableAnimation: false,
            delay:-1,
            tripTheme: "black",
            showNavigation: true,
            canGoPrev: false,
            prevLabel: " ",
            nextLabel: "OK",
            skipLabel: " ",
            finishLabel: "OK",
        }
{% endif %}
    ];
    if( tripElements.length > 0  ) {
        var trip = new Trip(tripElements);
        trip.start();
    }
});
</script>
{% endblock %}
