{% extends "envconnect/benchmark.html" %}

{% block page_top_help %}
<p class="text-center">
<span style="text-decoration: underline;">ACTION:</span>
Review how the improvements are listed at the bottom of the scorecard.
Then click <em>Share</em>.
</p>
{% endblock %}

{% block header_icons %}
{% endblock %}

{% block score_arc %}
<div class="score-card score-card-background bordered-left" id="score-card-arc" style="flex:auto;" data-toggle="tooltip" data-placement="top">
    <h4>{{ arc_title }}</h4>
    <div id="totals" style="width:300px;margin:auto;"
    title="The total score is the sum of all (icon score * icon weight)."></div>
</div>
{% endblock %}

{% block special_considerations %}
<div id="highlighted-practices" class="benchmarks-box my-4">
  <h2 class="mt-3">Highlighted best practices</h2>
<table class="table table-assessment">
  <tbody data-prefix="{{abs_prefix}}">
    <tr data-id="[[getPath(practice[0])]]"
        class="best-practice-row"
        ng-repeat="practice in getEntries('{{abs_prefix}}')"
        ng-if="getEntries('{{abs_prefix}}').length > 0">
        <td style="border:none;">
            <span ng-class="indentHeader(practice, '{{abs_prefix}}')">[[practice[0].title]]</span>
        </td>
        <td style="border:none;">
            <div ng-if="practice[0].environmental_metrics && practice[0].environmental_metrics.length > 0">
                <span ng-repeat="reported in practice[0].environmental_metrics">
                    [[reported.text ? reported.text : reported.measured]]
                </span>
            </div>
            <span ng-if="!practice[0].environmental_metrics || practice[0].environmental_metrics.length == 0">
            [[practice[0].implemented ? practice[0].implemented : ""]]
            </span>
        </td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}


{% block supplier_menus_scripts %}
<script type="text/javascript">
jQuery(document).ready(function($) {
    $("#scorecard-tab").improvementDashboard({
        charts: {{score_charts|to_json}},
        benchmark: "{{root.0.slug}}",
        scoreFunc: function (elem) { return elem.normalized_score; }
    });
});
</script>
{% endblock %}
