{% extends "envconnect/base_folding_icons.html" %}
{% load pages_tags %}
{% load static from staticfiles %}

{% block app_content %}
<div class="tab-content collapse{% if active %} in{% endif %}">
    {% for abs_prefix, icon_tuple in root.1|iteritems %}
        {% with icon_tuple.0 as icon %}
        <div role="tabpanel" class="tab-pane{% if icon.slug == active %} active{% endif %}" id="tab-{{icon.slug}}">
            <div ng-if="getEntriesByTag('{{abs_prefix}}', TAG_SYSTEM).length === 0">
            <div class="row">
                <div class="col-md-offset-6 col-md-6 text-right" style="margin-bottom:5px;">
                    <!-- WORKAROUND: we set data-width and data-height
                         otherwise bootstrap-toggle will crop the size
                         inside a class="tab-content collapse". -->
                    <input id="toggle-results-{{icon.slug}}"
                           type="checkbox" toggle-checkbox data-toggle="toggle"
                           data-on="<span>Self-assessment</span>"
                           data-off="<span>Results</span>"
                           data-offstyle="green-level-2"
                           data-width="125px" data-height="34px"
                           ng-model="scoreToggle">
                </div>
            </div>
            <table class="table table-striped table-bordered table-self-assessment">
                {% with icon.tag|assessment_choices as choices %}
                <thead ng-show="!scoreToggle">
                    <tr>
                      <th rowspan="2" style="vertical-align:bottom;">Practices</th>
                      <th class="text-center" colspan="{{choices|length}}">Implemented as standard practice <a style="cursor:pointer;" href="" data-toggle="tooltip" data-placement="right" title="Read this question to mean, Has the practice been implemented as standard or routine for all activities, projects or services to which the practice could apply, and over which the reporting entity has operational influence or control? If the reporting entity has no influence or control over a practice, then the response to the question should be 'Not applicable'."><i class="fa fa-question-circle"></i></a></th>
                    </tr>
                    <tr>
                      {% for choice in choices %}
                      <th class="text-center cell-fix-width-5" style="vertical-align:bottom;">
                          <div>{{choice}}</div>
                      </th>
                      {% endfor %}
                    </tr>
                </thead>
                <thead ng-show="scoreToggle">
                    <th style="vertical-align:middle;border-top:0;">Practices</th>
                    <th class="text-center cell-fix-width-3" style="border-top:0;" data-toggle="tooltip" data-placement="top" title="Percentage of respondents that have implemented a best practice.">
                        <button class="btn-link btn-sort" ng-click="sortBy('rate')">
                            <i class="fa fa-sort[[dir.rate ? ('-' + dir.rate) : '']]"></i>
                        </button>
                            Implementation rate
                    </th>
                    <th class="text-center cell-fix-width-3" style="border-top:0;">
                        <button class="btn-link btn-sort" ng-click="sortBy('implemented')">
                            <i class="fa fa-sort[[dir.implemented ? ('-' + dir.implemented) : '']]"></i>
                        </button>
                            Implemented by you?
                    </th>
                    {% if breadcrumbs|active_category:'sustainability' %}
                    <th class="text-center cell-fix-width-3" style="border-top:0;" data-toggle="tooltip" data-placement="top" title="Higher numbers equate to higher priority opportunities based on the following calculation: Practice green level * (1 + implementation rate / 100). Practice green levels: Dark green = 3; medium green = 2, light green = 1">
                        <button class="btn-link btn-sort" ng-click="sortBy('opportunity')">
                            <i class="fa fa-sort[[dir.opportunity ? ('-' + dir.opportunity) : '']]"></i>
                        </button>
                            Opportunity score
                    </th>
                    {% endif %}
                </thead>
                <tbody data-prefix="{{abs_prefix}}">
                    <tr data-id="[[getPath(practice[0])]]"
                        class="best-practice-row"
                        ng-repeat="practice in getEntries('{{abs_prefix}}')"
                        ng-if="getEntries('{{abs_prefix}}').length > 0"
                        ng-show="!scoreToggle">
                        <td id="[[practice[0].slug]]">
                            {% include "envconnect/_detail_row_basic.html" %}
                            <a ng-if="practice[0].consumption && practice[0].consumption.requires_measurements" href="" data-toggle="modal" data-target="#report-measurements" title="Got data to report? Click here." style="float:right;"><i class="fa fa-line-chart" style="color: #C5C5C5"></i></a>
                        </td>
                        {% for choice in choices %}
                        <td class="text-center cell-fix-width-5">
                            <button ng-if="!(practice[0].consumption)"
                              class="btn btn-select-all" href=""
                              ng-click="selectAll($event, '{{choice}}')"><i class="fa fa-circle"></i></button>
                            <label ng-if="practice[0].consumption"
                              for="{{choice|slugify}}-[[$index]]"
                              style="margin-bottom:0">
                                <input id="{{choice|slugify}}-[[$index]]" type="radio"
                                       value="{{choice}}"
                                       name="implemented-[[practice[0].consumption.rank]]"
                                       ng-checked="practice[0].consumption.implemented === '{{choice}}'"
                                       ng-change="updateImprovement()"
                                       ng-model="practice[0].consumption.implemented" />
                            </label>
                        </td>
                        {% endfor %}
                    </tr>
                    <tr ng-repeat="practice in getEntries('{{abs_prefix}}')"
                        ng-if="getEntries('{{abs_prefix}}').length > 0"
                        ng-show="scoreToggle">
                        <td id="[[practice[0].slug]]"
                          colspan="[[practice[0].consumption ? 1 : {% if breadcrumbs|active_category:'sustainability' %}4{% else %}3{% endif %}]]">
                            {% include "envconnect/_detail_row_basic.html" %}
                        </td>
                        <td class="text-center cell-fix-width-3"
                            ng-if="practice[0].consumption">
                            [[practice[0].nb_respondents]] respondents
                            <div class="progress" style="margin:0">
                                <div class="progress-bar progress-bar-success green-level-{% if breadcrumbs|active_category:'sustainability' %}[[practice[0].consumption.avg_value]]{% else %}0{% endif %}" role="progressbar" aria-valuenow="[[practice[0].rate]]" aria-valuemin="0" aria-valuemax="100" ng-style="implementationRateWidth(practice)">
                                    [[practice[0].rate]]%
                                </div>
                            </div>
                        </td>
                        <td class="text-center cell-fix-width-3"
                            ng-if="practice[0].consumption">
                            <i class="fa fa-check fa-lg text-success" ng-if="isImplemented(practice[0].consumption)"></i>
                            <i class="fa fa-times fa-lg text-danger"  ng-if="!isImplemented(practice[0].consumption)"></i>
                        </td>
                        {% if breadcrumbs|active_category:'sustainability' %}
                        <td class="text-center cell-fix-width-3"
                            ng-if="practice[0].consumption">
                            [[practice[0].opportunity|number:2]]
                        </td>
                        {% endif %}
                    </tr>
                    <tr ng-if="getEntries('{{abs_prefix}}').length === 0">
                        <td colspan="[[!scoreToggle ? {{choices|length|add:1}} : {% if breadcrumbs|active_category:'sustainability' %}4{% else %}3{% endif %}]]">
<em>Guidance has not yet been developed for this section. If you would like to
see guidance, or are interested in authoring content for this section, please
<a href="{{'contact/'|site_prefixed}}">contact us &raquo;</a>.
See the following for examples of content developed for best practices:
<a href="{% url 'summary' '/sustainability-boxes-and-enclosures/energy/reduce-the-pressure-of-compressed-air-to-the-minim/' %}">Example 1</a>,
<a href="{% url 'summary' '/sustainability-office-space-only/computing-and-telecom-hardware-and-service-fc47207/' %}">Example 2</a>,
<a href="{% url 'summary' '/sustainability-office-space-only/driver-behavior-that-could-influence-fuel-efficien/' %}">Example 3</a>.</em>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="[[!scoreToggle ? {{choices|length|add:1}} : {% if breadcrumbs|active_category:'sustainability' %}4{% else %}3{% endif %}]]" class="text-right">
                                <a class="btn btn-primary" href="{% url 'report_organization_download' organization path %}" target="_blank">Download Self-assessment</a>
                        </td>
                    </tr>
                </tbody>
                {% endwith %}
            </table>
            <div class="row" style="margin-top:-15px;">
                <div class="col-md-offset-6 col-md-6 text-right" style="margin-bottom: 10px;">
                    <div>
                        {% include "envconnect/_value_summary_legend.html" %}
                    </div>
                </div>
            </div>
            </div>
        </div>
        {% endwith %}
    {% endfor %}
</div>
<!-- modals -->
<div id="report-measurements" class="modal fade"
     tabindex="-1" role="dialog"
     aria-labelledby="Report measurements" aria-hidden="true"
     style="color: #000;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-wrench"></i> Report data ...</h4>
            </div>
            <div class="modal-body">
In future versions of TSP you will be able to report various data measurements.
If it is something you would like to see sooner rather than later,
please <a href="{{'/contact/'|site_prefixed}}" target="_blank">let us know &raquo;</a>.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary"
                    data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block bodyscripts %}
{{block.super}}
<script type="text/javascript">
jQuery(document).ready(function($) {
    $(".best-practice-row").selfAssessment({
        survey_api_response: "{% url 'survey_api_response' organization response %}",
        api_improvement_base: "{% url 'api_improvement_base' organization %}"
    });
});
</script>
{% endblock %}
