$cta: #f0ad4e;
$primary: #3ca65b;
$secondary: #FFD700;
//$link-color: $secondary;
$breadcrumb-divider-color: white;

$menubar-dropdown-bg:      var(--bs-dropdown-bg);
$menubar-dropdown-color:   $primary;
