{% extends "app/new_assess/scorecard/base.html" %}

{% block supercontent %}
    <div id="app">
        <new-assess inline-template>
                <div>
                    {% block app_content %}
                    <div v-if="showScorecard == &quot;0&quot;">
                        {% include 'app/new_assess/scorecard/_assess_component.html' %}
                    </div>
                    <div v-else>
                        {% include 'app/new_assess/scorecard/_scorecard_component.html' %}
                    </div>
                    {% endblock %}
                </div>
        </new-assess>
    </div>
{% endblock %}
