{% extends "envconnect/prints/benchmark.html" %}

{% block benchmark_nb_respondants %}
{% endblock %}

{% block special_considerations %}
<section id="highlighted-practices" class="benchmarks-box" style="margin-top: 25px; margin-bottom: 25px;">
  <h2 style="margin-left: 5px;">Highlighted best practices</h2>
  {% for highlighted_practice in highlighted_practices %}
  <div>
    <div style="display:inline-block;width:50%;">
      <div class="{{highlighted_practice.0}}" style="display:block;">
        <span class="title">{{ highlighted_practice.2.title }}</span>
      </div>
    </div>
    <div style="display:inline-block;width:40%;">
      {{ highlighted_practice.3.implemented }}
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
