<div id="complete-assessment" class="modal"
     tabindex="-1" role="dialog"
     aria-labelledby="Complete assessment" aria-hidden="true"
     style="color: #000;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Recording completed assessment ...</h4>
      </div>
      <div class="modal-body">
        <p class="text-center">
          <span class="fa fa-refresh fa-spin"></span> Please wait ...
        </p>
      </div>
    </div>
  </div>
</div>
