<div id="app-toolbar-left" class="d-print-none">
  <div class="sidebar-animate bg-body text-body">
  <div class="sidebar-content toolbar-content">
    <div class="text-end">
      <button class="sidebar-pin-toggle btn btn-link"
              data-target="#app-toolbar-left">
        <i class="fa"></i>
      </button>
    </div>
    {% include "app/_progress_bar.html" %}

    {% block left_sidebar_header %}
    {% endblock %}

    {# summary #}
    {% if breadcrumbs|length > 1 %}
    <ul class="nav flex-column py-1">
      <li class="nav-item">
        <a class="nav-link" href="{{breadcrumbs.0.2}}">{% trans %}Top{% endtrans %} <i class="fa fa-arrow-up"></i></a>
      </li>
    </ul>
    {% endif %}
    <ul class="nav flex-column py-1" v-show="itemsLoaded && items.results.length > 0" v-cloak>
      <li class="nav-item"
          v-for="tile in getEntries('', 1)">
        <a class="nav-link" :href="'#' + getPracticeId(tile, 'results-')"
           @click="appToolbarLinkClicked">[[tile.title]]</a>
        <ul style="list-style:none;">
          <li class="nav-item"
              v-for="practice in getEntries(tile.slug, 1)">
            <a class="nav-link" :href="'#' + getPracticeId(practice, 'results-')"
               @click="appToolbarLinkClicked">[[practice.title]]</a>
          </li>
        </ul>
      </li>
    </ul>
    <ul>
      <!-- such that `togglePinSidebar` displays the toggle button -->
    </ul>
  </div>

  {# buttons #}
  <footer class="text-center toolbar-footer">
    <hr />
    <section>
      {% if urls.invite_contributor %}
      <a id="invite-contributor-btn" class="btn btn-outline-primary w-100 mt-2"
         href="{{urls.invite_contributor}}">
          {% trans %}Invite a contributor{% endtrans %}
      </a>
      {% endif %}
      <a id="download" class="btn btn-outline-primary w-100 mt-2"
         href="{{urls.download}}"
         target="_blank">
        <i class="fa fa-file-text"></i>&nbsp;&nbsp;{% trans %}Download (xlsx){% endtrans %}
      </a>
      {% block left_sidebar_actions %}
      <button id="pdf-print-btn" class="btn btn-outline-primary w-100 mt-2"
              onClick="window.print()"
              :disabled="!itemsLoaded">
        <i class="fa fa-file-text"></i>&nbsp;&nbsp;{% trans %}Print (pdf){% endtrans %}
      </button>
      {% if sample.is_frozen %}
      {# actions only available when a scorecard is frozen #}
      {% if urls.share %}
      <a id="share-btn" class="btn btn-primary w-100 mt-2"
         href="{{urls.share}}">
          {% trans %}Share assessment{% endtrans %}
      </a>
      {% endif %}
      {% else %}
      {% if not urls.assess_mandatory_segment or is_mandatory_segment_present %}
      <form method="post" action="." @submit.prevent="freezeAssessment"
        v-show="itemsLoaded && items.results.length > 0">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
        <button id="complete-assessment-btn"
                class="btn btn-primary w-100 mt-2"
                href=""
                data-bs-toggle="modal" data-bs-target="#complete-assessment"
                data-toggle="modal" data-target="#complete-assessment"
                :disabled="freezeAssessmentDisabled">
            {% trans %}Complete{% endtrans %}
        </button>
        <!-- {% trans %}You can only record a response once all sections have been answered. Required questions with missing answers are highlighted with a red vertical bar to the right.{% endtrans %} -->
      </form>
      {% endif %}
      {% endif %}
      {% endblock %}
    </section>
    <div>
      <div class="footer-links pt-2">
        <a href="https://github.com/djaodjin/" target="_blank"><i class="fa fa-github fa-sm pe-2"></i></a>
        <a href="https://www.linkedin.com/company/djaodjin/" target="_blank" rel="publisher"><i class="fa fa-linkedin fa-sm"></i></a>
      </div>
      <div>
        {% trans %}Powered by &copy; 2025 DjaoDjin. All rights reserved.{% endtrans %} <a href="/legal/" target="_blank">{% trans %}Legal{% endtrans %}</a>.
      </div>
    </div>
  </footer>{# /.toolbar-footer #}
</div>
</div>{# /#app-toolbar-left #}
