<div class="progressbar-container pt-4">
  <ul class="progressbar">
    {% if urls.assess %}
    <li {% if request.path == urls.assess or request.path == urls.improve or request.path == urls.targets or request.path == urls.complete or request.path == urls.scorecard or request.path == urls.share %} class="active"{% endif %}>
      <a id="submenu-assess" href="{{urls.assess}}"><span class="progressbar-step"></span>Assess</a>
    </li>
    {% endif %}
    {% if urls.complete %}
    <li {% if request.path == urls.complete or request.path == urls.scorecard or request.path == urls.share %} class="active"{% endif %}>
      <a id="submenu-complete" href="{{urls.complete}}"><span class="progressbar-step"></span>Review</a>
    </li>
    {% endif %}
    {% if urls.share %}
    <li{% if request.path == urls.share %} class="active"{% endif %}>
      <a id="submenu-share" href="{{urls.share}}"><span class="progressbar-step"></span>Share</a>
    </li>
    {% endif %}
  </ul>
</div>
