<div id="reset-assessment" class="modal fade"
     tabindex="-1" role="dialog"
     aria-labelledby="Reset assessment" aria-hidden="true" style="color: #000;">
    <div class="modal-dialog">
        <form class="modal-content"
              @submit.prevent="resetAssessment($event, '{{prefix}}')">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
            <div class="modal-header">
                <h4 class="modal-title">Reset the answers under [[activeTile ? activeTile.title : '']] ...</h4>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                    <p>
By clicking &quot;Yes&quot; you will delete all answers under
<em>[[activeTile ? activeTile.title : '']]</em>
for the current assessment
(Assessments which have already been completed will be preserved).
                    </p>
                    <p>
Do you wish to continue?
                    </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary"
                    data-bs-dismiss="modal">No</button>
                <button type="submit" class="btn btn-primary">Yes</button>
            </div>
        </form>
    </div>
</div>
