<th class="sticky-cell sticky-cell-top" colspan="7">
  <div class="sticky-cell-content-container">
    <div class="sticky-cell-content" style="padding-left:0.75rem;">
        Practices
        {% block toggle %}
        {% endblock %}
    </div>
  </div>
</th>
{# environmental_value #}
<th class="text-center sticky-cell sticky-cell-top">
  <div class="sticky-cell-content-container">
    <div class="sticky-cell-content">
      <div class="btn btn-link btn-sort text-center"
           @click="sortBy('environmental_value')">
        <img src="{{'/static/img/green-leaf.png'|asset}}"
             width="32" hegiht="32" data-bs-toggle="tooltip"
             title="Environmental value" />
      </div>
    </div>
  </div>
</th>
{# business_value #}
<th class="text-center sticky-cell sticky-cell-top">
  <div class="sticky-cell-content-container">
    <div class="sticky-cell-content">
      <div class="btn btn-link btn-sort text-center"
           @click="sortBy('business_value')">
        <img src="{{'/static/img/cogs.png'|asset}}"
             width="32" hegiht="32" data-bs-toggle="tooltip"
             title="Ops/Maintenance value" />
      </div>
    </div>
  </div>
</th>
{# profitability #}
<th class="text-center sticky-cell sticky-cell-top">
  <div class="sticky-cell-content-container">
    <div class="sticky-cell-content">
      <div class="btn btn-link btn-sort text-center"
           @click="sortBy('profitability')">
        <img src="{{'/static/img/dollar-sign.png'|asset}}"
             width="32" hegiht="32" data-bs-toggle="tooltip"
             title="Financial value" />
      </div>
    </div>
  </div>
</th>
{# profitability #}
<th class="text-center sticky-cell sticky-cell-top">
  <div class="sticky-cell-content-container">
    <div class="sticky-cell-content">
      <div class="btn btn-link btn-sort text-center"
           @click="sortBy('implementation_ease')">
        <img src="{{'/static/img/shovel.png'|asset}}"
             width="32" hegiht="32" data-bs-toggle="tooltip"
             title="Implementation ease" />
      </div>
    </div>
  </div>
</th>
{# avg_value #}
<th class="text-center sticky-cell sticky-cell-top total-sep">
  <div class="sticky-cell-content-container">
    <div class="sticky-cell-content">
      <div class="btn btn-link btn-sort text-center"
           @click="sortBy('avg_value')">
        <span data-bs-toggle="tooltip"
              title="Average Value"
              style="cursor: default;">
        Average Value
        </span>
      </div>
    </div>
  </div>
</th>
