<td :id="practice.slug" :colspan="isPractice(practice) ? 7 : 12">
  <div style="display:inline-block;">
    <div :class="'d-inline ' + indentHeader(practice)">
      <span class="title"
            v-if="!isPractice(practice) && !isPagebreak(practice)">
        [[practice.title]]
      </span>
      <a :href="practice.slug + '/'"
         v-if="!isPractice(practice) && isPagebreak(practice)">
        [[practice.title]]
      </a>
      <a class="title"
         :href="isPractice(practice) ? '{{urls.pages_index}}' + practice.slug + '/' : ''"
         v-if="isPractice(practice)">
        [[practice.title]]
      </a>
    </div>
  </div>
</td>

{# environmental_value #}
<td :class="'editable-consumption edit-range cell-fix-width green-level-' + getIntrinsicValue(practice, 'environmental')"
    {% if is_content_manager %}
    :data-key="environmental_value"
    data-range-step="1" data-range-min="0" data-range-max="4"
    :data-range-value="getIntrinsicValue(practice, 'environmental')"
    @click="editConsumption($event, practice)"
    @keydown="($event.keyCode == 13 || $event.keyCode == 9) && nextCell($event, practice)"
    {% endif %}
    v-if="isPractice(practice)">
</td>
{# business_value #}
<td :class="'editable-consumption edit-range cell-fix-width green-level-' + getIntrinsicValue(practice, 'business')"
    {% if is_content_manager %}
    :data-key="business_value"
    data-range-step="1" data-range-min="0" data-range-max="4"
    :data-range-value="getIntrinsicValue(practice, 'business')"
    @click="editConsumption($event, practice)"
    @keydown="($event.keyCode == 13 || $event.keyCode == 9) && nextCell($event, practice)"
    {% endif %}
    v-if="isPractice(practice)">
</td>
{# profitability #}
<td :class="'editable-consumption edit-range cell-fix-width green-level-' + getIntrinsicValue(practice, 'profitability')"
    {% if is_content_manager %}
    :data-key="profitability"
    data-range-step="1" data-range-min="0" data-range-max="4"
    :data-range-value="getIntrinsicValue(practice, 'profitability')"
    @click="editConsumption($event, practice)"
    @keydown="($event.keyCode == 13 || $event.keyCode == 9) && nextCell($event, practice)"
    {% endif %}
    v-if="isPractice(practice)">
</td>
{# implementation_ease #}
<td :class="'editable-consumption edit-range cell-fix-width green-level-' + getIntrinsicValue(practice, 'implementation_ease')"
    {% if is_content_manager %}
    :data-key="implementation_ease"
    data-range-step="1" data-range-min="0" data-range-max="4"
    :data-range-value="getIntrinsicValue(practice, 'implementation_ease')"
    @click="editConsumption($event, practice)"
    @keydown="($event.keyCode == 13 || $event.keyCode == 9) && nextCell($event, practice)"
    {% endif %}
    v-if="isPractice(practice)">
</td>
{# avg_value #}
<td :class="'cell-fix-width-5 total-sep green-level-' + getIntrinsicValue(practice, 'avg_value')"
    v-if="isPractice(practice)">
</td>
