{% extends "base.html" %}

{% block content %}
<div  id="app" class="backdrop mb-4">
    {% block app_content %}
    {% endblock %}
</div>
{% endblock %}

{% block bodyscripts %}
<script type="text/javascript" src="{{'/static/vendor/vue.js'|asset}}"></script>
{% block app_bodyscripts %}{% endblock %}
<script type="text/javascript">
Vue.prototype.$itemsPerPage =
    {% if items_per_page %}{{items_per_page}}{% else %}25{% endif %};
Vue.prototype.$urls = {% if urls %}{{urls|to_json}}{% else %}{}{% endif %};

var app = new Vue({
  el: '#app',
  delimiters: ["[[","]]"],
});
</script>
{% endblock %}
