{% extends "app/base.html" %}

{% block app_content %}
<div class="container">
  <h1 class="text-center py-4">{% trans %}LEARN. ASSESS. IMPROVE.{% endtrans %}</h1>
  <div class="offset-sm-1 offset-md-2 offset-lg-3 col-sm-10 col-md-8 col-lg-6">
  <newsfeed inline-template>
    <div>
      <div v-show="!itemsLoaded">
        <i class="fa fa-refresh fa-spin fa-2x"></i>
      </div>
      <div v-show="itemsLoaded && items.results.length == 0" v-cloak>
        <div class="card mb-4">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-2">
                <img class="img-fluid" style="max-height:64px;" src="{{'/static/img/default-organization.png'|asset}}">
              </div>
              <div class="col-5">
                <h5>{% trans %}Assess{% endtrans %}</h5>
                <h6>{% trans %}Pick a questionnaire{% endtrans %}</h6>
              </div>
            </div>
          </div>
          <div class="card-body">
{% trans %}If you were prompted to take, or update, an assessment, start here.{% endtrans %}
          </div> {# /.card-body #}
          <div class="card-footer">
            <div class="row">
              <div class="offset-md-6 col-md-6 text-end">
                <a id="getstarted" href="{{urls.getstarted}}" class="btn btn-primary">{% trans %}Get started{% endtrans %}</a>
              </div>
            </div>
          </div> {# /.card-footer #}
        </div>
      </div>
      <div v-show="itemsLoaded && items.results.length > 0" v-cloak>
        <div class="card mb-4" v-for="assessment in items.results">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-2">
                <img class="img-fluid" style="max-height:64px;" :src="getAccountPicture(assessment.account) ? getAccountPicture(assessment.account) : '{{'/static/img/default-organization.png'|asset}}'" >
              </div>
              <div class="col-10">
                <h5>[[getAccountPrintableName(assessment.account) ? getAccountPrintableName(assessment.account) : assessment.account]]</h5>
                <h6>[[assessment.title]]</h6>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row" v-if="assessment.picture">
              <div class="col-4">
                <img class="img-fluid" :src="assessment.picture" />
              </div>
              <div class="col-8"
                   v-html="$globals.md(assessment.descr)">
              </div>
            </div>
            <div class="col-md-9"
                 v-html="$globals.md(assessment.descr)"
                 v-if="!assessment.picture">
            </div>
            <p v-if="assessment.last_completed_at">
This assessment was last completed on [[$globals.humanizeDate(assessment.last_completed_at)]]
<span v-if="assessment.respondents && assessment.respondents.length > 0">
by one of your following co-worker(s):
  <span v-for="user in assessment.respondents">
    <span class="author"><a :href="'mailto:' + getAccountField(user, 'email')">[[getAccountPrintableName(user) ? getAccountPrintableName(user) : user]]</a></span>
  </span>
</span>.
            </p>
            <div v-if="assessment.grantees && assessment.grantees.length > 0">
              <p v-if="assessment.ends_at">
{% trans ends_at='[[$globals.humanizeDate(assessment.ends_at)]]' %}The following organizations would like a copy of the up-to-date response before {{ends_at}}.{% endtrans %}
              </p>
              <p v-if="!assessment.ends_at">
{% trans %}The following organizations would like a copy of the up-to-date response.{% endtrans %}
              </p>
              <decorate-profiles :elements="assessment.grantees" inline-template>
                <div>
                  <div v-for="request in elements">
                    <div class="row align-items-center">
                      <div class="col-2">
                        <img class="img-fluid" style="max-height:64px;" :src="getAccountPicture(request.grantee) ? getAccountPicture(request.grantee) : '{{'/static/img/default-organization.png'|asset}}'" >
                      </div>
                      <div class="col-5">
                        [[getAccountPrintableName(request.grantee) ? getAccountPrintableName(request.grantee) : request.grantee]]
                        <div>
                          <small>on [[$globals.humanizeDate(request.created_at)]]
                            ([[$globals.humanizeTimeDelta(request.created_at)]])</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p class="mt-2">
<em>{% trans %}If you have completed the questionnaire more than 6 months ago, please kindly update the response to reflect current information.{% endtrans %}</em>
                  </p>
                </div>
              </decorate-profiles>
            </div>{# /assessment.grantees #}
          </div>{# /.card-body #}
          <div class="card-footer" v-if="assessment.update_url || assessment.external_url">
            <div class="row">
              <div class="col-md-6 text-center">
                <a class="btn btn-primary"
                   :href="assessment.share_url"
                   v-if="assessment.share_url">{% trans created_at='[[$globals.humanizeDate(assessment.last_completed_at)]]' %}Share {{created_at}} response{% endtrans %}</a>
              </div>
              <div class="col-md-6 text-center">
                <form :id="assessment.account + '-' + assessment.slug" :action="assessment.update_url" method="post" v-if="assessment.update_url">
                  <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
                  <button class="btn btn-primary"
                          type="submit"
                          name="campaign"
                          :value="assessment.slug"
                          role="menuitem"
                          tabindex="-1">
                    <span v-if="assessment.share_url">{% trans %}Update response{% endtrans %}</span>
                    <span v-if="!assessment.share_url && assessment.update_url && assessment.update_url.indexOf('/getstarted/') < 0">{% trans %}Continue{% endtrans %}</span>
                    <span v-if="!assessment.share_url && assessment.update_url && assessment.update_url.indexOf('/getstarted/') >= 0">{% trans %}Get started{% endtrans %} &raquo;</span>
                  </button>
                </form>
                <a class="btn btn-outline-primary" href="" @click.prevent="redirectToExternalUrl(assessment.external_url)" v-if="assessment.external_url">{% trans %}Learn about this product{% endtrans %}</a>
              </div>
            </div>
          </div>{# /.card-footer #}
        </div>
      </div>
    </div>
  </newsfeed>
  </div>
  {% include "app/_external_redirect_modal.html" %}
</div>{# .container #}
{% endblock %}
