<div :id="getPracticeId(practice, 'results-')" :class="'row ' + practiceStyle(practice)">
  <div :class="(isPractice(practice) || isEnumHeaderShown(icon)) ? 'col-md-6' : 'col-md-12'">
    <div :class="indentHeader(practice)">
      <span class="title"
            v-if="!isPractice(practice) && !isPagebreak(practice)">
        [[practice.title]]
      </span>
      <a :href="practice.slug + '/'"
         v-if="!isPractice(practice) && isPagebreak(practice)">
        [[practice.title]]
      </a>
      <span class="title"
            v-if="isPractice(practice)">
        [[practice.title]]
        <a :href="isPractice(practice) ? '{{urls.pages_index}}' + practice.slug + '/' : ''"
           target="_blank"><i class="fa fa-question-circle"></i></a>
      </span>
    </div>
  </div>

  {# total opportunity #}
  <div class="col-1 text-end opportunity" v-if="isPractice(practice)">
    [[getOpportunity(practice)]]
  </div>
  <div class="col-11 d-md-none" v-if="isPractice(practice)">
    {% trans %}Opportunity{% endtrans %}
  </div>

  {# peers based value #}
  <div class="col-1" v-if="isPractice(practice)">
    <div class="progress">
      <div :class="'progress-bar progress-bar-success green-level-' + getIntrinsicValue(practice, 'avg_value')"
           role="progressbar"
           :aria-valuenow="getRate(practice)"
           aria-valuemin="0"
           aria-valuemax="100"
           :style="implementationRateStyle(getRate(practice))">
        <span :class="{'text-muted': !getRate(practice) || getRate(practice) < 35}">[[asPercent(getRate(practice))]]</span>
      </div>
    </div>
  </div>
  <div class="col-11 d-md-none" v-if="isPractice(practice)">
    {% trans %}Implemented by peers{% endtrans %}
  </div>

  {# environmental_value #}
  <div :class="'col-1 editable-consumption edit-range green-level-' + getIntrinsicValue(practice, 'environmental')"
       {% if is_content_manager %}
       :data-key="environmental_value"
       data-range-step="1" data-range-min="0" data-range-max="4"
       :data-range-value="getIntrinsicValue(practice, 'environmental')"
       @click="editConsumption($event, practice)"
       @keydown="($event.keyCode == 13 || $event.keyCode == 9) && nextCell($event, practice)"
       {% endif %}
       v-if="isPractice(practice)">
  </div>
  <div class="col-11 d-md-none" v-if="isPractice(practice)">
    {% trans %}Environmental value{% endtrans %}
  </div>
  {# business_value #}
  <div :class="'col-1 editable-consumption edit-range green-level-' + getIntrinsicValue(practice, 'business')"
       {% if is_content_manager %}
       :data-key="business_value"
       data-range-step="1" data-range-min="0" data-range-max="4"
       :data-range-value="getIntrinsicValue(practice, 'business')"
       @click="editConsumption($event, practice)"
       @keydown="($event.keyCode == 13 || $event.keyCode == 9) && nextCell($event, practice)"
       {% endif %}
       v-if="isPractice(practice)">
  </div>
  <div class="col-11 d-md-none" v-if="isPractice(practice)">
    {% trans %}Ops/Maintenance value{% endtrans %}
  </div>
  {# profitability #}
  <div :class="'col-1 editable-consumption edit-range green-level-' + getIntrinsicValue(practice, 'profitability')"
       {% if is_content_manager %}
       :data-key="profitability"
       data-range-step="1" data-range-min="0" data-range-max="4"
       :data-range-value="getIntrinsicValue(practice, 'profitability')"
       @click="editConsumption($event, practice)"
       @keydown="($event.keyCode == 13 || $event.keyCode == 9) && nextCell($event, practice)"
       {% endif %}
       v-if="isPractice(practice)">
  </div>
  <div class="col-11 d-md-none" v-if="isPractice(practice)">
    {% trans %}Financial value{% endtrans %}
  </div>
  {# implementation_ease #}
  <div :class="'col-1 editable-consumption edit-range green-level-' + getIntrinsicValue(practice, 'implementation_ease')"
       {% if is_content_manager %}
       :data-key="implementation_ease"
       data-range-step="1" data-range-min="0" data-range-max="4"
       :data-range-value="getIntrinsicValue(practice, 'implementation_ease')"
       @click="editConsumption($event, practice)"
       @keydown="($event.keyCode == 13 || $event.keyCode == 9) && nextCell($event, practice)"
       {% endif %}
       v-if="isPractice(practice)">
  </div>
  <div class="col-11 d-md-none" v-if="isPractice(practice)">
    {% trans %}Implementation ease{% endtrans %}
  </div>
</div>
