{% extends "pages/base.html" %}

{% block pages_content %}
<campaign-questions-list inline-template class="panel-icons" id="panel-icons">
  <div class="panel-body panel-icons-no-benchmark">
    <div class="row">
      <div class="col-md-12 text-center" style="display:table-row;">
        <div class="row-icons">
          <div style="display:inline-block;float:left;flex:auto;">
            <div class="header-tuple">
              <ul class="nav nav-tabs squared-tabs">
                <li v-show="!itemsLoaded">
                  <i class="fa fa-spinner fa-spin fa-2x"></i>
                </li>
                <li :data-id="icon.path"
                    :class="'nav-item squared-tabs-li' + ((activeTile && icon.slug == activeTile.slug) ? ' active': '') + (containsTag(icon, 'tilebreak') ?  ' bordered-left' : '')"
                    v-for="icon in getEntries('', 1)"
                    v-show="itemsLoaded && items.results.length"
                    v-cloak>
                  <a class="nav-link icon-inner orange"
                     :href="'#tab-' + icon.slug"
                     role="{{role}}" data-toggle="{{role}}"
                     @click.prevent="toggleTile($event, icon)">
                    <img class="icon-equipment" v-if="icon.picture" :src="icon.picture">
                    <div class="icon-caption">[[icon.title]]</div>
                  </a>
                </li>
              </ul>
            </div> {# .header-tuple #}
          </div>
        </div> {# .row-icons #}
      </div> {# .col-md-12 #}
    </div> {# .row #}

    {# expanded tabs go here #}
    <div id="content-tabs"
         :class="'tab-content collapse' + (activeTile ? ' show' : '')">
      <div role="tabpanel"
           :class="'tab-pane' + ((activeTile && icon.slug == activeTile.slug) ? ' active': '')"
           :id="'tab-' + icon.slug"
           v-for="icon in getEntries('', 1)"
           v-show="itemsLoaded && items.results.length"
           v-cloak>
        <div>
          <table class="table table-striped table-bordered table-assessment">
            <thead>
              {% include "app/_sustainability_value_header.html" %}
            </thead>
            <tbody data-prefix="{{abs_prefix}}">
              <tr :data-id="getPath(practice)"
                  v-for="practice in getEntries(icon.slug)"
                  v-show="itemsLoaded && items.results.length">
                {% include "app/_sustainability_value_row.html" %}
              </tr>
            </tbody>
          </table>
        </div>
        {% block icons_actions %}
        <div class="row mb-4">
          <div class="col-sm-6 text-left">
            <a id="download-assessment"
               class="btn btn-secondary"
               href="{{urls.download}}" target="_blank">
              <i class="fa fa-download"></i> {% trans %}Download{% endtrans %}
            </a>
          </div>
        </div>{# /.row #}
        {% endblock %}
      </div>
    </div>{# /content-tabs #}

    {% block panel_footer %}
    <div class="card card-footer mt-4">
      <div class="row">
        <div class="offset-sm-3 col-sm-6 text-center">
          <p>
{% trans %}Click on each icon tile to expand it.{% endtrans %}
          </p>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</campaign-questions-list>
{% endblock %}

{% block pages_scripts %}
{% if ASSETS_DEBUG %}
<script type="text/javascript" src="{{'/static/vendor/chart.js/dist/chart.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/vendor/chartjs-plugin-annotation.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/js/djaodjin-resources-vue.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/js/djaopsp-resources-vue.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/js/assess-vue.js'|asset}}"></script>
{% else %}
<script type="text/javascript" src="{{'/static/cache/assess.js'|asset}}"></script>
{% endif %}
{% endblock %}
