<td :id="practice.slug" :colspan="!isPractice(practice) ? datasets.length + 1 : 1">
  <div style="display:inline-block;">
    <div :class="indentHeader(practice)"
         style="display:inline-block;">
      <span class="title"
            v-if="!isPractice(practice)">
        [[practice.title]]
      </span>
      <a class="title"
         :href="'{{urls.pages_index}}' + practice.slug + '/'"
         v-if="isPractice(practice)">
        [[practice.title]]
      </a>
    </div>
  </div>
</td>

<td v-for="dataset in datasets" v-if="isPractice(practice)">
    [[getCompareAnswerMeasured(dataset, practice)]]
</td>
