<td :id="row.slug" :colspan="!isPractice(row) ? datasets.length + 1 : 1">
  <div style="display:inline-block;">
    <div :class="indentHeader(row)"
         style="display:inline-block;">
      <span class="title"
            v-if="!isPractice(row)">
        [[row.title]]
      </span>
      <a class="title"
         :href="'{{urls.pages_index}}' + row.slug + '/'"
         v-if="isPractice(row)">
        [[row.ref_num ? (row.ref_num + " ") : ""]][[row.title]]
      </a>
    </div>
  </div>
</td>

<td v-for="dataset in datasets" v-if="isPractice(row)">
  <div v-for="practice in [getCompareAnswers(dataset, row)]">
    <div v-if="isEnumUnit(practice)">
      [[getPrimaryAnswer(practice).measured]]
      {% include "app/scorecard/_secondary_answers.html" %}
    </div>

    <div v-if="isFreetextUnit(practice)">
      [[getPrimaryAnswer(practice).measured]]
      {% include "app/scorecard/_secondary_answers.html" %}
    </div>

    <div v-if="isEmployeeCountUIHint(practice)">
      [[getPrimaryAnswer(practice).measured]]
      {% include "app/scorecard/_secondary_answers.html" %}
    </div>

    <div v-if="isNumberUnit(practice)">
      [[getPrimaryAnswer(practice).measured]]
      {% include "app/scorecard/_secondary_answers.html" %}
    </div>

    <div v-if="isDatetimeUnit(practice)">
      [[getPrimaryAnswer(practice).measured]]
      {% include "app/scorecard/_secondary_answers.html" %}
    </div>

  </div>
</td>
