{% extends "app/reporting/base.html" %}

{% block localheader %}
<style>
.chart-content .nv-x .tick text {
display: none;
}
</style>
{% endblock %}

{% block reporting_title %}{% trans %}Compare scores{% endtrans %}{% endblock %}

{% block reporting_content %}
<div class="container pt-4">
  <div class="bg-white text-dark">
    <compare-dashboard id="compare-dashboard" inline-template>
      <div class="row">
        <div class="col-12" id="featured">
          <!-- global metric -->
          <h2 class="m-2">{{object.title}}</h2>
          <div class="row">
            <div class="offset-md-2 col-md-8">
              <div class="chart totals-preview text-center" style="display: inline-block;">
                <i class="fa fa-spinner fa-spin fa-2x" v-if="!itemLoaded"></i>
                <canvas id="{{object.slug}}" v-show="itemLoaded" v-cloak></canvas>
              </div>
            </div>
          </div>
        </div>{# /#featured #}

        {% block submetrics %}
        {% if charts %}
        <hr />
        <div id="by-suppliers">
          <h2 class="m-2">Organization scores by industry segment</h2>
          <div class="row row-flex">
            {% for chart in charts %}
            {% if chart.is_line_break %}
          </div>
          <div class="row row-flex">
            {% endif %}
            <div class="col-md-4">
              <div class="chart-container">
                <div class="row chart-title" style="margin-left:15px;margin-right:15px;">
                  <div class="col-4 icon-benchmark orange">
                    {% if chart.picture %}
                    <img class="icon-equipment" src="{{chart.picture}}">
                    {% else %}
                    <span class="icon-equipment">{{chart.title}}</span>
                    {% endif %}
                  </div>
                  <div class="col-8 title" style="min-height:60px;">
                    <div style="position:absolute;">
                      <h3>{{chart.breadcrumbs.0}}</h3>
                      <h4>{% if chart.breadcrumbs|length > 1 %}{{chart.breadcrumbs.1}}{% endif %}</h4>
                      <h5>{% if chart.breadcrumbs|length > 2 %}{{chart.breadcrumbs|last}}{% endif %}</h5>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="chart-content c3" style="width:250px;height:120px;">
                    <div class="distribution-chart c3">
                      <div class="chart text-center">
                        <i class="fa fa-spinner fa-spin fa-2x" v-if="!itemLoaded"></i>
                        <canvas id="{{chart.slug}}"></canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>{# /#by-suppliers #}
        {% endif %}

        {% endblock %}
      </div>
    </compare-dashboard>
  </div>
</div>
{% endblock %}
