{% extends "app/reporting/base.html" %}

{% block localheadermeta %}
<title>{% trans campaign=campaign.title, profile=profile.printable_name %}{{campaign}} Engagement - {{profile}}{% endtrans %} | {% trans %}Practice Sharing Platform{% endtrans %}</title>
<meta property="og:title" content="{{campaign.title}} Engagement - {{profile.printable_name}} | Practice Sharing Platform" />
<meta property="og:image" content="{{request|site_url}}/static/img/og-image.png" />
<meta name="description" property="og:description" content="Engage reporting profiles with {{campaign.title}}" />
{% endblock %}

{% block reporting_title %}{% trans %}Engage{% endtrans %}{% endblock %}

{% block reporting_content %}
<engage-profiles inline-template>
  <div>

    {% include "app/reporting/_completion_rate.html" %}

    <div class="row">
      <div class="col-sm-6" v-show="itemsLoaded" v-cloak>
        [[items.count]] {% trans %}invited profiles{% endtrans %}
      </div>
      {% if urls.download %}
      <div class="col-sm-6 text-end">

        <div class="btn-group" role="group">
          <a class="btn btn-primary" id="xlsx-download-btn" :href="'{{urls.download}}' + getQueryString(['page'])">
            <i class="fa fa-download"></i> {% trans %}Download (xlsx){% endtrans %}
          </a>
          <button type="button"
                  class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-start">
            <a class="dropdown-item"
               :href="'{{urls.download}}' + getQueryString(['page'])"
               target="_blank">
              {% trans %}Download (.xlsx){% endtrans %}
            </a>
            <a id="xlsx-download-contacts" class="dropdown-item"
               :href="'{{urls.download}}invites/' + getQueryString(['page'])"
               target="_blank">
              {% trans %}Contacts (.xlsx){% endtrans %}
            </a>
            <a id="download-answers" class="dropdown-item"
               :href="'{{urls.download_raw}}' + getQueryString(['page'])"
               target="_blank">
                {% trans %}Answers &amp; scores (.xlsx){% endtrans %}
            </a>
            <a id="download-answers-pivotable" class="dropdown-item"
               :href="'{{urls.download_raw_long}}' + getQueryString(['page'])"
               target="_blank">
                {% trans %}Answers &amp; scores (pivotable .csv){% endtrans %}
            </a>
            {% if urls.download_verification %}
            <a id="download-verification" class="dropdown-item"
               :href="'{{urls.download_verification}}' + getQueryString(['page'])"
               target="_blank">
                {% trans %}Verification (.xlsx){% endtrans %}
            </a>
            {% endif %}
            {% if urls.download_verification_long %}
            <a id="download-verification-pivotable" class="dropdown-item"
               :href="'{{urls.download_verification_long}}' + getQueryString(['page'])"
               target="_blank">
                {% trans %}Verification (pivotable .csv){% endtrans %}
            </a>
            {% endif %}
            <a id="download-planned" class="dropdown-item"
               :href="'{{urls.download_raw}}' + getQueryString(['page']) + '&planned=1'"
               target="_blank">
                {% trans %}Planned improvements (.xlsx){% endtrans %}
            </a>
            <a id="download-planned-pivotable" class="dropdown-item"
               :href="'{{urls.download_raw_long}}' + getQueryString(['page']) + '&planned=1'"
               target="_blank">
                {% trans %}Planned improvements (pivotable .csv){% endtrans %}
            </a>
          </ul>
        </div>{# /.btn-group #}
      </div>
      {% endif %}
    </div>
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th class="sticky-cell sticky-cell-top">
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
              </div>
            </div>
          </th>
          <th class="sticky-cell sticky-cell-top"
              style="white-space:nowrap;">
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
                {% trans %}Profile{% endtrans %}
                <button class="btn btn-link btn-sort"
                        @click.prevent="sortBy('full_name')">
                  <i :class="sortIcon('full_name')"></i>
                </button>
              </div>
            </div>
          </th>
          <th class="text-nowrap text-center sticky-cell sticky-cell-top">
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
                <button class="btn btn-sort">{% trans %}Tags{% endtrans %}</button>
              </div>
            </div>
          </th>
          <th class="text-nowrap text-center sticky-cell sticky-cell-top">
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
                  <select class="form-control form-select"
                          v-model="params.status"
                          @change="reload()">
                      <option value="invited-denied">{% trans %}Declined to respond{% endtrans %}</option>
                      <option value="">{% trans %}Status{% endtrans %}</option>
                      <option value="invited">{% trans %}Invited{% endtrans %}</option>
                      <option value="updated">{% trans %}Work in progress{% endtrans %}</option>
                      <option value="completed-notshared">{% trans %}Completed{% endtrans %} ({% trans %}not yet shared{% endtrans %})</option>
                      <option value="completed-denied">{% trans %}Completed{% endtrans %} ({% trans %}declined to share{% endtrans %})</option>
                      <option value="verified-notshared">{% trans %}Verified{% endtrans %} ({% trans %}not yet shared{% endtrans %})</option>
                      <option value="verified-denied">{% trans %}Verified{% endtrans %} ({% trans %}declined to share{% endtrans %})</option>
                      <option value="completed">{% trans %}Completed{% endtrans %}</option>
                      <option value="verified">{% trans %}Verified{% endtrans %}</option>
                  </select>
              </div>
            </div>
          </th>
          <th class="text-nowrap text-center sticky-cell sticky-cell-top">
            <!-- This column shows the last update made to a response.
                 When the status is "Completed", this is the completion date,
                 otherwise it is the date a user with a role on the invited
                 profile made a modification to the response.
              -->
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
                  {% trans %}Last update{% endtrans %}
                <button class="btn btn-link btn-sort"
                        @click.prevent="sortBy('last_activity_at')">
                  <i :class="sortIcon('last_activity_at')"></i>
                </button>
              </div>
            </div>
          </th>
          <th class="text-nowrap text-center sticky-cell sticky-cell-top">
            <!-- This column shows the last communication with the profile,
                 i.e. either the initial invite or the last reminder sent
                 from the platform.
              -->
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
                {% trans %}Last reminder{% endtrans %}
                <button class="btn btn-link btn-sort"
                        @click.prevent="sortBy('last_reminder_at')">
                  <i>&nbsp;</i>
                  <!-- XXX API does not support sort by last_reminder_at yet.
                  <i :class="sortIcon('last_reminder_at')"></i>
                  -->
                </button>
              </div>
            </div>
          </th>
          <th class="sticky-cell sticky-cell-top">
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
                  {# primary action #}
              </div>
            </div>
          </th>
          <th class="text-nowrap text-center sticky-cell sticky-cell-top"
              style="border-left:2px solid black;">
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
                  {% trans %}Added{% endtrans %}
                <button class="btn btn-link btn-sort"
                        @click.prevent="sortBy('requested_at')">
                  <i :class="sortIcon('requested_at')"></i>
                </button>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="4">
            <form id="invite-search" class="d-inline-block"
                  @submit.prevent="reload()">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
              <div class="input-group input-group-sm">
                <span class="input-group-text" id="from-inp"><i class="fa fa-search"></i></span>
                <input class="form-control"
                       type="text"
                       placeholder="{% trans %}Profile name or e-mail address ...{% endtrans %}"
                       v-model="params.q" />
                <button class="btn btn-primary btn-sm"
                        type="submit"
                        :disabled="!outdated">{% trans %}Search{% endtrans %}</button>
              </div>
            </form>{# /#invite-search #}
            <form id="send-invite-example" class="d-inline-block ms-4"
                  @submit.prevent="requestAssessmentExample('{{request.user.email}}', '{{campaign}}')">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
              <button class="btn btn-outline-primary btn-sm">
                  {% trans %}Send me an invite example{% endtrans %}
              </button>
            </form>{# /#send-invite-example #}
          </td>
          <td colspan="4" class="text-end">
            <a href="{{'/respondents/'|site_url}}" target="_blank">{% trans %}Find if a company already responded{% endtrans %}&raquo;</a>
          </td>
        </tr>
      </tbody>
      <tbody v-show="!itemsLoaded">
        <tr>
          <td colspan="8">
            <h3  class="text-center"><i class="fa fa-refresh fa-spin fa-2x"></i></h3>
          </td>
        </tr>
      </tbody>
      <tbody v-show="itemsLoaded && items.results.length == 0" v-cloak>
        <tr>
          <td colspan="8" v-if="!params.q">
            {% trans profile=profile.printable_name %}No profile accessible for {{profile}}{% endtrans %}
          </td>
          <td class="text-center" colspan="8" v-if="params.q">
            Invite [[params.q]] as a new profile ...
            <button id="create-reporting-profile-open"
                    class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#invite-reporting-entity"
                    data-toggle="modal" data-target="#invite-reporting-entity"
                    @click="populateInvite({})">{% trans %}Add{% endtrans %}</button>
          </td>
        </tr>
      </tbody>
      <tbody v-show="itemsLoaded && items.results.length > 0" v-cloak>
        <tr :id="entry.slug"
            :class="entry.supplier_initiated ? 'supplier-initiated' : ''"
            v-for="(entry, index) in items.results">
          <td>
            <span :class="entry.extra && entry.extra.supplier_key ? '' : 'default-supplier-id'"
                @click.prevent="toggleEditProfileKey(index)"
                v-show="showEditProfileKey !== index">[[getProfileKey(entry, index)]]</span>
            <input type="text" v-model="entry.extra.supplier_key" @blur="saveProfileKey(entry, index)" v-if="showEditProfileKey === index"></input>
          </td>
          <td>
            {% include "app/reporting/_profile_card.html" %}
          </td>

          <!-- profile whose report has not been requested yet. -->
          <td v-if="hasNoReportingStatus(entry)">
              {# tags #}
          </td>
          <td class="text-center" colspan="3"
              v-if="hasNoReportingStatus(entry)">
              {% trans %}no invite between{% endtrans %} [[_start_at]] and [[_ends_at]]
          </td>
          <td class="text-nowrap text-center"
              v-if="hasNoReportingStatus(entry)">
              <button id="invite-reporting-profile-open"
                      class="btn btn-primary"
                      data-bs-toggle="modal" data-bs-target="#invite-reporting-entity"
                      data-toggle="modal" data-target="#invite-reporting-entity"
                      @click="populateInvite(entry)">{% trans %}Add{% endtrans %}</button>
          </td>
          <td class="text-center"
              style="border-left:2px solid black;"
              v-if="hasNoReportingStatus(entry)">
          </td>

          <!-- profile whose report was requested at some point. -->
          <td v-if="!hasNoReportingStatus(entry)">
            {% include "app/reporting/_edit_tags.html" %}
          </td>
          <td class="text-center"
              v-if="!hasNoReportingStatus(entry)">
            <div v-if="entry.reporting_status === 'invited-denied'">
                {% trans %}Declined{% endtrans %}<br />
                <small>({% trans %}declined to respond{% endtrans %})</small>
            </div>
            <div v-if="entry.reporting_status === 'invited'">
                {% trans %}Invited{% endtrans %}
            </div>
            <div v-if="entry.reporting_status === 'updated'">
                {% trans %}Work in progress{% endtrans %}
            </div>
            <div v-if="entry.reporting_status === 'completed-notshared'">
                {% trans %}Completed{% endtrans %}<br />
                <small>({% trans %}not yet shared{% endtrans %})</small>
            </div>
            <div v-if="entry.reporting_status === 'completed-denied'">
                {% trans %}Completed{% endtrans %}<br />
                <small>({% trans %}declined to share{% endtrans %})</small>
            </div>
            <div v-if="entry.reporting_status === 'verified-notshared'">
                {% trans %}Verified{% endtrans %}<br />
                <small>({% trans %}not yet shared{% endtrans %})</small>
            </div>
            <div v-if="entry.reporting_status === 'verified-denied'">
                {% trans %}Verified{% endtrans %}<br />
                <small>({% trans %}declined to share{% endtrans %})</small>
            </div>
            <div v-if="entry.reporting_status === 'completed'">
                {% trans %}Completed{% endtrans %}<br />
              <a class="btn-link" :href="entry.score_url">[[entry.normalized_score ? '' + entry.normalized_score + '%' : {% trans %}"view"{% endtrans %}]]</a>
            </div>
            <div v-if="entry.reporting_status === 'verified'">
                {% trans %}Verified{% endtrans %}<br />
              <a class="btn-link" :href="entry.score_url">[[entry.normalized_score ? '' + entry.normalized_score + '%' : {% trans %}"view"{% endtrans %}]]</a>
            </div>
          </td>
          <td class="text-center"
              v-if="!hasNoReportingStatus(entry)">
            <div v-if="entry.last_activity_at">
              [[$globals.humanizeDate(entry.last_activity_at)]]<br />
              <small>([[$globals.humanizeTimeDelta(entry.last_activity_at)]])</small><br />
              <small v-if="entry.reporting_status === 'completed' || entry.reporting_status === 'verified'"><a class="btn-link" href="" @click.prevent="toggleRespondents(index)"><i class="fa fa-envelope"></i> {% trans %}respondents{% endtrans %}</a></small>

              <div class="text-start" v-for="contact in entry.respondents" v-show="index === showRespondents">
                  <img class="img-fluid" style="max-height: 1rem;" :src="contact.picture || '{{'/static/img/default-user.png'|asset}}'"> [[contact.full_name]] &lt;[[contact.email]]&gt;<br />
                  <small>
                    [[contact.last_login ? ("{% trans %}last login{% endtrans %}: " + $globals.humanizeDate(contact.last_login)) : ""]]
                  </small>
              </div>
            </div>
            <div v-if="!entry.last_activity_at">
                <span v-if="entry.reporting_status === 'invited-denied'">
                {% trans %}No response will be provided{% endtrans %}
                </span>
                <span v-if="entry.reporting_status !== 'invited-denied'">
                {% trans %}No answer yet{% endtrans %}
                </span>
            </div>
          </td>
          <td class="text-center"
              v-if="!hasNoReportingStatus(entry)">
            <div v-if="entry.last_reminder_at">
              [[$globals.humanizeDate(entry.last_reminder_at)]]<br />
              <small>([[$globals.humanizeTimeDelta(entry.last_reminder_at)]])</small><br />
<!--
              <small><a href="" @click.prevent="toggleRecipients(index)"><i class="fa fa-envelope"></i> {% trans %}sent to{% endtrans %}</a></small>
              <div class="text-start" v-for="contact in entry.recipients" v-show="index === showRecipients">
                  <img class="img-fluid" style="max-height: 1rem;" :src="contact.picture || '{{'/static/img/default-user.png'|asset}}'"> [[contact.printable_name]] &lt;[[contact.email]]&gt;<br />
                  <small>
                      <span class="badge bg-secondary">[[contact.role_description.title]]</span> [[contact.last_login ? ("{% trans %}last login{% endtrans %}: " + $globals.humanizeDate(contact.last_login)) : ""]]
                  </small>
              </div>
-->
            </div>
            <div v-if="!entry.last_reminder_at">
                Not available
            </div>
          </td>
          <td class="text-center"
              v-if="!hasNoReportingStatus(entry)">
              <button id="invite-reporting-profile-open"
                      class="btn btn-primary"
                      data-bs-toggle="modal" data-bs-target="#invite-reporting-entity"
                      data-toggle="modal" data-target="#invite-reporting-entity"
                      @click="populateInvite(entry)"
                      v-if="!(entry.reporting_status === 'completed' || entry.reporting_status === 'verified')">{% trans %}(Re-)send{% endtrans %}</button>
          </td>
          <td class="text-nowrap text-center"
              style="border-left:2px solid black;"
              v-if="!hasNoReportingStatus(entry)">
            [[$globals.humanizeDate(entry.requested_at)]]<br />
            <small>([[$globals.humanizeTimeDelta(entry.requested_at)]])</small><br />
            <button class="btn btn-sm btn-danger"
                    v-if="entry.api_remove"
                    @click.prevent="remove($event, index)">
              <i class="fa fa-times"></i> remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    {% include "_pagination.html" %}
    {% include "app/reporting/_invite_reporting_profile.html" %}
  </div>
</engage-profiles>
{% endblock %}

{% block reporting_scripts %}
<script type="text/javascript">
Vue.prototype.$defaultRequestInitiatedMessage = "Hello,\n\nI would like to invite you to complete and share an assessment for your organization.";

jQuery(document).ready(function($) {
    $("#invite-reporting-entity").on('shown.bs.modal', function () {
        $(this).find("[name='email']").focus();
    });
});
</script>
{% endblock %}
