{% extends "app/reporting/base.html" %}

{% block localheadermeta %}
<title>{{campaign.title}} Engagement - {{profile.printable_name}} | Practice Sharing Platform</title>
<meta property="og:image" content="https://djaodjin.com/static/img/og-image.png" />
<meta property="og:title" content="{{campaign.title}} Engagement - {{profile.printable_name}} | Practice Sharing Platform" />
<meta property="og:url" content="https://www.tspproject.org/" />
<meta name="description" property="og:description" content="Engage reporting profiles with {{campaign.title}}" />
{% endblock %}

{% block reporting_title %}{% trans %}Engage{% endtrans %}{% endblock %}


{% block reporting_content %}
<engage-profiles inline-template>
  <div>
    <div class="row align-items-end">
      <div id="invite-search" class="col-md-3">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text" id="from-inp">From</span>
          </div>
          <input class="form-control" type="date"
                 v-model="_start_at" v-cloak>
        </div>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text" id="from-inp">To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          </div>
          <input class="form-control" type="date"
                 v-model="_ends_at" v-cloak>
        </div>
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <span class="input-group-text" id="from-inp"><i class="fa fa-search"></i></span>
          </div>
          <input class="form-control"
                 type="text"
                 placeholder="{% trans %}Profile name or e-mail address ...{% endtrans %}"
                 v-model="params.q" />
        </div>
        <button class="btn btn-secondary btn-sm mb-2 w-100"
          :disabled="!outdated"
          @click.prevent="reload()">{% trans %}Search{% endtrans %}</button>
      </div>{# /#invite-search #}

      <div class="col-md-4 text-center">
        <div class="d-inline-block" style="position:relative;height:200px;margin:auto;" v-show="itemsLoaded" v-cloak>
          <canvas id="summaryChart" height="200"></canvas>
          <div class="text-center">
Total completions ([[params.unit == 'percentage' ? '%' : 'Nb']])
          </div>
        </div>
        <div class="mt-4">
        {% include "app/reporting/_percentage_toggle.html" %}
        </div>
      </div>
      <div class="col-md-5">
        <reporting-completion-rate :params="params" inline-template>
          <div>
            <div>
              <div class="card-body" v-if="!itemLoaded">
                <p>
                  <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
                </p>
              </div>
              <div class="card-body" v-show="itemLoaded">
                <canvas id="completionRate"></canvas>
              </div>
            </div>
            <div class="text-center">
              <span>Weekly completions ([[params.unit == 'percentage' ? '%' : 'Nb']])</span>
              <span class="float-right">
              <a id="download-competion-rate" class="btn btn-secondary btn-sm" :href="'{{urls.download_completion_rate}}' + getQueryString()" target="_blank"><i class="fa fa-download"></i> Download (.pptx)</a>
              </span>
            </div>
          </div>
        </reporting-completion-rate>
      </div>{# /.col-md-5 #}
    </div>{# /.row #}

    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th class="sticky-cell sticky-cell-top">
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
              </div>
            </div>
          </th>
          <th class="sticky-cell sticky-cell-top"
              style="white-space:nowrap;">
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
                {% trans %}Profile{% endtrans %}
                <button class="btn btn-link btn-sort"
                        @click.prevent="sortBy('full_name')">
                  <i :class="sortIcon('full_name')"></i>
                </button>
              </div>
            </div>
          </th>
          <th class="text-nowrap text-center sticky-cell sticky-cell-top">
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
                <button class="btn btn-sort">{% trans %}Tags{% endtrans %}</button>
              </div>
            </div>
          </th>
          <th class="text-nowrap text-center sticky-cell sticky-cell-top">
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
                  {% trans %}Status{% endtrans %}
                <button class="btn btn-link btn-sort"
                        @click.prevent="sortBy('reporting_status')">
                  <i :class="sortIcon('reporting_status')"></i>
                </button>
              </div>
            </div>
          </th>
          <th class="text-nowrap text-center sticky-cell sticky-cell-top">
            <!-- This column shows the last update made to a response.
                 When the status is "Completed", this is the completion date,
                 otherwise it is the date a user with a role on the invited
                 profile made a modification to the response.
              -->
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
                  {% trans %}Last update{% endtrans %}
                <button class="btn btn-link btn-sort"
                        @click.prevent="sortBy('last_activity_at')">
                  <i :class="sortIcon('last_activity_at')"></i>
                </button>
              </div>
            </div>
          </th>
          <th class="text-nowrap text-center sticky-cell sticky-cell-top">
            <!-- This column shows the last communication with the profile,
                 i.e. either the initial invite or the last reminder sent
                 from the platform.
              -->
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
                {% trans %}Last reminder{% endtrans %}
                <button class="btn btn-link btn-sort"
                        @click.prevent="sortBy('requested_at')">
                  <i :class="sortIcon('requested_at')"></i>
                </button>
              </div>
            </div>
          </th>
          <th class="sticky-cell sticky-cell-top">
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
                  {# primary action #}
              </div>
            </div>
          </th>
          <th class="text-nowrap text-center sticky-cell sticky-cell-top"
              style="border-left:2px solid black;">
            <div class="sticky-cell-content-container">
              <div class="sticky-cell-content">
                  {% trans %}Added{% endtrans %}
                <button class="btn btn-link btn-sort"
                        @click.prevent="sortBy('created_at')">
                  <i :class="sortIcon('created_at')"></i>
                </button>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody v-show="!itemsLoaded">
        <tr>
          <td colspan="8">
            <h3  class="text-center"><i class="fa fa-refresh fa-spin fa-2x"></i></h3>
          </td>
        </tr>
      </tbody>
      <tbody v-show="itemsLoaded && items.results.length == 0" v-cloak>
        <tr>
            <td colspan="8">{% trans profile=profile %}No profile accessible for {{profile}}{% endtrans %}</td>
        </tr>
      </tbody>
      <tbody :id="entry.slug"
            :class="entry.supplier_initiated ? 'supplier-initiated' : ''"
            v-for="(entry, index) in items.results"
            v-show="itemsLoaded && items.results.length > 0" v-cloak>
        <tr v-if="hasNoReportingStatus(entry)">
          <!-- profile whose report has not been requested yet. -->
          <td>
            <span>[[index + 1]]</span><br />
          </td>
          <td>
            {% include "app/reporting/_profile_card.html" %}
          </td>
          <td>
              {# tags #}
          </td>
          <td class="text-center" colspan="3">
              no invite between [[_start_at]] and [[_ends_at]]
          </td>
          <td class="text-nowrap text-center">
              <button id="invite-reporting-profile-open"
                      class="btn btn-primary"
                      data-toggle="modal"
                      data-target="#invite-reporting-entity"
                      @click="populateInvite(entry)">{% trans %}Add{% endtrans %}</button>
          </td>
          <td class="text-center"
              style="border-left:2px solid black;">
          </td>
        </tr>

        <tr v-if="!hasNoReportingStatus(entry)">
          <!-- profile whose report was requested at some point. -->
          <td>
            <span>[[index + 1]]</span><br />
          </td>
          <td>
            {% include "app/reporting/_profile_card.html" %}
          </td>
          <td>
            {% include "app/reporting/_edit_tags.html" %}
          </td>
          <td class="text-center">
            <div v-if="entry.reporting_status === 'invited'">
                {% trans %}Invited{% endtrans %}
            </div>
            <div v-if="entry.reporting_status === 'updated'">
                {% trans %}Work in progress{% endtrans %}
            </div>
            <div v-if="entry.reporting_status === 'completed'">
                {% trans %}Completed{% endtrans %}<br />
              <a :href="entry.score_url">[[entry.normalized_score ? '' + entry.normalized_score + '%' : {% trans %}"view"{% endtrans %}]]</a>
            </div>
            <div v-if="entry.reporting_status === 'completed-notshared'">
                {% trans %}Completed{% endtrans %}<br />
                <small>({% trans %}not yet shared{% endtrans %})</small>
            </div>
            <div v-if="entry.reporting_status === 'completed-denied'">
                {% trans %}Completed{% endtrans %}<br />
                <small>({% trans %}declined to share score{% endtrans %})</small>
            </div>
            <div v-if="entry.reporting_status === 'invited-denied'">
                {% trans %}Declined{% endtrans %}<br />
                <small>({% trans %}declined to respond{% endtrans %})</small>
            </div>
          </td>
          <td class="text-center">
            <div v-if="entry.last_activity_at">
              [[$globals.humanizeDate(entry.last_activity_at)]]<br />
              <small>([[$globals.humanizeTimeDelta(entry.last_activity_at)]])</small><br />
              <small><a href="" @click.prevent="toggleRespondents(index)"><i class="fa fa-envelope"></i> {% trans %}respondents{% endtrans %}</a></small>

              <div class="text-left" v-for="contact in entry.respondents" v-show="index === showRespondents">
                  <img class="img-fluid" style="max-height: 1rem;" :src="contact.picture || '{{'/static/img/default-user.png'|asset}}'"> [[contact.full_name]] &lt;[[contact.email]]&gt;<br />
                  <small>
                    [[contact.last_login ? ("{% trans %}last login{% endtrans %}: " + $globals.humanizeDate(contact.last_login)) : ""]]
                  </small>
              </div>
            </div>
            <div v-if="!entry.last_activity_at">
                <span v-if="entry.reporting_status === 'invited-denied'">
                {% trans %}No response will be provided{% endtrans %}
                </span>
                <span v-if="entry.reporting_status !== 'invited-denied'">
                {% trans %}No answer yet{% endtrans %}
                </span>
            </div>
          </td>
          <td class="text-center">
            <div v-if="entry.requested_at">
              [[$globals.humanizeDate(entry.requested_at)]]<br />
              <small>([[$globals.humanizeTimeDelta(entry.requested_at)]])</small><br />
              <small><a href="" @click.prevent="toggleRecipients(index)"><i class="fa fa-envelope"></i> {% trans %}sent to{% endtrans %}</a></small>
              <div class="text-left" v-for="contact in entry.recipients" v-show="index === showRecipients">
                  <img class="img-fluid" style="max-height: 1rem;" :src="contact.picture || '{{'/static/img/default-user.png'|asset}}'"> [[contact.printable_name]] &lt;[[contact.email]]&gt;<br />
                  <small>
                      <span class="badge badge-secondary">[[contact.role_description.title]]</span> [[contact.last_login ? ("{% trans %}last login{% endtrans %}: " + $globals.humanizeDate(contact.last_login)) : ""]]
                  </small>
              </div>
            </div>
          </td>
          <td class="text-center">
              <button id="invite-reporting-profile-open"
                      class="btn btn-secondary"
                      data-toggle="modal"
                      data-target="#invite-reporting-entity"
                      @click="populateInvite(entry)">{% trans %}(Re-)send{% endtrans %}</button>
          </td>
          <td class="text-nowrap text-center"
              style="border-left:2px solid black;">
            [[$globals.humanizeDate(entry.created_at)]]<br />
            <small>([[$globals.humanizeTimeDelta(entry.created_at)]])</small><br />
            <button class="btn btn-sm btn-danger"
                    @click.prevent="remove($event, index)">
              <i class="fa fa-times"></i> remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    {% include "_pagination.html" %}
    {% include "app/reporting/_invite_reporting_profile.html" %}
  </div>
</engage-profiles>
{% endblock %}

{% block reporting_scripts %}
<script type="text/javascript">
         jQuery(document).ready(function($) {
          var summaryChart = new Chart(
                document.getElementById('summaryChart'),
                {
                    type: 'doughnut',
                    borderWidth: 0,
                    data: {
                        labels: ['Completed', 'Work in progress', 'Invited'],
                        datasets: [{
                            label: "Engagement",
                            backgroundColor: ['#69B02B', '#9CD76B', '#ff5555'],
                            data: [50, 25, 25]}]
                    },
                    options: {
                        borderWidth: 1,
                        responsive: false,
                        plugins: {
                            legend: {
                                display: true,
                                position: 'right',
                                labels: {
                                    boxWidth: 20,
                                    padding: 2,
                                    fontSize: 8,
                                }
                            }
                        }
                    }
                }
            );
         });
</script>
{% endblock %}
