<ul class="dropdown-menu" role="menu" aria-labelledby="segment-selector">
  <li>
    <div style="font-size:14px;">Don't know what to select? <a href="{{'/docs/faq/#general-3'|site_prefixed}}" target="_blank">Click here</a>
    </div>
  </li>
  {% for segment in segments %}
  <li class="dropdown-item dropdown-item-indent-{{segment.indent}}">
    <div>
    {% if request|is_broker_manager %}
      <input type="checkbox" name="industry" value="{{segment.path}}"
      {% if not segment.disabled %}checked{% endif %} />
      <a id="{{segment.path}}" href="{{'app/assess'|site_prefixed}}{{segment.path}}/" role="menuitem" tabindex="-1">{{segment.title}}</a>
      {% else %}
      {% if not segment.disabled %}
      {% if not segment.path %}
      <button id="{{segment.path}}" disabled>{{segment.title}}</button>
      {% else %}
      <a id="{{segment.path}}" href="{{'app/assess'|site_prefixed}}{{segment.path}}/" role="menuitem" tabindex="-1">{{segment.title}}</a>
      {% endif %}
      {% else %}
      <span id="{{segment.path}}" class="disabled" role="menuitem" tabindex="-1">{{segment.title}} <i class="fa fa-wrench"></i></span>
      {% endif %}
    {% endif %}
    </div>
  </li>
  {% endfor %}
  {% if request|is_broker_manager %}
  <!-- <li><button class="btn btn-link" data-toggle="modal" data-target="#add-element-modal"><i class="fa fa-plus"></i> Add segment ...</button></li> -->
  {% endif %}
</ul>
