{% extends "base.html" %}

{% block navbar %}
{% include "generic_navbar.html" %}
{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-light-green">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h2 class="text-center">About The Sustainability Project</h2>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-10 center">
			<p> This website is a repository of online resources that is intended to take guesswork, time and money out of identifying sustainability best practices, equipment, products and services for a business. The demo uses energy efficiency best practices for a subset of metal structure and equipment manufacturers to illustrate the concept of the online resource.</p>
			<h2 class="text-green">What the demo includes</h2>
				<ul class="demo-about">
					<li><strong><em>Active, searchable content:</em></strong> A complete menu of heading-level energy efficiency best practices for four metal structure and equipment manufacturing sub-sectors. Detailed content is provided for 20 of those best practices (indicated by blue text). Why only 20? To test the value of the content and structure of the best practices prior to, or as a basis for, developing further content.</li>
					<li><strong><em>Inactive features and content:</em></strong> There are several inactive content items and features (e.g. light grey, inactive text in the drop down menus on the home page) that are intended solely to show features and functions planned for future versions of this online resource.</li>
					<li><strong><em>Request for feedback:</em></strong> You are part of a small and select group of companies invited to review this potential new online resource. Its further development will be based on the feedback you provide by <a href="https://www.surveymonkey.com/r/WYLX529" target="_blank">CLICKING HERE</a> following your review of the website.</li>
				</ul>
			<a name="about-content"></a><h2 class="text-green">Notes about the content</h2>
			<p><strong><em>Provenance:</em></strong> Best practice content was compiled by BASE Energy, Inc., (BASE) an energy engineering consulting firm headquartered in San Francisco. BASE provides energy efficiency and carbon reduction solutions to a cross-sector of industries. BASE drew upon a combination of information from the United States Department of Energy’s Industrial Assessment Centers Database and the company’s own audit database to compile the menu of best practices. The sources from which more detailed best practice content was compiled are referenced within each relevant best practice.</p>
			<p>Averages presented (e.g. energy savings, costs, payback) are based on the implementation of a best practice for at least 4, and up to 15 or more facilities. Numbers on which the averages are based were extracted from the records of 112 audits from the following sources: Industrial Assessment Centers Database (US Department of Energy) and BASE Energy, Inc.'s audit databases.  The audits were conducted for facilities of varying sizes in the following sectors: Wire & Cable manufacture, Distribution Transformer manufacture, Fabricated Metal manufacture, and Boxes and Enclosures manufacture.</p>
			<p><strong><em>Relevance:</em></strong> Relevance of each best practice presented on this website is likely to vary between facility and geographic region. It is the sole responsibility of any individual, group or organization making use of the information to determine the relevance and implementation outcome of a best practice for the intended facility or group of facilities.</p>
			<h2 class="text-green">Contributing</h2>
			<p>
If you would like to contribute high-level detailed content for some of the best practices or would like to sponsor the development of high-level detailed content for best practices in environmental sustainability, please 
<a href="{{'contact/'|site_prefixed}}">contact us</a>.
			</p>
		</div>
	</div>
</div>

{% endblock %}
