{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="col-md-4 center container-form" >
        <div class="panel panel-grey padding_20" id="select-organization">
            <div class="panel-body">
                <h1 class="text-center"><i class="fa fa-users fa-lg"></i> Please choose an organization ...</h1>
                {% for redirect in redirects %}
                <div class="center" style="padding-top: 20px;">
                  <a class="btn btn-default" id="{{redirect.1|slugify}}" style="width: 100%;" href="{{redirect.0}}">{{redirect.1}}</a>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
