{% if request|url_profile %}
<li><a href="{{'/app/info/requests/'|site_prefixed}}">Dashboard</a></li>
{% if urls and urls.profiles|length > 1 %}
<!--[if !IE]><!-->
 <li class="divider-vertical hidden-xs"><li>
<!--<![endif]-->
<li{% if "/profile/" in request.path %} class="active"{% endif %}>
<a id="organization" href="{{'/profile/'|site_prefixed}}">My Organizations</a>
</li>
{% elif urls and urls.profiles|length > 0 %}
<!--[if !IE]><!-->
 <li class="divider-vertical hidden-xs"><li>
<!--<![endif]-->
<li{% if "/profile/" in request.path %} class="active"{% endif %}>
<a id="organization" href="{{urls.profiles.0.location}}">{{urls.profiles.0.printable_name}}'s Profile</a>
</li>
{% endif %}

<!--[if !IE]><!-->
 <li class="divider-vertical hidden-xs"><li>
<!--<![endif]-->
<li{% if "/users/" in request.path %} class="active"{% endif %}>
<a id="authenticated-user" href="{{request|url_profile}}">{{request.user.username}}'s profile</a>
</li>
<!--[if !IE]><!-->
 <li class="divider-vertical hidden-xs"><li>
<!--<![endif]-->
<li class="dropdown {% if '/docs/' in request.path %} active{% endif %}">
 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
 <ul class="dropdown-menu" role="menu">
  <li role="presentation"><a role="menuitem" tabindex="-1" href="{{'/docs/faq/'|site_prefixed}}">Faq</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="{{'/docs/tutorials/'|site_prefixed}}">Tutorials</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="{{'/contact/'|site_prefixed}}">Contact us</a></li>
 </ul>
</li>
<!--[if !IE]><!-->
 <li class="divider-vertical hidden-xs"><li>
<!--<![endif]-->
<li{% if "/logout/" in request.path %} class="active"{% endif %}>
<a id="logout" href="{{'logout/'|site_prefixed}}?next={{''|site_prefixed}}">Sign out <i class="fa fa-sign-out fa-lg"></i></a>
</li>
{% else %}
<li class="login">
<a id="login" href="{{'login/'|site_prefixed}}">Sign in</a>
</li>
{% endif %}
