{% if request|is_authenticated %}
<li class="nav-item">
  <a id="app_home" class="nav-link" href="{{'/app/'|site_prefixed}}{% if organization %}{{organization}}/{% endif %}">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{'/app/info/requests/'|site_prefixed}}">Dashboard</a>
</li>
<!--[if !IE]><!-->
 <li class="divider-vertical hidden-xs"><li>
<!--<![endif]-->
<li class="nav-item dropdown {% if '/docs/' in request.path %} active{% endif %}">
 <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
 <ul class="dropdown-menu" role="menu">
  <li role="presentation"><a role="menuitem" tabindex="-1" href="{{'/docs/faq/'|site_prefixed}}">Faq</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="{{'/docs/tutorials/'|site_prefixed}}">Tutorials</a></li>
  <li role="presentation"><a role="menuitem" tabindex="-1" href="{{'/contact/'|site_prefixed}}">Contact us</a></li>
 </ul>
</li>
<!--[if !IE]><!-->
<li class="divider-vertical hidden-xs"><li>
<!--<![endif]-->
{% endif %}
