{% extends "base.html" %}

{% block localheader %}
<style>
header {
  background: -webkit-linear-gradient(#3ca65b, white);
  background: -o-linear-gradient(#3ca65b, white);
  background: -moz-linear-gradient(#3ca65b, white);
  background: linear-gradient(#3ca65b, white);
  min-height: 100vh;
  height: 100vh;
}

.dashboard-container {
  overflow: initial;
}

.dashboard-content {
  overflow: initial;
}

.home-icon {
  color: #b9d7c2;
}
</style>
{% endblock %}

{% block fullviewport %}
<section id="load" data-trip data-trip-index="1" data-trip-content="<div class='text-left'><h2 class='text-center'>Welcome to The Sustainability Project!</h2><p>In addition to the <b>LEARN</b> tools, as a registered user you now have access to:</p><h3>Measurement tools</h3><ul><li><b>Self assessment</b>: Assess performance against best practices, and identify opportunities ranked by business value and peer implementation rate.</li> <li><b>Score &amp; benchmarking</b>: Compare performance in sustainability with peers through confidential, anonymous, aggregated reports.</li></ul><h3>Improvement planning tools</h3><ul><li><b>Plan improvements</b>: Select improvement actions on a value-prioritized basis and see their impact on cost, savings and overall performance scores. <i class='fa fa-wrench'></i> <li><b>Find suppliers</b>: Find technologies, products and services linked to best practices. <i class='fa fa-wrench'></i></ul></div>" data-trip-position="screen-center">
	<div class="jumbotron">
		<div class="container">
			<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="text-center" style="font-size: 45px;">Sustainability Management</h2>
						<h3 class="text-center">Best practices, benchmarking, performance measurement, improvement planning.</h3>
						<h4 class="text-center">Made simple. Customized by industry. Prioritized by value.</h4>
					</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="container">
		<div class="text-center">
			<div style="display:inline-block;">
				<div class="dropdown dropdown-homepage dropdown-select dropdown-next" id="industry_selector">
					<button class="btn btn-lg btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
						<span class="text">Make a selection</span>
						<span class="caret-icon"><i class="fa fa-caret-down"></i></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="industry_selector">
						<li>
							<div>
{% if request|is_broker_manager %}
<input type="checkbox" name="industry" value="distribution"
{% if distribution_attrs %}{{distribution_attrs}}{% endif %} />
<a id="distribution" role="menuitem" tabindex="-1">Distribution</a>
{% else %}
<a id="distribution" role="menuitem" tabindex="-1"
{% if not distribution_attrs %}disabled{% endif %}>Distribution{% if not distribution_attrs %} <i class="fa fa-wrench"></i>{% endif %}</a>
{% endif %}
							</div>
						</li>
						<li>
							<div>
{% if request|is_broker_manager %}
<input type="checkbox" name="industry" value="energy-utility"
{% if energy_utility_attrs %}{{energy_utility_attrs}}{% endif %} />
<a id="energy-utility" role="menuitem" tabindex="-1">Energy utility</a>
{% else %}
<a id="energy-utility" role="menuitem" tabindex="-1"
{% if not energy_utility_attrs %}disabled{% endif %}>Energy utility{% if not energy_utility_attrs %} <i class="fa fa-wrench"></i>{% endif %}</a>
{% endif %}
							</div>
						</li>
						<li>
							<div>
{% if request|is_broker_manager %}
<input type="checkbox" name="industry" value="diversified-corporate-level"
{% if diversified_corporate_level_attrs %}{{diversified_corporate_level_attrs}}{% endif %} />
<a id="diversified-corporate-level" role="menuitem" tabindex="-1">Enterprise / corporate</a>
{% else %}
<a id="diversified-corporate-level" role="menuitem" tabindex="-1"
{% if not diversified_corporate_level_attrs %}disabled{% endif %}>Enterprise / corporate{% if not diversified_corporate_level_attrs %} <i class="fa fa-wrench"></i>{% endif %}</a>
{% endif %}
							</div>
						</li>
						<li>
							<div>
{% if request|is_broker_manager %}
<input type="checkbox" name="industry" value="construction"
{% if construction_attrs %}{{construction_attrs}}{% endif %} />
<a id="construction" role="menuitem" tabindex="-1">Engineering, Procurement, Construction</a>
{% else %}
<a id="construction" role="menuitem" tabindex="-1"
{% if not construction_attrs %}disabled{% endif %}>Engineering, Procurement, Construction{% if not construction_attrs %} <i class="fa fa-wrench"></i>{% endif %}</a>
{% endif %}
							</div>
						</li>
						<li>
							<div>
{% if request|is_broker_manager %}
<input type="checkbox" name="industry" value="fuel-supply"
{% if fuel_supply_attrs %}{{fuel_supply_attrs}}{% endif %} />
<a id="fuel-supply" role="menuitem" tabindex="-1">Fuel supply</a>
{% else %}
<a id="fuel-supply" role="menuitem" tabindex="-1"
{% if not fuel_supply_attrs %}disabled{% endif %}>Fuel supply{% if not fuel_supply_attrs %} <i class="fa fa-wrench"></i>{% endif %}</a>
{% endif %}
							</div>
						</li>
						<li><button disabled>Metal structures &amp; equipment</button>
						<ul class="submenu">
							<li>
								<div>
{% if request|is_broker_manager %}
<input type="checkbox" name="industry" value="boxes-and-enclosures"
{% if boxes_and_enclosures_attrs %}{{boxes_and_enclosures_attrs}}{% endif %} />
<a id="boxes-and-enclosures" role="menuitem" tabindex="-1">Boxes &amp; enclosures</a>
{% else %}
<a id="boxes-and-enclosures" role="menuitem" tabindex="-1"
{% if not boxes_and_enclosures_attrs %}disabled{% endif %}>Boxes &amp; enclosures{% if not boxes_and_enclosures_attrs %} <i class="fa fa-wrench"></i>{% endif %}</a>
{% endif %}
								</div>
							</li>
							<li>
								<div>
{% if request|is_broker_manager %}
<input type="checkbox" name="industry" value="distribution-transformers"
{% if distribution_transformers_attrs %}{{distribution_transformers_attrs}}{% endif %} />
<a id="distribution-transformers" role="menuitem" tabindex="-1">Distribution transformers</a>
{% else %}
<a id="distribution-transformers" role="menuitem" tabindex="-1"
{% if not distribution_transformers_attrs %}disabled{% endif %}>Distribution transformers{% if not distribution_transformers_attrs %} <i class="fa fa-wrench"></i>{% endif %}</a>
{% endif %}
								</div>
							</li>
							<li>
								<div>
{% if request|is_broker_manager %}
<input type="checkbox" name="industry" value="fabricated-metals"
{% if fabricated_metals_attrs %}{{fabricated_metals_attrs}}{% endif %} />
<a id="fabricated-metals" role="menuitem" tabindex="-1">Fabricated metals</a>
{% else %}
<a id="fabricated-metals" role="menuitem" tabindex="-1"
{% if not fabricated_metals_attrs %}disabled{% endif %}>Fabricated metals{% if not fabricated_metals_attrs %} <i class="fa fa-wrench"></i>{% endif %}</a>
{% endif %}
								</div>
							</li>
							<li>
								<div>
{% if request|is_broker_manager %}
<input type="checkbox" name="industry" value="general-manufacturing"
{% if general_manufacturing_attrs %}{{general_manufacturing_attrs}}{% endif %} />
<a id="general-manufacturing" role="menuitem" tabindex="-1">Fabricated metals</a>
{% else %}
<a id="general-manufacturing" role="menuitem" tabindex="-1"
{% if not general_manufacturing_attrs %}disabled{% endif %}>General manufacturing{% if not general_manufacturing_attrs %} <i class="fa fa-wrench"></i>{% endif %}</a>
{% endif %}
								</div>
							</li>
							<li>
								<div>
{% if request|is_broker_manager %}
<input type="checkbox" name="industry" value="wire-and-cable"
{% if wire_and_cable_attrs %}{{wire_and_cable_attrs}}{% endif %} />
<a id="wire-and-cable" role="menuitem" tabindex="-1">Wire & cable</a>
{% else %}
<a id="wire-and-cable" role="menuitem" tabindex="-1"
{% if not wire_and_cable_attrs %}disabled{% endif %}>Wire & cable{% if not wire_and_cable_attrs %} <i class="fa fa-wrench"></i>{% endif %}</a>
{% endif %}
								</div>
							</li>
						</ul>
						</li>
						<li>
							<div>
{% if request|is_broker_manager %}
<input type="checkbox" name="industry" value="office-space-only"
{% if office_space_only_attrs %}{{office_space_only_attrs}}{% endif %} />
<a id="office-space-only" role="menuitem" tabindex="-1">Professional services</a>
{% else %}
<a id="office-space-only" role="menuitem" tabindex="-1"
{% if not office_space_only_attrs %}disabled{% endif %}>Professional services{% if not office_space_only_attrs %} <i class="fa fa-wrench"></i>{% endif %}</a>
{% endif %}
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="col-xs-12 text-center">
			<div style="display:inline-block;margin-top:25px;">
				<img src="{{'static/img/envconnect-tree.png'|asset}}" class="img-responsive"></img>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block content %}
<div id="scroll-page" class="hidden-xs hidden-sm"
     data-top-center="opacity: 0;" data-center-center="opacity: 1">
	<div class="inner">
		<a>
			<div class="text-center">
				<i class="fa fa-angle-down fa-4x"></i>
			</div>
		</a>
	</div>
</div>
<div id="text-section" class="container" style="margin-bottom: 50px;">
	<div class="row">
		<div class="text-center" style="margin-bottom: 20px;">
			<h2>About The Sustainability Project</h2>
		</div>
		<div class="col-md-6">
<p id="about-all-companies" class="editable edit-markdown">
<strong>For all companies</strong>, it is a tool that lets you identify
best practices and technology specific to your industry, assess where you have
left business value on the table, measure performance against industry peers,
get overall performance scores, plan improvements, and share results with
clients at your discretion.
</p>
		</div>
		<div class="col-md-6">
<p id="about-supply-chain-managers" class="editable edit-markdown">
<strong>For supply chain managers</strong>, it accelerates the adoption of
sustainability best practices by your supply chain teams and suppliers by
making sector-specific know-how easy to access and understand, and its value
clear and measureable. It also provides meaningful measures of supplier
maturity in sustainability for RFP and survey processes by
assessing performance against industry-specific, value-weighted practices.
</p>
		</div>
	</div>
	<div class="row" style="margin-bottom: 20px;">
		<div class="col-md-6">
			<section id="best-practices">
				<h3>Best practices</h3>
				<div class="row">
					<div class="col-md-3 text-center">
						<i class="home-icon fa fa-cogs fa-4x"></i>
					</div>
					<div class="col-md-7">
						<p class="editable">
Browse best practices by industry, prioritized by economic and sustainability
value.
						</p>
					</div>
				</div>
			</section>
			<section id="benchmarking">
				<h3>Benchmarking</h3>
				<div class="row">
					<div class="col-md-3 text-center">
						<i class="home-icon fa fa-bar-chart fa-4x"></i>
					</div>
					<div class="col-md-7">
						<p class="editable">
Compare performance in sustainability with peers through confidential,
anonymous, aggregated reports.
						</p>
					</div>
				</div>
			</section>
			<section id="products">
				<h3>Technology, products, services</h3>
				<div class="row">
					<div class="col-md-3 text-center">
						<i class="home-icon fa fa-tags fa-4x"></i>
					</div>
					<div class="col-md-7">
						<p class="editable">
Find best practice-linked technologies, products and services.
						</p>
					</div>
				</div>
			</section>
			<section id="improvement-planning">
				<h3>Improvement planning</h3>
				<div class="row">
					<div class="col-md-3 text-center">
						<i class="home-icon fa fa-unlock fa-4x"></i>
					</div>
					<div class="col-md-7">
						<p class="editable">
Select improvement actions on a value-prioritized basis and see their impact
on cost, savings and overall performance scores.
						</p>
					</div>
				</div>
			</section>
		</div>
		<div class="col-md-6" style="margin-top:35px;">
			<section id="self-assessment">
				<h3>Self-assessment</h3>
				<div class="row">
					<div class="col-md-3 text-center">
						<i class="home-icon fa fa-user fa-4x"></i>
					</div>
					<div class="col-md-7">
						<p class="editable">
Assess performance against best practices, and identify opportunities ranked
by business value and peer implementation rate.
						</p>
					</div>
				</div>
			</section>
			<section id="performance-scoring">
				<h3>Performance scoring</h3>
				<div class="row">
					<div class="col-md-3 text-center">
						<i class="home-icon fa fa-trophy fa-4x"></i>
					</div>
					<div class="col-md-7">
						<p class="editable">
Get performance scores against best practice in absolute terms. Share
scorecards with client organizations at your discretion.
						</p>
					</div>
				</div>
			</section>
			<section id="supplier-assessment">
				<h3>Supplier assessment</h3>
				<div class="row">
					<div class="col-md-3 text-center">
						<i class="home-icon fa fa-share-alt fa-4x"></i>
					</div>
					<div class="col-md-7">
						<p class="editable">
Find sector-specific RFP/solicitation and annual survey questions and tools.
						</p>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="text-center" style="margin-bottom: 20px;">
			<h2>Content development process</h2>
		</div>
		<div class="col-md-offset-2 col-md-8">
<p id="content-development-process-1" class="editable edit-markdown">
<strong>Developed by all, for all.</strong> Content development is sponsored
and made available on this website for anyone to access under a creative
commons license by multi-stakeholder groups with an interest in accelerating
the uptake of sustainability practices for transformative change in
sustainability management.
</p>
<p id="content-development-process-2" class="editable edit-markdown">
The Sustainability Project provides a structured platform and set of tools
that is free for use by any consortium seeking to develop a sustainability
solution (environmental, social, governance) specific to their industry or
supplier network. <a href="{{'contact/'|site_prefixed}}">Contact us</a> for
more information about the process.
</p>
		</div>
	</div>
	<div class="row">
		<div class="text-center" style="margin-bottom: 20px;">
			<h2>Platform source code</h2>
		</div>
		<div class="col-md-offset-2 col-md-8">
The Sustainability Project’s web-based platform was created under a General
Public License (GPL). This means that the source code is freely available
to anyone to duplicate, run, study, share and modify with the provision that
any resulting modifications or additions are also made freely available under
the original GPL license to benefit the greater good, rather being exploited
for private benefit or profit.
		</div>
	</div>
</div>
<!-- dialog boxes -->
<div id="welcome-screen" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Welcome screen" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
<h2>Welcome to The Sustainability Project!</h2>
<p>
In addition to the <b>LEARN</b> tools, as a registered user you now have access
to:
</p>
<h3>Measurement tools</h3>
<ul>
<li><b>Self assessment</b>: Assess performance against best practices,
and identify opportunities ranked by business value and peer implementation
rate.</li>
<li><b>Score &amp; benchmarking</b>: Compare performance in sustainability with
peers through confidential, anonymous, aggregated reports.</li>
</ul>
<h3>Improvement planning tools</h3>
<ul>
<li><b>Plan improvements</b>: Select improvement actions on a value-prioritized
basis and see their impact on cost, savings and overall performance scores.
<i class="fa fa-wrench"></i>
<li><b>Find suppliers</b>: Find technologies, products and services linked to
best practices. <i class="fa fa-wrench"></i>
</ul>
            </div>
        </div>
    </div>
</div>
<div id="track-multiple-entities" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Drive and track performance of multiple entities" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
<h2>Drive and track performance of multiple entities</h2>
<p>
In order to create a dashboard to track and display performance of suppliers,
facilities, or other entities you wish to measure and compare, each entity
must have a profile in The Sustainability Project database. To explore if the
solution offered by The Sustainability Project could be a fit for your needs,
<a href="{{'/contact/'|site_prefixed}}">contact us</a> to set up a demonstration
of the dashboard function.
</p>
<p>
Read more <a href="{{'/'|site_prefixed}}">About The Sustainability Project</a>
general functions and features on the homepage. Explore the functions for
yourself by selecting an industry segment listed on the home page drop menu.
</p>
			</div>
		</div>
	</div>
</div>
<div id="track-single-entity" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Drive and track performance of a single organization" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
<h2>Drive and track performance of a single organization</h2>
<p>
To learn about The Sustainability Project's functions, select any industry
segment from the menu on the Home page.
</p>
<p>
<a href="{{'/contact/'|site_prefixed}}">contact us</a> if you have interest
in learning about how to develop content for your industry segment.
</p>
<h3>In brief: Process to develop new content</h3>
<p>
TSP provides a structured platform and set of tools that is free for use*
by any group or consortium seeking to develop a sustainability solution
(environmental, social, governance) specific to an industry segment or
supplier network.
</p>
<p>
The development of content to populate the platform is typically sponsored
by one or more organizations with an interest in accelerating adoption of
sustainability best practices in an industry segment or supplier network.
The process for developing content for new industry segment can be managed by
the group interested in its development, or by TSP.
</p>
<p>
* The Sustainability Project’s web-based platform was created under a General
Public License (GPL). This means that the source code is freely available to
anyone to duplicate, run, study, share and modify with the provision that any
resulting modifications or additions are also made freely available under the
original GPL license to benefit the greater good, rather being exploited
for private benefit or profit.
</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block bodyscripts %}
<!--[if lt IE 9]>
<script>alert('Please note that your current browser version is no longer supported by this application. Consider using a more up-to-date browser');</script>
<![endif]-->
<!-- Javascript specific for the page -->
<script type="text/javascript" src="{{'static/js/djaodjin-editor.js'|site_prefixed}}"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
  $('#scroll-page').click(function(){
    $("html, body").animate({ scrollTop: $("#text-section").offset().top }, 500);
    return false;
  });

  // Make a bootstrap dropdown a select menu
  $(".dropdown-menu li a[role='menuitem']").bind("click touchstart", function(e){
    var element = $(this);
    var selText = element.text();
    var selId = element.attr("id");
    var selector = element.parents(".dropdown-select").children(".dropdown-toggle");
    if( selId && (typeof element.attr("disabled") === "undefined")
          && !element.parent('li').hasClass("disabled") ) {
      selector.html("<span class=\"text\">" + selText + "</span>\n" +
        "<span class=\"caret-icon\"><i class=\"fa fa-caret-down\"></i></span>"
      ).attr("id", selId);
    }
    if( selector.attr("id") ) {
      var industrySelected = selector.attr("id");
      redirectTo = "{{'app/info/sustainability/'|site_prefixed}}" + industrySelected + '/';
      {% if user.is_authenticated %}
      window.location = redirectTo;
      {% else %}
      window.location = "{{'register/'|site_prefixed}}?next=" + redirectTo;
      {% endif %}
    }
  });

  $("[name='industry']").change(function() {
      var element = $(this);
      element.baseEditor({
        baseUrl: "{{'/api/editables/'|site_prefixed}}",
        uniqueIdentifier: "value"});
      if( element.is(':checked') ) {
        element.data('editor').addTags("enabled");
      } else {
        element.data('editor').removeTags("enabled");
      }
  });
{% if request|is_authenticated and not request.session.last_visited %}
    if ($("[data-trip]").length > 0){
        var trip = new Trip({
            enableAnimation: false,
            showCloseBox: true,
            showNavigation: true,
            delay:-1,
            tripTheme:'black',
        });
        trip.start();
    }
{% endif %}
});
</script>
{% endblock %}
