{% extends "base.html" %}

{% block localheader %}
<style>
#load {
  color: white;
  background: #3ca65b;
  background: -webkit-linear-gradient(#3ca65b, white);
  background: -o-linear-gradient(#3ca65b, white);
  background: -moz-linear-gradient(#3ca65b, white);
  background: linear-gradient(#3ca65b, white);
  min-height: calc(100vh - 53px);
  height: calc(100vh - 53px);
}

.dashboard-container {
  overflow: initial;
}

.dashboard-content {
  overflow: initial;
}

.home-icon {
  color: #b9d7c2;
}
</style>
{% endblock %}

{% block content %}
<section id="load" data-trip data-trip-index="1" data-trip-content="<div class='text-left'><h2 class='text-center'>Welcome to The Sustainability Project!</h2><p>In addition to the <b>LEARN</b> tools, as a registered user you now have access to:</p><h3>Measurement tools</h3><ul><li><b>Self assessment</b>: Assess performance against best practices, and identify opportunities ranked by business value and peer implementation rate.</li> <li><b>Score &amp; benchmarking</b>: Compare performance in sustainability with peers through confidential, anonymous, aggregated reports.</li></ul><h3>Improvement planning tools</h3><ul><li><b>Plan improvements</b>: Select improvement actions on a value-prioritized basis and see their impact on cost, savings and overall performance scores. <i class='fa fa-wrench'></i> <li><b>Find suppliers</b>: Find technologies, products and services linked to best practices. <i class='fa fa-wrench'></i></ul></div>" data-trip-position="screen-center">
	<div class="jumbotron">
		<div class="container">
			<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<h2 class="text-center" style="font-size: 45px;">Sustainability Management</h2>
						<h3 class="text-center">Best practices, benchmarking, performance measurement, improvement planning.</h3>
						<h4 class="text-center">Made simple. Customized by industry. Prioritized by value.</h4>
					</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="container">
		<div class="text-center">
			<div style="display:inline-block;">
				<div class="dropdown dropdown-homepage dropdown-select dropdown-next" id="industry_selector">
					<button class="btn btn-lg btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
						<span class="text">Make a selection</span>
						<span class="caret-icon"><i class="fa fa-caret-down"></i></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="industry_selector">
{% for industry in pre_industries %}
						<li>
							<div>
{% if request|is_broker_manager %}
<input type="checkbox" name="industry" value="{{industry}}"
{% if industry.enabled %}checked{% endif %} />
<a id="{{industry}}" href="{{'app/info/'|site_prefixed}}sustainability-{{industry}}/" role="menuitem" tabindex="-1">{{industry.title}}</a>
{% else %}
{% if industry.enabled %}
<a id="{{industry}}" href="{{'app/info/'|site_prefixed}}sustainability-{{industry}}/" role="menuitem" tabindex="-1">{{industry.title}}</a>
{% else %}
<span id="{{industry}}" class="disabled" role="menuitem" tabindex="-1">{{industry.title}} <i class="fa fa-wrench"></i></span>
{% endif %}
{% endif %}
							</div>
						</li>
{% endfor %}
						<li>
							<div>
						<li><button disabled>Metal structures &amp; equipment</button>
						<ul class="submenu">
{% for industry in metal_industries %}
							<li>
								<div>
{% if request|is_broker_manager %}
<input type="checkbox" name="industry" value="{{industry}}"
{% if industry.enabled %}checked{% endif %} />
<a id="{{industry}}" href="{{'app/info/'|site_prefixed}}sustainability-{{industry}}/" role="menuitem" tabindex="-1">{{industry.title}}</a>
{% else %}
{% if industry.enabled %}
<a id="{{industry}}" href="{{'app/info/'|site_prefixed}}sustainability-{{industry}}/" role="menuitem" tabindex="-1">{{industry.title}}</a>
{% else %}
<span id="{{industry}}" class="disabled" role="menuitem" tabindex="-1">{{industry.title}} <i class="fa fa-wrench"></i></span>
{% endif %}
{% endif %}
								</div>
							</li>
{% endfor %}
						</ul>
						</li>
{% for industry in post_industries %}
						<li>
							<div>
{% if request|is_broker_manager %}
<input type="checkbox" name="industry" value="{{industry}}"
{% if industry.enabled %}checked{% endif %} />
<a id="{{industry}}" href="{{'app/info/'|site_prefixed}}sustainability-{{industry}}/" role="menuitem" tabindex="-1">{{industry.title}}</a>
{% else %}
{% if industry.enabled %}
<a id="{{industry}}" href="{{'app/info/'|site_prefixed}}sustainability-{{industry}}/" role="menuitem" tabindex="-1">{{industry.title}}</a>
{% else %}
<span id="{{industry}}" class="disabled" role="menuitem" tabindex="-1">{{industry.title}} <i class="fa fa-wrench"></i></span>
{% endif %}
{% endif %}
							</div>
						</li>
{% endfor %}
{% if request|is_broker_manager %}
<!-- <li><button class="btn btn-link" data-toggle="modal" data-target="#add-element-modal"><i class="fa fa-plus"></i> Add industry ...</button></li> -->
{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="col-xs-12 text-center">
			<div style="display:inline-block;margin-top:25px;">
				<img src="{{'static/img/envconnect-tree.png'|asset}}" class="img-responsive"></img>
			</div>
		</div>
	</div>
</section>
<div id="scroll-page" class="hidden-xs hidden-sm"
     data-top-center="opacity: 0;" data-center-center="opacity: 1">
	<div class="inner">
		<a>
			<div class="text-center">
				<i class="fa fa-angle-down fa-4x"></i>
			</div>
		</a>
	</div>
</div>
<div id="text-section" class="container" style="margin-bottom: 50px;">
	<div class="row">
		<div class="text-center" style="margin-bottom: 20px;">
			<h2>About The Sustainability Project</h2>
		</div>
		<div class="col-md-6">
<p id="about-all-companies" class="editable edit-markdown">
<strong>For all companies</strong>, TSP is a tool that lets you identify
best practices specific to your industry segment, benchmark with industry peers,
get overall performance scores and share results at your discretion, and plan
improvements prioritized by value.
</p>
		</div>
		<div class="col-md-6">
<p id="about-supply-chain-managers" class="editable edit-markdown">
<strong>For managers of multiple reporting entities</strong>
(suppliers, owned facilities), TSP accelerates the adoption of sustainability
best practices by the target group by making industry segment-specific best
practices easy to understand and prioritize for improvement planning. It also
provides easy and meaningful measures of quality and maturity of sustainability
management for evaluation and reporting purposes (e.g. RFP, surveys,
scorecards).
</p>
		</div>
	</div>
	<div class="row" style="margin-bottom: 20px;">
		<div class="col-md-6">
			<section id="best-practices">
				<h3>Best practices</h3>
				<div class="row">
					<div class="col-md-3 text-center">
						<i class="home-icon fa fa-cogs fa-4x"></i>
					</div>
					<div class="col-md-7">
						<p class="editable">
Browse best practices by industry, prioritized by economic and sustainability
value.
						</p>
					</div>
				</div>
			</section>
			<section id="benchmarking">
				<h3>Benchmarking</h3>
				<div class="row">
					<div class="col-md-3 text-center">
						<i class="home-icon fa fa-bar-chart fa-4x"></i>
					</div>
					<div class="col-md-7">
						<p class="editable">
Compare performance in sustainability with peers through confidential,
anonymous, aggregated reports.
						</p>
					</div>
				</div>
			</section>
			<section id="products">
				<h3>Technology, products, services</h3>
				<div class="row">
					<div class="col-md-3 text-center">
						<i class="home-icon fa fa-tags fa-4x"></i>
					</div>
					<div class="col-md-7">
						<p class="editable">
Find best practice-linked technologies, products and services.
						</p>
					</div>
				</div>
			</section>
			<section id="improvement-planning">
				<h3>Improvement planning</h3>
				<div class="row">
					<div class="col-md-3 text-center">
						<i class="home-icon fa fa-unlock fa-4x"></i>
					</div>
					<div class="col-md-7">
						<p class="editable">
Select improvement actions on a value-prioritized basis and see their impact
on cost, savings and overall performance scores.
						</p>
					</div>
				</div>
			</section>
		</div>
		<div class="col-md-6" style="margin-top:35px;">
			<section id="self-assessment">
				<h3>Self-assessment</h3>
				<div class="row">
					<div class="col-md-3 text-center">
						<i class="home-icon fa fa-user fa-4x"></i>
					</div>
					<div class="col-md-7">
						<p class="editable">
Assess performance against best practices, and identify opportunities ranked
by business value and peer implementation rate.
						</p>
					</div>
				</div>
			</section>
			<section id="performance-scoring">
				<h3>Performance scoring</h3>
				<div class="row">
					<div class="col-md-3 text-center">
						<i class="home-icon fa fa-trophy fa-4x"></i>
					</div>
					<div class="col-md-7">
						<p class="editable">
Get performance scores against best practice in absolute terms. Share
scorecards with client organizations at your discretion.
						</p>
					</div>
				</div>
			</section>
			<section id="supplier-assessment">
				<h3>Supplier/facility assessment</h3>
				<div class="row">
					<div class="col-md-3 text-center">
						<i class="home-icon fa fa-share-alt fa-4x"></i>
					</div>
					<div class="col-md-7">
						<p class="editable">
Find sector-specific RFP/solicitation and annual survey questions and tools.
						</p>
					</div>
				</div>
			</section>
			<section id="mytsp">
				<h3>MyTSP</h3>
				<div class="row">
					<div class="col-md-3 text-center">
						<i class="home-icon fa fa-clock-o fa-4x"></i>
					</div>
					<div class="col-md-7">
						<p class="editable">
Create your own list of reporting entities, and dashboards to track performance
trends and improvement opportunities over time.
						</p>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="text-center" style="margin-bottom: 20px;">
			<h2>Content development process</h2>
		</div>
		<div class="col-md-offset-2 col-md-8">
<p id="content-development-process-1" class="editable edit-markdown">
<strong>Developed by all, for all.</strong>
Content on this website is made freely available for anyone to access under
a creative commons license. It is created as part of an ongoing collaboration
of individuals, organizations and groups, across a variety of disciplines
in the public and the private sector, who have an interest in accelerating
the uptake of sustainability practices for transformative change
in sustainability.
</p>
<p id="content-development-process-2" class="editable edit-markdown">
If you are interested in developing contributing content, or creating a new
industry segment that is not yet represented on TSP,
<a href="{{'contact/'|site_prefixed}}">contact us</a> for more
information about the process.
</p>
		</div>
	</div>
	<div class="row">
		<div class="text-center" style="margin-bottom: 20px;">
			<h2>Platform source code</h2>
		</div>
		<div class="col-md-offset-2 col-md-8">
The Sustainability Project’s web-based platform was created under a General
Public License (GPL). This means that the source code is freely available
to anyone to duplicate, run, study, share and modify with the provision that
any resulting modifications or additions are also made freely available under
the original GPL license to benefit the greater good, rather being exploited
for private benefit or profit.
		</div>
	</div>
</div>
<!-- modals -->
<div id="add-element-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addElement" style="color: #000;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addElement">Add...</h4>
            </div>
            <form class="form-inline">
                <div class="modal-body">
                    <input class="form-control search-page-element" style="width:100%;" type="text" name="title" placeholder="Title">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning add-element" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="edit-element-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="edit element" style="color: #000;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit ...</h4>
            </div>
            <form class="form-inline" ng-submit="editElement($event)">
                <div class="modal-body">
                    <input class="form-control search-page-element" style="width:100%;" type="text" name="title" placeholder="Title" ng-model="activeElement.value.title">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-warning" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="welcome-screen" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Welcome screen" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
<h2>Welcome to The Sustainability Project!</h2>
<p>
In addition to the <b>LEARN</b> tools, as a registered user you now have access
to:
</p>
<h3>Measurement tools</h3>
<ul>
<li><b>Self assessment</b>: Assess performance against best practices,
and identify opportunities ranked by business value and peer implementation
rate.</li>
<li><b>Score &amp; benchmarking</b>: Compare performance in sustainability with
peers through confidential, anonymous, aggregated reports.</li>
</ul>
<h3>Improvement planning tools</h3>
<ul>
<li><b>Plan improvements</b>: Select improvement actions on a value-prioritized
basis and see their impact on cost, savings and overall performance scores.
<i class="fa fa-wrench"></i>
<li><b>Find suppliers</b>: Find technologies, products and services linked to
best practices. <i class="fa fa-wrench"></i>
</ul>
            </div>
        </div>
    </div>
</div>
<div id="track-multiple-entities" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Drive and track performance of multiple entities" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
<h2>Drive and track performance of multiple entities</h2>
<p>
In order to create a dashboard to track and display performance of suppliers,
facilities, or other entities you wish to measure and compare, each entity
must have a profile in The Sustainability Project database. To explore if the
solution offered by The Sustainability Project could be a fit for your needs,
<a href="{{'/contact/'|site_prefixed}}">contact us</a> to set up a demonstration
of the dashboard function.
</p>
<p>
Read more <a href="{{'/'|site_prefixed}}">About The Sustainability Project</a>
general functions and features on the homepage. Explore the functions for
yourself by selecting an industry segment listed on the home page drop menu.
</p>
			</div>
		</div>
	</div>
</div>
<div id="track-single-entity" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Drive and track performance of a single organization" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
<h2>Drive and track performance of a single organization</h2>
<p>
To learn about The Sustainability Project's functions, select any industry
segment from the menu on the Home page.
</p>
<p>
<a href="{{'/contact/'|site_prefixed}}">contact us</a> if you have interest
in learning about how to develop content for your industry segment.
</p>
<h3>In brief: Process to develop new content</h3>
<p>
TSP provides a structured platform and set of tools that is free for use*
by any group or consortium seeking to develop a sustainability solution
(environmental, social, governance) specific to an industry segment or
supplier network.
</p>
<p>
The development of content to populate the platform is typically sponsored
by one or more organizations with an interest in accelerating adoption of
sustainability best practices in an industry segment or supplier network.
The process for developing content for new industry segment can be managed by
the group interested in its development, or by TSP.
</p>
<p>
* The Sustainability Project’s web-based platform was created under a General
Public License (GPL). This means that the source code is freely available to
anyone to duplicate, run, study, share and modify with the provision that any
resulting modifications or additions are also made freely available under the
original GPL license to benefit the greater good, rather being exploited
for private benefit or profit.
</p>
			</div>
		</div>
	</div>
</div>
<!-- /modals -->
{% endblock %}

{% block bodyscripts %}
<!--[if lt IE 9]>
<script>alert('Please note that your current browser version is no longer supported by this application. Consider using a more up-to-date browser');</script>
<![endif]-->
<!-- Javascript specific for the page -->
<script type="text/javascript" src="{{'static/js/djaodjin-editor.js'|site_prefixed}}"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
  $('#scroll-page').click(function(){
    $("html, body").animate({ scrollTop: $("#text-section").offset().top }, 500);
    return false;
  });

{% if request|is_authenticated and not request.session.last_visited %}
    if ($("[data-trip]").length > 0){
        var trip = new Trip({
            enableAnimation: false,
            showCloseBox: true,
            showNavigation: true,
            delay:-1,
            tripTheme:'black',
        });
        trip.start();
    }
{% endif %}

{% if not request|is_authenticated %}
  $(".dropdown-menu li a[role='menuitem']").bind("click touchstart",
    function(event) {
      event.preventDefault();
      var element = $(this);
      if( element.attr("id") ) {
        redirectTo = element.attr("href");
        window.location = "{{'register/'|site_prefixed}}?next=" + redirectTo;
      }
  });
{% endif %}

{% if request|is_broker_manager %}
  $("[name='industry']").change(function() {
      var element = $(this);
      element.baseEditor({
        baseUrl: "{{'/api/editables/'|site_prefixed}}",
        uniqueIdentifier: "value"});
      if( element.is(':checked') ) {
        element.data('editor').addTags("enabled");
      } else {
        element.data('editor').removeTags("enabled");
      }
  });

  $(".add-element").click(function(event) {
     event.preventDefault();
     var form = $(this).parents("form");
     var title = form.find("[name='title']").val();
     $.ajax({
         // api_page_elements
         url: "{{'/api/editables/'|site_prefixed}}",
         method: "POST",
         data: JSON.stringify({title: title, tag: 'industry'}),
         datatype: "json",
         contentType: "application/json; charset=utf-8",
         success: function() {
             form.parents('.modal').modal('hide');
             window.location = "";
         },
         error: function(resp) {
             form.parents('.modal').modal('hide');
             showErrorMessages(resp);
         }
     });
     return false;
    });
{% endif %}
});
</script>
{% endblock %}
