{% extends "base.html" %}

{% block content %}
<div class="container">
    <div style="margin-bottom: 20px;">
        <h2>Content contributors</h2>
        <div id="content-contributors" class="editable edit-markdown">
            <p>
Corporations and organizations that provided information, time and/or funding
for the development of the content of this website include:
            </p>
<ul>
<li>PG&amp;E</li>
<li>Base Energy Company</li>
<li>Many passionate individuals</li>
</ul>
        </div>
    </div>
    <div>
        <h2>Content development process</h2>
        <p id="content-development-process-1" class="editable edit-markdown">
<strong>Developed for all, by all</strong>.
Content on this website is made freely available for anyone to access under
a creative commons license. It is created as part of an ongoing collaboration
of individuals, organizations and groups, across a variety of disciplines
in the public and the private sector, who have an interest in accelerating
the uptake of sustainability practices for transformative change
in sustainability.
        </p>
        <p id="content-development-process-2" class="editable edit-markdown">
If you are interested in developing contributing content, or creating
a new industry segment that is not yet represented on TSP,
<a href="{{'contact/'|site_prefixed}}">contact us</a>
for more information about the process.
        </p>
    </div>
</div>
{% endblock %}
