{% extends "base.html" %}

{% block content %}
<div class="container">
    <div style="margin-bottom: 20px;">
        <h2>Content sponsors</h2>
        <p id="content-sponsors" class="editable edit-markdown">
Corporations and organizations that co-sponsored the development of the content
of this section of the website include:
<ul>
<li>PG&amp;E</li>
</ul>
        </p>
        <h2>Content development</h2>
        <p id="content-development" class="editable edit-markdown">
Subject matter experts who developed the core content on this section
of the website include:
<ul>
    <li>BASE Energy Company</li>
</ul>
        </p>
    </div>
    <div>
        <h2>Content development process</h2>
        <p id="content-development-process-1" class="editable edit-markdown">
Content development is sponsored and made available for anyone to access on
this website under a creative commons license by multi-stakeholder groups with
an interest in accelerating the uptake of sustainability practices for
transformative change in sustainability management.
        </p>
        <p id="content-development-process-2" class="editable edit-markdown">
The Sustainability Project provides a structured platform and set of tools that
is free for use by any consortium seeking to develop a sustainability solution
(environmental, social, governance) specific to their industry or supplier
network. <a href="{{'contact/'|site_prefixed}}">Contact us</a> for more
information about the process.
        </p>
        <p id="content-development-process-3" class="editable edit-markdown">
Interested in contributing content to this section of the website,
or creating a new Industry section?
<a href="{{'contact/'|site_prefixed}}">Contact us</a>.
        </p>
    </div>
</div>
{% endblock %}
