{% block comments %}
<div class="mt-2">
  <h5>[[comments.count]] {% trans %}Comments{% endtrans %}</h5>
  <div :id="'comment_from_'+ comment.user" class="d-flex" v-for="comment in comments.results">
    <div class="col-sm-3">
      <div class="mt-2">
        <img class="rounded-circle" :src="getAccountPicture(comment.user) ? getAccountPicture(comment.user) : '{{'/static/img/default-user.png'|asset}}'" width="32" height="32">
        <span>[[getAccountPrintableName(comment.user)]]</span>
      </div>
      <small>[[$globals.humanizeDate(comment.created_at)]]</small><br />
      <small>([[$globals.humanizeTimeDelta(comment.created_at)]])</small>
    </div>
    <div class="border-start bg-light col-sm-9">
      <p class="mt-2">
      [[comment.text]]
      </p>
    </div>
  </div>
  {% if request|is_authenticated %}
  <form id="form_comment" class="mt-2" action="." method="POST"
        @submit.prevent="submitComment($event)">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
    <fieldset>
      <div class="form-group">
        <label class="control-label">
<strong>{% trans %}Comments/lessons learned to share on this page?{% endtrans %}</strong>
{% trans %}Submit them via the comment box below.{% endtrans %}
        </label>
        <textarea id="id_comment" class="form-control" cols="40" rows="10"
                  name="comment" v-model="message"></textarea>
      </div>
      <div class="form-actions">
        <label class="control-label mt-2">
<strong>{% trans %}ATTENTION!{% endtrans %}</strong>
{% trans %}Comments you write here will be made public to all visiting this page. They should be meant to help others and/or improve the content of the page.{% endtrans %}
        </label>
        <div class="row">
          <div class="col-md-6">
           <label class="control-label">
{% trans %}To add comments specific to your organization's assessment, please use the <em>sticky note</em> icon between the practice title and the multiple choices (See picture).{% endtrans %}
            </label>
          </div>
          <div class="col-md-6 text-end">
            <img class="img-fluid" style="float:right;" src="{{'/static/img/tutorials/suppliers-4-6c.png'|asset}}"></img>
          </div>
        </div>
        <button id="id_submit" type="submit"
                class="btn btn-primary">
          Submit
        </button>
      </div>
    </fieldset>
  </form>
  {% else %}
  <p>{% trans %}Please{% endtrans %} <a href="{{'/login/'|site_url}}?next={{request.path}}">{% trans %}log in{% endtrans %}</a> {% trans %}to leave a comment.{% endtrans %}</p>
  {% endif %}
</div>
{% endblock %}
