{% block follow_vote %}
<div class="d-inline dj-answers-actions" v-cloak>
  <button type="submit" class="btn btn-danger btn-sm dj-answers-unfollow"
    @click="submitFollow()" v-if="isFollowing">{% trans %}Unfollow{% endtrans %}</button>
  <button type="submit" class="btn btn-primary btn-sm dj-answers-follow"
    @click="submitFollow()" v-if="!isFollowing">{% trans %}Follow{% endtrans %}</button>
  <button id="rate_bp" type="submit"
          class="btn btn-primary btn-sm dj-answers-upvote"
          @click="submitVote()">
    <i class="fa fa-thumbs-o-up" v-if="!isUpVote"></i>
    <i class="fa fa-thumbs-up" v-if="isUpVote"></i>
  </button>
  <div class="d-inline info_follow_vote">
    <a id="nb-followers" class="btn btn-primary btn-sm disabled">[[nbFollowers]] <i class="fa fa-users fa-lg"></i></a>
    <a id="nb-votes" class="btn btn-primary btn-sm disabled">[[nbUpVotes]] <i class="fa fa-thumbs-o-up fa-lg"></i></a>
  </div>
</div>
{% endblock %}
