{% extends "app/base.html" %}

{% block localheader %}
{% if csrf_token %}
<meta name="csrf-token" content="{{csrf_token}}">
{% endif %}
{% endblock %}

{% block app_content %}
<div>
  {% include "pages/_breadcrumbs.html" %}
  {% block pages_content %}
  {% endblock %}
</div>
{% endblock %}

{% block app_bodyscripts %}
<script type="text/javascript" src="{{'/static/vendor/jquery-ui.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/vendor/rangy-core.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/vendor/hallo.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/js/djaodjin-resources.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/js/djaodjin-editor.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/js/djaodjin-upload.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/js/djaodjin-sidebar-gallery.js'|asset}}"></script>
{% if ASSETS_DEBUG %}
<script type="text/javascript" src="{{'/static/js/djaodjin-resources-vue.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/js/djaodjin-survey-vue.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/js/djaodjin-pages-vue.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/js/editors-vue.js'|asset}}"></script>
{% else %}
<script type="text/javascript" src="{{'/static/cache/editors.js'|asset}}"></script>
{% endif %}
{% block pages_scripts %}{% endblock %}
{% endblock %}
