{% extends "pages/base.html" %}

{% block localheadermeta %}
<title>{% if element %}{{element.title}}{% else %}{% trans %}Practices Sharing Platform{% endtrans %}{% endif %} | DjaoDjin</title>
<meta property="og:image" content="{{request|site_url}}/static/img/og-image.png" />
{% endblock %}

{% block pages_content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="bg-body text-body p-3">
        <div class="row mb-4">
          <div class="col-sm-2">
            {% if element.picture %}
            <img class="img-fluid" style="max-height:100px;" src="{{element.picture}}">
            {% endif %}
          </div>
          <div class="col-sm-10">
            <h1 class="text-body">{{element.title}}</h1>
          </div>
        </div>
        <div data-key="tags" class="text-end text-right">
          {% if element.extra and element.extra.tags %}
          {% for tag in element.extra.tags %}
          <span class="badge rounded-pill bg-secondary">{{tag}}</span>
          {% endfor %}
          {% endif %}
        </div>
        <div class="mt-2 text-justify markdown-description">
          <div class="editable edit-formatted" data-key="text"
               style="min-height: 25vh">
            {% if element.text %}
            {{element.text|safe}}
            {% else %}
            {% trans %}This page is currently empty.{% endtrans %}
            {% endif %}
          </div>
        </div>
        {% if element.account.slug == 'envconnect' %}
        <hr />
        <div>
          <p class="text-center mt-3">
            <a href="{{'/docs/questionnaires/sustainability/#best-practices-1'|site_url}}" target="_blank">{% trans %}How was this practice identified and selected?{% endtrans %}</a>
          </p>
          <p class="text-center mt-3">
<img height="32" src="{{'/static/img/cc_icon_black_x2.png'|asset}}" />
<img height="32" src="{{'/static/img/sa_black_x2.png'|asset}}" />
<img height="32" src="{{'/static/img/attribution_icon_black_x2.png'|asset}}" />
          </p>
          <p>
{% trans %}This material is licensed as Creative Commons{% endtrans %} <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a>.
{% trans %}When using it for any project, you are required to give credit to The Sustainability Project (TSP). Please use the following attribution:{% endtrans %}
          </p>
          <p class="border-start ps-2 border-left pl-2">
<em>&quot;<a href="{{request.path}}">{{element.title}}</a> by <a href="{{request|site_url}}">The Sustainability Project (TSP)</a> is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA</a>.&quot;</em>
          </p>
        </div>
        {% endif %}
      </div>
      <hr class="featurette-divider">
      <editables-detail inline-template>
        <div>
          {% block follow_vote %}
          {% include "pages/_follow_vote.html" %}
          {% endblock %}
          {% block comments %}
          {% include "pages/_comments.html" %}
          {% endblock %}
        </div>
      </editables-detail>
    </div>
  </div>
</div>
{% endblock %}
