<planning-dashboard inline-template
    :active-tile="activeTile">
<div class="improvement-planning">
  <div>
    <button class="btn btn-primary" type="button"
            data-bs-toggle="collapse" data-bs-target="#improvement-dashboard"
            data-toggle="collapse" data-target="#improvement-dashboard"
            aria-expanded="false" aria-controls="improvement-dashboard">
        Planning dashboard
    </button>
    <div id="improvement-dashboard" class="text-center inner collapse" style="">
      <div>
        <h3 style="margin-top:20px;margin-bottom:0;">[[activeTile ? activeTile.title : ""]] Planning Dashboard</h3>
        <div>Estimated impacts of your improvement plan selections</div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="chart-container"
               v-for="practice in getEntries('', 1)"
               v-show="activeTile && practice.slug == activeTile.slug">
            {% include "app/_tile_chart.html" %}
          </div>
        </div>
        <div class="col-md-6 bordered-left">
          <div class="score-card" style="flex:auto;">
            {% include "app/_score_arcs.html" %}
          </div>
        </div>
      </div>{# /.row #}
      <div class="benchmarks-top-border">
        <div class="row" style="margin-top: 25px;margin-bottom:15px;">
          <div class="col-sm-6">
            <a id="download-improvements"
               class="improve-link"
               href="{{urls.download}}"
               target="_blank">Print planned actions</a>
          </div>
          <div class="col-sm-6">
              <a id="print-actions-guidance"
                 class="improve-link"  style="margin-right:15px;"
                 href="{{urls.print}}"
                 target="_blank">Print actions guidance</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</planning-dashboard>
