<td :id="practice.slug" colspan="6">
  <div style="display:inline-block;">
    <div :class="indentHeader(practice)"
         style="display:inline-block;">
      <span class="title"
            v-if="!isPractice(practice) && !isPagebreak(practice)">
        [[practice.title]]
      </span>
      <a :href="practice.slug + '/'"
         v-if="!isPractice(practice) && isPagebreak(practice)">
        [[practice.title]]
      </a>
      <div v-if="isPractice(practice) && !isEnumHeaderShown(icon)">
        <span class="title">[[practice.title]]</span>
        <span v-if="practice.text && practice.text.indexOf('.png', practice.text.length - 4) < 0" v-bind-html="practice.text"></span>
      </div>
      <a class="title"
         :href="isPractice(practice) ? '{{urls.pages_index}}' + practice.slug + '/' : ''"
         v-if="isPractice(practice) && isEnumHeaderShown(icon)">
        [[practice.title]]
      </a>
    </div>
  </div>
  <div class="bestpractice"
       style="display:inline-block;float:right;"
       v-if="isPractice(practice)">
    <a class="title" href=""
       title="Got a comment? Click here."
       @click.prevent="openComments(practice)">
      <i class="fa fa-sticky-note-o"></i>
    </a>
  </div>
</td>

{# column headers #}
{#   when enum choices are not shown in table header  #}
<td v-if="!isPractice(practice) && !isEnumHeaderShown(icon) && !isPagebreak(practice)">
</td>
<td class="text-center"
    v-if="!isPractice(practice) && isEnumHeaderShown(icon)">
</td>
<td class="text-center"
    :colspan="getNbInputCols(practice)"
    v-for="choice in getChoices(practice, icon)"
    v-if="!isPractice(practice) && isEnumHeaderShown(icon)">
    <button class="btn btn-select-all" href=""
            {% if sample.is_frozen %} disabled{% endif %}
            @click.prevent="updateMultiplePlannedAnswers(practice, choice.text)">
      <i class="fa fa-circle"></i>
    </button>
</td>

{# Presents questions based on its ui_hint and default unit #}
<td class="text-center"
    colspan="6"
    v-if="isFreetextUIHint(practice)"
    v-show="!isActiveCommentsShown(practice)">
    <textarea class="form-control"
              type="text" rows="10"
              placeholder=""
              v-model="getPrimaryPlanned(practice).measured"
              @blur="updatePlannedAnswer(practice)"
              {% if sample.is_frozen %} disabled{% endif %}></textarea>
</td>

{# The unit is fixed. question.ui_hint === 'number' #}
<td class="text-center"
    :colspan="6"
    v-if="isNumberUIHint(practice)"
    v-show="!isActiveCommentsShown(practice)">
  <div class="input-group">
    <input class="form-control text-right"
           type="number"
           placeholder=""
           v-model="getPrimaryPlanned(practice).measured"
           @blur="updatePlannedAnswer(practice)"
           {% if sample.is_frozen %} disabled{% endif %}></input>
    <select class="form-control input-group-suffix"
            v-model="getPrimaryPlanned(practice).unit"
            @blur="updatePlannedAnswer(practice)"
             v-if="isRevenueUIHint(practice)"
            {% if sample.is_frozen %} disabled{% endif %}>
      <option value="usd">US Dollars ($)</option>
      <option value="million-usd">Millions US Dollars ($M)</option>
      <option value="eur">Euros</option>
      <option value="million-eur">Millions Euros</option>
    </select>
  </div>
</td>

{# Energy consumed #}
{# - The unit is variable (out of an "energy units" drop down list) #}
{# - question.ui_hint === 'energy' #}
<td class="text-center"
    colspan="2"
    v-if="isEnergyUIHint(practice)"
    v-show="!isActiveCommentsShown(practice)">
    <input class="form-control"
           type="date"
           v-model="getPrimaryPlanned(practice).baseline_at"
           @blur="updatePlannedAnswer(practice)"
           {% if sample.is_frozen %} disabled{% endif %}></input>
</td>
<td class="text-center"
    colspan="2"
    v-if="isEnergyUIHint(practice)"
    v-show="!isActiveCommentsShown(practice)">
    <input class="form-control"
           type="date"
           v-model="getPrimaryPlanned(practice).created_at"
           @blur="updatePlannedAnswer(practice)"
           {% if sample.is_frozen %} disabled{% endif %}></input>
</td>
<td class="text-center"
    :colspan="2"
    v-if="isEnergyUIHint(practice)"
    v-show="!isActiveCommentsShown(practice)">
  <div class="input-group">
    <input class="form-control text-right"
           type="number"
           placeholder=""
           v-model="getPrimaryPlanned(practice).measured"
           @blur="updatePlannedAnswer(practice)"
           {% if sample.is_frozen %} disabled{% endif %}></input>
    <select class="form-control input-group-suffix"
            v-model="getPrimaryPlanned(practice).unit"
            @blur="updatePlannedAnswer(practice)"
            {% if sample.is_frozen %} disabled{% endif %}>
      <option value="mmbtu-of-natural-gas">mmBtu of Natural gas</option>
      <option value="mmbtu-of-blast-furnance-gas">mmBtu of Blast furnance gas</option>
      <option value="mmbtu-of-coke-oven-gas">mmBtu of Coke oven gas</option>
      <option value="mmbtu-of-fuel-gas">mmBtu of Fuel gas</option>
      <option value="mmbtu-of-propane-gas">mmBtu of Propane (gas)</option>
      <option value="gallon-of-aviation-gasoline">Gallon of Aviation gasoline</option>
      <option value="gallon-of-kerosene">Gallon of Kerosene</option>
      <option value="gallon-of-liquified-petroleum-gases-lpg">Gallon of Liquified Petroleum Gases (LPG)</option>
      <option value="gallon-of-motor-gasoline">Gallon of Motor gasoline</option>
      <option value="gallon-of-propane-liquid">Gallon of Propane (liquid)</option>
      <option value="gallon-of-crude-oil">Gallon of Crude oil</option>
      <option value="gallon-of-motor-diesel-fuel">Gallon of Motor diesel fuel</option>
      <option value="gallon-of-liquified-natural-gas-lng">Gallon of Liquified Natural Gas (LNG)</option>
      <option value="kwh">Kilowatt-hour (kWh) of Electricity</option>
      <option value="giga-joules">Giga Joules (GJ)</option>
      <option value="giga-joules-fte">Giga Joules (GJ) per full-time employee (FTE)</option>
    </select>
  </div>
</td>
{# end of energy #}


{# water #}
{# - The unit is variable (out of an "water units" drop down list) #}
{# - question.ui_hint === 'water' #}
<td class="text-center"
    colspan="2"
    v-if="isWaterUIHint(practice)"
    v-show="!isActiveCommentsShown(practice)">
    <input class="form-control"
           type="date"
           v-model="getPrimaryPlanned(practice).baseline_at"
           @blur="updatePlannedAnswer(practice)"
           {% if sample.is_frozen %} disabled{% endif %}></input>
</td>
<td class="text-center"
    colspan="2"
    v-if="isWaterUIHint(practice)"
    v-show="!isActiveCommentsShown(practice)">
    <input class="form-control"
           type="date"
           v-model="getPrimaryPlanned(practice).created_at"
           @blur="updatePlannedAnswer(practice)"
           {% if sample.is_frozen %} disabled{% endif %}></input>
</td>
<td class="text-center"
    :colspan="2"
    v-if="isWaterUIHint(practice)"
    v-show="!isActiveCommentsShown(practice)">
  <div class="input-group">
    <input class="form-control text-right"
           type="text"
           placeholder=""
           v-model="getPrimaryPlanned(practice).measured"
           @blur="updatePlannedAnswer(practice)"
           {% if sample.is_frozen %} disabled{% endif %}></input>
    <select class="form-control input-group-suffix"
            v-model="getPrimaryPlanned(practice).unit"
            @blur="updatePlannedAnswer(practice)"
            {% if sample.is_frozen %} disabled{% endif %}>
        <option value="m3">Cubic meters (m<sup>3</sup>)</option>
        <option value="kiloliters">Kilo liters</option>
        <option value="ft3">Cubic feet (ft.<sup>3</sup>)</option>
        <option value="gallons">US Gallon</option>
    </select>
  </div>
</td>
{# end of water #}

{# waste #}
{# - The unit is variable (out of an "waste units" drop down list) #}
{# - question.ui_hint === 'waste' #}
<td class="text-center"
    colspan="2"
    v-if="isWasteUIHint(practice)"
    v-show="!isActiveCommentsShown(practice)">
    <input class="form-control"
           type="date"
           v-model="getPrimaryPlanned(practice).baseline_at"
           @blur="updatePlannedAnswer(practice)"
           {% if sample.is_frozen %} disabled{% endif %}></input>
</td>
<td class="text-center"
    colspan="2"
    v-if="isWasteUIHint(practice)"
    v-show="!isActiveCommentsShown(practice)">
    <input class="form-control"
           type="date"
           v-model="getPrimaryPlanned(practice).created_at"
           @blur="updatePlannedAnswer(practice)"
           {% if sample.is_frozen %} disabled{% endif %}></input>
</td>
<td class="text-center"
    :colspan="2"
    v-if="isWasteUIHint(practice)"
    v-show="!isActiveCommentsShown(practice)">
  <div class="input-group">
    <input class="form-control text-right"
           type="text"
           placeholder=""
           v-model="getPrimaryPlanned(practice).measured"
           @blur="updatePlannedAnswer(practice)"
           {% if sample.is_frozen %} disabled{% endif %}></input>
    <select class="form-control input-group-suffix"
            v-model="getPrimaryPlanned(practice).unit"
            @blur="updatePlannedAnswer(practice)"
            {% if sample.is_frozen %} disabled{% endif %}>
        <option value="tons">Metric tons</option>
        <option value="lbs">Pounds</option>
        <option value="m3">Cubic meters (m<sup>3</sup>)</option>
        <option value="kiloliters">Kilo liters</option>
        <option value="ft3">Cubic feet (ft.<sup>3</sup>)</option>
        <option value="gallons">US Gallon</option>
    </select>
  </div>
</td>
{# end of waste #}

{# GHG Emissions #}
<td class="text-center"
    colspan="2"
    v-if="isGHGEmissions(practice)"
    v-show="!isActiveCommentsShown(practice)">
    <input class="form-control"
           type="date"
           v-model="getPrimaryPlanned(practice).baseline_at"
           @blur="updatePlannedAnswer(practice)"
           {% if sample.is_frozen %} disabled{% endif %}></input>
</td>
<td class="text-center"
    colspan="2"
    v-if="isGHGEmissions(practice)"
    v-show="!isActiveCommentsShown(practice)">
    <input class="form-control"
           type="date"
           v-model="getPrimaryPlanned(practice).created_at"
           @blur="updatePlannedAnswer(practice)"
           {% if sample.is_frozen %} disabled{% endif %}></input>
</td>
<td class="text-center"
    colspan="2"
    v-if="isGHGEmissions(practice)"
    v-show="!isActiveCommentsShown(practice)">
  <div class="input-group">
    <input class="form-control text-right"
              type="number"
              placeholder=""
              v-model="getPrimaryPlanned(practice).measured"
              @blur="updatePlannedAnswer(practice)"
           {% if sample.is_frozen %} disabled{% endif %}></input>
    <select class="form-control"
            v-model="getPrimaryPlanned(practice).unit"
            @blur="updatePlannedAnswer(practice)"
            {% if sample.is_frozen %} disabled{% endif %}>
        <option value="tons">Metric Tons CO2e</<option>
    </select>
  </div>
</td>
{# end of scope ghg emissions #}

{# when question.unit.system is 'enum' #}

<td class="text-center"
    v-if="isEnumUIHint(practice)"
    v-show="!isActiveCommentsShown(practice)">
  <span v-if="getPrimaryAnswer(practice).measured">[[getPrimaryAnswer(practice).measured]]</span>
  <em v-if="!getPrimaryAnswer(practice).measured">&dash;</em>
</td>
<td :class="'text-center' + ((getPrimaryPlanned(practice).measured !== getPrimaryPlanned(practice).measured) && (getPrimaryPlanned(practice).measured === choice.text) ? ' green-level-4' : '')"
    :colspan="getNbInputCols(practice)"
    v-for="(choice, idx) in getChoices(practice, icon)"
    v-if="isEnumUIHint(practice)"
    v-show="!isActiveCommentsShown(practice)">
  <div>{# form-check #}
    <div class="radio-border">
      <input :id="slugify(choice.text, practice.rank)"
           type="radio"
           :value="choice.text"
           :name="'implemented-' + practice.rank"
           :checked="getPrimaryPlanned(practice).measured === choice.text"
           @change="updatePlannedAnswer(practice, choice.text)"
           v-model="getPrimaryPlanned(practice).measured"
           {% if sample.is_frozen %} disabled{% endif %} />
    </div>
    <label :for="slugify(choice.text, practice.rank)"
         style="margin-bottom:0"
         data-toggle="tooltip" data-placement="bottom"
         :title="getPrimaryCandidate(practice).measured === choice.text ? (getPrimaryCandidate(practice).collected_by + ', ' + humanizeTimeDelta(getPrimaryCandidate(practice).created_at)) : ''">
      <span style="font-size:10px;">[[choice.descr ? choice.descr : ""]]</span>
    </label>
  </div>
</td>

{# Targets #}
<td class="text-center"
    colspan="3"
    v-if="isTargetByUIHint(practice)"
    v-show="!isActiveCommentsShown(practice)">
  <div class="input-group">
    <label class="form-control input-group-prefix">
      {% trans %}Achieve by{% endtrans %}
    </label>
    <select class="form-control"
          v-model="getPrimaryPlanned(practice).measured"
          @blur="updatePlannedAnswer(practice)"
          {% if sample.is_frozen %} disabled{% endif %}>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2028">2028</option>
          <option value="2029">2029</option>
          <option value="2030">2030</option>
          <option value="2031">2031</option>
          <option value="2032">2032</option>
          <option value="2033">2033</option>
          <option value="2034">2034</option>
          <option value="2035">2035</option>
          <option value="2036">2036</option>
          <option value="2037">2037</option>
          <option value="2038">2038</option>
          <option value="2039">2039</option>
          <option value="2040">2040</option>
          <option value="2041">2041</option>
          <option value="2042">2042</option>
          <option value="2043">2043</option>
          <option value="2044">2044</option>
          <option value="2045">2045</option>
          <option value="2046">2046</option>
          <option value="2047">2047</option>
          <option value="2048">2048</option>
          <option value="2049">2049</option>
          <option value="2050">2050</option>
    </select>
  </div>
</td>
<td class="text-center"
    colspan="6"
    v-if="isTargetByUIHint(practice)"
    v-show="!isActiveCommentsShown(practice)">
  <div class="input-group">
    <label class="form-control input-group-prefix">
      {% trans %}Baseline{% endtrans %}
    </label>
    <select class="form-control"
            v-model="getPrimaryPlanned(practice).measured"
            @blur="updatePlannedAnswer(practice)"
            {% if sample.is_frozen %} disabled{% endif %}>
          <option value="2023">2023</option>
          <option value="2022">2022</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
          <option value="2019">2019</option>
          <option value="2018">2018</option>
          <option value="2017">2017</option>
          <option value="2016">2016</option>
          <option value="2015">2015</option>
          <option value="2014">2014</option>
          <option value="2013">2013</option>
          <option value="2012">2012</option>
          <option value="2011">2011</option>
          <option value="2010">2010</option>
          <option value="2009">2009</option>
          <option value="2008">2008</option>
          <option value="2007">2007</option>
          <option value="2006">2006</option>
          <option value="2005">2005</option>
          <option value="2004">2004</option>
          <option value="2003">2003</option>
          <option value="2002">2002</option>
          <option value="2001">2001</option>
          <option value="2000">2000</option>
    </select>
  </div>
</td>
{# end target #}

{# optional comments #}
<td colspan="6"
    v-if="isPractice(practice)"
    v-show="isActiveCommentsShown(practice)">
  <div class="row" v-if="getPrimaryCandidate(practice).measured">
    <div class="col-sm-3">
      <div class="mt-2">
        <img :src="getPicture(getPrimaryCandidate(practice).collected_by)">
        <span>[[getPrintableName(getPrimaryCandidate(practice).collected_by)]]</span>
      </div>
      <small>[[humanizeTimeDelta(getPrimaryCandidate(practice).created_at)]]</small>
    </div>
    <div class="border-left col-sm-9">
      <p class="mt-2">
        recorded &quot;[[getPrimaryCandidate(practice).measured]]&quot;
      </p>
    </div>
  </div>
  <div class="row" v-if="getPrimaryPlanned(practice).measured && getPrimaryPlanned(practice).collected_by">
    <div class="col-sm-3">
      <div class="mt-2">
        <img :src="getPicture(getPrimaryPlanned(practice).collected_by)">
        <span>[[getPrintableName(getPrimaryPlanned(practice).collected_by)]]</span>
      </div>
      <small>[[humanizeTimeDelta(getPrimaryPlanned(practice).created_at)]]</small>
    </div>
    <div class="border-left col-sm-9">
      <p class="mt-2">
        current assessment &quot;[[getPrimaryPlanned(practice).measured]]&quot;
      </p>
    </div>
  </div>
  <form class="mt-2" @submit.prevent="updatePlannedAnswer(practice, getCommentsAnswer(practice))">
    <p class="text-danger" v-if="isNotApplicable(practice)">
      You selected <strong>&quot;Not Applicable&quot;</strong>, please explain.
    </p>
    <textarea class="form-control"
              name="other-measures"
              type="text" rows="10"
              placeholder="Some comments about implementation of the best practice at your organization. If you think the best practice does not apply to your organization, please explain why. Thank you."
              v-model="getCommentsAnswer(practice).measured"
              {% if sample.is_frozen %} disabled{% endif %}></textarea>
    <div class="mt-2 text-right">
      <button class="btn btn-primary" type="submit" value="submit">
        Submit
      </button>
    </div>
  </form>
</td>
