{% extends "app/base.html" %}

{% block app_content %}
{% include "app/_progress_bar.html" %}
{% block improve_content %}
{% endblock %}
{% endblock %}

{% block app_bodyscripts %}
{% if ASSETS_DEBUG %}
<script type="text/javascript" src="{{'/static/vendor/chart.js/dist/chart.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/vendor/chartjs-plugin-annotation.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/js/djaodjin-resources-vue.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/js/djaodjin-pages-vue.js'|asset}}"></script>
<script type="text/javascript" src="{{'/static/js/assess-vue.js'|asset}}"></script>
{% else %}
<script type="text/javascript" src="{{'/static/cache/assess.js'|asset}}"></script>
{% endif %}
{% block improve_scripts %}{% endblock %}
{% endblock %}
