{% extends "app/assess/index.html" %}

{% block app_left_sidebar %}
{% include "app/improve/_improve_left_sidebar.html" %}
{% endblock %}

{% block assess_no_questions %}
<div>
{% if sample.is_frozen %}
<p>
{% trans %}You cannot add an improvement plan to a response that has already
been completed.{% endtrans %}
</p>
{% else %}
<p>
{% trans %}To create or complete an improvement plan towards your stated targets, you will first need to add an industry-specific segment, and assess your organization against industry-specific practices in the <strong>ASSESS</strong> step.{% endtrans %}
</p>
{% endif %}
</div>
{% endblock %}

{% block icons_actions %}
{% endblock %}

{% block panel_footer %}
<div class="card mt-4">
  <div class="card-footer">
    <div class="row">
      <div class="offset-md-3 col-md-6 text-center">
        <div class="row">
          <div class="col-sm-6">
            <div class="d-grid gap-2 d-md-block">
              <a id="download-improvements"
                 class="btn btn-md btn-outline-primary"
                 href="{{urls.download}}"
                 target="_blank">{% trans %}Print planned actions{% endtrans %}</a>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="d-grid gap-2 d-md-block">
              <a id="print-actions-guidance"
                 class="btn btn-md btn-outline-primary"
                 href="{{urls.print}}"
                 target="_blank">{% trans %}Print actions guidance{% endtrans %}</a>
            </div>
          </div>
        </div>
        {% if sample.is_frozen %}
        <p>
{% trans at_time=sample.created_at|date %}Completed on {{at_time}}{% endtrans %}
        </p>
        {% else %}
        <p>
{% trans %}Once you have created an improvement plan (optional), move to the <strong>Review</strong> step, then click the <strong>Complete</strong> button to submit an official dated response.{% endtrans %}
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block assess_scripts %}
<script type="text/javascript">
Vue.prototype.$excludeQuestions = "assess-only";
</script>
{% endblock %}
