<div>
  <div class="row">
    <div class="col-md-6">
      <form id="period-update" class="row mt-4"
            @submit.prevent="reload()">
        <div class="col-sm-4">
          <div class="input-group input-group-sm">
            <span class="input-group-text" id="from-inp">{% trans %}From{% endtrans %}</span>
            <input class="form-control" type="date" v-model="_start_at" v-cloak>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="input-group input-group-sm">
            <span class="input-group-text" id="from-inp">{% trans %}To{% endtrans %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <input class="form-control" type="date" v-model="_ends_at" v-cloak>
          </div>
        </div>
        <div class="col-sm-4 d-print-none">
          <button class="btn btn-primary btn-sm"
                  :disabled="!outdated"
                  type="submit">{% trans %}Update{% endtrans %}</button>
        </div>
      </form>{# /#period-update #}
    </div>
    <div class="col-md-6 d-print-none">
      <div class="mt-4 text-end">
        {% include "app/reporting/_percentage_toggle.html" %}
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-sm-8">
      <reporting-completion-rate inline-template
                                 ref="completionRate" :params="params">
        <div>
          <h2 class="text-center mt-2">Responses week-by-week ([[params.unit == 'percentage' ? '%' : 'Nb']])&nbsp;<a id="download-competion-rate" class="d-print-none btn btn-link" :href="'{{urls.download_completion_rate}}' + getQueryString()" target="_blank"><i class="fa fa-download"></i></a></h2>
          <div>
            <div class="card-body" v-if="!itemLoaded">
              <p>
                <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
              </p>
            </div>
            <div class="card-body" v-show="itemLoaded" v-cloak>
              <canvas id="completionRate"></canvas>
            </div>
          </div>
        </div>
      </reporting-completion-rate>
    </div>
    <div class="col-md-4">
      <reporting-completion-total ref="completionTotal" :params="params" inline-template>
        <div>
          <h2 class="text-center mt-2">{% trans %}Engagement Status{% endtrans %}<span v-cloak>([[params.unit == 'percentage' ? '%' : 'Nb']])</span>&nbsp;<a id="download-completion-total" class="d-print-none btn btn-link btn-sm" :href="'{{urls.download_engagement_stats}}' + getQueryString()" target="_blank"><i class="fa fa-download"></i></a></h2>
          <h3 class="text-center" v-if="itemLoaded">{% trans %}outer to inner{% endtrans %}: {{profile.printable_name}}[[circleLabels]]</h3>
          <div>
            <div class="card-body" v-if="!itemLoaded">
              <p>
                <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
              </p>
            </div>
            <div class="card-body" v-show="itemLoaded" v-cloak>
              <canvas id="summaryChart" style="max-height: 240px;"></canvas>
            </div>
          </div>
          <hr />
          <div class="text-center mt-4">
            <h2>{% trans %}Verified{% endtrans %}</h2>
            <h3>[[verifiedRate]]%</h3>
          </div>
        </div>
      </reporting-completion-total>
    </div>
  </div>{# /.row #}

  <hr />

</div>
