<div style="width:12rem;">
  <div v-show="showEditTags !== index">
    <div v-if="entry.extra" class="d-flex flex-wrap gap-1">
      <a href="#" class="badge bg-secondary text-decoration-none text-white" v-for="tag in entry.extra.tags" @click.prevent="searchByTag(tag)">[[tag]]</a>
    </div>
    <small><a href="#" @click.prevent="toggleEditTags(index)"><i class="fa-solid fa-edit"></i></a></small>
  </div>
  <div v-show="showEditTags === index">
    <input class="form-control" ref="tagsInput"
           placeholder="{% trans %}add tags ...{% endtrans %}" />
    <small><a href="#" @click.prevent="toggleEditTags(index)"><i class="fa-solid fa-check"></i> {% trans %}Done{% endtrans %}</a></small>
  </div>
</div>
