<!-- modal dialog to add a request to add a role to a user
     on an profile. -->
<div id="invite-reporting-entity"
     class="add-role-modal modal fade" tabindex="-1" role="dialog"
     aria-labelledby="Request access" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add a reporting profile ...</h4>
        <button type="button" class="close"
                data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <form>
        <div class="modal-body">
          <p class="text-danger" v-if="!newItem.created_at">
There are no records of the domain name associated with the email address you
just entered in the system. This is an opportunity to invite that organization
to join The Sustainability Project.
          </p>
          <p v-if="newItem.created_at">
There is already a profile with that domain name registered
on TSP. Send the below email to the profile manager to request access
to their completed assessment.
          </p>
          <div class="row form-group">
            <div class="col-sm-2">
              <label>To</label>
            </div>
            <div class="controls col-sm-10">
              <input id="new-request-email" class="email"
                     name="email" v-model="newItem.email" type="text"
                     max-length="150" placeholder="invitee@example.com"
                     style="width:100%;" autofocus />
            </div>
          </div>
          <div class="form-group">
            <div class="controls">
              <label>Organization name<span class="asteriskField"><a id="organization-tooltip" style="color:inherit;" href="" rel="tooltip" data-toggle="tooltip" data-placement="bottom" title="The &quot;Organization&quot; or reporting profile should align with the ability to influence and/or control policies and practices related to environmental impacts and improvement opportunities."> <i class="fa fa-question-circle" style="color: #e11"></i></a></span></label>
              <input class="form-control" style="width:100%;"
                     v-model="newItem.full_name"
                     name="full_name" type="text" max-length="150"
                     :disabled="newItem.created_at"
                     autofocus />
            </div>
          </div>
          <div id="div_id_new_user_relation" class="form-group">
            <div class="controls">
              <label>The following message will be sent (or modify the message by typing in the box below).</label>
              <textarea class="form-control" name="message"
                        type="text" rows="10"
                        v-model="message">
              </textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary"
                    data-dismiss="modal">Cancel</button>
            <button @click.prevent="requestAssessment('{{campaign}}')"
                    type="submit" class="btn btn-primary"
                    data-dismiss="modal">Request assessment</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end of modal dialog -->
