{% extends "app/reporting/base.html" %}

{% block reporting_title %}{% trans %}Completed assessments{% endtrans %}{% endblock %}

{% block reporting_content %}
<reporting-organizations id="managed" inline-template>
<div>

  <div class="row mt-4">
    <div class="col-md-6">
      <reporting-completion-rate ref="completionWeekly" :params="params" inline-template>
        <div>
          <h2 class="text-center">{% trans %}Completed and verified week-by-week{% endtrans %}<span v-cloak>([[params.unit == 'percentage' ? '%' : 'Nb']])</span></h2>
          <div>
            <div class="card-body" v-if="!itemLoaded">
              <p>
                <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
              </p>
            </div>
            <div class="card-body" v-show="itemLoaded" v-cloak>
              <canvas id="completionRate"></canvas>
            </div>
          </div>
        </div>
      </reporting-completion-rate>
    </div>{# /.col-md-6 #}
    <div class="col-md-6 text-center">
    </div>
  </div>
  <div>
    <div class="pt-2">
    {% include "_filter.html" %}
    </div>
    <div class="row pt-2">
      <div class="col-sm-6" v-show="itemsLoaded" v-cloak>
        [[items.count]] {% trans %}completed questionnaires{% endtrans %}
      </div>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>{% trans %}Last completed{% endtrans %}<button class="btn btn-link btn-sort"
                  @click.prevent="sortBy('last_completed_at')">
                  <i :class="sortIcon('last_completed_at')"></i>
              </button>
          </th>
          <th>{% trans %}Organization/profile{% endtrans %}<button class="btn btn-link btn-sort"
                  @click.prevent="sortBy('printable_name')">
                  <i :class="sortIcon('printable_name')"></i>
              </button>
          </th>
          <th>{% trans %}Questionnaire{% endtrans %}<button class="btn btn-link btn-sort"
                  @click.prevent="sortBy('segment')">
                  <i :class="sortIcon('segment')"></i>
              </button>
          </th>
          <th>{% trans %}Priority to verify{% endtrans %}<button class="btn btn-link btn-sort"
                  @click.prevent="sortBy('priority')">
                  <i :class="sortIcon('priority')"></i>
              </button>
          </th>
          <th>{% trans %}Verified Status{% endtrans %}<button class="btn btn-link btn-sort"
                  @click.prevent="sortBy('status')">
                  <i :class="sortIcon('status')"></i>
              </button>
          </th>
          <th>{% trans %}Assigned verifier{% endtrans %}<button class="btn btn-link btn-sort"
                  @click.prevent="sortBy('verifier')">
                  <i :class="sortIcon('verifier')"></i>
              </button>
          </th>
        </tr>
      </thead>
      <tbody style="color:black;">
        <tr v-show="!itemsLoaded">
          <td colspan="7">
            <h3  class="text-center"><i class="fa fa-refresh fa-spin fa-2x"></i></h3>
          </td>
        </tr>
        <tr v-show="itemsLoaded && items.results.length == 0" v-cloak>
            <td colspan="7">No organization accessible for {{profile}}</td>
        </tr>
        <tr :id="entry.slug" :class="entry.supplier_initiated ? 'supplier-initiated' : ''"
            v-for="(entry, index) in items.results"
            v-show="itemsLoaded && items.results.length > 0" v-cloak>
          <td style="vertical-align:middle;" v-if="!entry.requested_at">
            <span>[[entry.last_completed_at ? shortDate(entry.last_completed_at) : 'Incomplete']]</span>
          </td>
          <td>
            {% include "app/reporting/_profile_card.html" %}
          </td>
          <!-- Campaign -->
          <td style="vertical-align:middle;">
              <a :href="entry.score_url">[[ entry.segment ]]</a>
          </td>
          <td style="vertical-align:middle;">
            <span v-if="entry.extra">[[ entry.extra.priority ]]</span>
          </td>
          <td style="vertical-align:middle;">
              [[ entry.verified_status ]]
          </td>
          <td style="vertical-align:middle;">
            [[ entry.verified_by ]]
          </td>
        </tr>
      </tbody>
    </table>
    {% include "_pagination.html" %}
  </div>
</div>
</reporting-organizations>
{% endblock %}
