{% extends "app/reporting/base.html" %}

{% block app_content %}
<section id="redirects" class="container py-4">
  <div class="bg-white" style="min-height:30rem;">
    <div class="row">
      <div class="col-12 offset-md-3 col-md-6 my-4 py-4">
        {% if redirects %}
        <h1 class="text-dark">Redirect to ...</h1>
        <p class="text-dark">
          Please pick an assessment dashboard you wish to browse.
        </p>
        {% for redirect in redirects %}
        <div class="text-center">
          <a id="{{redirect.2}}" class="btn btn-primary w-100 mt-2"
             href="{{redirect.0}}">{{redirect.1}}</a>
        </div>
        {% endfor %}
        {% else %}
        <p class="text-center text-dark">
Your organization does not have access to portfolios dashboards.
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
