{# Show non-primary answers #}
<div class="row">
  <div class="col-12" style="border-left:solid 2px lightgrey;">
    <div v-for="answer in getSecondaryAnswers(practice, isRevenueUIHint(practice) ? ['yes-no', 'ends-at', 'starts-at', 'points'] : (isNumberUnit(practice) ? ['ends-at', 'starts-at', 'points'] : ['points']))">
      <p class="mt-2" @click.prevent="openLink($event)"
         v-html="textAsHtml(answer.measured)"
         v-if="answer.unit === 'freetext'">
      </p>
      <p v-if="answer.unit === 'percentage'">
          [[answer.measured]]%
      </p>
      <p v-if="answer.unit === 'ends-at'">
          {% trans %}On{% endtrans %} [[answer.measured]]
      </p>
      {% if verification_enabled %}
      <div class="row verifier-notes pt-1 m-2" v-if="answer.unit === 'verifiability'">
        <small>
          <img class="rounded-circle" :src="getPicture(answer.collected_by) ? getPicture(answer.collected_by) : '{{'/static/img/default-user.png'|asset}}'" width="32" height="32" alt="{% trans %}Profile picture{% endtrans %}">
 [[getPrintableName(answer.collected_by)]]
 [[$globals.humanizeDate(answer.created_at)]] ([[$globals.humanizeTimeDelta(answer.created_at)]])
        </small>
        <p>
          [[answer.measured]]
        </p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
