{% extends "app/scorecard/base.html" %}

{% block scorecard_content %}
<scorecard inline-template  class="container pt-4">
  <div class="pt-4">
    <div class="bg-white text-dark">
      <section id="summary">
        {% if not sample.is_frozen %}
        <div class="alert alert-warning">
          <div>
<strong>This report is a work in progress.</strong>
Once you are ready, please click
the <em>Complete</em> button at the bottom of the page to freeze it;
then share it with customers, investors and other interested 3rd parties.
          </div>
        </div>
        {% endif %}
        <div class="row">
          <div class="col-sm-8">
            <div class="row">
              <div class="col-sm-4 text-center text-sm-right">
                <img class="mt-4 img-fluid" style="max-height:2rem;" src="{% if profile.picutre %}{{profile.picture}}{% else %}{{'/static/img/logo-djaodjin-orange.png'|asset}}{% endif %}">
              </div>
              <div class="col-sm-8 text-center text-sm-left">
                <h1 class="mt-4">{{profile.printable_name}}</h1>
                <h2>{{sample.campaign.title}}</h2>
                <div>{{sample.created_at|date}}</div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 text-right">
                <div class="row text-center mx-4">
                  {% for highlight in highlights %}
                  <div class="col-6 col-md-3 text-center">
                    <div class="mt-2 icon-inner{% if highlight.reporting %} orange{% else %} grey{% endif %}" style="margin-left:auto;margin-right:auto;">
                      <img class="icon-equipment"
                           src="{{highlight.picture|asset}}">
                      <div class="icon-caption text-white">{{highlight.text}}</div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="mt-2 ml-2">
                  Contact Information
                  <ul class="list-unstyled mb-0">
                    {% if profile.email %}
                    <li>{{profile.email}}</li>
                    {% endif %}
                    {% if profile.phone %}
                    <li>{{profile.phone}}</li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {% if summary_performance %}
          <div class="col-sm-4 bordered-left">
            <div class="h-100" style="background-color: #e5e9dd;">
              <div class="text-center">
                <canvas id="summary-chart"></canvas>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </section> {# <!-- /#summary --> #}
      {% if is_mandatory_segment_present %}
      <section id="details">
        <div class="text-center mt-4" v-show="!itemsLoaded">
          <i class="fa fa-refresh fa-spin fa-2x"></i>
        </div>
        <div v-show="itemsLoaded && items.results.length > 0" v-cloak>
          <div :name="practice.slug" v-for="practice in getEntries()">
            <div class="mt-4" v-if="!isPractice(practice)">
              <hr v-if="practice.picture" />
              <div class="row">
                <div class="col-md-8">
                  <div :class="indentHeader(practice)">
                    <div class="orange icon-inner d-inline-block"
                         v-if="practice.picture">
                      <img class="icon-equipment" style="margin-top: 15px;"
                           :src="practice.picture" />
                    </div>
                    <span class="title">[[practice.title]]</span><a :href="'#' + practice.slug" class="header-anchor"><i class="fa fa-link"></i></a>
                  </div>
                  {% if not sample.is_frozen %}
                  <div v-if="practice.indent == 0">
                    <a :href="'{{urls.assess_base}}' + practice.slug + '/'">Update</a>
                    <a id="reset-assessment-btn"
                       class="ml-4" href=""
                       data-toggle="modal"
                       data-target="#reset-assessment"
                       @click="setActiveElement(practice)">Remove</a>
                  </div>
                  {% endif %}
                  <div class="mt-2" v-if="containsTag(practice, 'scorecard')">
                    <p v-if="practice.indent == 0">
Benchmarking is based on responses from <span v-if="!chartsLoaded">?</span><span v-if="chartsLoaded" v-cloak>[[getNbRespondents(practice)]]</span>
companies responding on practices in the industry segment.
                    </p>
                    <div class="text-center d-flex align-items-center"
                         style="height:150px;max-width:300px;"
                         v-if="!chartsAvailable && !charts[practice.slug]">
                      <div class="box">
                        <i class="fa fa-refresh fa-spin fa-2x"></i>
                      </div>
                    </div>
                    <div class="text-center d-flex align-items-center"
                         style="height:150px;max-width:300px;background:#eee;"
                         v-if="chartsAvailable && !charts[practice.slug]">
                      <div class="box">There is not enough data available to benchmark with peers.</div>
                    </div>
                    <canvas :id="practice.slug" v-show="charts[practice.slug]"></canvas>
                  </div>
                </div>
                <div class="col-md-4">
                  <div :class="indentHeader(practice)" v-if="practice.indent == 0">
                    <svg class="chart-scores" :viewBox="'0 0 ' + arcWidth + ' ' + arcHeight">
                      <!-- top score arc -->
                      <g :transform="'translate(0, ' + arcHeight + ')'">
                        <path
                          id="topScorePath"
                          fill="none"
                          :d="topScoreTopPath"
                          />
                        <path
                          class="arc-score"
                          :style="'transform: rotate(' + scoreToRotation(practice.highest_normalized_score) + ');'"
                          fill="#007040"
                          :d="topScoreBottomPath"
                          />
                        <text class="score-label" :x="4" :dy="-5" fill="white">
                          <textPath href="#topScorePath">top score ([[practice.highest_normalized_score]]%)</textPath>
                        </text>
                      </g>
                      <!-- average score arc -->
                      <g :transform="'translate(0, ' + arcHeight + ')'">
                        <path
                          id="averageScorePath"
                          fill="none"
                          :d="avgScoreTopPath"
                          />
                        <path
                          class="arc-score"
                          :style="'transform: rotate(' + scoreToRotation(practice.avg_normalized_score) + ');'"
                          fill="#69b12b"
                          :d="avgScoreBottomPath"
                          />
                        <text class="score-label" :x="4" :dy="-5" fill="white">
                          <textPath href="#averageScorePath">
                            average ([[practice.avg_normalized_score]]%)
                          </textPath>
                        </text>
                      </g>
                      <!-- own score arc -->
                      <g :transform="'translate(0, ' + arcHeight + ')'">
                        <path
                          id="ownScorePath"
                          fill="none"
                          :d="lowScoreTopPath"
                          />
                        <path
                          class="arc-score"
                          :style="'transform: rotate(' + scoreToRotation(practice.normalized_score) + ');'"
                          fill="#9cd868"
                          :d="lowScoreBottomPath"
                          />
                        <text class="score-label" x="4" dy="-5" fill="white">
                          <textPath href="#ownScorePath">you ([[practice.normalized_score]]%)</textPath>
                        </text>
                      </g>
                      <g class="counter"
                         :transform="'translate(' + (arcWidth / 2) + ', ' + arcHeight + ')'">
                        <text dx="-1.6rem" dy="-5">[[practice.normalized_score]]%</text>
                      </g>
                    </svg>
                  </div>
                  <div :class="indentHeader(practice)" v-if="practice.indent > 0">[[asPercent(practice.normalized_score)]]</div>
                </div>
              </div>
              <div v-if="isDataMetricsHeader(practice)">
                <table class="table table-bordered table-striped">
                  <tr class="text-right">
                    <th></th>
                    <th v-for="year in getColHeaders(practice)">
                      [[year]]
                    </th>
                  </tr>
                  <tr v-for="total in getEntries(practice.slug)">
                    <th>[[total.title]]</th>
                    <td class="text-right"
                        v-for="year in getColHeaders(practice)">
                      [[getColValue(total, year)]]
                    </td>
                  </tr>
                  <caption class="text-center">
                    [[getCaptionTitle(practice)]]
                  </caption>
                </table>
              </div>
            </div>{# /.!isPractice - i.e. heading #}

            <div v-if="isEnumUIHint(practice)">
              <div class="row">
                <div class="col-md-8">
                  <div :class="indentHeader(practice) + ' mt-2'">
                    <a class="title"
                       :href="isPractice(practice) ? '{{urls.pages_index}}' + practice.slug + '/' : ''">
                      [[practice.title]]
                    </a><a :href="'#' + practice.slug" class="header-anchor"><i class="fa fa-link"></i></a>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 col-md-4"
                         v-if="isSustainabilityUIHint(practice)">
                      Implementation rate<br />
                      [[practice.nb_respondents]] respondents
                      <div class="progress" style="margin:0">
                        <div :class="'progress-bar progress-bar-success green-level-' + practice.avg_value"
                             role="progressbar"
                             :aria-valuenow="getRate(practice)"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             :style="implementationRateStyle(getRate(practice))">
                          <span :class="{'text-muted': !getRate(practice) || getRate(practice) < 35}">[[asPercent(getRate(practice))]]</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6 col-md-4"
                         v-if="isScoredPractice(practice)">
                      Opportunity score<br />
                      [[getOpportunity(practice)]]
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="bestpractice mt-2">
                    <div class="row">
                      <div class="col-6">
                        <div v-if="!isYesNoUIHint(practice)">
                          assessed
                        </div>
                        <div>
                          <strong>[[getPrimaryAnswer(practice).measured ? getPrimaryAnswer(practice).measured : "-"]]</strong>
                        </div>
                      </div>
                      <div class="col-6" v-if="getPrimaryPlanned(practice) && getPrimaryPlanned(practice).measured">
                        <div>
                          planned
                        </div>
                        <div>
                          <strong>[[getPrimaryPlanned(practice).measured]]</strong>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p v-if="getCommentsAnswer(practice).measured">
                    [[getCommentsAnswer(practice).measured]]
                  </p>
                </div>
              </div>
            </div>{# /isEnumUIHint(practice) #}

            <div v-if="isFreetextUIHint(practice)">
              <div class="row">
                <div class="col-md-8">
                  <div :class="indentHeader(practice) + ' mt-2'">
                    <a class="title"
                       :href="'{{urls.pages_index}}' + practice.slug + '/'">
                      [[practice.title]]
                    </a><a :href="'#' + practice.slug" class="header-anchor"><i class="fa fa-link"></i></a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div v-for="answer in practice.answers">
                    <div v-if="answer.measured">
                      [[answer.measured]]
                    </div>
                  </div>
                </div>
              </div>
            </div>{# /.isFreetextUIHint(practice) #}

            <div v-if="isGHGEmissionsBreakDown(practice)">
              <div class="row">
                <div class="col-12">
                  <div :class="indentHeader(practice) + ' mt-2'">
                    <table class="table table-bordered table-striped">
                      <tr class="text-right">
                        <th></th>
                        <th v-for="year in getColHeaders(practice)">
                          [[year]]
                        </th>
                      </tr>
                      <tr>
                        <th>[[practice.title]]</th>
                        <td class="text-right" v-for="year in getColHeaders(practice)">
                          [[getColValue(practice, year)]]
                        </td>
                      </tr>
                      <caption class="text-center">
                        [[getPrimaryUnit(practice).title]]
                      </caption>
                    </table>
                  </div>
                </div>
              </div>
            </div>{# /isGHGEmissionsBreakDown(practice) #}

            <div v-if="isNumberUIHint(practice)">
              <div class="row">
                <div class="col-md-8">
                  <div :class="indentHeader(practice) + ' mt-2'">
                    <a class="title"
                       :href="'{{urls.pages_index}}' + practice.slug + '/'">
                      [[practice.title]]
                    </a><a :href="'#' + practice.slug" class="header-anchor"><i class="fa fa-link"></i></a>
                  </div>
                </div>
                <div class="col-md-4">
                  <div v-if="practice.answers.length === 0">
                    &dash;
                  </div>
                  <div v-for="answer in practice.answers"
                       v-if="practice.answers.length > 0">
                    <div v-if="answer.measured">
                      [[answer.measured]] [[getUnit(answer).title]]
                    </div>
                    <div v-if="!answer.measured">
                      &dash;
                    </div>
                  </div>
                </div>
              </div>
            </div>{# /isNumberUIHint(practice) #}

          </div>{# /.v-for=getEntries() #}
        </div>
        {% if not sample.is_frozen %}
        <div id="add-segments-actions" class="text-center" v-show="itemsLoaded" v-cloak>
          <div v-if="items.results.length === 0">
            <hr />
            <p>
              Get started!
            </p>
            <a id="get-started-btn" href="{{urls.assess_base}}{{sample.campaign.slug}}/" class="btn btn-primary btn-lg">{% trans %}Start Assessment{% endtrans %} &raquo;</a>
          </div>
          {% if segments_candidates %}
          <div v-show="itemsLoaded && items.results.length > 0" v-cloak>
            <hr />
            <div class="dropdown">
              <button id="segment-selector" class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" data-flip="false">
                <span class="text">Add industry-specific assessment</span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="segment-selector">
                {% for segment in segments_candidates %}
                <li class="dropdown-item dropdown-item-indent-{{segment.indent}}">
                  <div>
                    {% if not segment.disabled %}
                    {% if segment.extra and segment.extra.pagebreak %}
                    <a id="{{segment.slug}}-btn" href="{{urls.assess_base}}{{segment.slug}}/" role="menuitem" tabindex="-1">{{segment.title}}</a>
                    {% else %}
                    <button class="btn btn-link" disabled>{{segment.title}}</button>
                    {% endif %}
                    {% else %}
                    <span class="disabled" role="menuitem" tabindex="-1">{{segment.title}} <i class="fa fa-wrench"></i></span>
                    {% endif %}
                  </div>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% endif %}
        </div> {# /#add-segments-actions #}
        {% endif %}
      </section> {# <!-- /# details --> #}
      <section id="next-actions" v-show="itemsLoaded" v-cloak>
        <hr />
        <div class="row mt-4">
          <div class="col-sm-4 col-md-3">
            <a id="xlsx-download-btn" class="mt-2 btn btn-secondary w-100"
               href="{{urls.scorecard_download}}"
               target="_blank"
               v-show="itemsLoaded && items.results.length > 0">
              <i class="fa fa-file-text"></i>&nbsp;&nbsp;Download
            </a>
          </div>
          {% if sample.is_frozen %}
          {# actions only available when a scorecard is frozen #}
          <div class="col-sm-4 col-md-3 offset-md-3">
            <a id="share-btn" class="mt-2 btn btn-secondary w-100"
               href="{{urls.scorecard_share}}">
              Share report
            </a>
          </div>
          <div class="col-sm-4 col-md-3">
            <a id="embed-btn" class="mt-2 btn btn-secondary w-100"
               href="">
              Embed link
            </a>
          </div>
          {% else %}
          {# actions only available when a scorecard is active #}
          <div class="col-sm-4 col-md-3 offset-md-3">
            <form method="post" action="." @submit.prevent="freezeAssessment">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}">
              <button id="complete-assessment-btn"
                      class="mt-2 btn btn-primary w-100"
                      href=""
                      data-toggle="modal"
                      data-target="#complete-assessment"
                      :disabled="freezeAssessmentDisabled"
                      v-show="itemsLoaded && items.results.length > 0">
                Complete
              </button>
            </form>
          </div>
          <div class="col-sm-4 col-md-3">
            <a id="invite-contributor-btn" class="mt-2 btn btn-secondary w-100"
               href="{{'/profile/'|site_url}}{{profile.slug}}/roles/contributor/">
              Invite contributor
            </a>
          </div>
          {% endif %}
        </div>
      </section> {# /#next-actions #}
      {% else %}{# not is_mandatory_segment_present #}
      <section id="next-actions" class="text-center">
        <hr />
        <p>
          Get started!
        </p>
        <a id="get-started-btn" href="{{urls.assess_base}}{{sample.campaign.slug}}/" class="btn btn-primary btn-lg">{% trans %}Start Assessment{% endtrans %} &raquo;</a>
      </section>
      {% endif %}{# /is_mandatory_segment_present #}
    </div>
    <!-- modals -->
    {% include "app/_reset_assessment.html" %}
    {% include "app/_complete_assessment.html" %}
  </div>
</scorecard>
{% endblock %}
