{% extends "app/reporting/dashboard/base.html" %}

{% block reporting_title %}{% trans %}Activity summary{% endtrans %}{% endblock %}

{% block reporting_dashboard_content %}
<activity-summary inline-template>
  <div id="panel-icons" class="panel-icons panel-icons-no-benchmark">
    <div class="row">
      <div class="col-md-4 ml-4">
        <h5 class="mt-4">{{campaign.title}} invite period</h5>
        <div class="text-right pr-3">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text" id="from-inp">From</span>
            </div>
            <input class="form-control" type="date"
                   v-model="_start_at" v-cloak>
          </div>
        </div>
        <div class="text-right pr-3 mt-2">
          <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text" id="from-inp">To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            </div>
            <input class="form-control" type="date"
                   v-model="_ends_at" v-cloak>
          </div>
        </div>
        <div class="text-right pr-3 mt-2">
          <button class="btn btn-secondary btn-sm mb-2 w-100"
                  :disabled="!outdated"
                  @click.prevent="filterList()">Update</button>
        </div>
      </div>
    </div>{# /row #}
    <hr />
    {% include "app/reporting/_percentage_toggle.html" %}
    <div class="row">
      <div class="col-sm-8">
        <reporting-completion-rate ref="completionRate" :params="params" inline-template>
          <div>
            <h2 class="text-center mt-2">Completion rate ([[params.unit == 'percentage' ? '%' : 'Nb']])</h2>
            <div>
              <div class="card-body" v-if="!itemLoaded">
                <p>
                  <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
                </p>
              </div>
              <div class="card-body" v-show="itemLoaded">
                <canvas id="completionRate"></canvas>
              </div>
            </div>
            <div class="text-center">
              <a id="download-competion-rate" class="btn btn-secondary mb-2" :href="'{{urls.download_completion_rate}}' + getQueryString()" target="_blank"><i class="fa fa-download"></i> Download (.pptx)</a>
            </div>
          </div>
        </reporting-completion-rate>
      </div>
      <div class="col-md-4 align-self-center">
        <active-reporting-entities inline-template>
          <div class="text-black bg-white" style="border: 1px solid #ddd;">
            <h3 class="text-center mt-4">Active within the last 7 days</h3>
            <div id="active-reporting-entities-content">
              <div class="card-body" v-if="!itemsLoaded">
                <p>
                  <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
                </p>
              </div>
              <div class="card-body" v-if="itemsLoaded">
                <div class="p-4 text-center" style="font-size: 32px;">
                  [[items.count]] users
                </div>
              </div>
              <div class="text-center mb-4">
                <a href="{{urls.active_reporting_entities}}">see detailed activity &raquo;</a>
              </div>
            </div>{# /#active-reporting-entities-content #}
          </div>
        </active-reporting-entities>
      </div>
    </div><!-- /.row (activity) -->
    <hr />
    <div class="row">
      <div class="col-sm-6">
        <reporting-goals ref="goals" :params="params" inline-template>
          <div>
            <h2 class="text-center mt-4">Planned improvements & targets</h2>
            <h3 class="text-center">([[params.unit == 'percentage' ? '%' : 'Nb']] of suppliers)</h3>
            <div class="p-4">
              <div class="card-body" v-if="!itemLoaded">
                <p>
                  <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
                </p>
              </div>
              <div class="card-body" v-show="itemLoaded">
                <canvas id="goals"></canvas>
              </div>
            </div>
            <div class="text-center">
              <a id="download-goals" class="btn btn-secondary mb-2" :href="'{{urls.download_goals}}' + getQueryString()" target="_blank"><i class="fa fa-download"></i> Download (.pptx)</a>
            </div>
          </div>
        </reporting-goals>
      </div>
      <div class="col-md-6">
        <reporting-by-segments ref="bySegments" :params="params" inline-template>
          <div>
            <h2 class="text-center mt-4">Assessments completed by segments</h2>
            <h3 class="text-center">(([[params.unit == 'percentage' ? '%' : 'Nb']]) of suppliers)</h3>
            <div class="p-4">
              <div class="card-body" v-if="!itemLoaded">
                <p>
                  <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
                </p>
              </div>
              <div class="card-body" v-show="itemLoaded">
                <canvas id="bySegements"></canvas>
              </div>
            </div>
            <div class="text-center">
              <a id="download-by-segments" class="btn btn-secondary mb-2" :href="'{{urls.download_by_segments}}' + getQueryString()" target="_blank"><i class="fa fa-download"></i> Download (.pptx)</a>
            </div>
          </div>
        </reporting-by-segments>
      </div>
    </div><!-- /.row (assessments) -->
    <hr />
    <div class="row">
      <div class="col-sm-4">
        <reporting-ghg-emissions-rate ref="ghgEmissionsRate" :params="params" inline-template>
          <div>
            <h2 class="text-center mt-4">GHG emissions reported</h2>
            <h3 class="text-center">([[params.unit == 'percentage' ? '%' : 'Nb']] of suppliers)</h3>
            <h3 class="text-center">(outer: {{profile.printable_name}}, inner: EUISSCA)</h3>
            <div class="p-4">
              <div class="card-body" v-if="!itemLoaded">
                <p>
                  <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
                </p>
              </div>
              <div class="card-body" v-show="itemLoaded">
                <canvas id="GHGEmissionsRate"></canvas>
              </div>
            </div>
            <div class="text-center">
              <a id="download-ghg-emissions-rate" class="btn btn-secondary mb-2" :href="'{{urls.download_ghg_emissions_rate}}' + getQueryString()" target="_blank"><i class="fa fa-download"></i> Download (.pptx)</a>
            </div>
          </div>
        </reporting-ghg-emissions-rate>
      </div>
    </div><!-- /.row (ghg emissions) -->
  </div>
</activity-summary>
{% endblock %}
