{% extends "app/reporting/dashboard/base.html" %}

{% block localheadermeta %}
<title>{% trans campaign=campaign.title, profile=profile.printable_name %}{{campaign}} Insights - {{profile}}{% endtrans %} | {% trans %}Practice Sharing Platform{% endtrans %}</title>
<meta property="og:title" content="{{campaign.title}} Insights - {{profile.printable_name}} | Practice Sharing Platform" />
<meta property="og:image" content="{{request|site_url}}/static/img/og-image.png" />
<meta name="description" property="og:description" content="Insights reporting profiles with {{campaign.title}}" />
{% endblock %}

{% block reporting_title %}{% trans %}Insights{% endtrans %}{% endblock %}

{% block reporting_content %}
<activity-summary inline-template>
  <div>
    {# Following `div` matches engage page layout #}
    <div class="row">
      <div class="col-md-6">
        <form id="period-update" class="row mt-4"
              @submit.prevent="reload()">
          <div class="col-sm-4">
            <div class="input-group input-group-sm">
              <span class="input-group-text" id="from-inp">{% trans %}From{% endtrans %}</span>
              <input class="form-control" type="date" v-model="_start_at" v-cloak>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="input-group input-group-sm">
              <span class="input-group-text" id="from-inp">{% trans %}To{% endtrans %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
              <input class="form-control" type="date" v-model="_ends_at" v-cloak>
            </div>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-secondary btn-sm"
                  :disabled="!outdated"
                  type="submit">{% trans %}Update{% endtrans %}</button>
          </div>
        </form>{# /#period-update #}
      </div>
      <div class="col-md-6">
        <div class="mt-4 text-end">
          {% include "app/reporting/_percentage_toggle.html" %}
        </div>
      </div>
    </div>

    {% if FEATURES_DEBUG and urls.download %}
    <div class="row">
      <div class="col-12 text-end">
        <a class="mt-4 btn btn-primary{% if request.path == urls.download %} active{% endif %}" id="download-btn" :href="'{{urls.download}}' + getQueryString(['page'])">
          <i class="fa fa-file-text"></i> {% trans %}Download (pptx){% endtrans %}
        </a>
      </div>
    </div>
    {% endif %}

    <hr />

    {% block reporting_activity_summary %}
    <div>
      <div class="row">
        <div class="col-sm-8">
          <reporting-completion-rate inline-template
                                     ref="completionRate" :params="params">
            <div>
              <h2 class="text-center mt-2">Completion rate ([[params.unit == 'percentage' ? '%' : 'Nb']])</h2>
              <div>
                <div class="card-body" v-if="!itemLoaded">
                  <p>
                    <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
                  </p>
                </div>
                <div class="card-body" v-show="itemLoaded">
                  <canvas id="completionRate"></canvas>
                </div>
              </div>
              <div class="text-center">
                <a id="download-competion-rate" class="btn btn-secondary mb-2" :href="'{{urls.download_completion_rate}}' + getQueryString()" target="_blank"><i class="fa fa-download"></i> Download (.pptx)</a>
              </div>
            </div>
          </reporting-completion-rate>
        </div>
        <div class="col-md-4">
          <reporting-completion-total ref="completionTotal" :params="params" inline-template>
            <div>
              <h2 class="text-center mt-2">Status ([[params.unit == 'percentage' ? '%' : 'Nb']])</h2>
              <h3 class="text-center" v-if="itemLoaded">{% trans %}outer to inner{% endtrans %}: {{profile.printable_name}}[[circleLabels]]</h3>
              <div>
                <div class="card-body" v-if="!itemLoaded">
                  <p>
                    <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
                  </p>
                </div>
                <div class="card-body" v-show="itemLoaded">
                  <canvas id="summaryChart" style="max-height: 240px;"></canvas>
                </div>
              </div>
            </div>
          </reporting-completion-total>
        </div>
      </div><!-- /.row (activity) -->
      <hr />
      <div class="row">
        <div class="col-md-6">
          <reporting-by-segments ref="bySegments" :params="params" inline-template>
            <div>
              <h2 class="text-center mt-4">Assessments completed by segments</h2>
              <h3 class="text-center">([[params.unit == 'percentage' ? '%' : 'Nb']] of suppliers)</h3>
              <div class="p-4">
                <div class="card-body" v-if="!itemLoaded">
                  <p>
                    <h3 class="text-center"><i class="fa fa-refresh fa-spin"></i></h3>
                  </p>
                </div>
                <div class="card-body" v-show="itemLoaded">
                  <canvas id="bySegements"></canvas>
                </div>
              </div>
              <div class="text-center">
                <a id="download-by-segments" class="btn btn-secondary mb-2" :href="'{{urls.download_by_segments}}' + getQueryString()" target="_blank"><i class="fa fa-download"></i> Download (.pptx)</a>
              </div>
            </div>
          </reporting-by-segments>
        </div>
      </div><!-- /.row (assessments) -->
    </div>
    {% endblock %}

    <hr />

    <div>
      <p>
Download raw data as either one question per row with supplier
data in columns (i.e. spreadsheet), or one row per (supplier, question) pair
(i.e. long format).
The spreadsheet download is better suited when you are going to do analytics
on your computer in a spreadsheet application.
The long format download is better suited to upload the raw data into
an Online Analytical Processing (OLAP) software.
      </p>
      <div class="row text-center">
        <div class="col-sm-4">
          <a id="download-assessment-details" class="btn btn-secondary mb-2"
             :href="'{{urls.download_scores}}' + getQueryString(['page'])"
             target="_blank">
            <i class="fa fa-download"></i> Scores (.xlsx)
          </a>
        </div>
        <div class="col-sm-4">
          <a id="download-assessment-details" class="btn btn-secondary mb-2"
             :href="'{{urls.download_raw}}' + getQueryString(['page'])"
             target="_blank">
            <i class="fa fa-download"></i> Answers (.xlsx)
          </a>
        </div>
        <div class="col-sm-4">
          <a id="download-long-format" class="btn btn-secondary mb-2"
             :href="'{{urls.download_raw_long}}' + getQueryString(['page'])"
             target="_blank">
            <i class="fa fa-download"></i> Long format (.csv)
          </a>
        </div>
      </div>
    </div>
  </div>
</activity-summary>
{% endblock %}
